This notebook is used to create a csv file that includes my point projections in a format similar to fplreview.com. This csv file can then be used for making advanced team optimization plans using Sertalp B. Cay's repo "fpl-optimization".

In [1]:
latest_gameweek = 8

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
import json
import requests

pd.set_option('display.max_columns', None)

# Save team data
Info on your own team; starting point for the optimization.

In [ ]:
# get login credentials for fetching team data
file_path = Path('../../login_credentials/fpl_login.json')
#file_path = Path('../../login_credentials/fpl_login2.json')
login_credentials = pd.read_json(file_path, typ='series')

In [ ]:
# utility function for fetching team data
from src.utils import fetch_my_team, simple_team_fetch

In [ ]:
my_team = simple_team_fetch(team_id="4829240", latest_gameweek=latest_gameweek)
my_team

In [ ]:
for i, pick in enumerate(my_team['picks']):
    pick['selling_price'] =

In [ ]:
# save team data to fpl-optimization repo
file_path = Path('../../../fpl-optimization/data/team.json')
with open(file_path, 'w') as f:
    json.dump(my_team, f)

# Edit projections into fplreview format 
### (to be used with fpl-optimization repo solver)

In [3]:
filepath = Path(f'../data/predictions/gameweek{latest_gameweek}.csv')
projections = pd.read_csv(filepath, index_col=0)
if 'id' in projections.columns:
    projections = projections.drop('id', axis=1)
display(projections.head())
display(projections.shape)

,name,element_type,home,opponent_xG_ewm_5,opponent_xG_ewm_10,opponent_xG_ewm_20,opponent_xG_ewm_40,opponent_xGA_ewm_5,opponent_xGA_ewm_10,opponent_xGA_ewm_20,opponent_xGA_ewm_40,corners_and_indirect_freekicks_order,creativity_rank,direct_freekicks_order,ict_index_rank,influence_rank,minutes,now_cost,penalties_order,points_per_game,selected_by_percent,threat_rank,team_xG_ewm_5,team_xG_ewm_10,team_xG_ewm_20,team_xG_ewm_40,team_xGA_ewm_5,team_xGA_ewm_10,team_xGA_ewm_20,team_xGA_ewm_40,gameweek_assists_ewm_5,gameweek_bps_ewm_5,gameweek_creativity_ewm_5,event_points_ewm_5,gameweek_goals_scored_ewm_5,gameweek_goals_conceded_ewm_5,gameweek_saves_ewm_5,gameweek_threat_ewm_5,gameweek_xG_ewm_5,gameweek_xA_ewm_5,gameweek_xGA_ewm_5,gameweek_minutes_ewm_5,gameweek_xPoints_ewm_5,gameweek_assists_ewm_10,gameweek_bps_ewm_10,gameweek_creativity_ewm_10,event_points_ewm_10,gameweek_goals_scored_ewm_10,gameweek_goals_conceded_ewm_10,gameweek_saves_ewm_10,gameweek_threat_ewm_10,gameweek_xG_ewm_10,gameweek_xA_ewm_10,gameweek_xGA_ewm_10,gameweek_minutes_ewm_10,gameweek_xPoints_ewm_10,gameweek_assists_ewm_20,gameweek_bps_ewm_20,gameweek_creativity_ewm_20,event_points_ewm_20,gameweek_goals_scored_ewm_20,gameweek_goals_conceded_ewm_20,gameweek_saves_ewm_20,gameweek_threat_ewm_20,gameweek_xG_ewm_20,gameweek_xA_ewm_20,gameweek_xGA_ewm_20,gameweek_minutes_ewm_20,gameweek_xPoints_ewm_20,gameweek_assists_ewm_40,gameweek_bps_ewm_40,gameweek_creativity_ewm_40,event_points_ewm_40,gameweek_goals_scored_ewm_40,gameweek_goals_conceded_ewm_40,gameweek_saves_ewm_40,gameweek_threat_ewm_40,gameweek_xG_ewm_40,gameweek_xA_ewm_40,gameweek_xGA_ewm_40,gameweek_minutes_ewm_40,gameweek_xPoints_ewm_40,gameweek_assists_expanding,gameweek_bps_expanding,gameweek_creativity_expanding,event_points_expanding,gameweek_goals_scored_expanding,gameweek_goals_conceded_expanding,gameweek_saves_expanding,gameweek_threat_expanding,gameweek_xG_expanding,gameweek_xA_expanding,gameweek_xGA_expanding,gameweek_minutes_expanding,gameweek_xPoints_expanding,gameweek_assists_expanding_per90,gameweek_bps_expanding_per90,gameweek_creativity_expanding_per90,event_points_expanding_per90,gameweek_goals_scored_expanding_per90,gameweek_goals_conceded_expanding_per90,gameweek_saves_expanding_per90,gameweek_threat_expanding_per90,gameweek_xG_expanding_per90,gameweek_xA_expanding_per90,gameweek_xGA_expanding_per90,gameweek_xPoints_expanding_per90,xG_overperformance,team_name,opponent_team,date,gameweek,expected_points
0,Aaron Hickey,2.0,1,1.901301,1.904469,2.012146,2.094835,1.303791,1.246021,1.163428,1.130309,NaN,351.0,NaN,387.0,363.0,184.0,40.0,NaN,1.2,0.4,361.0,1.406571,1.444506,1.472035,1.486644,1.410135,1.354521,1.386893,1.419608,0.0,5.548773,1.637268,1.727732,0.0,0.87167,0.0,1.354972,0.010657,0.016135,0.741196,58.002303,2.131872,0.0,7.297936,2.63944,1.911041,0.0,0.920362,0.0,2.043364,0.013391,0.016154,0.821408,62.099423,2.192365,0.0,8.44846,3.451773,2.072325,0.0,0.938634,0.0,2.364947,0.014927,0.017856,0.867682,65.49652,2.279707,0.0,9.056732,3.92574,2.165541,0.0,0.943316,0.0,2.499511,0.01565,0.019093,0.889663,67.346714,2.332415,0.0,174.0,79.8,43.0,0.0,17.0,0.0,47.0,0.31,0.39,17.29,1315.0,42.988298,0.0,11.908745,5.461597,2.942966,0.0,1.163498,0.0,3.21673,0.021217,0.026692,1.183346,2.942165,0.0,Brentford,Liverpool,2025-10-25T19:00:00Z,9,1.785585
1,Aaron Hickey,2.0,0,2.431882,2.108843,1.860761,1.628367,1.494063,1.356400,1.304293,1.296108,NaN,351.0,NaN,387.0,363.0,184.0,40.0,NaN,1.2,0.4,361.0,1.406571,1.444506,1.472035,1.486644,1.410135,1.354521,1.386893,1.419608,0.0,5.548773,1.637268,1.727732,0.0,0.87167,0.0,1.354972,0.010657,0.016135,0.741196,58.002303,2.131872,0.0,7.297936,2.63944,1.911041,0.0,0.920362,0.0,2.043364,0.013391,0.016154,0.821408,62.099423,2.192365,0.0,8.44846,3.451773,2.072325,0.0,0.938634,0.0,2.364947,0.014927,0.017856,0.867682,65.49652,2.279707,0.0,9.056732,3.92574,2.165541,0.0,0.943316,0.0,2.499511,0.01565,0.019093,0.889663,67.346714,2.332415,0.0,174.0,79.8,43.0,0.0,17.0,0.0,47.0,0.31,0.39,17.29,1315.0,42.988298,0.0,11.908745,5.461597,2.942966,0.0,1.163498,0.0,3.21673,0.021217,0.026692,1.183346,2.942165,0.0,Brentford,Crystal Palace,2025-11-01T15:00:00Z,10,1.683948
2,Aaron Hickey,2.0,1,1.423433,1.460353,1.581288,1.675701,0.816079,0.894818,1.036822,1.174320,NaN,351.0,NaN,387.0,363.0,184.0,40.0,NaN,1.2,0.4,361.0,1.406571,1.444506,1.472035,1.486644,1.410135,1.354521,1.386893,1.419608,0.0,5.548773,1.637268,1.727732,0.0,0.87167,0.0,1.354972,0.010657,0.016135,0.741196,58.002303,2.131872,0.0,7.297936,2.63944,1.911041,0.0,0.920362,0.0,2.043364,0.013391,0.016154,0.821408,62.099423,2.192365,0.0,8.44846,3.451773,2.072325,0.0,0.938634,0.0,2.364947,0.014927,0.017856,0.867682,65.49652,2.279707,0.0,9.056732,3.92574,2.165541,0.0,0.943316,0.0,2.499511,0.01565,0.019093,0.889663,67.346714,2.332415,0.0,174.0,79.8,43.0,0.0,17.0,0.0,47.0,0.31,0.39,17.29,1315.0,42.988298,0.0,11.908745,5.461597,2.942966,0.0,1.163498,0.0,3.21673,0.021217,0.026692,1.183346,2.942165,0.0,Brentford,Newcastle Utd,2025-11-09T14:00:00Z,11,1.951142
3,Aaron Hickey,2.0,0,1.433155,1.549007,1.558341,1.553867,1.343029,1.376141,1.392188,1.396760,NaN,351.0,NaN,387.0,363.0,184.0,40.0,NaN,1.2,0.4,361.0,1.406571,1.444506,1.472035,1.486644,1.410135,1.354521,1.386893,1.419608,0.0,5.548773,1.637268,1.727732,0.0,0.87167,0.0,1.354972,0.010657,0.016135,0.741196,58.002303,2.131872,0.0,7.297936,2.63944,1.911041,0.0,0.920362,0.0,2.043364,0.013391,0.016154,0.821408,62.099423,2.192365,0.0,8.44846,3.451773,2.072325,0.0,0.938634,0.0,2.364947,0.014927,0.017856,0.867682,65.49652,2.279707,0.0,9.056732,3.92574,2.165541,0.0,0.943316,0.0,2.499511,0.01565,0.019093,0.889663,67.346714,2.332415,0.0,174.0,79.8,43.0,0.0,17.0,0.0,47.0,0.31,0.39,17.29,1315.0,42.988298,0.0,11.908745,5.461597,2.942966,0.0,1.163498,0.0,3.21673,0.021217,0.026692,1.183346,2.942165,0.0,Brentford,Brighton,2025-11-22T15:00:00Z,12,1.807202
4,Aaron Hickey,2.0,1,0.701577,0.899632,0.996579,1.023244,1.980931,1.996139,1.914454,1.801105,NaN,351.0,NaN,387.0,363.0,184.0,40.0,NaN,1.2,0.4,361.0,1.406571,1.444506,1.472035,1.486644,1.410135,1.354521,1.386893,1.419608,0.0,5.548773,1.637268,1.727732,0.0,0.87167,0.0,1.354972,0.010657,0.016135,0.741196,58.002303,2.131872,0.0,7.297936,2.63944,1.911041,0.0,0.920362,0.0,2.043364,0.013391,0.016154,0.821408,62.099423,2.192365,0.0,8.44846,3.451773,2.072325,0.0,0.938634,0.0,2.364947,0.014927,0.017856,0.867682,65.49652,2.279707,0.0,9.056732,3.92574,2.165541,0.0,0.943316,0.0,2.499511,0.01565,0.019093,0.889663,67.346714,2.332415,0.0,174.0,79.8,43.0,0.0,17.0,0.0,47.0,0.31,0.39,17.29,1315.0,42.988298,0.0,11.908745,5.461597,2.942966,0.0,1.163498,0.0,3.21673,0.021217,0.026692,1.183346,2.942165,0.0,Brentford,Burnley,2025-11-29T15:00:00Z,13,2.500128

(4360, 113)

In [4]:
if latest_gameweek>0:
    filepath = Path('../data/fpl_df.csv')
elif latest_gameweek==0:
    filepath = Path('../data/fpl_df_preseason_online.csv')
else:
    print('Check latest_gameweek!')

fpl_df = pd.read_csv(filepath, index_col=0, low_memory=False)
fpl_df = fpl_df[fpl_df.season=='25-26']
display(fpl_df.head())
display(fpl_df.shape)

,bonus,bps,clean_sheets,corners_and_indirect_freekicks_order,creativity,creativity_rank,creativity_rank_type,direct_freekicks_order,dreamteam_count,element_type,event_points,first_name,goals_conceded,goals_scored,ict_index,ict_index_rank,ict_index_rank_type,influence,influence_rank,influence_rank_type,minutes,now_cost,own_goals,penalties_missed,penalties_order,penalties_saved,points_per_game,red_cards,saves,second_name,selected_by_percent,threat,threat_rank,threat_rank_type,total_points,web_name,yellow_cards,team_name,gameweek,season,gameweek_xG,gameweek_xA,gameweek_xGA,gameweek_minutes,team_xG,team_xGA,team_xG_ewm_5,team_xG_ewm_10,team_xG_ewm_20,team_xG_ewm_40,team_xGA_ewm_5,team_xGA_ewm_10,team_xGA_ewm_20,team_xGA_ewm_40,opponent_xG,opponent_xGA,opponent_xG_ewm_5,opponent_xG_ewm_10,opponent_xG_ewm_20,opponent_xG_ewm_40,opponent_xGA_ewm_5,opponent_xGA_ewm_10,opponent_xGA_ewm_20,opponent_xGA_ewm_40,home,gameweek_assists,gameweek_bps,gameweek_creativity,gameweek_goals_scored,gameweek_goals_conceded,gameweek_own_goals,gameweek_penalties_saved,gameweek_red_cards,gameweek_saves,gameweek_threat,gameweek_yellow_cards,gameweek_xPoints,gameweek_assists_ewm_5,gameweek_bps_ewm_5,gameweek_creativity_ewm_5,event_points_ewm_5,gameweek_goals_scored_ewm_5,gameweek_goals_conceded_ewm_5,gameweek_saves_ewm_5,gameweek_threat_ewm_5,gameweek_xG_ewm_5,gameweek_xA_ewm_5,gameweek_xGA_ewm_5,gameweek_minutes_ewm_5,gameweek_xPoints_ewm_5,gameweek_assists_ewm_10,gameweek_bps_ewm_10,gameweek_creativity_ewm_10,event_points_ewm_10,gameweek_goals_scored_ewm_10,gameweek_goals_conceded_ewm_10,gameweek_saves_ewm_10,gameweek_threat_ewm_10,gameweek_xG_ewm_10,gameweek_xA_ewm_10,gameweek_xGA_ewm_10,gameweek_minutes_ewm_10,gameweek_xPoints_ewm_10,gameweek_assists_ewm_20,gameweek_bps_ewm_20,gameweek_creativity_ewm_20,event_points_ewm_20,gameweek_goals_scored_ewm_20,gameweek_goals_conceded_ewm_20,gameweek_saves_ewm_20,gameweek_threat_ewm_20,gameweek_xG_ewm_20,gameweek_xA_ewm_20,gameweek_xGA_ewm_20,gameweek_minutes_ewm_20,gameweek_xPoints_ewm_20,gameweek_assists_ewm_40,gameweek_bps_ewm_40,gameweek_creativity_ewm_40,event_points_ewm_40,gameweek_goals_scored_ewm_40,gameweek_goals_conceded_ewm_40,gameweek_saves_ewm_40,gameweek_threat_ewm_40,gameweek_xG_ewm_40,gameweek_xA_ewm_40,gameweek_xGA_ewm_40,gameweek_minutes_ewm_40,gameweek_xPoints_ewm_40,gameweek_assists_expanding,gameweek_bps_expanding,gameweek_creativity_expanding,event_points_expanding,gameweek_goals_scored_expanding,gameweek_goals_conceded_expanding,gameweek_saves_expanding,gameweek_threat_expanding,gameweek_xG_expanding,gameweek_xA_expanding,gameweek_xGA_expanding,gameweek_minutes_expanding,gameweek_xPoints_expanding,gameweek_assists_expanding_per90,gameweek_bps_expanding_per90,gameweek_creativity_expanding_per90,event_points_expanding_per90,gameweek_goals_scored_expanding_per90,gameweek_goals_conceded_expanding_per90,gameweek_saves_expanding_per90,gameweek_threat_expanding_per90,gameweek_xG_expanding_per90,gameweek_xA_expanding_per90,gameweek_xGA_expanding_per90,gameweek_minutes_expanding_per90,gameweek_xPoints_expanding_per90,xG_overperformance,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,ep_next,ep_this,form,id,in_dreamteam,news,news_added,photo,special,squad_number,status,team,team_code,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,starts,expected_goals,expected_assists,expected_goal_involvements,expected_goals_conceded,corners_and_indirect_freekicks_text,direct_freekicks_text,penalties_text,expected_goals_per_90,saves_per_90,expected_assists_per_90,expected_goal_involvements_per_90,expected_goals_conceded_per_90,goals_conceded_per_90,now_cost_rank,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90,name,data_retrieved_datetime,region,can_transact,can_select,removed,team_join_date,has_temporary_code,opta_code,mng_win,mng_draw,mng_loss,mng_underdog_win,mng_underdog_draw,mng_clean_sheets,mng_goals_scored,birth_date,clearances_blocks_interceptions,recoveries,tackles,defensive_contribution,defensive_contribution_per_90,assists,gameweek_defensive_contribution,gameweek_defensive_contribution_ewm_5,gameweek_defensive_contribution_ewm_10,gameweek_defensive_contribution_ewm_20,gameweek_defensive_contribution_ewm_40,gameweek_defensive_contribution_expanding,gameweek_defensive_contribution_expanding_per90
36880,0.0,29.0,1.0,NaN,0.0,284.0,49.0,NaN,0.0,1.0,7.0,Marco,0.0,0.0,2.0,100.0,9.0,19.6,50.0,9.0,90.0,45.0,0.0,0.0,NaN,0.0,7.0,0.0,3.0,Bizot,0.5,0.0,245.0,49.0,7.0,M.Bizot,0.0,Aston Villa,1.0,25-26,0.0,0.00,1.43,90.0,0.2,1.4,1.313579,1.425934,1.465312,1.479373,1.384932,1.372106,1.396431,1.412526,1.4,0.2,1.593568,1.675222,1.744858,1.774032,0.983208,1.085941,1.191533,1.276642,1.0,0.0,29.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,4.808859,0.0,29.000000,0.000000,7.000000,0.000000,0.000000,3.0,0.000000,0.000000,0.000000,1.430000,90.000000,4.808859,0.0,29.000000,0.000000,7.000000,0.000000,0.000000,3.0,0.000000,0.000000,0.000000,1.430000,90.000000,4.808859,0.0,29.000000,0.000000,7.000000,0.000000,0.000000,3.0,0.000000,0.000000,0.000000,1.430000,90.000000,4.808859,0.0,29.000000,0.000000,7.000000,0.000000,0.000000,3.0,0.000000,0.000000,0.000000,1.430000,90.000000,4.808859,0.0,29.0,0.0,7.0,0.0,0.0,3.0,0.0,0.00,0.00,1.43,90.0,4.808859,0.0,29.000000,0.000000,7.000000,0.000000,0.000000,3.0,0.000000,0.000000,0.000000,1.430000,90.0,4.808859,NaN,NaN,NaN,72147.0,0.0,0.0,0.0,0.0,2.3,1.8,7.0,33.0,False,NaN,NaN,72147.jpg,False,NaN,a,2.0,7.0,7887.0,7887.0,1421.0,1421.0,1.6,1.6,1.0,0.0,0.00,0.00,1.43,NaN,NaN,NaN,0.0,3.0,0.00,0.00,1.43,0.0,363.0,19.0,21.0,4.0,21.0,4.0,240.0,33.0,1.00,1.00,Marco Bizot,2025-08-17 10:49:52.276645,152.0,True,True,False,2025-07-15,False,p72147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1991-03-10,1.0,12.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
36881,0.0,25.0,1.0,NaN,1.1,122.0,43.0,NaN,0.0,2.0,8.0,Matty,0.0,0.0,4.1,52.0,12.0,37.6,14.0,3.0,90.0,45.0,0.0,0.0,NaN,0.0,8.0,0.0,0.0,Cash,2.6,2.0,90.0,23.0,8.0,Cash,0.0,Aston Villa,1.0,25-26,0.0,0.00,1.43,90.0,0.2,1.4,1.313579,1.425934,1.465312,1.479373,1.384932,1.372106,1.396431,1.412526,1.4,0.2,1.593568,1.675222,1.744858,1.774032,0.983208,1.085941,1.191533,1.276642,1.0,0.0,25.0,1.1,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,3.018146,0.0,17.209133,4.506281,4.656904,0.002885,0.541847,0.0,7.576545,0.026137,0.018494,1.251494,84.306409,3.244613,0.0,14.362494,5.861730,3.855835,0.014202,0.662160,0.0,6.936326,0.024842,0.033095,1.157831,80.335123,3.083045,0.0,12.413189,6.517204,3.196212,0.026115,0.813224,0.0,7.140079,0.035540,0.045444,1.153880,77.665530,2.934451,0.0,11.839420,6.695960,2.911297,0.035148,0.896779,0.0,7.747004,0.051624,0.052469,1.164990,76.372458,2.933300,0.0,767.0,424.4,183.0,3.0,61.0,0.0,557.0,4.89,3.76,76.94,4917.0,195.201811,0.0,14.039048,7.768151,3.349603,0.054912,1.116534,0.0,10.195241,0.089506,0.068822,1.408298,90.0,3.572943,0.613497,NaN,NaN,199796.0,0.0,0.0,0.0,0.0,1.9,1.4,8.0,36.0,False,NaN,NaN,199796.jpg,False,NaN,a,2.0,7.0,41289.0,41289.0,3059.0,3059.0,1.8,1.8,1.0,0.0,0.00,0.00,1.43,NaN,NaN,NaN,0.0,0.0,0.00,0.00,1.43,0.0,394.0,88.0,15.0,6.0,15.0,6.0,104.0,36.0,1.00,1.00,Matty Cash,2025-08-17 10:49:52.276645,172.0,True,True,False,2020-09-03,False,p199796,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1997-08-07,9.0,2.0,2.0,11.0,11.00,0.0,11.0,11.0,11.0,11.0,11.0,11.0,0.201342
36882,0.0,22.0,1.0,7.0,5.8,72.0,21.0,2.0,0.0,2.0,6.0,Lucas,0.0,0.0,1.7,109.0,36.0,11.6,86.0,37.0,90.0,45.0,0.0,0.0,NaN,0.0,6.0,0.0,0.0,Digne,2.0,0.0,250.0,117.0,6.0,Digne,0.0,Aston Villa,1.0,25-26,0.0,0.01,1.43,90.0,0.2,1.4,1.313579,1.425934,1.465312,1.479373,1.384932,1.372106,1.396431,1.412526,1.4,0.2,1.593568,1.675222,1.744858,1.774032,0.983208,1.085941,1.191533,1.276642,1.0,0.0,22.0,5.8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.757066,0.0,18.860805,17.168811,3.708803,0.000027,0.971104,0.0,1.754832,0.010008,0.071139,1.021347,74.459921,3.093336,0.0,16.212526,18.894168,3.108471,0.001478,1.181394,0.0,3.000256,0.018663,0.087545,1.057493,73.949428,3.094461,0.0,14.378618,19.039713,2.807288,0.006470,1.243797,0.0,3.951715,0.024811,0.099895,1.090203,73.171768,3.027316,0.0,13.979492,19.443029,2.681351,0.009888,1.257933,0.0,4.682568,0.027522,0.107762,1.106579,72.743502,2.975880,0.0,1524.0,2166.4,267.0,1.0,134.0,0.0,572.0,2.93,12.25,115.35,7558.0,301.775416,0.0,18.147658,25.797301,3.179413,0.011908,1.595660,0.0,6.811326,0.034890,0.145872,1.373578,90.0,3.593515,0.341297,NaN,NaN,101188.0,0.0,0.0,0.0,0.0,1.9,1.4,6.0,37.0,False,NaN,NaN,101188.jpg,False,NaN,a,2.0,7.0,8567.0,8567.0,1481.0,1481.0,1.3,1.3,1.0,0.0,0.01,0.01,1.43,NaN,NaN,NaN,0.0,0.0,0.01,0.01,1.43,0.0,369.0,70.0,26.0,9.0,26.0,9.0,128.0,44.0,1.00,1.00,Lucas Digne,2025-08-17 10:49:52.276645,73.0,True,True,False,2022-01-13,False,p101188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993-07-20,5.0,3.0,2.0,7.0,7.00,0.0,7.0,7.0,7.0,7.0,7.0,7.0,0.083355
36883,0.0,15.0,1.0,NaN,1.1,123.0,44.0,NaN,0.0,2.0,3.0,Ezri,0.0,0.0,0.3,168.0,59.0,1.8,152.0,59.0,65.0,45.0,0.0,0.0,NaN,0.0,3.0,1.0,0.0,Konsa Ngoyo,21.8,0.0,273.0,133.0,3.0,Konsa,0.0,Aston Villa,1.0,25-26,0.0,0.01,1.11,65.0,0.2,1.4,1.313579,1.425934,1.465312,1.479373,1.384932,1.372106,1.396431,1.412526,1.4,0.2,1.593568,1.675222,1.744858,1.774032,0.983208,1.085941,1.191533,1.276642,1.0,0.0,15.0,1.1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.268481,0.0,17.733293,3.337312,4.774984,0.128261,0.701910,0.0,7.643575,0.059143,0.021427,1.304643,83.459164,3.194084,0.0,16.223136,3.328470,4.143539,0.086331,0.945156,0.0,6.211008,0.049833,0.018300,1.316131,85.105781,3.373505,0.0,15.081412,3.549911,3.472200,0.062668,1.195020,0.0,5.493292,0.045905,0.018724,1.350621,85.953180,3.347596,0.0,15.476051,3.753735,3.092230,0.054064,1.353889,0.0,5.748955,0.047884,0.019763,1.376559,86.465701,3.300562,0.0,2100.0,420.9,352.0,7.0,182.0,0.0,861.0,6.34,2.19,170.15,10525.0,386.036572,0.0,17.957245,3.599145,3.009976,0.059857,1.556295,0.0,7.362470,0.054214,0.018727,1.454964,90.0,3.301025,1.104101,0.0,NaN,199798.0,0.0,0.0,0.0,0.0,0.0,1.4,3.0,38.0,False,Suspended until 31 Aug,2025-08-16T19:30:05.327199Z,199798.jpg,False,NaN,s,2.0,7.0,14197.0,14197.0,87816.0,87816.0,0.7,0.7,1.0,0.0,0.01,0.01,1.11,NaN,NaN,NaN,0.0,0.0,0.01,0.01,1.54,0.0,395.0,89.0,56.0,20.0,56.0,20.0,17.0,6.0,1.38,1.38,Ezri Konsa Ngoyo,2025-08-17 10:49:52.276645,241.0,True,True,False,2019-07-11,False,p199798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1997-10-23,3.0,1.0,0.0,3.0,4.15,0.0,3.0,3.0,3.0,3.0,3.0,3.0,0.025653
36884,0.0,25.0,1.0,NaN,3.7,81.0,26.0,NaN,0.0,2.0,6.0,Tyrone,0.0,0.0,1.7,110.0,37.0,13.0,77.0,31.0,90.0,45.0,0.0,0.0,NaN,0.0,6.0,0.0,0.0,Mings,1.0,0.0,263.0,127.0,6.0,Mings,0.0,Aston Villa,1.0,25-26,0.0,0.00,1.43,90.0,0.2,1.4,1.313579,1.425934,1.465312,1.479373,1.384932,1.372106,1.396431,1.412526,1.4,0.2,1.593568,1.675222,1.744858,1.774032,0.983208,1.085941,1.191533,1.276642,1.0,0.0,25.0,3.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.018146,0.0,23.645042,4.325593,4.023297,0.005706,0.837203,0.0,6.200713,0.027754,0.012144,0.866428,81.596597,3.746528,0.0,24.356245,4.954664,3.575457,0.021532,1.063261,0.0,7.339105,0.041109,0.019331,0.944260,82.190099,3.778126,0.0,25.259500,5.161661,3.437035,0.037450,1.257998,0.0,8.548031,0.047952,0.025048,1.056409,83.801075,3.767367,0.0,25.543549,5.094626,3.403064,0.049783,1.390894,0.0,9.492360,0.050275,0.026273,1.134597,84.895580,3.720365,0.0,1534.0,293.7,213.0,4.0,91.0,0.0,634.0,3.25,1.56,74.96,5328.0,219.420458,0.0,25.912162,4.961149,3.597973,0.067568,1.537162,0.0,10.709459,0.054899,0.026351,1.266216,90.0,3.706427,1.230769,NaN,NaN,149484.0,0.0,0.0,0.0,0.0,1.9,1.4,6.0,40.0,False,NaN,NaN,149484.jpg,False,NaN,a,2.0,7.0,9325.0,9325.0,1218.0,1218.0,1.3,1.3,1.0,0.0,0.00,0.00,1.43,NaN,NaN,NaN,0.0,0.0,0.00,0.00,1.43,0.0,382.0,80.0,27.0,10.0,27.0,10.0,180.0,66.0,1.00,1.00,Tyrone Mings,2025-08-17 10:49:52.276645,241.0,True,True,False,2019-07-08,False,p149484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993-03-13,5.0,2.0,0.0,5.0,5.00,0.0,5.0,5.0,5.0,5.0,5.0,5.0,0.084459

(2450, 236)

In [5]:
df = fpl_df.groupby('name').last().reset_index()[['id', 'name', 'element_type', 'points_per_game', 'total_points',]]
#df['id'] = df.id.astype(int)
df['games_played'] = np.round(np.where(df['points_per_game']!=0, df['total_points'] / df['points_per_game'], 0),0)
display(df.head())
display(df.shape)

,id,name,element_type,points_per_game,total_points,games_played
0,116.0,Aaron Hickey,2.0,1.2,6.0,5.0
1,610.0,Aaron Wan-Bissaka,2.0,0.8,3.0,4.0
2,406.0,Abdukodir Khusanov,2.0,2.8,11.0,4.0
3,73.0,Adam Smith,2.0,2.7,8.0,3.0
4,273.0,Adam Wharton,3.0,3.0,21.0,7.0

(436, 6)

In [6]:
# drop duplicate players (some players get new spelling for their name during the season causing duplicates)
duplicate_ids = df.loc[df.id.duplicated(), 'id'].unique()
for id in duplicate_ids:
    ix = df.loc[df.id==id, 'games_played'].idxmin()
    df = df.drop(ix)
display(df.head())
display(df.shape)

,id,name,element_type,points_per_game,total_points,games_played
0,116.0,Aaron Hickey,2.0,1.2,6.0,5.0
1,610.0,Aaron Wan-Bissaka,2.0,0.8,3.0,4.0
2,406.0,Abdukodir Khusanov,2.0,2.8,11.0,4.0
3,73.0,Adam Smith,2.0,2.7,8.0,3.0
4,273.0,Adam Wharton,3.0,3.0,21.0,7.0

(436, 6)

In [7]:
# merge id info to projections
projections = projections.merge(df[['id', 'name']], on='name', how='left')
projections.head()

,name,element_type,home,opponent_xG_ewm_5,opponent_xG_ewm_10,opponent_xG_ewm_20,opponent_xG_ewm_40,opponent_xGA_ewm_5,opponent_xGA_ewm_10,opponent_xGA_ewm_20,opponent_xGA_ewm_40,corners_and_indirect_freekicks_order,creativity_rank,direct_freekicks_order,ict_index_rank,influence_rank,minutes,now_cost,penalties_order,points_per_game,selected_by_percent,threat_rank,team_xG_ewm_5,team_xG_ewm_10,team_xG_ewm_20,team_xG_ewm_40,team_xGA_ewm_5,team_xGA_ewm_10,team_xGA_ewm_20,team_xGA_ewm_40,gameweek_assists_ewm_5,gameweek_bps_ewm_5,gameweek_creativity_ewm_5,event_points_ewm_5,gameweek_goals_scored_ewm_5,gameweek_goals_conceded_ewm_5,gameweek_saves_ewm_5,gameweek_threat_ewm_5,gameweek_xG_ewm_5,gameweek_xA_ewm_5,gameweek_xGA_ewm_5,gameweek_minutes_ewm_5,gameweek_xPoints_ewm_5,gameweek_assists_ewm_10,gameweek_bps_ewm_10,gameweek_creativity_ewm_10,event_points_ewm_10,gameweek_goals_scored_ewm_10,gameweek_goals_conceded_ewm_10,gameweek_saves_ewm_10,gameweek_threat_ewm_10,gameweek_xG_ewm_10,gameweek_xA_ewm_10,gameweek_xGA_ewm_10,gameweek_minutes_ewm_10,gameweek_xPoints_ewm_10,gameweek_assists_ewm_20,gameweek_bps_ewm_20,gameweek_creativity_ewm_20,event_points_ewm_20,gameweek_goals_scored_ewm_20,gameweek_goals_conceded_ewm_20,gameweek_saves_ewm_20,gameweek_threat_ewm_20,gameweek_xG_ewm_20,gameweek_xA_ewm_20,gameweek_xGA_ewm_20,gameweek_minutes_ewm_20,gameweek_xPoints_ewm_20,gameweek_assists_ewm_40,gameweek_bps_ewm_40,gameweek_creativity_ewm_40,event_points_ewm_40,gameweek_goals_scored_ewm_40,gameweek_goals_conceded_ewm_40,gameweek_saves_ewm_40,gameweek_threat_ewm_40,gameweek_xG_ewm_40,gameweek_xA_ewm_40,gameweek_xGA_ewm_40,gameweek_minutes_ewm_40,gameweek_xPoints_ewm_40,gameweek_assists_expanding,gameweek_bps_expanding,gameweek_creativity_expanding,event_points_expanding,gameweek_goals_scored_expanding,gameweek_goals_conceded_expanding,gameweek_saves_expanding,gameweek_threat_expanding,gameweek_xG_expanding,gameweek_xA_expanding,gameweek_xGA_expanding,gameweek_minutes_expanding,gameweek_xPoints_expanding,gameweek_assists_expanding_per90,gameweek_bps_expanding_per90,gameweek_creativity_expanding_per90,event_points_expanding_per90,gameweek_goals_scored_expanding_per90,gameweek_goals_conceded_expanding_per90,gameweek_saves_expanding_per90,gameweek_threat_expanding_per90,gameweek_xG_expanding_per90,gameweek_xA_expanding_per90,gameweek_xGA_expanding_per90,gameweek_xPoints_expanding_per90,xG_overperformance,team_name,opponent_team,date,gameweek,expected_points,id
0,Aaron Hickey,2.0,1,1.901301,1.904469,2.012146,2.094835,1.303791,1.246021,1.163428,1.130309,NaN,351.0,NaN,387.0,363.0,184.0,40.0,NaN,1.2,0.4,361.0,1.406571,1.444506,1.472035,1.486644,1.410135,1.354521,1.386893,1.419608,0.0,5.548773,1.637268,1.727732,0.0,0.87167,0.0,1.354972,0.010657,0.016135,0.741196,58.002303,2.131872,0.0,7.297936,2.63944,1.911041,0.0,0.920362,0.0,2.043364,0.013391,0.016154,0.821408,62.099423,2.192365,0.0,8.44846,3.451773,2.072325,0.0,0.938634,0.0,2.364947,0.014927,0.017856,0.867682,65.49652,2.279707,0.0,9.056732,3.92574,2.165541,0.0,0.943316,0.0,2.499511,0.01565,0.019093,0.889663,67.346714,2.332415,0.0,174.0,79.8,43.0,0.0,17.0,0.0,47.0,0.31,0.39,17.29,1315.0,42.988298,0.0,11.908745,5.461597,2.942966,0.0,1.163498,0.0,3.21673,0.021217,0.026692,1.183346,2.942165,0.0,Brentford,Liverpool,2025-10-25T19:00:00Z,9,1.785585,116.0
1,Aaron Hickey,2.0,0,2.431882,2.108843,1.860761,1.628367,1.494063,1.356400,1.304293,1.296108,NaN,351.0,NaN,387.0,363.0,184.0,40.0,NaN,1.2,0.4,361.0,1.406571,1.444506,1.472035,1.486644,1.410135,1.354521,1.386893,1.419608,0.0,5.548773,1.637268,1.727732,0.0,0.87167,0.0,1.354972,0.010657,0.016135,0.741196,58.002303,2.131872,0.0,7.297936,2.63944,1.911041,0.0,0.920362,0.0,2.043364,0.013391,0.016154,0.821408,62.099423,2.192365,0.0,8.44846,3.451773,2.072325,0.0,0.938634,0.0,2.364947,0.014927,0.017856,0.867682,65.49652,2.279707,0.0,9.056732,3.92574,2.165541,0.0,0.943316,0.0,2.499511,0.01565,0.019093,0.889663,67.346714,2.332415,0.0,174.0,79.8,43.0,0.0,17.0,0.0,47.0,0.31,0.39,17.29,1315.0,42.988298,0.0,11.908745,5.461597,2.942966,0.0,1.163498,0.0,3.21673,0.021217,0.026692,1.183346,2.942165,0.0,Brentford,Crystal Palace,2025-11-01T15:00:00Z,10,1.683948,116.0
2,Aaron Hickey,2.0,1,1.423433,1.460353,1.581288,1.675701,0.816079,0.894818,1.036822,1.174320,NaN,351.0,NaN,387.0,363.0,184.0,40.0,NaN,1.2,0.4,361.0,1.406571,1.444506,1.472035,1.486644,1.410135,1.354521,1.386893,1.419608,0.0,5.548773,1.637268,1.727732,0.0,0.87167,0.0,1.354972,0.010657,0.016135,0.741196,58.002303,2.131872,0.0,7.297936,2.63944,1.911041,0.0,0.920362,0.0,2.043364,0.013391,0.016154,0.821408,62.099423,2.192365,0.0,8.44846,3.451773,2.072325,0.0,0.938634,0.0,2.364947,0.014927,0.017856,0.867682,65.49652,2.279707,0.0,9.056732,3.92574,2.165541,0.0,0.943316,0.0,2.499511,0.01565,0.019093,0.889663,67.346714,2.332415,0.0,174.0,79.8,43.0,0.0,17.0,0.0,47.0,0.31,0.39,17.29,1315.0,42.988298,0.0,11.908745,5.461597,2.942966,0.0,1.163498,0.0,3.21673,0.021217,0.026692,1.183346,2.942165,0.0,Brentford,Newcastle Utd,2025-11-09T14:00:00Z,11,1.951142,116.0
3,Aaron Hickey,2.0,0,1.433155,1.549007,1.558341,1.553867,1.343029,1.376141,1.392188,1.396760,NaN,351.0,NaN,387.0,363.0,184.0,40.0,NaN,1.2,0.4,361.0,1.406571,1.444506,1.472035,1.486644,1.410135,1.354521,1.386893,1.419608,0.0,5.548773,1.637268,1.727732,0.0,0.87167,0.0,1.354972,0.010657,0.016135,0.741196,58.002303,2.131872,0.0,7.297936,2.63944,1.911041,0.0,0.920362,0.0,2.043364,0.013391,0.016154,0.821408,62.099423,2.192365,0.0,8.44846,3.451773,2.072325,0.0,0.938634,0.0,2.364947,0.014927,0.017856,0.867682,65.49652,2.279707,0.0,9.056732,3.92574,2.165541,0.0,0.943316,0.0,2.499511,0.01565,0.019093,0.889663,67.346714,2.332415,0.0,174.0,79.8,43.0,0.0,17.0,0.0,47.0,0.31,0.39,17.29,1315.0,42.988298,0.0,11.908745,5.461597,2.942966,0.0,1.163498,0.0,3.21673,0.021217,0.026692,1.183346,2.942165,0.0,Brentford,Brighton,2025-11-22T15:00:00Z,12,1.807202,116.0
4,Aaron Hickey,2.0,1,0.701577,0.899632,0.996579,1.023244,1.980931,1.996139,1.914454,1.801105,NaN,351.0,NaN,387.0,363.0,184.0,40.0,NaN,1.2,0.4,361.0,1.406571,1.444506,1.472035,1.486644,1.410135,1.354521,1.386893,1.419608,0.0,5.548773,1.637268,1.727732,0.0,0.87167,0.0,1.354972,0.010657,0.016135,0.741196,58.002303,2.131872,0.0,7.297936,2.63944,1.911041,0.0,0.920362,0.0,2.043364,0.013391,0.016154,0.821408,62.099423,2.192365,0.0,8.44846,3.451773,2.072325,0.0,0.938634,0.0,2.364947,0.014927,0.017856,0.867682,65.49652,2.279707,0.0,9.056732,3.92574,2.165541,0.0,0.943316,0.0,2.499511,0.01565,0.019093,0.889663,67.346714,2.332415,0.0,174.0,79.8,43.0,0.0,17.0,0.0,47.0,0.31,0.39,17.29,1315.0,42.988298,0.0,11.908745,5.461597,2.942966,0.0,1.163498,0.0,3.21673,0.021217,0.026692,1.183346,2.942165,0.0,Brentford,Burnley,2025-11-29T15:00:00Z,13,2.500128,116.0

In [8]:
# add xMins variable that is needed later
projections['xMins'] = 90

In [9]:
projections[['id', 'expected_points', 'xMins', 'gameweek']]

         id  expected_points  xMins  gameweek
0     116.0         1.785585     90         9
1     116.0         1.683948     90        10
2     116.0         1.951142     90        11
3     116.0         1.807202     90        12
4     116.0         2.500128     90        13
...     ...              ...    ...       ...
4355   67.0         3.596082     90        14
4356   67.0         3.203974     90        15
4357   67.0         3.142000     90        16
4358   67.0         3.998698     90        17
4359   67.0         3.075835     90        18

[4360 rows x 4 columns]

In [10]:
projections_pivot = (
    projections
    .pivot_table(
    columns=['gameweek',],
    index='id', 
    values=['expected_points','xMins'], 
    aggfunc='sum'
    )
)

projections_pivot.head()

         expected_points                                                    \
gameweek              9         10        11        12        13        14
id
1.0             3.953317  4.889535  4.641490  4.407316  4.098565  4.076871
5.0             3.794757  4.912726  4.425005  4.240170  3.899508  3.932607
6.0             3.354440  4.329741  4.076834  3.858367  3.455566  3.498957
7.0             3.609418  4.492109  4.186808  4.006298  3.591368  3.683156
8.0             4.553400  5.536450  5.006954  4.849612  4.476755  4.497004

                                                 xMins                      \
gameweek        15        16        17        18    9   10  11  12  13  14
id
1.0       4.409129  4.662457  4.460893  4.150549    90  90  90  90  90  90
5.0       4.160591  4.563778  4.204246  3.965918    90  90  90  90  90  90
6.0       3.817773  4.127998  3.856194  3.544647    90  90  90  90  90  90
7.0       3.845009  4.341563  3.886546  3.705469    90  90  90  90  90  90
8.0       4.551165  5.119915  4.610876  4.563492    90  90  90  90  90  90


gameweek  15  16  17  18
id
1.0       90  90  90  90
5.0       90  90  90  90
6.0       90  90  90  90
7.0       90  90  90  90
8.0       90  90  90  90

In [11]:
new_cols = []
for col in projections_pivot.columns:
    if col[0] == 'expected_points':
        new_col = str(col[1]) + '_Pts'
        new_cols.append(new_col)
    elif col[0] == 'xMins':
        new_col = str(col[1]) + '_xMins'
        new_cols.append(new_col)

projections_pivot.columns = new_cols
projections_pivot = projections_pivot.reset_index()
projections_pivot = projections_pivot.rename(columns={'id':'ID'})

projections_pivot.head()

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins
0,1.0,3.953317,4.889535,4.641490,4.407316,4.098565,4.076871,4.409129,4.662457,4.460893,4.150549,90,90,90,90,90,90,90,90,90,90
1,5.0,3.794757,4.912726,4.425005,4.240170,3.899508,3.932607,4.160591,4.563778,4.204246,3.965918,90,90,90,90,90,90,90,90,90,90
2,6.0,3.354440,4.329741,4.076834,3.858367,3.455566,3.498957,3.817773,4.127998,3.856194,3.544647,90,90,90,90,90,90,90,90,90,90
3,7.0,3.609418,4.492109,4.186808,4.006298,3.591368,3.683156,3.845009,4.341563,3.886546,3.705469,90,90,90,90,90,90,90,90,90,90
4,8.0,4.553400,5.536450,5.006954,4.849612,4.476755,4.497004,4.551165,5.119915,4.610876,4.563492,90,90,90,90,90,90,90,90,90,90

In [12]:
position_dict = {1:'G', 2:'D', 3:'M', 4:'F'}
df['Pos'] = df['element_type'].map(position_dict)
df.rename(columns={'id':'ID'}, inplace=True)

In [13]:
projections_pivot = pd.merge(projections_pivot, df[['ID', 'Pos']], on='ID', how='left')
projections_pivot.head()

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
0,1.0,3.953317,4.889535,4.641490,4.407316,4.098565,4.076871,4.409129,4.662457,4.460893,4.150549,90,90,90,90,90,90,90,90,90,90,G
1,5.0,3.794757,4.912726,4.425005,4.240170,3.899508,3.932607,4.160591,4.563778,4.204246,3.965918,90,90,90,90,90,90,90,90,90,90,D
2,6.0,3.354440,4.329741,4.076834,3.858367,3.455566,3.498957,3.817773,4.127998,3.856194,3.544647,90,90,90,90,90,90,90,90,90,90,D
3,7.0,3.609418,4.492109,4.186808,4.006298,3.591368,3.683156,3.845009,4.341563,3.886546,3.705469,90,90,90,90,90,90,90,90,90,90,D
4,8.0,4.553400,5.536450,5.006954,4.849612,4.476755,4.497004,4.551165,5.119915,4.610876,4.563492,90,90,90,90,90,90,90,90,90,90,D

In [14]:
filepath = Path('../../../FPL-Optimization-Tools/data/projections.csv')
projections_pivot.to_csv(filepath)

### Option to make manual changes, e.g., to xPts (based on injuries)

### adjust points

If model is underestimating e.g. Haaland currently, test how many points more he would need to be getting in order to be drafed to the team in the optimization.

In [ ]:
projections.loc[projections['name'].str.contains('Wood'), 'id'].unique()
#projections.loc[projections['name'].str.contains('Palme'), 'id'].unique()

In [ ]:
player_id = 477
display(projections.loc[projections.id==player_id, 'name'].unique())
display(projections_pivot[projections_pivot.ID==player_id])

In [ ]:
pts_cols = [col for col in projections_pivot.columns if 'Pts' in col]
projections_pivot.loc[projections_pivot.ID==player_id, pts_cols].sum(axis=1) / 10

In [ ]:
gameweeks = np.arange(latest_gameweek+1,latest_gameweek+11)
add_constant = -0.5

for i in range(len(gameweeks)):
    projections_pivot.loc[projections_pivot.ID==player_id, f'{gameweeks[i]}_Pts'] = \
        projections_pivot.loc[projections_pivot.ID==player_id, f'{gameweeks[i]}_Pts'] + add_constant

display(projections_pivot[projections_pivot.ID==player_id])

### Adjust points for unavailable players or players with uncertain availability

In [15]:
def adjust_points_via_weights(player_id, gameweeks, weights):
    '''Adjust projected player points via gameweek specific weights indicating probability of playing.

    Input:
    player_id (int): Player ID number.
    gameweeks (list): List of gameweek numbers to be adjusted.
    weights (list): Weights for adjusting points for each gameweek given in parameter gameweeks.
    '''
    if len(projections.loc[projections.id==player_id]) > 0:
        player_name = projections.loc[projections.id==player_id, 'name'].unique().item()
        print(f'Name: {player_name}')
        print('Point predictions before adjustment:')
        display(projections_pivot[projections_pivot.ID==player_id])

        # adjust points via probability of playing
        for i in range(len(gameweeks)):
            projections_pivot.loc[projections_pivot.ID==player_id, f'{gameweeks[i]}_Pts'] = \
                weights[i]*projections_pivot.loc[projections_pivot.ID==player_id, f'{gameweeks[i]}_Pts']
            
        print('Point predictions after adjustment:')
        display(projections_pivot[projections_pivot.ID==player_id])
    else:
        print(f'No player with ID {player_id} found in projections!')

### Automatic adjustments

In [16]:
# fetch online data
fpl_online_data = json.loads(requests.get('https://fantasy.premierleague.com/api/bootstrap-static/').text)
fpl_online_df = pd.DataFrame(fpl_online_data['elements'])

In [17]:
# get play probabilities for players with injuries
play_probabilities = []
for _, row in fpl_online_df.iterrows():
    news = row['news']
    news_splitted = news.split('-')
    if len(news_splitted) > 1:
        first_3_chars = news_splitted[1].strip()[0:3]
        if first_3_chars == '25%':
            play_probabilities.append(0.25)
        elif first_3_chars == '50%':
            play_probabilities.append(0.5)
        elif first_3_chars == '75%':
            play_probabilities.append(0.75)
        else:
            play_probabilities.append(1.0)
    else:
        play_probabilities.append(1.0)
fpl_online_df['play_probability'] = play_probabilities

In [18]:
# adjust player points based on play probabilities
# only include players with minutes played (which have existing projections)
prob25_ids = fpl_online_df.loc[(fpl_online_df.play_probability==0.25) & (fpl_online_df.minutes>0), 'id'].values
prob50_ids = fpl_online_df.loc[(fpl_online_df.play_probability==0.5) & (fpl_online_df.minutes>0), 'id'].values
prob75_ids = fpl_online_df.loc[(fpl_online_df.play_probability==0.75) & (fpl_online_df.minutes>0), 'id'].values

for player_id in prob25_ids:
    if latest_gameweek<=35:
        adjust_points_via_weights(player_id=player_id, gameweeks=[latest_gameweek+1, latest_gameweek+2, latest_gameweek+3], weights=[0.25,0.5,0.75])
    elif latest_gameweek==36:
        adjust_points_via_weights(player_id=player_id, gameweeks=[latest_gameweek+1, latest_gameweek+2], weights=[0.25,0.5])
    elif latest_gameweek==37:
        adjust_points_via_weights(player_id=player_id, gameweeks=[latest_gameweek+1], weights=[0.25])
    else:
        print('Check latest_gameweek!')

for player_id in prob50_ids:
    if latest_gameweek<=36:
        adjust_points_via_weights(player_id=player_id, gameweeks=[latest_gameweek+1, latest_gameweek+2], weights=[0.5,0.75])
    elif latest_gameweek==37:
        adjust_points_via_weights(player_id=player_id, gameweeks=[latest_gameweek+1], weights=[0.5])
    else:
        print('Check latest_gameweek!')

for player_id in prob75_ids:
    adjust_points_via_weights(player_id=player_id, gameweeks=[latest_gameweek+1], weights=[0.75])

Name: Youri Tielemans
Point predictions before adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
29,48.0,2.698749,2.447253,2.940997,3.124423,3.541739,2.714842,2.653937,3.399189,3.03696,2.711271,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
29,48.0,0.674687,1.223626,2.205748,3.124423,3.541739,2.714842,2.653937,3.399189,3.03696,2.711271,90,90,90,90,90,90,90,90,90,90,M

Name: Jeremie Frimpong
Point predictions before adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
211,370.0,2.105646,2.271396,1.802618,2.246143,2.287854,2.427086,2.190594,2.136614,2.205337,2.312263,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
211,370.0,0.526411,1.135698,1.351964,2.246143,2.287854,2.427086,2.190594,2.136614,2.205337,2.312263,90,90,90,90,90,90,90,90,90,90,D

Name: Abdukodir Khusanov
Point predictions before adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
232,406.0,2.507585,2.481989,2.184227,2.252466,2.659482,2.605758,2.865109,2.122273,2.852331,2.539463,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
232,406.0,0.626896,1.240995,1.63817,2.252466,2.659482,2.605758,2.865109,2.122273,2.852331,2.539463,90,90,90,90,90,90,90,90,90,90,D

Name: Rodrigo 'Rodri' Hernandez Cascante
Point predictions before adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
245,421.0,2.507071,2.424732,2.177743,2.213384,2.659172,2.5977,2.862755,2.11974,2.867793,2.558238,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
245,421.0,0.626768,1.212366,1.633308,2.213384,2.659172,2.5977,2.862755,2.11974,2.867793,2.558238,90,90,90,90,90,90,90,90,90,90,M

Name: Dominic Solanke-Mitchell
Point predictions before adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
338,596.0,2.798752,2.788618,2.950481,2.472738,3.095023,2.528162,2.801141,2.976583,2.531295,2.476873,90,90,90,90,90,90,90,90,90,90,F

Point predictions after adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
338,596.0,0.699688,1.394309,2.212861,2.472738,3.095023,2.528162,2.801141,2.976583,2.531295,2.476873,90,90,90,90,90,90,90,90,90,90,F

Name: Niclas Füllkrug
Point predictions before adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
357,625.0,2.65259,2.47873,3.300262,2.408822,2.396567,2.469722,2.384335,2.781508,2.20888,2.827958,90,90,90,90,90,90,90,90,90,90,F

Point predictions after adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
357,625.0,0.663147,1.239365,2.475197,2.408822,2.396567,2.469722,2.384335,2.781508,2.20888,2.827958,90,90,90,90,90,90,90,90,90,90,F

Name: Lucas Digne
Point predictions before adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
22,37.0,2.740161,2.434402,3.14008,3.321042,3.768543,2.868956,2.747813,3.67912,3.173238,2.902668,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
22,37.0,1.370081,1.825801,3.14008,3.321042,3.768543,2.868956,2.747813,3.67912,3.173238,2.902668,90,90,90,90,90,90,90,90,90,90,D

Name: Francisco Evanilson de Lima Barbosa
Point predictions before adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
55,97.0,4.10465,3.155345,3.575904,4.367091,3.975268,3.83952,3.775343,3.743406,4.712102,3.431447,90,90,90,90,90,90,90,90,90,90,F

Point predictions after adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
55,97.0,2.052325,2.366509,3.575904,4.367091,3.975268,3.83952,3.775343,3.743406,4.712102,3.431447,90,90,90,90,90,90,90,90,90,90,F

Name: Wilfried Gnonto
Point predictions before adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
201,351.0,1.937304,1.719368,1.788565,1.869219,1.601544,1.756837,1.648935,1.740752,1.671925,1.93809,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
201,351.0,0.968652,1.289526,1.788565,1.869219,1.601544,1.756837,1.648935,1.740752,1.671925,1.93809,90,90,90,90,90,90,90,90,90,90,M

Name: Noah Okafor
Point predictions before adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
407,698.0,3.53217,2.920873,3.266887,3.276105,2.638519,3.080707,2.8134,2.911202,2.999433,3.345569,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
407,698.0,1.766085,2.190655,3.266887,3.276105,2.638519,3.080707,2.8134,2.911202,2.999433,3.345569,90,90,90,90,90,90,90,90,90,90,M

Name: Cristian Romero
Point predictions before adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
325,569.0,3.068084,2.828489,2.976263,2.550704,3.437538,2.634548,2.870089,3.281448,2.35207,2.416377,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
325,569.0,1.534042,2.121367,2.976263,2.550704,3.437538,2.634548,2.870089,3.281448,2.35207,2.416377,90,90,90,90,90,90,90,90,90,90,D

Name: Destiny Udogie
Point predictions before adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
328,574.0,2.102406,2.058588,2.17902,1.853226,2.452547,1.888459,2.111637,2.22608,1.86205,1.786562,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
328,574.0,1.051203,1.543941,2.17902,1.853226,2.452547,1.888459,2.111637,2.22608,1.86205,1.786562,90,90,90,90,90,90,90,90,90,90,D

Name: Lyle Foster
Point predictions before adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
117,217.0,2.882831,2.210735,2.848124,2.519953,2.352748,2.375068,2.304695,2.860138,2.375666,2.680276,90,90,90,90,90,90,90,90,90,90,F

Point predictions after adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
117,217.0,2.162123,2.210735,2.848124,2.519953,2.352748,2.375068,2.304695,2.860138,2.375666,2.680276,90,90,90,90,90,90,90,90,90,90,F

Name: Aaron Hickey
Point predictions before adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
65,116.0,1.785585,1.683948,1.951142,1.807202,2.500128,1.741426,2.087905,2.215793,2.202212,2.014825,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
65,116.0,1.339189,1.683948,1.951142,1.807202,2.500128,1.741426,2.087905,2.215793,2.202212,2.014825,90,90,90,90,90,90,90,90,90,90,D

Name: Joël Veltman
Point predictions before adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
84,152.0,2.067445,2.378563,1.834046,2.147685,2.278392,2.465035,2.664751,1.707069,2.765476,1.904551,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
84,152.0,1.550584,2.378563,1.834046,2.147685,2.278392,2.465035,2.664751,1.707069,2.765476,1.904551,90,90,90,90,90,90,90,90,90,90,D

Name: Mitoma Kaoru
Point predictions before adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
85,157.0,3.29582,3.679649,2.941227,3.29858,3.49289,3.494649,3.945721,2.677468,3.84336,2.856693,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
85,157.0,2.471865,3.679649,2.941227,3.29858,3.49289,3.494649,3.945721,2.677468,3.84336,2.856693,90,90,90,90,90,90,90,90,90,90,M

Name: Diego Gómez Amarilla
Point predictions before adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
94,169.0,1.94817,2.133525,1.80355,2.017696,2.005152,2.129603,2.223042,1.733587,2.26351,1.832497,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
94,169.0,1.461127,2.133525,1.80355,2.017696,2.005152,2.129603,2.223042,1.733587,2.26351,1.832497,90,90,90,90,90,90,90,90,90,90,M

Name: Tom Cairney
Point predictions before adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
189,331.0,1.761916,1.988466,1.847823,2.124934,1.92927,1.771325,1.766099,2.111763,1.919259,1.983523,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
189,331.0,1.321437,1.988466,1.847823,2.124934,1.92927,1.771325,1.766099,2.111763,1.919259,1.983523,90,90,90,90,90,90,90,90,90,90,M

Name: Saša Lukić
Point predictions before adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
190,332.0,2.364351,2.981503,2.484256,2.957212,2.604417,2.348117,2.409319,3.12526,2.741433,2.857165,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
190,332.0,1.773263,2.981503,2.484256,2.957212,2.604417,2.348117,2.409319,3.12526,2.741433,2.857165,90,90,90,90,90,90,90,90,90,90,M

Name: Pascal Struijk
Point predictions before adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
196,343.0,3.342893,2.531372,2.998708,3.0834,2.243657,2.734695,2.413549,2.521217,2.578367,3.149709,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
196,343.0,2.50717,2.531372,2.998708,3.0834,2.243657,2.734695,2.413549,2.521217,2.578367,3.149709,90,90,90,90,90,90,90,90,90,90,D

Name: Ethan Ampadu
Point predictions before adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
204,354.0,3.132134,2.453453,2.834721,2.8838,2.164506,2.586673,2.270132,2.455359,2.423717,2.95343,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
204,354.0,2.349101,2.453453,2.834721,2.8838,2.164506,2.586673,2.270132,2.455359,2.423717,2.95343,90,90,90,90,90,90,90,90,90,90,M

Name: Ryan Gravenberch
Point predictions before adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
226,390.0,3.065033,3.533453,2.621966,3.71372,3.808301,3.821694,3.502975,3.26974,3.424377,3.913316,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
226,390.0,2.298775,3.533453,2.621966,3.71372,3.808301,3.821694,3.502975,3.26974,3.424377,3.913316,90,90,90,90,90,90,90,90,90,90,M

Name: Alexander Isak
Point predictions before adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
290,499.0,4.08736,4.632936,3.743056,4.90669,4.988138,4.790719,4.768074,4.617044,4.637369,4.751308,90,90,90,90,90,90,90,90,90,90,F

Point predictions after adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
290,499.0,3.06552,4.632936,3.743056,4.90669,4.988138,4.790719,4.768074,4.617044,4.637369,4.751308,90,90,90,90,90,90,90,90,90,90,F

Name: Nico González Iglesias
Point predictions before adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
247,423.0,2.542431,2.51463,2.268136,2.333907,2.722631,2.672873,2.920004,2.23471,2.952502,2.63285,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
247,423.0,1.906823,2.51463,2.268136,2.333907,2.722631,2.672873,2.920004,2.23471,2.952502,2.63285,90,90,90,90,90,90,90,90,90,90,M

Name: Wilson Odobert
Point predictions before adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
335,588.0,2.295559,2.265755,2.385531,2.088258,2.580233,2.138839,2.29019,2.424987,2.088496,2.061068,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
335,588.0,1.721669,2.265755,2.385531,2.088258,2.580233,2.138839,2.29019,2.424987,2.088496,2.061068,90,90,90,90,90,90,90,90,90,90,M

Name: Hwang Hee-chan
Point predictions before adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
369,642.0,2.667119,2.220524,1.993999,1.984673,2.198507,2.201012,2.164976,1.930913,2.106411,1.854923,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
369,642.0,2.000339,2.220524,1.993999,1.984673,2.198507,2.201012,2.164976,1.930913,2.106411,1.854923,90,90,90,90,90,90,90,90,90,90,M

Name: Jean-Ricner Bellegarde
Point predictions before adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
371,644.0,2.28313,1.97845,1.81821,1.788745,1.956217,1.965746,1.942478,1.767991,1.912669,1.668293,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
371,644.0,1.712347,1.97845,1.81821,1.788745,1.956217,1.965746,1.942478,1.767991,1.912669,1.668293,90,90,90,90,90,90,90,90,90,90,M

Add low baseline predictions for players who don't have any projections yet.

In [19]:
fpl_ids = set(fpl_online_df.id.unique())
projection_ids = set(projections_pivot.ID.unique())
missing_ids = fpl_ids - projection_ids
len(missing_ids)

309

In [20]:
cols = ['ID']
cols += [f'{x}_Pts' for x in range(latest_gameweek+1, latest_gameweek+11)]
cols += [f'{x}_xMins' for x in range(latest_gameweek+1, latest_gameweek+11)]
cols += ['Pos']

new_rows = []
for id in missing_ids:
    new_row = pd.Series(index=cols)
    new_row['ID'] = id
    new_row['Pos'] = fpl_online_df.loc[fpl_online_df.id==id, 'element_type'].values[0]
    for col in cols:
        if '_Pts' in col:
            new_row[col] = 0.5
        elif '_xMins' in col:
            new_row[col] = 90.0
    new_rows.append(new_row)

new_rows = pd.DataFrame(new_rows)
new_rows['Pos'] = new_rows['Pos'].map(position_dict)
projections_pivot = pd.concat([projections_pivot, new_rows], ignore_index=True)

display(projections_pivot)

,ID,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,18_Pts,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,18_xMins,Pos
0,1.0,3.953317,4.889535,4.641490,4.407316,4.098565,4.076871,4.409129,4.662457,4.460893,4.150549,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,G
1,5.0,3.794757,4.912726,4.425005,4.240170,3.899508,3.932607,4.160591,4.563778,4.204246,3.965918,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,D
2,6.0,3.354440,4.329741,4.076834,3.858367,3.455566,3.498957,3.817773,4.127998,3.856194,3.544647,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,D
3,7.0,3.609418,4.492109,4.186808,4.006298,3.591368,3.683156,3.845009,4.341563,3.886546,3.705469,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,D
4,8.0,4.553400,5.536450,5.006954,4.849612,4.476755,4.497004,4.551165,5.119915,4.610876,4.563492,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740,741.0,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,F
741,742.0,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,M
742,743.0,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,M
743,744.0,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,M
744,745.0,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,D

In [21]:
filepath = Path('../../../FPL-Optimization-Tools/data/projections.csv')
projections_pivot.to_csv(filepath)

### Manual adjustments

In [ ]:
# Check player_id
projections.loc[projections['name'].str.contains('Reini'), 'id'].unique()

In [ ]:
player_id = 267
display(projections.loc[projections.id==player_id, 'name'].unique())
display(projections.loc[projections.id==player_id, ['gameweek', 'expected_points']])

In [ ]:
adjust_points_via_weights(player_id=661, gameweeks=[6], weights=[0])

In [ ]:
adjust_points_via_weights(player_id=541, gameweeks=[6,7,8], weights=[0,0,0])

In [ ]:
adjust_points_via_weights(player_id=129, gameweeks=[34,35,36], weights=[0,0,0])

In [ ]:
adjust_points_via_weights(player_id=521, gameweeks=[34,35,36,37,38], weights=[0,0,0,0,0])

In [ ]:
adjust_points_via_weights(player_id=477, gameweeks=[34,35,36,37,38], weights=[0.25,0.25,0.25,0.25,0.25])

In [ ]:
adjust_points_via_weights(player_id=554, gameweeks=[34, 35], weights=[0.5, 0.75])

In [ ]:
adjust_points_via_weights(player_id=473, gameweeks=[31,32,33,34,35,36], weights=[0.25,0.25,0.25,0.25,0.25,0.25])

In [ ]:
adjust_points_via_weights(player_id=398, gameweeks=[30,31], weights=[0.5,0.75])

In [ ]:
adjust_points_via_weights(player_id=447, gameweeks=[32], weights=[0.75])

In [ ]:
adjust_points_via_weights(player_id=541, gameweeks=[30,31], weights=[0,0])

In [ ]:
projections.shape

In [ ]:
projections.head()

In [ ]:
# drop cheap goalkeepers
projections = projections[~((projections.now_cost<42) & (projections.element_type==1))].copy()

In [ ]:
filepath = Path('../../../FPL-Optimization-Tools/data/projections.csv')
projections_pivot.to_csv(filepath)

# Other stuff

In [ ]:
# check ids
projections.loc[projections['name'].str.contains('Ekiti'), ['id','name']]

In [ ]:
projections.loc[projections.id==252, ['name','team_name']]

In [ ]:
fpl_online_df.loc[fpl_online_df.id==252, ['id','web_name','team']]

In [ ]:
# locked
projections.loc[projections.id.isin([257, 82]), ['id','name']].groupby('id').first()

In [ ]:
# banned players from solver 
projections.loc[projections.id.isin([119, 8]), ['id','name']].groupby('id').first()

In [ ]:
projections[projections.id==498]

In [ ]:
projections_pivot.columns