This notebook is used to create a csv file that includes my point projections in a format similar to fplreview.com. This csv file can then be used for making advanced team optimization plans using Sertalp B. Cay's repo "fpl-optimization".

In [1]:
latest_gameweek = 7

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
import json
import requests

pd.set_option('display.max_columns', None)

# Save team data
Info on your own team; starting point for the optimization.

In [ ]:
# get login credentials for fetching team data
file_path = Path('../../login_credentials/fpl_login.json')
#file_path = Path('../../login_credentials/fpl_login2.json')
login_credentials = pd.read_json(file_path, typ='series')

In [ ]:
# utility function for fetching team data
from src.utils import fetch_my_team, simple_team_fetch

In [ ]:
my_team = simple_team_fetch(team_id="4829240", latest_gameweek=latest_gameweek)
my_team

In [ ]:
for i, pick in enumerate(my_team['picks']):
    pick['selling_price'] =

In [ ]:
# save team data to fpl-optimization repo
file_path = Path('../../../fpl-optimization/data/team.json')
with open(file_path, 'w') as f:
    json.dump(my_team, f)

# Edit projections into fplreview format 
### (to be used with fpl-optimization repo solver)

In [3]:
filepath = Path(f'../data/predictions/gameweek{latest_gameweek}.csv')
projections = pd.read_csv(filepath, index_col=0)
if 'id' in projections.columns:
    projections = projections.drop('id', axis=1)
display(projections.head())
display(projections.shape)

,name,element_type,home,opponent_xG_ewm_5,opponent_xG_ewm_10,opponent_xG_ewm_20,opponent_xG_ewm_40,opponent_xGA_ewm_5,opponent_xGA_ewm_10,opponent_xGA_ewm_20,opponent_xGA_ewm_40,corners_and_indirect_freekicks_order,creativity_rank,direct_freekicks_order,ict_index_rank,influence_rank,minutes,now_cost,penalties_order,points_per_game,selected_by_percent,threat_rank,team_xG_ewm_5,team_xG_ewm_10,team_xG_ewm_20,team_xG_ewm_40,team_xGA_ewm_5,team_xGA_ewm_10,team_xGA_ewm_20,team_xGA_ewm_40,gameweek_assists_ewm_5,gameweek_bps_ewm_5,gameweek_creativity_ewm_5,event_points_ewm_5,gameweek_goals_scored_ewm_5,gameweek_goals_conceded_ewm_5,gameweek_saves_ewm_5,gameweek_threat_ewm_5,gameweek_xG_ewm_5,gameweek_xA_ewm_5,gameweek_xGA_ewm_5,gameweek_minutes_ewm_5,gameweek_xPoints_ewm_5,gameweek_assists_ewm_10,gameweek_bps_ewm_10,gameweek_creativity_ewm_10,event_points_ewm_10,gameweek_goals_scored_ewm_10,gameweek_goals_conceded_ewm_10,gameweek_saves_ewm_10,gameweek_threat_ewm_10,gameweek_xG_ewm_10,gameweek_xA_ewm_10,gameweek_xGA_ewm_10,gameweek_minutes_ewm_10,gameweek_xPoints_ewm_10,gameweek_assists_ewm_20,gameweek_bps_ewm_20,gameweek_creativity_ewm_20,event_points_ewm_20,gameweek_goals_scored_ewm_20,gameweek_goals_conceded_ewm_20,gameweek_saves_ewm_20,gameweek_threat_ewm_20,gameweek_xG_ewm_20,gameweek_xA_ewm_20,gameweek_xGA_ewm_20,gameweek_minutes_ewm_20,gameweek_xPoints_ewm_20,gameweek_assists_ewm_40,gameweek_bps_ewm_40,gameweek_creativity_ewm_40,event_points_ewm_40,gameweek_goals_scored_ewm_40,gameweek_goals_conceded_ewm_40,gameweek_saves_ewm_40,gameweek_threat_ewm_40,gameweek_xG_ewm_40,gameweek_xA_ewm_40,gameweek_xGA_ewm_40,gameweek_minutes_ewm_40,gameweek_xPoints_ewm_40,gameweek_assists_expanding,gameweek_bps_expanding,gameweek_creativity_expanding,event_points_expanding,gameweek_goals_scored_expanding,gameweek_goals_conceded_expanding,gameweek_saves_expanding,gameweek_threat_expanding,gameweek_xG_expanding,gameweek_xA_expanding,gameweek_xGA_expanding,gameweek_minutes_expanding,gameweek_xPoints_expanding,gameweek_assists_expanding_per90,gameweek_bps_expanding_per90,gameweek_creativity_expanding_per90,event_points_expanding_per90,gameweek_goals_scored_expanding_per90,gameweek_goals_conceded_expanding_per90,gameweek_saves_expanding_per90,gameweek_threat_expanding_per90,gameweek_xG_expanding_per90,gameweek_xA_expanding_per90,gameweek_xGA_expanding_per90,gameweek_xPoints_expanding_per90,xG_overperformance,team_name,opponent_team,date,gameweek,expected_points
0,Aaron Hickey,2.0,0,0.923309,1.016163,1.112813,1.203311,1.624015,1.519828,1.545652,1.594430,NaN,351.0,NaN,387.0,363.0,184.0,40.0,NaN,1.2,0.4,361.0,1.406571,1.444506,1.472035,1.486644,1.410135,1.354521,1.386893,1.419608,0.0,5.548773,1.637268,1.727732,0.0,0.87167,0.0,1.354972,0.010657,0.016135,0.741196,58.002303,2.131872,0.0,7.297936,2.63944,1.911041,0.0,0.920362,0.0,2.043364,0.013391,0.016154,0.821408,62.099423,2.192365,0.0,8.44846,3.451773,2.072325,0.0,0.938634,0.0,2.364947,0.014927,0.017856,0.867682,65.49652,2.279707,0.0,9.056732,3.92574,2.165541,0.0,0.943316,0.0,2.499511,0.01565,0.019093,0.889663,67.346714,2.332415,0.0,174.0,79.8,43.0,0.0,17.0,0.0,47.0,0.31,0.39,17.29,1315.0,42.988298,0.0,11.908745,5.461597,2.942966,0.0,1.163498,0.0,3.21673,0.021217,0.026692,1.183346,2.942165,0.0,Brentford,West Ham,2025-10-20T19:00:00Z,8,2.208024
1,Aaron Hickey,2.0,1,1.726626,1.827188,1.981205,2.081794,1.304739,1.240023,1.156240,1.125928,NaN,351.0,NaN,387.0,363.0,184.0,40.0,NaN,1.2,0.4,361.0,1.406571,1.444506,1.472035,1.486644,1.410135,1.354521,1.386893,1.419608,0.0,5.548773,1.637268,1.727732,0.0,0.87167,0.0,1.354972,0.010657,0.016135,0.741196,58.002303,2.131872,0.0,7.297936,2.63944,1.911041,0.0,0.920362,0.0,2.043364,0.013391,0.016154,0.821408,62.099423,2.192365,0.0,8.44846,3.451773,2.072325,0.0,0.938634,0.0,2.364947,0.014927,0.017856,0.867682,65.49652,2.279707,0.0,9.056732,3.92574,2.165541,0.0,0.943316,0.0,2.499511,0.01565,0.019093,0.889663,67.346714,2.332415,0.0,174.0,79.8,43.0,0.0,17.0,0.0,47.0,0.31,0.39,17.29,1315.0,42.988298,0.0,11.908745,5.461597,2.942966,0.0,1.163498,0.0,3.21673,0.021217,0.026692,1.183346,2.942165,0.0,Brentford,Liverpool,2025-10-25T19:00:00Z,9,1.833661
2,Aaron Hickey,2.0,0,1.939852,1.854270,1.727111,1.556811,1.367579,1.284889,1.267675,1.277935,NaN,351.0,NaN,387.0,363.0,184.0,40.0,NaN,1.2,0.4,361.0,1.406571,1.444506,1.472035,1.486644,1.410135,1.354521,1.386893,1.419608,0.0,5.548773,1.637268,1.727732,0.0,0.87167,0.0,1.354972,0.010657,0.016135,0.741196,58.002303,2.131872,0.0,7.297936,2.63944,1.911041,0.0,0.920362,0.0,2.043364,0.013391,0.016154,0.821408,62.099423,2.192365,0.0,8.44846,3.451773,2.072325,0.0,0.938634,0.0,2.364947,0.014927,0.017856,0.867682,65.49652,2.279707,0.0,9.056732,3.92574,2.165541,0.0,0.943316,0.0,2.499511,0.01565,0.019093,0.889663,67.346714,2.332415,0.0,174.0,79.8,43.0,0.0,17.0,0.0,47.0,0.31,0.39,17.29,1315.0,42.988298,0.0,11.908745,5.461597,2.942966,0.0,1.163498,0.0,3.21673,0.021217,0.026692,1.183346,2.942165,0.0,Brentford,Crystal Palace,2025-11-01T15:00:00Z,10,1.766526
3,Aaron Hickey,2.0,1,1.429292,1.467059,1.590830,1.682818,0.795099,0.894242,1.044023,1.181402,NaN,351.0,NaN,387.0,363.0,184.0,40.0,NaN,1.2,0.4,361.0,1.406571,1.444506,1.472035,1.486644,1.410135,1.354521,1.386893,1.419608,0.0,5.548773,1.637268,1.727732,0.0,0.87167,0.0,1.354972,0.010657,0.016135,0.741196,58.002303,2.131872,0.0,7.297936,2.63944,1.911041,0.0,0.920362,0.0,2.043364,0.013391,0.016154,0.821408,62.099423,2.192365,0.0,8.44846,3.451773,2.072325,0.0,0.938634,0.0,2.364947,0.014927,0.017856,0.867682,65.49652,2.279707,0.0,9.056732,3.92574,2.165541,0.0,0.943316,0.0,2.499511,0.01565,0.019093,0.889663,67.346714,2.332415,0.0,174.0,79.8,43.0,0.0,17.0,0.0,47.0,0.31,0.39,17.29,1315.0,42.988298,0.0,11.908745,5.461597,2.942966,0.0,1.163498,0.0,3.21673,0.021217,0.026692,1.183346,2.942165,0.0,Brentford,Newcastle Utd,2025-11-09T14:00:00Z,11,1.951142
4,Aaron Hickey,2.0,0,1.566444,1.621118,1.592992,1.570747,1.328787,1.373490,1.391776,1.396677,NaN,351.0,NaN,387.0,363.0,184.0,40.0,NaN,1.2,0.4,361.0,1.406571,1.444506,1.472035,1.486644,1.410135,1.354521,1.386893,1.419608,0.0,5.548773,1.637268,1.727732,0.0,0.87167,0.0,1.354972,0.010657,0.016135,0.741196,58.002303,2.131872,0.0,7.297936,2.63944,1.911041,0.0,0.920362,0.0,2.043364,0.013391,0.016154,0.821408,62.099423,2.192365,0.0,8.44846,3.451773,2.072325,0.0,0.938634,0.0,2.364947,0.014927,0.017856,0.867682,65.49652,2.279707,0.0,9.056732,3.92574,2.165541,0.0,0.943316,0.0,2.499511,0.01565,0.019093,0.889663,67.346714,2.332415,0.0,174.0,79.8,43.0,0.0,17.0,0.0,47.0,0.31,0.39,17.29,1315.0,42.988298,0.0,11.908745,5.461597,2.942966,0.0,1.163498,0.0,3.21673,0.021217,0.026692,1.183346,2.942165,0.0,Brentford,Brighton,2025-11-22T15:00:00Z,12,1.786116

(4290, 113)

In [4]:
if latest_gameweek>0:
    filepath = Path('../data/fpl_df.csv')
elif latest_gameweek==0:
    filepath = Path('../data/fpl_df_preseason_online.csv')
else:
    print('Check latest_gameweek!')

fpl_df = pd.read_csv(filepath, index_col=0, low_memory=False)
fpl_df = fpl_df[fpl_df.season=='25-26']
display(fpl_df.head())
display(fpl_df.shape)

,bonus,bps,clean_sheets,corners_and_indirect_freekicks_order,creativity,creativity_rank,creativity_rank_type,direct_freekicks_order,dreamteam_count,element_type,event_points,first_name,goals_conceded,goals_scored,ict_index,ict_index_rank,ict_index_rank_type,influence,influence_rank,influence_rank_type,minutes,now_cost,own_goals,penalties_missed,penalties_order,penalties_saved,points_per_game,red_cards,saves,second_name,selected_by_percent,threat,threat_rank,threat_rank_type,total_points,web_name,yellow_cards,team_name,gameweek,season,gameweek_xG,gameweek_xA,gameweek_xGA,gameweek_minutes,team_xG,team_xGA,team_xG_ewm_5,team_xG_ewm_10,team_xG_ewm_20,team_xG_ewm_40,team_xGA_ewm_5,team_xGA_ewm_10,team_xGA_ewm_20,team_xGA_ewm_40,opponent_xG,opponent_xGA,opponent_xG_ewm_5,opponent_xG_ewm_10,opponent_xG_ewm_20,opponent_xG_ewm_40,opponent_xGA_ewm_5,opponent_xGA_ewm_10,opponent_xGA_ewm_20,opponent_xGA_ewm_40,home,gameweek_assists,gameweek_bps,gameweek_creativity,gameweek_goals_scored,gameweek_goals_conceded,gameweek_own_goals,gameweek_penalties_saved,gameweek_red_cards,gameweek_saves,gameweek_threat,gameweek_yellow_cards,gameweek_xPoints,gameweek_assists_ewm_5,gameweek_bps_ewm_5,gameweek_creativity_ewm_5,event_points_ewm_5,gameweek_goals_scored_ewm_5,gameweek_goals_conceded_ewm_5,gameweek_saves_ewm_5,gameweek_threat_ewm_5,gameweek_xG_ewm_5,gameweek_xA_ewm_5,gameweek_xGA_ewm_5,gameweek_minutes_ewm_5,gameweek_xPoints_ewm_5,gameweek_assists_ewm_10,gameweek_bps_ewm_10,gameweek_creativity_ewm_10,event_points_ewm_10,gameweek_goals_scored_ewm_10,gameweek_goals_conceded_ewm_10,gameweek_saves_ewm_10,gameweek_threat_ewm_10,gameweek_xG_ewm_10,gameweek_xA_ewm_10,gameweek_xGA_ewm_10,gameweek_minutes_ewm_10,gameweek_xPoints_ewm_10,gameweek_assists_ewm_20,gameweek_bps_ewm_20,gameweek_creativity_ewm_20,event_points_ewm_20,gameweek_goals_scored_ewm_20,gameweek_goals_conceded_ewm_20,gameweek_saves_ewm_20,gameweek_threat_ewm_20,gameweek_xG_ewm_20,gameweek_xA_ewm_20,gameweek_xGA_ewm_20,gameweek_minutes_ewm_20,gameweek_xPoints_ewm_20,gameweek_assists_ewm_40,gameweek_bps_ewm_40,gameweek_creativity_ewm_40,event_points_ewm_40,gameweek_goals_scored_ewm_40,gameweek_goals_conceded_ewm_40,gameweek_saves_ewm_40,gameweek_threat_ewm_40,gameweek_xG_ewm_40,gameweek_xA_ewm_40,gameweek_xGA_ewm_40,gameweek_minutes_ewm_40,gameweek_xPoints_ewm_40,gameweek_assists_expanding,gameweek_bps_expanding,gameweek_creativity_expanding,event_points_expanding,gameweek_goals_scored_expanding,gameweek_goals_conceded_expanding,gameweek_saves_expanding,gameweek_threat_expanding,gameweek_xG_expanding,gameweek_xA_expanding,gameweek_xGA_expanding,gameweek_minutes_expanding,gameweek_xPoints_expanding,gameweek_assists_expanding_per90,gameweek_bps_expanding_per90,gameweek_creativity_expanding_per90,event_points_expanding_per90,gameweek_goals_scored_expanding_per90,gameweek_goals_conceded_expanding_per90,gameweek_saves_expanding_per90,gameweek_threat_expanding_per90,gameweek_xG_expanding_per90,gameweek_xA_expanding_per90,gameweek_xGA_expanding_per90,gameweek_minutes_expanding_per90,gameweek_xPoints_expanding_per90,xG_overperformance,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,ep_next,ep_this,form,id,in_dreamteam,news,news_added,photo,special,squad_number,status,team,team_code,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,starts,expected_goals,expected_assists,expected_goal_involvements,expected_goals_conceded,corners_and_indirect_freekicks_text,direct_freekicks_text,penalties_text,expected_goals_per_90,saves_per_90,expected_assists_per_90,expected_goal_involvements_per_90,expected_goals_conceded_per_90,goals_conceded_per_90,now_cost_rank,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90,name,data_retrieved_datetime,region,can_transact,can_select,removed,team_join_date,has_temporary_code,opta_code,mng_win,mng_draw,mng_loss,mng_underdog_win,mng_underdog_draw,mng_clean_sheets,mng_goals_scored,birth_date,clearances_blocks_interceptions,recoveries,tackles,defensive_contribution,defensive_contribution_per_90,assists,gameweek_defensive_contribution,gameweek_defensive_contribution_ewm_5,gameweek_defensive_contribution_ewm_10,gameweek_defensive_contribution_ewm_20,gameweek_defensive_contribution_ewm_40,gameweek_defensive_contribution_expanding,gameweek_defensive_contribution_expanding_per90
36880,0.0,29.0,1.0,NaN,0.0,284.0,49.0,NaN,0.0,1.0,7.0,Marco,0.0,0.0,2.0,100.0,9.0,19.6,50.0,9.0,90.0,45.0,0.0,0.0,NaN,0.0,7.0,0.0,3.0,Bizot,0.5,0.0,245.0,49.0,7.0,M.Bizot,0.0,Aston Villa,1.0,25-26,0.0,0.00,1.43,90.0,0.2,1.4,1.313579,1.425934,1.465312,1.479373,1.384932,1.372106,1.396431,1.412526,1.4,0.2,1.593568,1.675222,1.744858,1.774032,0.983208,1.085941,1.191533,1.276642,1.0,0.0,29.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,4.808859,0.0,29.000000,0.000000,7.000000,0.000000,0.000000,3.0,0.000000,0.000000,0.000000,1.430000,90.000000,4.808859,0.0,29.000000,0.000000,7.000000,0.000000,0.000000,3.0,0.000000,0.000000,0.000000,1.430000,90.000000,4.808859,0.0,29.000000,0.000000,7.000000,0.000000,0.000000,3.0,0.000000,0.000000,0.000000,1.430000,90.000000,4.808859,0.0,29.000000,0.000000,7.000000,0.000000,0.000000,3.0,0.000000,0.000000,0.000000,1.430000,90.000000,4.808859,0.0,29.0,0.0,7.0,0.0,0.0,3.0,0.0,0.00,0.00,1.43,90.0,4.808859,0.0,29.000000,0.000000,7.000000,0.000000,0.000000,3.0,0.000000,0.000000,0.000000,1.430000,90.0,4.808859,NaN,NaN,NaN,72147.0,0.0,0.0,0.0,0.0,2.3,1.8,7.0,33.0,False,NaN,NaN,72147.jpg,False,NaN,a,2.0,7.0,7887.0,7887.0,1421.0,1421.0,1.6,1.6,1.0,0.0,0.00,0.00,1.43,NaN,NaN,NaN,0.0,3.0,0.00,0.00,1.43,0.0,363.0,19.0,21.0,4.0,21.0,4.0,240.0,33.0,1.00,1.00,Marco Bizot,2025-08-17 10:49:52.276645,152.0,True,True,False,2025-07-15,False,p72147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1991-03-10,1.0,12.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
36881,0.0,25.0,1.0,NaN,1.1,122.0,43.0,NaN,0.0,2.0,8.0,Matty,0.0,0.0,4.1,52.0,12.0,37.6,14.0,3.0,90.0,45.0,0.0,0.0,NaN,0.0,8.0,0.0,0.0,Cash,2.6,2.0,90.0,23.0,8.0,Cash,0.0,Aston Villa,1.0,25-26,0.0,0.00,1.43,90.0,0.2,1.4,1.313579,1.425934,1.465312,1.479373,1.384932,1.372106,1.396431,1.412526,1.4,0.2,1.593568,1.675222,1.744858,1.774032,0.983208,1.085941,1.191533,1.276642,1.0,0.0,25.0,1.1,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,3.018146,0.0,17.209133,4.506281,4.656904,0.002885,0.541847,0.0,7.576545,0.026137,0.018494,1.251494,84.306409,3.244613,0.0,14.362494,5.861730,3.855835,0.014202,0.662160,0.0,6.936326,0.024842,0.033095,1.157831,80.335123,3.083045,0.0,12.413189,6.517204,3.196212,0.026115,0.813224,0.0,7.140079,0.035540,0.045444,1.153880,77.665530,2.934451,0.0,11.839420,6.695960,2.911297,0.035148,0.896779,0.0,7.747004,0.051624,0.052469,1.164990,76.372458,2.933300,0.0,767.0,424.4,183.0,3.0,61.0,0.0,557.0,4.89,3.76,76.94,4917.0,195.201811,0.0,14.039048,7.768151,3.349603,0.054912,1.116534,0.0,10.195241,0.089506,0.068822,1.408298,90.0,3.572943,0.613497,NaN,NaN,199796.0,0.0,0.0,0.0,0.0,1.9,1.4,8.0,36.0,False,NaN,NaN,199796.jpg,False,NaN,a,2.0,7.0,41289.0,41289.0,3059.0,3059.0,1.8,1.8,1.0,0.0,0.00,0.00,1.43,NaN,NaN,NaN,0.0,0.0,0.00,0.00,1.43,0.0,394.0,88.0,15.0,6.0,15.0,6.0,104.0,36.0,1.00,1.00,Matty Cash,2025-08-17 10:49:52.276645,172.0,True,True,False,2020-09-03,False,p199796,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1997-08-07,9.0,2.0,2.0,11.0,11.00,0.0,11.0,11.0,11.0,11.0,11.0,11.0,0.201342
36882,0.0,22.0,1.0,7.0,5.8,72.0,21.0,2.0,0.0,2.0,6.0,Lucas,0.0,0.0,1.7,109.0,36.0,11.6,86.0,37.0,90.0,45.0,0.0,0.0,NaN,0.0,6.0,0.0,0.0,Digne,2.0,0.0,250.0,117.0,6.0,Digne,0.0,Aston Villa,1.0,25-26,0.0,0.01,1.43,90.0,0.2,1.4,1.313579,1.425934,1.465312,1.479373,1.384932,1.372106,1.396431,1.412526,1.4,0.2,1.593568,1.675222,1.744858,1.774032,0.983208,1.085941,1.191533,1.276642,1.0,0.0,22.0,5.8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.757066,0.0,18.860805,17.168811,3.708803,0.000027,0.971104,0.0,1.754832,0.010008,0.071139,1.021347,74.459921,3.093336,0.0,16.212526,18.894168,3.108471,0.001478,1.181394,0.0,3.000256,0.018663,0.087545,1.057493,73.949428,3.094461,0.0,14.378618,19.039713,2.807288,0.006470,1.243797,0.0,3.951715,0.024811,0.099895,1.090203,73.171768,3.027316,0.0,13.979492,19.443029,2.681351,0.009888,1.257933,0.0,4.682568,0.027522,0.107762,1.106579,72.743502,2.975880,0.0,1524.0,2166.4,267.0,1.0,134.0,0.0,572.0,2.93,12.25,115.35,7558.0,301.775416,0.0,18.147658,25.797301,3.179413,0.011908,1.595660,0.0,6.811326,0.034890,0.145872,1.373578,90.0,3.593515,0.341297,NaN,NaN,101188.0,0.0,0.0,0.0,0.0,1.9,1.4,6.0,37.0,False,NaN,NaN,101188.jpg,False,NaN,a,2.0,7.0,8567.0,8567.0,1481.0,1481.0,1.3,1.3,1.0,0.0,0.01,0.01,1.43,NaN,NaN,NaN,0.0,0.0,0.01,0.01,1.43,0.0,369.0,70.0,26.0,9.0,26.0,9.0,128.0,44.0,1.00,1.00,Lucas Digne,2025-08-17 10:49:52.276645,73.0,True,True,False,2022-01-13,False,p101188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993-07-20,5.0,3.0,2.0,7.0,7.00,0.0,7.0,7.0,7.0,7.0,7.0,7.0,0.083355
36883,0.0,15.0,1.0,NaN,1.1,123.0,44.0,NaN,0.0,2.0,3.0,Ezri,0.0,0.0,0.3,168.0,59.0,1.8,152.0,59.0,65.0,45.0,0.0,0.0,NaN,0.0,3.0,1.0,0.0,Konsa Ngoyo,21.8,0.0,273.0,133.0,3.0,Konsa,0.0,Aston Villa,1.0,25-26,0.0,0.01,1.11,65.0,0.2,1.4,1.313579,1.425934,1.465312,1.479373,1.384932,1.372106,1.396431,1.412526,1.4,0.2,1.593568,1.675222,1.744858,1.774032,0.983208,1.085941,1.191533,1.276642,1.0,0.0,15.0,1.1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.268481,0.0,17.733293,3.337312,4.774984,0.128261,0.701910,0.0,7.643575,0.059143,0.021427,1.304643,83.459164,3.194084,0.0,16.223136,3.328470,4.143539,0.086331,0.945156,0.0,6.211008,0.049833,0.018300,1.316131,85.105781,3.373505,0.0,15.081412,3.549911,3.472200,0.062668,1.195020,0.0,5.493292,0.045905,0.018724,1.350621,85.953180,3.347596,0.0,15.476051,3.753735,3.092230,0.054064,1.353889,0.0,5.748955,0.047884,0.019763,1.376559,86.465701,3.300562,0.0,2100.0,420.9,352.0,7.0,182.0,0.0,861.0,6.34,2.19,170.15,10525.0,386.036572,0.0,17.957245,3.599145,3.009976,0.059857,1.556295,0.0,7.362470,0.054214,0.018727,1.454964,90.0,3.301025,1.104101,0.0,NaN,199798.0,0.0,0.0,0.0,0.0,0.0,1.4,3.0,38.0,False,Suspended until 31 Aug,2025-08-16T19:30:05.327199Z,199798.jpg,False,NaN,s,2.0,7.0,14197.0,14197.0,87816.0,87816.0,0.7,0.7,1.0,0.0,0.01,0.01,1.11,NaN,NaN,NaN,0.0,0.0,0.01,0.01,1.54,0.0,395.0,89.0,56.0,20.0,56.0,20.0,17.0,6.0,1.38,1.38,Ezri Konsa Ngoyo,2025-08-17 10:49:52.276645,241.0,True,True,False,2019-07-11,False,p199798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1997-10-23,3.0,1.0,0.0,3.0,4.15,0.0,3.0,3.0,3.0,3.0,3.0,3.0,0.025653
36884,0.0,25.0,1.0,NaN,3.7,81.0,26.0,NaN,0.0,2.0,6.0,Tyrone,0.0,0.0,1.7,110.0,37.0,13.0,77.0,31.0,90.0,45.0,0.0,0.0,NaN,0.0,6.0,0.0,0.0,Mings,1.0,0.0,263.0,127.0,6.0,Mings,0.0,Aston Villa,1.0,25-26,0.0,0.00,1.43,90.0,0.2,1.4,1.313579,1.425934,1.465312,1.479373,1.384932,1.372106,1.396431,1.412526,1.4,0.2,1.593568,1.675222,1.744858,1.774032,0.983208,1.085941,1.191533,1.276642,1.0,0.0,25.0,3.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.018146,0.0,23.645042,4.325593,4.023297,0.005706,0.837203,0.0,6.200713,0.027754,0.012144,0.866428,81.596597,3.746528,0.0,24.356245,4.954664,3.575457,0.021532,1.063261,0.0,7.339105,0.041109,0.019331,0.944260,82.190099,3.778126,0.0,25.259500,5.161661,3.437035,0.037450,1.257998,0.0,8.548031,0.047952,0.025048,1.056409,83.801075,3.767367,0.0,25.543549,5.094626,3.403064,0.049783,1.390894,0.0,9.492360,0.050275,0.026273,1.134597,84.895580,3.720365,0.0,1534.0,293.7,213.0,4.0,91.0,0.0,634.0,3.25,1.56,74.96,5328.0,219.420458,0.0,25.912162,4.961149,3.597973,0.067568,1.537162,0.0,10.709459,0.054899,0.026351,1.266216,90.0,3.706427,1.230769,NaN,NaN,149484.0,0.0,0.0,0.0,0.0,1.9,1.4,6.0,40.0,False,NaN,NaN,149484.jpg,False,NaN,a,2.0,7.0,9325.0,9325.0,1218.0,1218.0,1.3,1.3,1.0,0.0,0.00,0.00,1.43,NaN,NaN,NaN,0.0,0.0,0.00,0.00,1.43,0.0,382.0,80.0,27.0,10.0,27.0,10.0,180.0,66.0,1.00,1.00,Tyrone Mings,2025-08-17 10:49:52.276645,241.0,True,True,False,2019-07-08,False,p149484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993-03-13,5.0,2.0,0.0,5.0,5.00,0.0,5.0,5.0,5.0,5.0,5.0,5.0,0.084459

(2144, 236)

In [5]:
df = fpl_df.groupby('name').last().reset_index()[['id', 'name', 'element_type', 'points_per_game', 'total_points',]]
#df['id'] = df.id.astype(int)
df['games_played'] = np.round(np.where(df['points_per_game']!=0, df['total_points'] / df['points_per_game'], 0),0)
display(df.head())
display(df.shape)

,id,name,element_type,points_per_game,total_points,games_played
0,116.0,Aaron Hickey,2.0,1.2,6.0,5.0
1,610.0,Aaron Wan-Bissaka,2.0,0.7,2.0,3.0
2,406.0,Abdukodir Khusanov,2.0,2.8,11.0,4.0
3,73.0,Adam Smith,2.0,2.7,8.0,3.0
4,273.0,Adam Wharton,3.0,3.2,19.0,6.0

(429, 6)

In [6]:
# drop duplicate players (some players get new spelling for their name during the season causing duplicates)
duplicate_ids = df.loc[df.id.duplicated(), 'id'].unique()
for id in duplicate_ids:
    ix = df.loc[df.id==id, 'games_played'].idxmin()
    df = df.drop(ix)
display(df.head())
display(df.shape)

,id,name,element_type,points_per_game,total_points,games_played
0,116.0,Aaron Hickey,2.0,1.2,6.0,5.0
1,610.0,Aaron Wan-Bissaka,2.0,0.7,2.0,3.0
2,406.0,Abdukodir Khusanov,2.0,2.8,11.0,4.0
3,73.0,Adam Smith,2.0,2.7,8.0,3.0
4,273.0,Adam Wharton,3.0,3.2,19.0,6.0

(429, 6)

In [7]:
# merge id info to projections
projections = projections.merge(df[['id', 'name']], on='name', how='left')
projections.head()

,name,element_type,home,opponent_xG_ewm_5,opponent_xG_ewm_10,opponent_xG_ewm_20,opponent_xG_ewm_40,opponent_xGA_ewm_5,opponent_xGA_ewm_10,opponent_xGA_ewm_20,opponent_xGA_ewm_40,corners_and_indirect_freekicks_order,creativity_rank,direct_freekicks_order,ict_index_rank,influence_rank,minutes,now_cost,penalties_order,points_per_game,selected_by_percent,threat_rank,team_xG_ewm_5,team_xG_ewm_10,team_xG_ewm_20,team_xG_ewm_40,team_xGA_ewm_5,team_xGA_ewm_10,team_xGA_ewm_20,team_xGA_ewm_40,gameweek_assists_ewm_5,gameweek_bps_ewm_5,gameweek_creativity_ewm_5,event_points_ewm_5,gameweek_goals_scored_ewm_5,gameweek_goals_conceded_ewm_5,gameweek_saves_ewm_5,gameweek_threat_ewm_5,gameweek_xG_ewm_5,gameweek_xA_ewm_5,gameweek_xGA_ewm_5,gameweek_minutes_ewm_5,gameweek_xPoints_ewm_5,gameweek_assists_ewm_10,gameweek_bps_ewm_10,gameweek_creativity_ewm_10,event_points_ewm_10,gameweek_goals_scored_ewm_10,gameweek_goals_conceded_ewm_10,gameweek_saves_ewm_10,gameweek_threat_ewm_10,gameweek_xG_ewm_10,gameweek_xA_ewm_10,gameweek_xGA_ewm_10,gameweek_minutes_ewm_10,gameweek_xPoints_ewm_10,gameweek_assists_ewm_20,gameweek_bps_ewm_20,gameweek_creativity_ewm_20,event_points_ewm_20,gameweek_goals_scored_ewm_20,gameweek_goals_conceded_ewm_20,gameweek_saves_ewm_20,gameweek_threat_ewm_20,gameweek_xG_ewm_20,gameweek_xA_ewm_20,gameweek_xGA_ewm_20,gameweek_minutes_ewm_20,gameweek_xPoints_ewm_20,gameweek_assists_ewm_40,gameweek_bps_ewm_40,gameweek_creativity_ewm_40,event_points_ewm_40,gameweek_goals_scored_ewm_40,gameweek_goals_conceded_ewm_40,gameweek_saves_ewm_40,gameweek_threat_ewm_40,gameweek_xG_ewm_40,gameweek_xA_ewm_40,gameweek_xGA_ewm_40,gameweek_minutes_ewm_40,gameweek_xPoints_ewm_40,gameweek_assists_expanding,gameweek_bps_expanding,gameweek_creativity_expanding,event_points_expanding,gameweek_goals_scored_expanding,gameweek_goals_conceded_expanding,gameweek_saves_expanding,gameweek_threat_expanding,gameweek_xG_expanding,gameweek_xA_expanding,gameweek_xGA_expanding,gameweek_minutes_expanding,gameweek_xPoints_expanding,gameweek_assists_expanding_per90,gameweek_bps_expanding_per90,gameweek_creativity_expanding_per90,event_points_expanding_per90,gameweek_goals_scored_expanding_per90,gameweek_goals_conceded_expanding_per90,gameweek_saves_expanding_per90,gameweek_threat_expanding_per90,gameweek_xG_expanding_per90,gameweek_xA_expanding_per90,gameweek_xGA_expanding_per90,gameweek_xPoints_expanding_per90,xG_overperformance,team_name,opponent_team,date,gameweek,expected_points,id
0,Aaron Hickey,2.0,0,0.923309,1.016163,1.112813,1.203311,1.624015,1.519828,1.545652,1.594430,NaN,351.0,NaN,387.0,363.0,184.0,40.0,NaN,1.2,0.4,361.0,1.406571,1.444506,1.472035,1.486644,1.410135,1.354521,1.386893,1.419608,0.0,5.548773,1.637268,1.727732,0.0,0.87167,0.0,1.354972,0.010657,0.016135,0.741196,58.002303,2.131872,0.0,7.297936,2.63944,1.911041,0.0,0.920362,0.0,2.043364,0.013391,0.016154,0.821408,62.099423,2.192365,0.0,8.44846,3.451773,2.072325,0.0,0.938634,0.0,2.364947,0.014927,0.017856,0.867682,65.49652,2.279707,0.0,9.056732,3.92574,2.165541,0.0,0.943316,0.0,2.499511,0.01565,0.019093,0.889663,67.346714,2.332415,0.0,174.0,79.8,43.0,0.0,17.0,0.0,47.0,0.31,0.39,17.29,1315.0,42.988298,0.0,11.908745,5.461597,2.942966,0.0,1.163498,0.0,3.21673,0.021217,0.026692,1.183346,2.942165,0.0,Brentford,West Ham,2025-10-20T19:00:00Z,8,2.208024,116.0
1,Aaron Hickey,2.0,1,1.726626,1.827188,1.981205,2.081794,1.304739,1.240023,1.156240,1.125928,NaN,351.0,NaN,387.0,363.0,184.0,40.0,NaN,1.2,0.4,361.0,1.406571,1.444506,1.472035,1.486644,1.410135,1.354521,1.386893,1.419608,0.0,5.548773,1.637268,1.727732,0.0,0.87167,0.0,1.354972,0.010657,0.016135,0.741196,58.002303,2.131872,0.0,7.297936,2.63944,1.911041,0.0,0.920362,0.0,2.043364,0.013391,0.016154,0.821408,62.099423,2.192365,0.0,8.44846,3.451773,2.072325,0.0,0.938634,0.0,2.364947,0.014927,0.017856,0.867682,65.49652,2.279707,0.0,9.056732,3.92574,2.165541,0.0,0.943316,0.0,2.499511,0.01565,0.019093,0.889663,67.346714,2.332415,0.0,174.0,79.8,43.0,0.0,17.0,0.0,47.0,0.31,0.39,17.29,1315.0,42.988298,0.0,11.908745,5.461597,2.942966,0.0,1.163498,0.0,3.21673,0.021217,0.026692,1.183346,2.942165,0.0,Brentford,Liverpool,2025-10-25T19:00:00Z,9,1.833661,116.0
2,Aaron Hickey,2.0,0,1.939852,1.854270,1.727111,1.556811,1.367579,1.284889,1.267675,1.277935,NaN,351.0,NaN,387.0,363.0,184.0,40.0,NaN,1.2,0.4,361.0,1.406571,1.444506,1.472035,1.486644,1.410135,1.354521,1.386893,1.419608,0.0,5.548773,1.637268,1.727732,0.0,0.87167,0.0,1.354972,0.010657,0.016135,0.741196,58.002303,2.131872,0.0,7.297936,2.63944,1.911041,0.0,0.920362,0.0,2.043364,0.013391,0.016154,0.821408,62.099423,2.192365,0.0,8.44846,3.451773,2.072325,0.0,0.938634,0.0,2.364947,0.014927,0.017856,0.867682,65.49652,2.279707,0.0,9.056732,3.92574,2.165541,0.0,0.943316,0.0,2.499511,0.01565,0.019093,0.889663,67.346714,2.332415,0.0,174.0,79.8,43.0,0.0,17.0,0.0,47.0,0.31,0.39,17.29,1315.0,42.988298,0.0,11.908745,5.461597,2.942966,0.0,1.163498,0.0,3.21673,0.021217,0.026692,1.183346,2.942165,0.0,Brentford,Crystal Palace,2025-11-01T15:00:00Z,10,1.766526,116.0
3,Aaron Hickey,2.0,1,1.429292,1.467059,1.590830,1.682818,0.795099,0.894242,1.044023,1.181402,NaN,351.0,NaN,387.0,363.0,184.0,40.0,NaN,1.2,0.4,361.0,1.406571,1.444506,1.472035,1.486644,1.410135,1.354521,1.386893,1.419608,0.0,5.548773,1.637268,1.727732,0.0,0.87167,0.0,1.354972,0.010657,0.016135,0.741196,58.002303,2.131872,0.0,7.297936,2.63944,1.911041,0.0,0.920362,0.0,2.043364,0.013391,0.016154,0.821408,62.099423,2.192365,0.0,8.44846,3.451773,2.072325,0.0,0.938634,0.0,2.364947,0.014927,0.017856,0.867682,65.49652,2.279707,0.0,9.056732,3.92574,2.165541,0.0,0.943316,0.0,2.499511,0.01565,0.019093,0.889663,67.346714,2.332415,0.0,174.0,79.8,43.0,0.0,17.0,0.0,47.0,0.31,0.39,17.29,1315.0,42.988298,0.0,11.908745,5.461597,2.942966,0.0,1.163498,0.0,3.21673,0.021217,0.026692,1.183346,2.942165,0.0,Brentford,Newcastle Utd,2025-11-09T14:00:00Z,11,1.951142,116.0
4,Aaron Hickey,2.0,0,1.566444,1.621118,1.592992,1.570747,1.328787,1.373490,1.391776,1.396677,NaN,351.0,NaN,387.0,363.0,184.0,40.0,NaN,1.2,0.4,361.0,1.406571,1.444506,1.472035,1.486644,1.410135,1.354521,1.386893,1.419608,0.0,5.548773,1.637268,1.727732,0.0,0.87167,0.0,1.354972,0.010657,0.016135,0.741196,58.002303,2.131872,0.0,7.297936,2.63944,1.911041,0.0,0.920362,0.0,2.043364,0.013391,0.016154,0.821408,62.099423,2.192365,0.0,8.44846,3.451773,2.072325,0.0,0.938634,0.0,2.364947,0.014927,0.017856,0.867682,65.49652,2.279707,0.0,9.056732,3.92574,2.165541,0.0,0.943316,0.0,2.499511,0.01565,0.019093,0.889663,67.346714,2.332415,0.0,174.0,79.8,43.0,0.0,17.0,0.0,47.0,0.31,0.39,17.29,1315.0,42.988298,0.0,11.908745,5.461597,2.942966,0.0,1.163498,0.0,3.21673,0.021217,0.026692,1.183346,2.942165,0.0,Brentford,Brighton,2025-11-22T15:00:00Z,12,1.786116,116.0

In [8]:
# add xMins variable that is needed later
projections['xMins'] = 90

In [9]:
projections[['id', 'expected_points', 'xMins', 'gameweek']]

         id  expected_points  xMins  gameweek
0     116.0         2.208024     90         8
1     116.0         1.833661     90         9
2     116.0         1.766526     90        10
3     116.0         1.951142     90        11
4     116.0         1.786116     90        12
...     ...              ...    ...       ...
4285   67.0         3.668624     90        13
4286   67.0         3.608408     90        14
4287   67.0         3.241699     90        15
4288   67.0         3.138103     90        16
4289   67.0         4.004987     90        17

[4290 rows x 4 columns]

In [10]:
projections_pivot = (
    projections
    .pivot_table(
    columns=['gameweek',],
    index='id', 
    values=['expected_points','xMins'], 
    aggfunc='sum'
    )
)

projections_pivot.head()

         expected_points                                                    \
gameweek              8         9         10        11        12        13
id
1.0             4.139907  3.680263  4.448477  4.244241  4.075679  3.756556
5.0             4.085280  3.678374  4.655987  4.225390  4.181955  3.724440
6.0             3.723396  3.248418  4.094352  3.866703  3.746752  3.269886
7.0             3.826649  3.534457  4.329240  3.987879  3.983864  3.496220
8.0             4.429626  4.183199  5.316190  4.619428  4.711340  4.222288

                                                 xMins                      \
gameweek        14        15        16        17    8   9   10  11  12  13
id
1.0       3.942537  4.062003  4.245536  4.030983    90  90  90  90  90  90
5.0       3.935118  4.023699  4.311216  3.974118    90  90  90  90  90  90
6.0       3.530513  3.617082  3.894722  3.610320    90  90  90  90  90  90
7.0       3.745228  3.726710  4.133750  3.703316    90  90  90  90  90  90
8.0       4.377990  4.328170  4.867300  4.259353    90  90  90  90  90  90


gameweek  14  15  16  17
id
1.0       90  90  90  90
5.0       90  90  90  90
6.0       90  90  90  90
7.0       90  90  90  90
8.0       90  90  90  90

In [11]:
new_cols = []
for col in projections_pivot.columns:
    if col[0] == 'expected_points':
        new_col = str(col[1]) + '_Pts'
        new_cols.append(new_col)
    elif col[0] == 'xMins':
        new_col = str(col[1]) + '_xMins'
        new_cols.append(new_col)

projections_pivot.columns = new_cols
projections_pivot = projections_pivot.reset_index()
projections_pivot = projections_pivot.rename(columns={'id':'ID'})

projections_pivot.head()

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins
0,1.0,4.139907,3.680263,4.448477,4.244241,4.075679,3.756556,3.942537,4.062003,4.245536,4.030983,90,90,90,90,90,90,90,90,90,90
1,5.0,4.085280,3.678374,4.655987,4.225390,4.181955,3.724440,3.935118,4.023699,4.311216,3.974118,90,90,90,90,90,90,90,90,90,90
2,6.0,3.723396,3.248418,4.094352,3.866703,3.746752,3.269886,3.530513,3.617082,3.894722,3.610320,90,90,90,90,90,90,90,90,90,90
3,7.0,3.826649,3.534457,4.329240,3.987879,3.983864,3.496220,3.745228,3.726710,4.133750,3.703316,90,90,90,90,90,90,90,90,90,90
4,8.0,4.429626,4.183199,5.316190,4.619428,4.711340,4.222288,4.377990,4.328170,4.867300,4.259353,90,90,90,90,90,90,90,90,90,90

In [12]:
position_dict = {1:'G', 2:'D', 3:'M', 4:'F'}
df['Pos'] = df['element_type'].map(position_dict)
df.rename(columns={'id':'ID'}, inplace=True)

In [13]:
projections_pivot = pd.merge(projections_pivot, df[['ID', 'Pos']], on='ID', how='left')
projections_pivot.head()

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
0,1.0,4.139907,3.680263,4.448477,4.244241,4.075679,3.756556,3.942537,4.062003,4.245536,4.030983,90,90,90,90,90,90,90,90,90,90,G
1,5.0,4.085280,3.678374,4.655987,4.225390,4.181955,3.724440,3.935118,4.023699,4.311216,3.974118,90,90,90,90,90,90,90,90,90,90,D
2,6.0,3.723396,3.248418,4.094352,3.866703,3.746752,3.269886,3.530513,3.617082,3.894722,3.610320,90,90,90,90,90,90,90,90,90,90,D
3,7.0,3.826649,3.534457,4.329240,3.987879,3.983864,3.496220,3.745228,3.726710,4.133750,3.703316,90,90,90,90,90,90,90,90,90,90,D
4,8.0,4.429626,4.183199,5.316190,4.619428,4.711340,4.222288,4.377990,4.328170,4.867300,4.259353,90,90,90,90,90,90,90,90,90,90,D

In [14]:
filepath = Path('../../../FPL-Optimization-Tools/data/projections.csv')
projections_pivot.to_csv(filepath)

### Option to make manual changes, e.g., to xPts (based on injuries)

### adjust points

If model is underestimating e.g. Haaland currently, test how many points more he would need to be getting in order to be drafed to the team in the optimization.

In [ ]:
projections.loc[projections['name'].str.contains('Wood'), 'id'].unique()
#projections.loc[projections['name'].str.contains('Palme'), 'id'].unique()

In [ ]:
player_id = 477
display(projections.loc[projections.id==player_id, 'name'].unique())
display(projections_pivot[projections_pivot.ID==player_id])

In [ ]:
pts_cols = [col for col in projections_pivot.columns if 'Pts' in col]
projections_pivot.loc[projections_pivot.ID==player_id, pts_cols].sum(axis=1) / 10

In [ ]:
gameweeks = np.arange(latest_gameweek+1,latest_gameweek+11)
add_constant = -0.5

for i in range(len(gameweeks)):
    projections_pivot.loc[projections_pivot.ID==player_id, f'{gameweeks[i]}_Pts'] = \
        projections_pivot.loc[projections_pivot.ID==player_id, f'{gameweeks[i]}_Pts'] + add_constant

display(projections_pivot[projections_pivot.ID==player_id])

### Adjust points for unavailable players or players with uncertain availability

In [15]:
def adjust_points_via_weights(player_id, gameweeks, weights):
    '''Adjust projected player points via gameweek specific weights indicating probability of playing.

    Input:
    player_id (int): Player ID number.
    gameweeks (list): List of gameweek numbers to be adjusted.
    weights (list): Weights for adjusting points for each gameweek given in parameter gameweeks.
    '''
    if len(projections.loc[projections.id==player_id]) > 0:
        player_name = projections.loc[projections.id==player_id, 'name'].unique().item()
        print(f'Name: {player_name}')
        print('Point predictions before adjustment:')
        display(projections_pivot[projections_pivot.ID==player_id])

        # adjust points via probability of playing
        for i in range(len(gameweeks)):
            projections_pivot.loc[projections_pivot.ID==player_id, f'{gameweeks[i]}_Pts'] = \
                weights[i]*projections_pivot.loc[projections_pivot.ID==player_id, f'{gameweeks[i]}_Pts']
            
        print('Point predictions after adjustment:')
        display(projections_pivot[projections_pivot.ID==player_id])
    else:
        print(f'No player with ID {player_id} found in projections!')

### Automatic adjustments

In [16]:
# fetch online data
fpl_online_data = json.loads(requests.get('https://fantasy.premierleague.com/api/bootstrap-static/').text)
fpl_online_df = pd.DataFrame(fpl_online_data['elements'])

In [17]:
# get play probabilities for players with injuries
play_probabilities = []
for _, row in fpl_online_df.iterrows():
    news = row['news']
    news_splitted = news.split('-')
    if len(news_splitted) > 1:
        first_3_chars = news_splitted[1].strip()[0:3]
        if first_3_chars == '25%':
            play_probabilities.append(0.25)
        elif first_3_chars == '50%':
            play_probabilities.append(0.5)
        elif first_3_chars == '75%':
            play_probabilities.append(0.75)
        else:
            play_probabilities.append(1.0)
    else:
        play_probabilities.append(1.0)
fpl_online_df['play_probability'] = play_probabilities

In [18]:
# adjust player points based on play probabilities
# only include players with minutes played (which have existing projections)
prob25_ids = fpl_online_df.loc[(fpl_online_df.play_probability==0.25) & (fpl_online_df.minutes>0), 'id'].values
prob50_ids = fpl_online_df.loc[(fpl_online_df.play_probability==0.5) & (fpl_online_df.minutes>0), 'id'].values
prob75_ids = fpl_online_df.loc[(fpl_online_df.play_probability==0.75) & (fpl_online_df.minutes>0), 'id'].values

for player_id in prob25_ids:
    if latest_gameweek<=35:
        adjust_points_via_weights(player_id=player_id, gameweeks=[latest_gameweek+1, latest_gameweek+2, latest_gameweek+3], weights=[0.25,0.5,0.75])
    elif latest_gameweek==36:
        adjust_points_via_weights(player_id=player_id, gameweeks=[latest_gameweek+1, latest_gameweek+2], weights=[0.25,0.5])
    elif latest_gameweek==37:
        adjust_points_via_weights(player_id=player_id, gameweeks=[latest_gameweek+1], weights=[0.25])
    else:
        print('Check latest_gameweek!')

for player_id in prob50_ids:
    if latest_gameweek<=36:
        adjust_points_via_weights(player_id=player_id, gameweeks=[latest_gameweek+1, latest_gameweek+2], weights=[0.5,0.75])
    elif latest_gameweek==37:
        adjust_points_via_weights(player_id=player_id, gameweeks=[latest_gameweek+1], weights=[0.5])
    else:
        print('Check latest_gameweek!')

for player_id in prob75_ids:
    adjust_points_via_weights(player_id=player_id, gameweeks=[latest_gameweek+1], weights=[0.75])

Name: Tyrone Mings
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
24,40.0,3.098851,2.547825,2.217367,2.906556,3.276264,3.403932,2.53407,2.3398,3.304983,2.835103,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
24,40.0,0.774713,1.273912,1.663025,2.906556,3.276264,3.403932,2.53407,2.3398,3.304983,2.835103,90,90,90,90,90,90,90,90,90,90,D

Name: Lewis Hall
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
269,473.0,2.641434,3.344506,3.32737,2.784489,2.616601,2.994078,3.274437,3.619171,3.264597,2.845575,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
269,473.0,0.660358,1.672253,2.495528,2.784489,2.616601,2.994078,3.274437,3.619171,3.264597,2.845575,90,90,90,90,90,90,90,90,90,90,D

Name: Oleksandr Zinchenko
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
7,12.0,2.514545,2.531021,2.565667,2.992774,2.170342,2.516621,2.956958,2.656316,2.930343,2.847314,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
7,12.0,0.628636,1.265511,1.924251,2.992774,2.170342,2.516621,2.956958,2.656316,2.930343,2.847314,90,90,90,90,90,90,90,90,90,90,D

Name: Matt Doherty
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
356,632.0,2.040137,2.30985,1.934485,1.713197,1.831018,1.921806,2.064649,1.885834,1.643827,1.887134,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
356,632.0,0.510034,1.154925,1.450864,1.713197,1.831018,1.921806,2.064649,1.885834,1.643827,1.887134,90,90,90,90,90,90,90,90,90,90,D

Name: Martin degaard
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
9,17.0,3.082486,2.757459,3.736887,3.34055,3.083512,2.744544,2.801156,2.975615,3.273885,2.913091,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
9,17.0,1.541243,2.068094,3.736887,3.34055,3.083512,2.744544,2.801156,2.975615,3.273885,2.913091,90,90,90,90,90,90,90,90,90,90,M

Name: Youri Tielemans
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
28,48.0,3.055466,2.721328,2.496787,2.901601,3.287352,3.476354,2.678418,2.653937,3.3529,2.980122,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
28,48.0,1.527733,2.040996,2.496787,2.901601,3.287352,3.476354,2.678418,2.653937,3.3529,2.980122,90,90,90,90,90,90,90,90,90,90,M

Name: Adam Smith
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
39,73.0,2.083017,2.741911,1.995204,2.414077,2.838054,2.698121,2.469823,2.346944,2.249711,3.028269,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
39,73.0,1.041508,2.056433,1.995204,2.414077,2.838054,2.698121,2.469823,2.346944,2.249711,3.028269,90,90,90,90,90,90,90,90,90,90,D

Name: Tosin Adarabioyo
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
124,232.0,2.952224,3.210056,2.816189,3.25895,3.335452,2.234871,3.060266,2.470908,2.854126,2.336495,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
124,232.0,1.476112,2.407542,2.816189,3.25895,3.335452,2.234871,3.060266,2.470908,2.854126,2.336495,90,90,90,90,90,90,90,90,90,90,D

Name: Cole Palmer
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
126,235.0,4.646585,4.705525,4.639667,4.828168,5.308053,3.925278,4.805786,4.003798,4.457531,3.88123,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
126,235.0,2.323292,3.529144,4.639667,4.828168,5.308053,3.925278,4.805786,4.003798,4.457531,3.88123,90,90,90,90,90,90,90,90,90,90,M

Name: Andrey Nascimento dos Santos
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
135,246.0,2.026072,2.194269,2.054876,2.156624,2.273999,1.739045,2.049709,1.879039,1.99408,1.789969,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
135,246.0,1.013036,1.645702,2.054876,2.156624,2.273999,1.739045,2.049709,1.879039,1.99408,1.789969,90,90,90,90,90,90,90,90,90,90,M

Name: Rayan At-Nouri
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
226,402.0,3.6086,3.456581,3.398369,2.883373,2.899517,3.827151,3.561915,3.840125,2.943619,3.885027,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
226,402.0,1.8043,2.592436,3.398369,2.883373,2.899517,3.827151,3.561915,3.840125,2.943619,3.885027,90,90,90,90,90,90,90,90,90,90,D

Name: Abdukodir Khusanov
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
229,406.0,2.571537,2.471085,2.480076,2.23598,2.252466,2.756211,2.580394,2.821689,2.200543,2.80419,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
229,406.0,1.285769,1.853314,2.480076,2.23598,2.252466,2.756211,2.580394,2.821689,2.200543,2.80419,90,90,90,90,90,90,90,90,90,90,D

Name: Omar Marmoush
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
235,413.0,3.910961,3.743984,3.729059,3.495203,3.254534,4.376304,3.790994,4.212202,3.471722,4.43471,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
235,413.0,1.955481,2.807988,3.729059,3.495203,3.254534,4.376304,3.790994,4.212202,3.471722,4.43471,90,90,90,90,90,90,90,90,90,90,M

Name: Noussair Mazraoui
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
250,438.0,2.026326,2.481609,2.791043,2.643029,2.678166,2.237512,2.986789,2.859442,2.556326,2.581607,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
250,438.0,1.013163,1.861206,2.791043,2.643029,2.678166,2.237512,2.986789,2.859442,2.556326,2.581607,90,90,90,90,90,90,90,90,90,90,D

Name: Douglas Luiz Soares de Paulo
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
402,699.0,2.456994,2.373503,2.520976,2.817557,2.107789,2.453516,2.780467,2.462029,2.681641,2.642606,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
402,699.0,1.228497,1.780127,2.520976,2.817557,2.107789,2.453516,2.780467,2.462029,2.681641,2.642606,90,90,90,90,90,90,90,90,90,90,M

Name: Niclas Fllkrug
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
351,625.0,2.577564,2.75843,2.47873,3.285856,2.388063,2.436823,2.44465,2.369008,2.738247,2.25297,90,90,90,90,90,90,90,90,90,90,F

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
351,625.0,1.288782,2.068822,2.47873,3.285856,2.388063,2.436823,2.44465,2.369008,2.738247,2.25297,90,90,90,90,90,90,90,90,90,90,F

Name: Ollie Watkins
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
36,64.0,4.741965,4.203293,4.310453,4.122532,4.700034,4.524345,4.432491,4.007585,4.840016,4.568079,90,90,90,90,90,90,90,90,90,90,F

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
36,64.0,3.556474,4.203293,4.310453,4.122532,4.700034,4.524345,4.432491,4.007585,4.840016,4.568079,90,90,90,90,90,90,90,90,90,90,F

Name: Jadon Sancho
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
262,456.0,1.979695,1.789458,1.658386,1.914711,1.968226,2.076092,1.791537,1.681165,2.03542,1.906886,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
262,456.0,1.484771,1.789458,1.658386,1.914711,1.968226,2.076092,1.791537,1.681165,2.03542,1.906886,90,90,90,90,90,90,90,90,90,90,M

Name: Jaidon Anthony
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
107,200.0,3.710165,3.632697,2.924436,3.640603,3.379732,3.109186,3.225639,2.945035,3.553936,3.061614,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
107,200.0,2.782624,3.632697,2.924436,3.640603,3.379732,3.109186,3.225639,2.945035,3.553936,3.061614,90,90,90,90,90,90,90,90,90,90,M

Name: Lyle Foster
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
115,217.0,2.9628,2.866917,2.210735,2.823651,2.522153,2.376814,2.45672,2.304695,2.836667,2.361208,90,90,90,90,90,90,90,90,90,90,F

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
115,217.0,2.2221,2.866917,2.210735,2.823651,2.522153,2.376814,2.45672,2.304695,2.836667,2.361208,90,90,90,90,90,90,90,90,90,90,F

Name: Aaron Hickey
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
64,116.0,2.208024,1.833661,1.766526,1.951142,1.786116,2.498427,1.730151,2.08154,2.282098,2.203246,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
64,116.0,1.656018,1.833661,1.766526,1.951142,1.786116,2.498427,1.730151,2.08154,2.282098,2.203246,90,90,90,90,90,90,90,90,90,90,D

Name: Jol Veltman
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
83,152.0,2.095528,2.049983,2.497785,1.937384,2.161186,2.408101,2.390917,2.617907,1.760219,2.639635,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
83,152.0,1.571646,2.049983,2.497785,1.937384,2.161186,2.408101,2.390917,2.617907,1.760219,2.639635,90,90,90,90,90,90,90,90,90,90,D

Name: Mitoma Kaoru
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
84,157.0,3.117902,3.202319,3.850339,2.968028,3.351778,3.550593,3.492282,3.903285,2.73739,3.781107,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
84,157.0,2.338426,3.202319,3.850339,2.968028,3.351778,3.550593,3.492282,3.903285,2.73739,3.781107,90,90,90,90,90,90,90,90,90,90,M

Name: Brajan Gruda
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
87,162.0,2.580494,2.536655,2.975269,2.418375,2.617194,2.881367,2.747605,3.042732,2.266641,3.028169,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
87,162.0,1.93537,2.536655,2.975269,2.418375,2.617194,2.881367,2.747605,3.042732,2.266641,3.028169,90,90,90,90,90,90,90,90,90,90,M

Name: Diego Gmez Amarilla
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
93,169.0,1.991391,1.938383,2.227877,1.907494,2.057047,2.094627,2.146706,2.2599,1.78193,2.226366,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
93,169.0,1.493544,1.938383,2.227877,1.907494,2.057047,2.094627,2.146706,2.2599,1.78193,2.226366,90,90,90,90,90,90,90,90,90,90,M

Name: Reece James
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
119,225.0,3.011852,3.204995,2.882765,3.278362,3.434676,2.446629,3.123315,2.613659,2.910435,2.539498,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
119,225.0,2.258889,3.204995,2.882765,3.278362,3.434676,2.446629,3.123315,2.613659,2.910435,2.539498,90,90,90,90,90,90,90,90,90,90,D

Name: Wesley Fofana
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
123,230.0,2.348289,2.577475,2.293751,2.573113,2.668977,1.893639,2.375659,2.029431,2.25416,1.949284,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
123,230.0,1.761217,2.577475,2.293751,2.573113,2.668977,1.893639,2.375659,2.029431,2.25416,1.949284,90,90,90,90,90,90,90,90,90,90,D

Name: Enzo Fernndez
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
128,237.0,4.744192,4.871748,4.674777,4.886086,5.405239,3.974385,4.753372,4.087442,4.366077,3.928301,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
128,237.0,3.558144,4.871748,4.674777,4.886086,5.405239,3.974385,4.753372,4.087442,4.366077,3.928301,90,90,90,90,90,90,90,90,90,90,M

Name: Michael Keane
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
162,295.0,2.418017,3.355654,3.280081,3.369214,2.735905,2.788591,2.827087,3.406527,2.676541,2.501032,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
162,295.0,1.813513,3.355654,3.280081,3.369214,2.735905,2.788591,2.827087,3.406527,2.676541,2.501032,90,90,90,90,90,90,90,90,90,90,D

Name: Saa Luki
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
187,332.0,2.275281,2.364351,2.936653,2.47191,2.86944,2.60484,2.383241,2.463939,3.117301,2.828893,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
187,332.0,1.70646,2.364351,2.936653,2.47191,2.86944,2.60484,2.383241,2.463939,3.117301,2.828893,90,90,90,90,90,90,90,90,90,90,M

Name: Ral Jimnez Rodrguez
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
189,337.0,2.006508,2.065031,2.450058,2.198723,2.451763,2.342568,2.14435,2.231167,2.635466,2.403846,90,90,90,90,90,90,90,90,90,90,F

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
189,337.0,1.504881,2.065031,2.450058,2.198723,2.451763,2.342568,2.14435,2.231167,2.635466,2.403846,90,90,90,90,90,90,90,90,90,90,F

Name: Wilfried Gnonto
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
198,351.0,2.038538,1.916221,1.707298,1.813279,1.848873,1.619699,1.762765,1.667478,1.74227,1.762232,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
198,351.0,1.528904,1.916221,1.707298,1.813279,1.848873,1.619699,1.762765,1.667478,1.74227,1.762232,90,90,90,90,90,90,90,90,90,90,M

Name: Lucas Estella Perri
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
376,665.0,3.32113,3.281809,2.561414,3.067955,3.027992,2.308358,2.735132,2.467238,2.714929,2.661844,90,90,90,90,90,90,90,90,90,90,G

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
376,665.0,2.490847,3.281809,2.561414,3.067955,3.027992,2.308358,2.735132,2.467238,2.714929,2.661844,90,90,90,90,90,90,90,90,90,90,G

Name: Ibrahima Konat
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
212,374.0,3.137288,3.088828,3.474939,2.5742,3.630492,3.595223,3.701514,3.556643,3.079568,3.386361,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
212,374.0,2.352966,3.088828,3.474939,2.5742,3.630492,3.595223,3.701514,3.556643,3.079568,3.386361,90,90,90,90,90,90,90,90,90,90,D

Name: Endo Wataru
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
225,392.0,1.757209,1.708174,1.834073,1.599941,1.86207,1.813752,1.919704,1.748071,1.740249,1.783062,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
225,392.0,1.317907,1.708174,1.834073,1.599941,1.86207,1.813752,1.919704,1.748071,1.740249,1.783062,90,90,90,90,90,90,90,90,90,90,M

Name: Rodrigo 'Rodri' Hernandez Cascante
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
242,421.0,2.560681,2.468935,2.425052,2.216186,2.213384,2.773986,2.584588,2.821687,2.195058,2.825646,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
242,421.0,1.920511,2.468935,2.425052,2.216186,2.213384,2.773986,2.584588,2.821687,2.195058,2.825646,90,90,90,90,90,90,90,90,90,90,M

Name: Ayden Heaven
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
256,447.0,1.558582,1.902065,2.102644,2.052627,2.081827,1.72775,2.327797,2.224048,1.955002,2.007779,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
256,447.0,1.168937,1.902065,2.102644,2.052627,2.081827,1.72775,2.327797,2.224048,1.955002,2.007779,90,90,90,90,90,90,90,90,90,90,D

Name: Lewis Miley
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
285,497.0,1.757007,2.031797,2.023859,1.822136,1.78891,1.868989,2.080696,2.251404,2.028245,1.884121,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
285,497.0,1.317755,2.031797,2.023859,1.822136,1.78891,1.868989,2.080696,2.251404,2.028245,1.884121,90,90,90,90,90,90,90,90,90,90,M

Name: Chris Wood
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
302,525.0,4.267334,3.918985,4.342339,4.58854,3.819235,4.272383,4.357158,3.971134,4.582493,4.094569,90,90,90,90,90,90,90,90,90,90,F

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
302,525.0,3.2005,3.918985,4.342339,4.58854,3.819235,4.272383,4.357158,3.971134,4.582493,4.094569,90,90,90,90,90,90,90,90,90,90,F

Name: Noah Sadiki
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
314,552.0,2.375587,2.009191,2.195616,1.870127,2.20518,2.143082,1.85795,1.895206,2.086309,2.004875,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
314,552.0,1.78169,2.009191,2.195616,1.870127,2.20518,2.143082,1.85795,1.895206,2.086309,2.004875,90,90,90,90,90,90,90,90,90,90,M

Name: Omar Alderete
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
391,683.0,3.672954,2.865166,3.378207,2.605203,3.386436,3.195167,2.472713,2.54586,2.877798,2.871655,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
391,683.0,2.754715,2.865166,3.378207,2.605203,3.386436,3.195167,2.472713,2.54586,2.877798,2.871655,90,90,90,90,90,90,90,90,90,90,D

Name: Toti Gomes
Point predictions before adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
361,637.0,2.060432,2.362356,1.969336,1.737914,1.842708,1.947553,2.078891,1.889309,1.671469,1.9147,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
361,637.0,1.545324,2.362356,1.969336,1.737914,1.842708,1.947553,2.078891,1.889309,1.671469,1.9147,90,90,90,90,90,90,90,90,90,90,D

Add low baseline predictions for players who don't have any projections yet.

In [19]:
fpl_ids = set(fpl_online_df.id.unique())
projection_ids = set(projections_pivot.ID.unique())
missing_ids = fpl_ids - projection_ids
len(missing_ids)

314

In [20]:
cols = ['ID']
cols += [f'{x}_Pts' for x in range(latest_gameweek+1, latest_gameweek+11)]
cols += [f'{x}_xMins' for x in range(latest_gameweek+1, latest_gameweek+11)]
cols += ['Pos']

new_rows = []
for id in missing_ids:
    new_row = pd.Series(index=cols)
    new_row['ID'] = id
    new_row['Pos'] = fpl_online_df.loc[fpl_online_df.id==id, 'element_type'].values[0]
    for col in cols:
        if '_Pts' in col:
            new_row[col] = 0.5
        elif '_xMins' in col:
            new_row[col] = 90.0
    new_rows.append(new_row)

new_rows = pd.DataFrame(new_rows)
new_rows['Pos'] = new_rows['Pos'].map(position_dict)
projections_pivot = pd.concat([projections_pivot, new_rows], ignore_index=True)

display(projections_pivot)

,ID,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,15_xMins,16_xMins,17_xMins,Pos
0,1.0,4.139907,3.680263,4.448477,4.244241,4.075679,3.756556,3.942537,4.062003,4.245536,4.030983,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,G
1,5.0,4.085280,3.678374,4.655987,4.225390,4.181955,3.724440,3.935118,4.023699,4.311216,3.974118,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,D
2,6.0,3.723396,3.248418,4.094352,3.866703,3.746752,3.269886,3.530513,3.617082,3.894722,3.610320,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,D
3,7.0,3.826649,3.534457,4.329240,3.987879,3.983864,3.496220,3.745228,3.726710,4.133750,3.703316,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,D
4,8.0,4.429626,4.183199,5.316190,4.619428,4.711340,4.222288,4.377990,4.328170,4.867300,4.259353,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
738,739.0,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,M
739,740.0,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,D
740,741.0,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,F
741,742.0,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,M
742,743.0,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,M

In [21]:
filepath = Path('../../../FPL-Optimization-Tools/data/projections.csv')
projections_pivot.to_csv(filepath)

### Manual adjustments

In [ ]:
# Check player_id
projections.loc[projections['name'].str.contains('Reini'), 'id'].unique()

In [ ]:
player_id = 267
display(projections.loc[projections.id==player_id, 'name'].unique())
display(projections.loc[projections.id==player_id, ['gameweek', 'expected_points']])

In [ ]:
adjust_points_via_weights(player_id=661, gameweeks=[6], weights=[0])

In [ ]:
adjust_points_via_weights(player_id=541, gameweeks=[6,7,8], weights=[0,0,0])

In [ ]:
adjust_points_via_weights(player_id=129, gameweeks=[34,35,36], weights=[0,0,0])

In [ ]:
adjust_points_via_weights(player_id=521, gameweeks=[34,35,36,37,38], weights=[0,0,0,0,0])

In [ ]:
adjust_points_via_weights(player_id=477, gameweeks=[34,35,36,37,38], weights=[0.25,0.25,0.25,0.25,0.25])

In [ ]:
adjust_points_via_weights(player_id=554, gameweeks=[34, 35], weights=[0.5, 0.75])

In [ ]:
adjust_points_via_weights(player_id=473, gameweeks=[31,32,33,34,35,36], weights=[0.25,0.25,0.25,0.25,0.25,0.25])

In [ ]:
adjust_points_via_weights(player_id=398, gameweeks=[30,31], weights=[0.5,0.75])

In [ ]:
adjust_points_via_weights(player_id=447, gameweeks=[32], weights=[0.75])

In [ ]:
adjust_points_via_weights(player_id=541, gameweeks=[30,31], weights=[0,0])

In [ ]:
projections.shape

In [ ]:
projections.head()

In [ ]:
# drop cheap goalkeepers
projections = projections[~((projections.now_cost<42) & (projections.element_type==1))].copy()

In [ ]:
filepath = Path('../../../FPL-Optimization-Tools/data/projections.csv')
projections_pivot.to_csv(filepath)

# Other stuff

In [ ]:
# check ids
projections.loc[projections['name'].str.contains('Ekiti'), ['id','name']]

In [ ]:
projections.loc[projections.id==252, ['name','team_name']]

In [ ]:
fpl_online_df.loc[fpl_online_df.id==252, ['id','web_name','team']]

In [24]:
# locked
projections.loc[projections.id.isin([257, 82]), ['id','name']].groupby('id').first()

                  name
id
82.0   Antoine Semenyo
257.0  Maxence Lacroix

In [25]:
# banned players from solver 
projections.loc[projections.id.isin([119, 8]), ['id','name']].groupby('id').first()

                 name
id
8.0    Jurrin Timber
119.0    Bryan Mbeumo

In [ ]:
projections[projections.id==498]

In [ ]:
projections_pivot.columns