This notebook is used to create a csv file that includes my point projections in a format similar to fplreview.com. This csv file can then be used for making advanced team optimization plans using Sertalp B. Cay's repo "fpl-optimization".

In [1]:
latest_gameweek = 0

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
import json
import requests

pd.set_option('display.max_columns', None)

# Save team data
Info on your own team; starting point for the optimization.

In [3]:
# get login credentials for fetching team data
file_path = Path('../../login_credentials/fpl_login.json')
#file_path = Path('../../login_credentials/fpl_login2.json')
login_credentials = pd.read_json(file_path, typ='series')

In [4]:
# utility function for fetching team data
from src.utils import fetch_my_team

In [5]:
# fetch my team data
my_team = fetch_my_team(login_credentials.user_name, login_credentials.password, login_credentials.team_id)
# drop assistant manager if exists
my_team['picks'] = [item for item in my_team['picks'] if item.get('position') != 16]
my_team

KeyError: 'picks'

In [ ]:
my_team

In [ ]:
# save team data to fpl-optimization repo
file_path = Path('../../../fpl-optimization/data/team.json')
with open(file_path, 'w') as f:
    json.dump(my_team, f)

# Edit projections into fplreview format 
### (to be used with fpl-optimization repo solver)

In [6]:
filepath = Path(f'../data/predictions/gameweek{latest_gameweek}.csv')
projections = pd.read_csv(filepath, index_col=0)
if 'id' in projections.columns:
    projections = projections.drop('id', axis=1)
display(projections.head())
display(projections.shape)

,index,first_name,second_name,assists,bonus,bps,clean_sheets,corners_and_indirect_freekicks_order,creativity,creativity_rank,creativity_rank_type,direct_freekicks_order,dreamteam_count,element_type,event_points,goals_conceded,goals_scored,ict_index,ict_index_rank,ict_index_rank_type,influence,influence_rank,influence_rank_type,minutes,now_cost,own_goals,penalties_missed,penalties_order,penalties_saved,points_per_game,red_cards,saves,selected_by_percent,threat,threat_rank,threat_rank_type,total_points,web_name,yellow_cards,team_name,gameweek,season,gameweek_xG,gameweek_xA,gameweek_xGA,gameweek_minutes,team_xG,team_xGA,team_xG_ewm_5,team_xG_ewm_10,team_xG_ewm_20,team_xG_ewm_40,team_xGA_ewm_5,team_xGA_ewm_10,team_xGA_ewm_20,team_xGA_ewm_40,opponent_xG,opponent_xGA,opponent_xG_ewm_5,opponent_xG_ewm_10,opponent_xG_ewm_20,opponent_xG_ewm_40,opponent_xGA_ewm_5,opponent_xGA_ewm_10,opponent_xGA_ewm_20,opponent_xGA_ewm_40,home,gameweek_assists,gameweek_bps,gameweek_creativity,gameweek_goals_scored,gameweek_goals_conceded,gameweek_own_goals,gameweek_penalties_saved,gameweek_red_cards,gameweek_saves,gameweek_threat,gameweek_yellow_cards,gameweek_xPoints,gameweek_assists_ewm_5,gameweek_bps_ewm_5,gameweek_creativity_ewm_5,event_points_ewm_5,gameweek_goals_scored_ewm_5,gameweek_goals_conceded_ewm_5,gameweek_saves_ewm_5,gameweek_threat_ewm_5,gameweek_xG_ewm_5,gameweek_xA_ewm_5,gameweek_xGA_ewm_5,gameweek_minutes_ewm_5,gameweek_xPoints_ewm_5,gameweek_assists_ewm_10,gameweek_bps_ewm_10,gameweek_creativity_ewm_10,event_points_ewm_10,gameweek_goals_scored_ewm_10,gameweek_goals_conceded_ewm_10,gameweek_saves_ewm_10,gameweek_threat_ewm_10,gameweek_xG_ewm_10,gameweek_xA_ewm_10,gameweek_xGA_ewm_10,gameweek_minutes_ewm_10,gameweek_xPoints_ewm_10,gameweek_assists_ewm_20,gameweek_bps_ewm_20,gameweek_creativity_ewm_20,event_points_ewm_20,gameweek_goals_scored_ewm_20,gameweek_goals_conceded_ewm_20,gameweek_saves_ewm_20,gameweek_threat_ewm_20,gameweek_xG_ewm_20,gameweek_xA_ewm_20,gameweek_xGA_ewm_20,gameweek_minutes_ewm_20,gameweek_xPoints_ewm_20,gameweek_assists_ewm_40,gameweek_bps_ewm_40,gameweek_creativity_ewm_40,event_points_ewm_40,gameweek_goals_scored_ewm_40,gameweek_goals_conceded_ewm_40,gameweek_saves_ewm_40,gameweek_threat_ewm_40,gameweek_xG_ewm_40,gameweek_xA_ewm_40,gameweek_xGA_ewm_40,gameweek_minutes_ewm_40,gameweek_xPoints_ewm_40,gameweek_assists_expanding,gameweek_bps_expanding,gameweek_creativity_expanding,event_points_expanding,gameweek_goals_scored_expanding,gameweek_goals_conceded_expanding,gameweek_saves_expanding,gameweek_threat_expanding,gameweek_xG_expanding,gameweek_xA_expanding,gameweek_xGA_expanding,gameweek_minutes_expanding,gameweek_xPoints_expanding,gameweek_assists_expanding_per90,gameweek_bps_expanding_per90,gameweek_creativity_expanding_per90,event_points_expanding_per90,gameweek_goals_scored_expanding_per90,gameweek_goals_conceded_expanding_per90,gameweek_saves_expanding_per90,gameweek_threat_expanding_per90,gameweek_xG_expanding_per90,gameweek_xA_expanding_per90,gameweek_xGA_expanding_per90,gameweek_minutes_expanding_per90,gameweek_xPoints_expanding_per90,xG_overperformance,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,ep_next,ep_this,form,in_dreamteam,news,news_added,photo,special,squad_number,status,team,team_code,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,starts,expected_goals,expected_assists,expected_goal_involvements,expected_goals_conceded,corners_and_indirect_freekicks_text,direct_freekicks_text,penalties_text,expected_goals_per_90,saves_per_90,expected_assists_per_90,expected_goal_involvements_per_90,expected_goals_conceded_per_90,goals_conceded_per_90,now_cost_rank,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90,name,data_retrieved_datetime,region,can_transact,can_select,removed,team_join_date,has_temporary_code,opta_code,mng_win,mng_draw,mng_loss,mng_underdog_win,mng_underdog_draw,mng_clean_sheets,mng_goals_scored,birth_date,opponent_team,date,expected_points
0,2,Aaron,Hickey,0.0,0.0,87.0,2.0,NaN,28.4,272.0,87.0,NaN,0.0,2,6.0,12.0,0.0,12.9,283.0,96.0,66.6,256.0,105.0,713.0,45.0,0.0,0.0,NaN,0.0,1.9,0.0,0.0,0.3,37.0,208.0,53.0,17.0,Hickey,5.0,Brentford,1,23-24,0.0,0.0,1.11,83.0,2.2,1.9,1.79616,1.729083,1.639545,1.549171,1.24566,1.277443,1.296132,1.303055,1.9,2.2,1.157059,1.142377,1.186244,1.208460,1.433377,1.448771,1.395832,1.388979,0,0.0,21.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2.177344,0.022097,10.648424,3.437094,2.401332,0.0,1.239192,0.0,3.714405,0.021284,0.009742,1.134418,79.664337,2.522949,0.042798,12.661399,5.009612,2.462377,0.0,1.346592,0.0,3.950627,0.022886,0.015002,1.105284,78.540746,2.692755,0.053471,14.21823,6.04618,2.547907,0.0,1.436394,0.0,4.057473,0.023955,0.017464,1.089753,77.87246,2.795391,0.058269,15.110488,6.6018,2.596929,0.0,1.494652,0.0,4.118243,0.024591,0.018517,1.083105,77.524527,2.849552,1.0,257.0,114.7,45.0,0.0,25.0,0.0,67.0,0.43,0.33,18.32,1312.0,46.476021,0.068598,17.629573,7.86814,3.08689,0.0,1.714939,0.0,4.596037,0.029497,0.022637,1.256707,90.0,3.188142,0.0,100.0,100.0,472713.0,0.0,0.0,0.0,0.0,2.0,2.0,2.0,False,Knock - 75% chance of playing,2023-10-07T19:30:08.561839Z,472713.jpg,False,NaN,a,5,94.0,22604.0,1352.0,28337.0,601.0,0.4,3.8,9.0,0.2,0.13,0.33,10.2,NaN,NaN,NaN,0.03,0.0,0.02,0.05,1.29,1.51,426.0,87.0,150.0,50.0,249.0,87.0,280.0,109.0,1.14,0.25,Aaron Hickey,2023-11-03 21:12:18.635816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nottingham Forest,2025-08-17T13:00:00Z,2.379389
1,2,Aaron,Hickey,0.0,0.0,87.0,2.0,NaN,28.4,272.0,87.0,NaN,0.0,2,6.0,12.0,0.0,12.9,283.0,96.0,66.6,256.0,105.0,713.0,45.0,0.0,0.0,NaN,0.0,1.9,0.0,0.0,0.3,37.0,208.0,53.0,17.0,Hickey,5.0,Brentford,2,23-24,0.0,0.0,1.11,83.0,2.2,1.9,1.79616,1.729083,1.639545,1.549171,1.24566,1.277443,1.296132,1.303055,1.9,2.2,1.313579,1.425934,1.465312,1.479373,1.384932,1.372106,1.396431,1.412526,1,0.0,21.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2.177344,0.022097,10.648424,3.437094,2.401332,0.0,1.239192,0.0,3.714405,0.021284,0.009742,1.134418,79.664337,2.522949,0.042798,12.661399,5.009612,2.462377,0.0,1.346592,0.0,3.950627,0.022886,0.015002,1.105284,78.540746,2.692755,0.053471,14.21823,6.04618,2.547907,0.0,1.436394,0.0,4.057473,0.023955,0.017464,1.089753,77.87246,2.795391,0.058269,15.110488,6.6018,2.596929,0.0,1.494652,0.0,4.118243,0.024591,0.018517,1.083105,77.524527,2.849552,1.0,257.0,114.7,45.0,0.0,25.0,0.0,67.0,0.43,0.33,18.32,1312.0,46.476021,0.068598,17.629573,7.86814,3.08689,0.0,1.714939,0.0,4.596037,0.029497,0.022637,1.256707,90.0,3.188142,0.0,100.0,100.0,472713.0,0.0,0.0,0.0,0.0,2.0,2.0,2.0,False,Knock - 75% chance of playing,2023-10-07T19:30:08.561839Z,472713.jpg,False,NaN,a,5,94.0,22604.0,1352.0,28337.0,601.0,0.4,3.8,9.0,0.2,0.13,0.33,10.2,NaN,NaN,NaN,0.03,0.0,0.02,0.05,1.29,1.51,426.0,87.0,150.0,50.0,249.0,87.0,280.0,109.0,1.14,0.25,Aaron Hickey,2023-11-03 21:12:18.635816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aston Villa,2025-08-23T14:00:00Z,2.280249
2,2,Aaron,Hickey,0.0,0.0,87.0,2.0,NaN,28.4,272.0,87.0,NaN,0.0,2,6.0,12.0,0.0,12.9,283.0,96.0,66.6,256.0,105.0,713.0,45.0,0.0,0.0,NaN,0.0,1.9,0.0,0.0,0.3,37.0,208.0,53.0,17.0,Hickey,5.0,Brentford,3,23-24,0.0,0.0,1.11,83.0,2.2,1.9,1.79616,1.729083,1.639545,1.549171,1.24566,1.277443,1.296132,1.303055,1.9,2.2,1.000000,1.000000,1.000000,1.000000,1.800000,1.800000,1.800000,1.800000,0,0.0,21.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2.177344,0.022097,10.648424,3.437094,2.401332,0.0,1.239192,0.0,3.714405,0.021284,0.009742,1.134418,79.664337,2.522949,0.042798,12.661399,5.009612,2.462377,0.0,1.346592,0.0,3.950627,0.022886,0.015002,1.105284,78.540746,2.692755,0.053471,14.21823,6.04618,2.547907,0.0,1.436394,0.0,4.057473,0.023955,0.017464,1.089753,77.87246,2.795391,0.058269,15.110488,6.6018,2.596929,0.0,1.494652,0.0,4.118243,0.024591,0.018517,1.083105,77.524527,2.849552,1.0,257.0,114.7,45.0,0.0,25.0,0.0,67.0,0.43,0.33,18.32,1312.0,46.476021,0.068598,17.629573,7.86814,3.08689,0.0,1.714939,0.0,4.596037,0.029497,0.022637,1.256707,90.0,3.188142,0.0,100.0,100.0,472713.0,0.0,0.0,0.0,0.0,2.0,2.0,2.0,False,Knock - 75% chance of playing,2023-10-07T19:30:08.561839Z,472713.jpg,False,NaN,a,5,94.0,22604.0,1352.0,28337.0,601.0,0.4,3.8,9.0,0.2,0.13,0.33,10.2,NaN,NaN,NaN,0.03,0.0,0.02,0.05,1.29,1.51,426.0,87.0,150.0,50.0,249.0,87.0,280.0,109.0,1.14,0.25,Aaron Hickey,2023-11-03 21:12:18.635816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sunderland,2025-08-30T14:00:00Z,2.826401
3,2,Aaron,Hickey,0.0,0.0,87.0,2.0,NaN,28.4,272.0,87.0,NaN,0.0,2,6.0,12.0,0.0,12.9,283.0,96.0,66.6,256.0,105.0,713.0,45.0,0.0,0.0,NaN,0.0,1.9,0.0,0.0,0.3,37.0,208.0,53.0,17.0,Hickey,5.0,Brentford,4,23-24,0.0,0.0,1.11,83.0,2.2,1.9,1.79616,1.729083,1.639545,1.549171,1.24566,1.277443,1.296132,1.303055,1.9,2.2,1.293087,1.482557,1.664578,1.739111,0.924578,1.031030,1.191148,1.288395,1,0.0,21.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2.177344,0.022097,10.648424,3.437094,2.401332,0.0,1.239192,0.0,3.714405,0.021284,0.009742,1.134418,79.664337,2.522949,0.042798,12.661399,5.009612,2.462377,0.0,1.346592,0.0,3.950627,0.022886,0.015002,1.105284,78.540746,2.692755,0.053471,14.21823,6.04618,2.547907,0.0,1.436394,0.0,4.057473,0.023955,0.017464,1.089753,77.87246,2.795391,0.058269,15.110488,6.6018,2.596929,0.0,1.494652,0.0,4.118243,0.024591,0.018517,1.083105,77.524527,2.849552,1.0,257.0,114.7,45.0,0.0,25.0,0.0,67.0,0.43,0.33,18.32,1312.0,46.476021,0.068598,17.629573,7.86814,3.08689,0.0,1.714939,0.0,4.596037,0.029497,0.022637,1.256707,90.0,3.188142,0.0,100.0,100.0,472713.0,0.0,0.0,0.0,0.0,2.0,2.0,2.0,False,Knock - 75% chance of playing,2023-10-07T19:30:08.561839Z,472713.jpg,False,NaN,a,5,94.0,22604.0,1352.0,28337.0,601.0,0.4,3.8,9.0,0.2,0.13,0.33,10.2,NaN,NaN,NaN,0.03,0.0,0.02,0.05,1.29,1.51,426.0,87.0,150.0,50.0,249.0,87.0,280.0,109.0,1.14,0.25,Aaron Hickey,2023-11-03 21:12:18.635816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Chelsea,2025-09-13T19:00:00Z,2.210212
4,2,Aaron,Hickey,0.0,0.0,87.0,2.0,NaN,28.4,272.0,87.0,NaN,0.0,2,6.0,12.0,0.0,12.9,283.0,96.0,66.6,256.0,105.0,713.0,45.0,0.0,0.0,NaN,0.0,1.9,0.0,0.0,0.3,37.0,208.0,53.0,17.0,Hickey,5.0,Brentford,5,23-24,0.0,0.0,1.11,83.0,2.2,1.9,1.79616,1.729083,1.639545,1.549171,1.24566,1.277443,1.296132,1.303055,1.9,2.2,1.110795,1.160844,1.235096,1.268223,1.704515,1.449741,1.367156,1.402523,0,0.0,21.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2.177344,0.022097,10.648424,3.437094,2.401332,0.0,1.239192,0.0,3.714405,0.021284,0.009742,1.134418,79.664337,2.522949,0.042798,12.661399,5.009612,2.462377,0.0,1.346592,0.0,3.950627,0.022886,0.015002,1.105284,78.540746,2.692755,0.053471,14.21823,6.04618,2.547907,0.0,1.436394,0.0,4.057473,0.023955,0.017464,1.089753,77.87246,2.795391,0.058269,15.110488,6.6018,2.596929,0.0,1.494652,0.0,4.118243,0.024591,0.018517,1.083105,77.524527,2.849552,1.0,257.0,114.7,45.0,0.0,25.0,0.0,67.0,0.43,0.33,18.32,1312.0,46.476021,0.068598,17.629573,7.86814,3.08689,0.0,1.714939,0.0,4.596037,0.029497,0.022637,1.256707,90.0,3.188142,0.0,100.0,100.0,472713.0,0.0,0.0,0.0,0.0,2.0,2.0,2.0,False,Knock - 75% chance of playing,2023-10-07T19:30:08.561839Z,472713.jpg,False,NaN,a,5,94.0,22604.0,1352.0,28337.0,601.0,0.4,3.8,9.0,0.2,0.13,0.33,10.2,NaN,NaN,NaN,0.03,0.0,0.02,0.05,1.29,1.51,426.0,87.0,150.0,50.0,249.0,87.0,280.0,109.0,1.14,0.25,Aaron Hickey,2023-11-03 21:12:18.635816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fulham,2025-09-20T19:00:00Z,2.318986

(4380, 227)

In [7]:
if latest_gameweek>0:
    filepath = Path('../data/fpl_df.csv')
elif latest_gameweek==0:
    filepath = Path('../data/fpl_df_preseason_online.csv')
else:
    print('Check latest_gameweek!')

fpl_df = pd.read_csv(filepath, index_col=0, low_memory=False)
fpl_df = fpl_df[fpl_df.season=='25-26']
display(fpl_df.head())
display(fpl_df.shape)

,can_transact,can_select,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,ep_this,event_points,first_name,form,id,in_dreamteam,news,news_added,now_cost,photo,points_per_game,removed,second_name,selected_by_percent,special,squad_number,status,team,team_code,total_points,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,web_name,region,team_join_date,birth_date,has_temporary_code,opta_code,minutes,goals_scored,assists,clean_sheets,goals_conceded,own_goals,penalties_saved,penalties_missed,yellow_cards,red_cards,saves,bonus,bps,influence,creativity,threat,ict_index,clearances_blocks_interceptions,recoveries,tackles,defensive_contribution,starts,expected_goals,expected_assists,expected_goal_involvements,expected_goals_conceded,influence_rank,influence_rank_type,creativity_rank,creativity_rank_type,threat_rank,threat_rank_type,ict_index_rank,ict_index_rank_type,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text,expected_goals_per_90,saves_per_90,expected_assists_per_90,expected_goal_involvements_per_90,expected_goals_conceded_per_90,goals_conceded_per_90,now_cost_rank,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90,defensive_contribution_per_90,team_name,name,season
0,True,True,NaN,NaN,154561,0,0,0,0,0,1,4.5,NaN,0,David,0.0,1,False,NaN,NaN,55,154561.jpg,3.7,False,Raya Martín,17.7,False,NaN,a,1,3,142,0,0,0,0,0.0,25.8,Raya,200.0,2024-07-04,1995-09-15,False,p154561,3420,0,0,13,34,0,0,0,3,0,86,10,555,755.4,10.7,0.0,76.7,0,0,0,0,38,0.00,0.03,0.03,35.03,37,8,342,11,640,79,178,8,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2.26,0.00,0.00,0.92,0.89,129,4,481,79,68,11,22,4,1.00,0.34,0.00,Arsenal,David Raya Martín,25-26
1,True,True,NaN,NaN,109745,0,0,0,0,0,1,2.8,NaN,0,Kepa,0.0,2,False,NaN,NaN,45,109745.jpg,3.4,False,Arrizabalaga Revuelta,1.0,False,NaN,a,1,3,106,0,0,0,0,0.0,23.6,Arrizabalaga,200.0,2025-07-01,1994-10-03,False,p109745,2790,0,0,8,39,0,0,0,3,0,97,7,406,744.4,10.4,4.0,75.8,0,0,0,0,31,0.06,0.03,0.09,38.83,38,9,344,12,333,1,183,9,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3.13,0.00,0.00,1.25,1.26,372,22,144,51,94,16,198,28,1.00,0.26,0.00,Arsenal,Kepa Arrizabalaga Revuelta,25-26
2,True,True,NaN,NaN,463748,0,0,0,0,0,1,1.5,NaN,0,Karl,0.0,3,False,NaN,NaN,40,463748.jpg,0.0,False,Hein,0.6,False,NaN,a,1,3,0,0,0,0,0,0.0,0.0,Hein,67.0,2020-10-28,2002-04-13,False,p463748,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.00,0.00,0.00,0.00,437,55,427,46,396,31,437,55,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,0.00,0.00,0.00,0.00,610,63,58,29,440,55,247,33,0.00,0.00,0.00,Arsenal,Karl Hein,25-26
3,True,True,NaN,NaN,551221,0,0,0,0,0,1,1.5,NaN,0,Tommy,0.0,4,False,NaN,NaN,40,551221.jpg,0.0,False,Setford,0.2,False,NaN,a,1,3,0,0,0,0,0,0.0,0.0,Setford,241.0,2024-07-24,2006-03-13,False,p551221,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0,0.00,0.00,0.00,0.00,471,66,462,57,436,44,471,66,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,0.00,0.00,0.00,0.00,653,76,101,42,474,66,451,61,0.00,0.00,0.00,Arsenal,Tommy Setford,25-26
4,True,True,NaN,NaN,226597,0,0,0,0,0,2,4.5,NaN,0,Gabriel,0.0,5,False,NaN,NaN,60,226597.jpg,4.2,False,dos Santos Magalhães,21.4,False,NaN,a,1,3,117,0,0,0,0,0.0,19.5,Gabriel,30.0,2020-09-01,1997-12-19,False,p226597,2363,3,2,10,22,0,0,0,4,0,0,9,459,584.6,208.8,287.0,108.2,0,0,0,159,28,2.70,1.21,3.91,23.09,96,32,167,36,107,12,121,31,NaN,NaN,NaN,NaN,NaN,NaN,0.1,0.00,0.05,0.15,0.88,0.84,98,5,584,219,32,1,16,6,1.07,0.38,6.06,Arsenal,Gabriel dos Santos Magalhães,25-26

(677, 104)

In [8]:
df = fpl_df.groupby('name').last().reset_index()[['id', 'name', 'element_type', 'points_per_game', 'total_points',]]
#df['id'] = df.id.astype(int)
df['games_played'] = np.round(np.where(df['points_per_game']!=0, df['total_points'] / df['points_per_game'], 0),0)
display(df.head())
display(df.shape)

,id,name,element_type,points_per_game,total_points,games_played
0,116,Aaron Hickey,2,0.0,0,0.0
1,674,Aaron Ramsdale,1,0.0,0,0.0
2,211,Aaron Ramsey,3,0.0,0,0.0
3,610,Aaron Wan-Bissaka,2,3.3,118,36.0
4,234,Aarón Anselmino,2,0.0,0,0.0

(677, 6)

In [9]:
# drop duplicate players (some players get new spelling for their name during the season causing duplicates)
duplicate_ids = df.loc[df.id.duplicated(), 'id'].unique()
for id in duplicate_ids:
    ix = df.loc[df.id==id, 'games_played'].idxmin()
    df = df.drop(ix)
display(df.head())
display(df.shape)

,id,name,element_type,points_per_game,total_points,games_played
0,116,Aaron Hickey,2,0.0,0,0.0
1,674,Aaron Ramsdale,1,0.0,0,0.0
2,211,Aaron Ramsey,3,0.0,0,0.0
3,610,Aaron Wan-Bissaka,2,3.3,118,36.0
4,234,Aarón Anselmino,2,0.0,0,0.0

(677, 6)

In [10]:
# merge id info to projections
projections = projections.merge(df[['id', 'name']], on='name', how='left')
projections.head()

,index,first_name,second_name,assists,bonus,bps,clean_sheets,corners_and_indirect_freekicks_order,creativity,creativity_rank,creativity_rank_type,direct_freekicks_order,dreamteam_count,element_type,event_points,goals_conceded,goals_scored,ict_index,ict_index_rank,ict_index_rank_type,influence,influence_rank,influence_rank_type,minutes,now_cost,own_goals,penalties_missed,penalties_order,penalties_saved,points_per_game,red_cards,saves,selected_by_percent,threat,threat_rank,threat_rank_type,total_points,web_name,yellow_cards,team_name,gameweek,season,gameweek_xG,gameweek_xA,gameweek_xGA,gameweek_minutes,team_xG,team_xGA,team_xG_ewm_5,team_xG_ewm_10,team_xG_ewm_20,team_xG_ewm_40,team_xGA_ewm_5,team_xGA_ewm_10,team_xGA_ewm_20,team_xGA_ewm_40,opponent_xG,opponent_xGA,opponent_xG_ewm_5,opponent_xG_ewm_10,opponent_xG_ewm_20,opponent_xG_ewm_40,opponent_xGA_ewm_5,opponent_xGA_ewm_10,opponent_xGA_ewm_20,opponent_xGA_ewm_40,home,gameweek_assists,gameweek_bps,gameweek_creativity,gameweek_goals_scored,gameweek_goals_conceded,gameweek_own_goals,gameweek_penalties_saved,gameweek_red_cards,gameweek_saves,gameweek_threat,gameweek_yellow_cards,gameweek_xPoints,gameweek_assists_ewm_5,gameweek_bps_ewm_5,gameweek_creativity_ewm_5,event_points_ewm_5,gameweek_goals_scored_ewm_5,gameweek_goals_conceded_ewm_5,gameweek_saves_ewm_5,gameweek_threat_ewm_5,gameweek_xG_ewm_5,gameweek_xA_ewm_5,gameweek_xGA_ewm_5,gameweek_minutes_ewm_5,gameweek_xPoints_ewm_5,gameweek_assists_ewm_10,gameweek_bps_ewm_10,gameweek_creativity_ewm_10,event_points_ewm_10,gameweek_goals_scored_ewm_10,gameweek_goals_conceded_ewm_10,gameweek_saves_ewm_10,gameweek_threat_ewm_10,gameweek_xG_ewm_10,gameweek_xA_ewm_10,gameweek_xGA_ewm_10,gameweek_minutes_ewm_10,gameweek_xPoints_ewm_10,gameweek_assists_ewm_20,gameweek_bps_ewm_20,gameweek_creativity_ewm_20,event_points_ewm_20,gameweek_goals_scored_ewm_20,gameweek_goals_conceded_ewm_20,gameweek_saves_ewm_20,gameweek_threat_ewm_20,gameweek_xG_ewm_20,gameweek_xA_ewm_20,gameweek_xGA_ewm_20,gameweek_minutes_ewm_20,gameweek_xPoints_ewm_20,gameweek_assists_ewm_40,gameweek_bps_ewm_40,gameweek_creativity_ewm_40,event_points_ewm_40,gameweek_goals_scored_ewm_40,gameweek_goals_conceded_ewm_40,gameweek_saves_ewm_40,gameweek_threat_ewm_40,gameweek_xG_ewm_40,gameweek_xA_ewm_40,gameweek_xGA_ewm_40,gameweek_minutes_ewm_40,gameweek_xPoints_ewm_40,gameweek_assists_expanding,gameweek_bps_expanding,gameweek_creativity_expanding,event_points_expanding,gameweek_goals_scored_expanding,gameweek_goals_conceded_expanding,gameweek_saves_expanding,gameweek_threat_expanding,gameweek_xG_expanding,gameweek_xA_expanding,gameweek_xGA_expanding,gameweek_minutes_expanding,gameweek_xPoints_expanding,gameweek_assists_expanding_per90,gameweek_bps_expanding_per90,gameweek_creativity_expanding_per90,event_points_expanding_per90,gameweek_goals_scored_expanding_per90,gameweek_goals_conceded_expanding_per90,gameweek_saves_expanding_per90,gameweek_threat_expanding_per90,gameweek_xG_expanding_per90,gameweek_xA_expanding_per90,gameweek_xGA_expanding_per90,gameweek_minutes_expanding_per90,gameweek_xPoints_expanding_per90,xG_overperformance,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,ep_next,ep_this,form,in_dreamteam,news,news_added,photo,special,squad_number,status,team,team_code,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,starts,expected_goals,expected_assists,expected_goal_involvements,expected_goals_conceded,corners_and_indirect_freekicks_text,direct_freekicks_text,penalties_text,expected_goals_per_90,saves_per_90,expected_assists_per_90,expected_goal_involvements_per_90,expected_goals_conceded_per_90,goals_conceded_per_90,now_cost_rank,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90,name,data_retrieved_datetime,region,can_transact,can_select,removed,team_join_date,has_temporary_code,opta_code,mng_win,mng_draw,mng_loss,mng_underdog_win,mng_underdog_draw,mng_clean_sheets,mng_goals_scored,birth_date,opponent_team,date,expected_points,id
0,2,Aaron,Hickey,0.0,0.0,87.0,2.0,NaN,28.4,272.0,87.0,NaN,0.0,2,6.0,12.0,0.0,12.9,283.0,96.0,66.6,256.0,105.0,713.0,45.0,0.0,0.0,NaN,0.0,1.9,0.0,0.0,0.3,37.0,208.0,53.0,17.0,Hickey,5.0,Brentford,1,23-24,0.0,0.0,1.11,83.0,2.2,1.9,1.79616,1.729083,1.639545,1.549171,1.24566,1.277443,1.296132,1.303055,1.9,2.2,1.157059,1.142377,1.186244,1.208460,1.433377,1.448771,1.395832,1.388979,0,0.0,21.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2.177344,0.022097,10.648424,3.437094,2.401332,0.0,1.239192,0.0,3.714405,0.021284,0.009742,1.134418,79.664337,2.522949,0.042798,12.661399,5.009612,2.462377,0.0,1.346592,0.0,3.950627,0.022886,0.015002,1.105284,78.540746,2.692755,0.053471,14.21823,6.04618,2.547907,0.0,1.436394,0.0,4.057473,0.023955,0.017464,1.089753,77.87246,2.795391,0.058269,15.110488,6.6018,2.596929,0.0,1.494652,0.0,4.118243,0.024591,0.018517,1.083105,77.524527,2.849552,1.0,257.0,114.7,45.0,0.0,25.0,0.0,67.0,0.43,0.33,18.32,1312.0,46.476021,0.068598,17.629573,7.86814,3.08689,0.0,1.714939,0.0,4.596037,0.029497,0.022637,1.256707,90.0,3.188142,0.0,100.0,100.0,472713.0,0.0,0.0,0.0,0.0,2.0,2.0,2.0,False,Knock - 75% chance of playing,2023-10-07T19:30:08.561839Z,472713.jpg,False,NaN,a,5,94.0,22604.0,1352.0,28337.0,601.0,0.4,3.8,9.0,0.2,0.13,0.33,10.2,NaN,NaN,NaN,0.03,0.0,0.02,0.05,1.29,1.51,426.0,87.0,150.0,50.0,249.0,87.0,280.0,109.0,1.14,0.25,Aaron Hickey,2023-11-03 21:12:18.635816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nottingham Forest,2025-08-17T13:00:00Z,2.379389,116
1,2,Aaron,Hickey,0.0,0.0,87.0,2.0,NaN,28.4,272.0,87.0,NaN,0.0,2,6.0,12.0,0.0,12.9,283.0,96.0,66.6,256.0,105.0,713.0,45.0,0.0,0.0,NaN,0.0,1.9,0.0,0.0,0.3,37.0,208.0,53.0,17.0,Hickey,5.0,Brentford,2,23-24,0.0,0.0,1.11,83.0,2.2,1.9,1.79616,1.729083,1.639545,1.549171,1.24566,1.277443,1.296132,1.303055,1.9,2.2,1.313579,1.425934,1.465312,1.479373,1.384932,1.372106,1.396431,1.412526,1,0.0,21.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2.177344,0.022097,10.648424,3.437094,2.401332,0.0,1.239192,0.0,3.714405,0.021284,0.009742,1.134418,79.664337,2.522949,0.042798,12.661399,5.009612,2.462377,0.0,1.346592,0.0,3.950627,0.022886,0.015002,1.105284,78.540746,2.692755,0.053471,14.21823,6.04618,2.547907,0.0,1.436394,0.0,4.057473,0.023955,0.017464,1.089753,77.87246,2.795391,0.058269,15.110488,6.6018,2.596929,0.0,1.494652,0.0,4.118243,0.024591,0.018517,1.083105,77.524527,2.849552,1.0,257.0,114.7,45.0,0.0,25.0,0.0,67.0,0.43,0.33,18.32,1312.0,46.476021,0.068598,17.629573,7.86814,3.08689,0.0,1.714939,0.0,4.596037,0.029497,0.022637,1.256707,90.0,3.188142,0.0,100.0,100.0,472713.0,0.0,0.0,0.0,0.0,2.0,2.0,2.0,False,Knock - 75% chance of playing,2023-10-07T19:30:08.561839Z,472713.jpg,False,NaN,a,5,94.0,22604.0,1352.0,28337.0,601.0,0.4,3.8,9.0,0.2,0.13,0.33,10.2,NaN,NaN,NaN,0.03,0.0,0.02,0.05,1.29,1.51,426.0,87.0,150.0,50.0,249.0,87.0,280.0,109.0,1.14,0.25,Aaron Hickey,2023-11-03 21:12:18.635816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aston Villa,2025-08-23T14:00:00Z,2.280249,116
2,2,Aaron,Hickey,0.0,0.0,87.0,2.0,NaN,28.4,272.0,87.0,NaN,0.0,2,6.0,12.0,0.0,12.9,283.0,96.0,66.6,256.0,105.0,713.0,45.0,0.0,0.0,NaN,0.0,1.9,0.0,0.0,0.3,37.0,208.0,53.0,17.0,Hickey,5.0,Brentford,3,23-24,0.0,0.0,1.11,83.0,2.2,1.9,1.79616,1.729083,1.639545,1.549171,1.24566,1.277443,1.296132,1.303055,1.9,2.2,1.000000,1.000000,1.000000,1.000000,1.800000,1.800000,1.800000,1.800000,0,0.0,21.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2.177344,0.022097,10.648424,3.437094,2.401332,0.0,1.239192,0.0,3.714405,0.021284,0.009742,1.134418,79.664337,2.522949,0.042798,12.661399,5.009612,2.462377,0.0,1.346592,0.0,3.950627,0.022886,0.015002,1.105284,78.540746,2.692755,0.053471,14.21823,6.04618,2.547907,0.0,1.436394,0.0,4.057473,0.023955,0.017464,1.089753,77.87246,2.795391,0.058269,15.110488,6.6018,2.596929,0.0,1.494652,0.0,4.118243,0.024591,0.018517,1.083105,77.524527,2.849552,1.0,257.0,114.7,45.0,0.0,25.0,0.0,67.0,0.43,0.33,18.32,1312.0,46.476021,0.068598,17.629573,7.86814,3.08689,0.0,1.714939,0.0,4.596037,0.029497,0.022637,1.256707,90.0,3.188142,0.0,100.0,100.0,472713.0,0.0,0.0,0.0,0.0,2.0,2.0,2.0,False,Knock - 75% chance of playing,2023-10-07T19:30:08.561839Z,472713.jpg,False,NaN,a,5,94.0,22604.0,1352.0,28337.0,601.0,0.4,3.8,9.0,0.2,0.13,0.33,10.2,NaN,NaN,NaN,0.03,0.0,0.02,0.05,1.29,1.51,426.0,87.0,150.0,50.0,249.0,87.0,280.0,109.0,1.14,0.25,Aaron Hickey,2023-11-03 21:12:18.635816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sunderland,2025-08-30T14:00:00Z,2.826401,116
3,2,Aaron,Hickey,0.0,0.0,87.0,2.0,NaN,28.4,272.0,87.0,NaN,0.0,2,6.0,12.0,0.0,12.9,283.0,96.0,66.6,256.0,105.0,713.0,45.0,0.0,0.0,NaN,0.0,1.9,0.0,0.0,0.3,37.0,208.0,53.0,17.0,Hickey,5.0,Brentford,4,23-24,0.0,0.0,1.11,83.0,2.2,1.9,1.79616,1.729083,1.639545,1.549171,1.24566,1.277443,1.296132,1.303055,1.9,2.2,1.293087,1.482557,1.664578,1.739111,0.924578,1.031030,1.191148,1.288395,1,0.0,21.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2.177344,0.022097,10.648424,3.437094,2.401332,0.0,1.239192,0.0,3.714405,0.021284,0.009742,1.134418,79.664337,2.522949,0.042798,12.661399,5.009612,2.462377,0.0,1.346592,0.0,3.950627,0.022886,0.015002,1.105284,78.540746,2.692755,0.053471,14.21823,6.04618,2.547907,0.0,1.436394,0.0,4.057473,0.023955,0.017464,1.089753,77.87246,2.795391,0.058269,15.110488,6.6018,2.596929,0.0,1.494652,0.0,4.118243,0.024591,0.018517,1.083105,77.524527,2.849552,1.0,257.0,114.7,45.0,0.0,25.0,0.0,67.0,0.43,0.33,18.32,1312.0,46.476021,0.068598,17.629573,7.86814,3.08689,0.0,1.714939,0.0,4.596037,0.029497,0.022637,1.256707,90.0,3.188142,0.0,100.0,100.0,472713.0,0.0,0.0,0.0,0.0,2.0,2.0,2.0,False,Knock - 75% chance of playing,2023-10-07T19:30:08.561839Z,472713.jpg,False,NaN,a,5,94.0,22604.0,1352.0,28337.0,601.0,0.4,3.8,9.0,0.2,0.13,0.33,10.2,NaN,NaN,NaN,0.03,0.0,0.02,0.05,1.29,1.51,426.0,87.0,150.0,50.0,249.0,87.0,280.0,109.0,1.14,0.25,Aaron Hickey,2023-11-03 21:12:18.635816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Chelsea,2025-09-13T19:00:00Z,2.210212,116
4,2,Aaron,Hickey,0.0,0.0,87.0,2.0,NaN,28.4,272.0,87.0,NaN,0.0,2,6.0,12.0,0.0,12.9,283.0,96.0,66.6,256.0,105.0,713.0,45.0,0.0,0.0,NaN,0.0,1.9,0.0,0.0,0.3,37.0,208.0,53.0,17.0,Hickey,5.0,Brentford,5,23-24,0.0,0.0,1.11,83.0,2.2,1.9,1.79616,1.729083,1.639545,1.549171,1.24566,1.277443,1.296132,1.303055,1.9,2.2,1.110795,1.160844,1.235096,1.268223,1.704515,1.449741,1.367156,1.402523,0,0.0,21.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2.177344,0.022097,10.648424,3.437094,2.401332,0.0,1.239192,0.0,3.714405,0.021284,0.009742,1.134418,79.664337,2.522949,0.042798,12.661399,5.009612,2.462377,0.0,1.346592,0.0,3.950627,0.022886,0.015002,1.105284,78.540746,2.692755,0.053471,14.21823,6.04618,2.547907,0.0,1.436394,0.0,4.057473,0.023955,0.017464,1.089753,77.87246,2.795391,0.058269,15.110488,6.6018,2.596929,0.0,1.494652,0.0,4.118243,0.024591,0.018517,1.083105,77.524527,2.849552,1.0,257.0,114.7,45.0,0.0,25.0,0.0,67.0,0.43,0.33,18.32,1312.0,46.476021,0.068598,17.629573,7.86814,3.08689,0.0,1.714939,0.0,4.596037,0.029497,0.022637,1.256707,90.0,3.188142,0.0,100.0,100.0,472713.0,0.0,0.0,0.0,0.0,2.0,2.0,2.0,False,Knock - 75% chance of playing,2023-10-07T19:30:08.561839Z,472713.jpg,False,NaN,a,5,94.0,22604.0,1352.0,28337.0,601.0,0.4,3.8,9.0,0.2,0.13,0.33,10.2,NaN,NaN,NaN,0.03,0.0,0.02,0.05,1.29,1.51,426.0,87.0,150.0,50.0,249.0,87.0,280.0,109.0,1.14,0.25,Aaron Hickey,2023-11-03 21:12:18.635816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fulham,2025-09-20T19:00:00Z,2.318986,116

In [11]:
# add xMins variable that is needed later
projections['xMins'] = 90

In [12]:
projections[['id', 'expected_points', 'xMins', 'gameweek']]

       id  expected_points  xMins  gameweek
0     116         2.379389     90         1
1     116         2.280249     90         2
2     116         2.826401     90         3
3     116         2.210212     90         4
4     116         2.318986     90         5
...   ...              ...    ...       ...
4375   67         3.595683     90         6
4376   67         3.531511     90         7
4377   67         2.837555     90         8
4378   67         3.658122     90         9
4379   67         2.599758     90        10

[4380 rows x 4 columns]

In [13]:
projections_pivot = (
    projections
    .pivot_table(
    columns=['gameweek',],
    index='id', 
    values=['expected_points','xMins'], 
    aggfunc='sum'
    )
)

projections_pivot.head()

         expected_points                                                    \
gameweek              1         2         3         4         5         6
id
5               3.619536  4.181914  2.948266  3.982273  3.124078  3.223237
6               3.388043  4.032066  2.634778  3.863696  2.983860  3.035604
7               2.054400  2.331539  1.788588  2.247675  1.988125  1.879263
8               3.561734  4.336623  3.032037  4.320905  3.203551  3.197579
9               2.879057  3.577192  2.173590  3.379791  2.605091  2.504729

                                                 xMins                      \
gameweek        7         8         9         10    1   2   3   4   5   6
id
5         4.067587  3.802357  3.422718  4.240448    90  90  90  90  90  90
6         3.917229  3.611503  3.310334  4.055395    90  90  90  90  90  90
7         2.291850  2.132803  2.095537  2.269224    90  90  90  90  90  90
8         4.298151  4.015655  3.376563  4.440535    90  90  90  90  90  90
9         3.491802  3.095773  2.801070  3.576103    90  90  90  90  90  90


gameweek  7   8   9   10
id
5         90  90  90  90
6         90  90  90  90
7         90  90  90  90
8         90  90  90  90
9         90  90  90  90

In [14]:
new_cols = []
for col in projections_pivot.columns:
    if col[0] == 'expected_points':
        new_col = str(col[1]) + '_Pts'
        new_cols.append(new_col)
    elif col[0] == 'xMins':
        new_col = str(col[1]) + '_xMins'
        new_cols.append(new_col)

projections_pivot.columns = new_cols
projections_pivot = projections_pivot.reset_index()
projections_pivot = projections_pivot.rename(columns={'id':'ID'})

projections_pivot.head()

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins
0,5,3.619536,4.181914,2.948266,3.982273,3.124078,3.223237,4.067587,3.802357,3.422718,4.240448,90,90,90,90,90,90,90,90,90,90
1,6,3.388043,4.032066,2.634778,3.863696,2.983860,3.035604,3.917229,3.611503,3.310334,4.055395,90,90,90,90,90,90,90,90,90,90
2,7,2.054400,2.331539,1.788588,2.247675,1.988125,1.879263,2.291850,2.132803,2.095537,2.269224,90,90,90,90,90,90,90,90,90,90
3,8,3.561734,4.336623,3.032037,4.320905,3.203551,3.197579,4.298151,4.015655,3.376563,4.440535,90,90,90,90,90,90,90,90,90,90
4,9,2.879057,3.577192,2.173590,3.379791,2.605091,2.504729,3.491802,3.095773,2.801070,3.576103,90,90,90,90,90,90,90,90,90,90

In [15]:
position_dict = {1:'G', 2:'D', 3:'M', 4:'F'}
df['Pos'] = df['element_type'].map(position_dict)
df.rename(columns={'id':'ID'}, inplace=True)

In [16]:
projections_pivot = pd.merge(projections_pivot, df[['ID', 'Pos']], on='ID', how='left')
projections_pivot.head()

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
0,5,3.619536,4.181914,2.948266,3.982273,3.124078,3.223237,4.067587,3.802357,3.422718,4.240448,90,90,90,90,90,90,90,90,90,90,D
1,6,3.388043,4.032066,2.634778,3.863696,2.983860,3.035604,3.917229,3.611503,3.310334,4.055395,90,90,90,90,90,90,90,90,90,90,D
2,7,2.054400,2.331539,1.788588,2.247675,1.988125,1.879263,2.291850,2.132803,2.095537,2.269224,90,90,90,90,90,90,90,90,90,90,D
3,8,3.561734,4.336623,3.032037,4.320905,3.203551,3.197579,4.298151,4.015655,3.376563,4.440535,90,90,90,90,90,90,90,90,90,90,D
4,9,2.879057,3.577192,2.173590,3.379791,2.605091,2.504729,3.491802,3.095773,2.801070,3.576103,90,90,90,90,90,90,90,90,90,90,D

In [ ]:
# 25-26 pre-season adjustments for defensive contributions

def_contribution_ids = [111, 257, 291, 506,  24,  85,  87, 129, 167, 173, 241, 272, 273,
       302, 457, 459, 517, 519, 585, 586, 587, 643]

cols = ['1_Pts','2_Pts','3_Pts','4_Pts','5_Pts','6_Pts','7_Pts','8_Pts','9_Pts','10_Pts']

display(projections_pivot.loc[projections_pivot.ID.isin(def_contribution_ids),['ID']+cols])

for id in def_contribution_ids:
    projections_pivot.loc[projections_pivot['ID']==id, cols] += 1

display(projections_pivot.loc[projections_pivot.ID.isin(def_contribution_ids),['ID']+cols])

In [17]:
filepath = Path('../../../fpl-optimization/data/fplreview.csv')
projections_pivot.to_csv(filepath)

### Option to make manual changes, e.g., to xPts (based on injuries)

### adjust points

If model is underestimating e.g. Haaland currently, test how many points more he would need to be getting in order to be drafed to the team in the optimization.

In [ ]:
projections.loc[projections['name'].str.contains('Wood'), 'id'].unique()
#projections.loc[projections['name'].str.contains('Palme'), 'id'].unique()

In [ ]:
player_id = 477
display(projections.loc[projections.id==player_id, 'name'].unique())
display(projections_pivot[projections_pivot.ID==player_id])

In [ ]:
pts_cols = [col for col in projections_pivot.columns if 'Pts' in col]
projections_pivot.loc[projections_pivot.ID==player_id, pts_cols].sum(axis=1) / 10

In [ ]:
gameweeks = np.arange(latest_gameweek+1,latest_gameweek+11)
add_constant = -0.5

for i in range(len(gameweeks)):
    projections_pivot.loc[projections_pivot.ID==player_id, f'{gameweeks[i]}_Pts'] = \
        projections_pivot.loc[projections_pivot.ID==player_id, f'{gameweeks[i]}_Pts'] + add_constant

display(projections_pivot[projections_pivot.ID==player_id])

### Adjust points for unavailable players or players with uncertain availability

In [18]:
def adjust_points_via_weights(player_id, gameweeks, weights):
    '''Adjust projected player points via gameweek specific weights indicating probability of playing.

    Input:
    player_id (int): Player ID number.
    gameweeks (list): List of gameweek numbers to be adjusted.
    weights (list): Weights for adjusting points for each gameweek given in parameter gameweeks.
    '''
    if len(projections.loc[projections.id==player_id]) > 0:
        player_name = projections.loc[projections.id==player_id, 'name'].unique().item()
        print(f'Name: {player_name}')
        print('Point predictions before adjustment:')
        display(projections_pivot[projections_pivot.ID==player_id])

        # adjust points via probability of playing
        for i in range(len(gameweeks)):
            projections_pivot.loc[projections_pivot.ID==player_id, f'{gameweeks[i]}_Pts'] = \
                weights[i]*projections_pivot.loc[projections_pivot.ID==player_id, f'{gameweeks[i]}_Pts']
            
        print('Point predictions after adjustment:')
        display(projections_pivot[projections_pivot.ID==player_id])
    else:
        print(f'No player with ID {player_id} found in projections!')

### Automatic adjustments

In [19]:
# fetch online data
fpl_online_data = json.loads(requests.get('https://fantasy.premierleague.com/api/bootstrap-static/').text)
fpl_online_df = pd.DataFrame(fpl_online_data['elements'])

In [20]:
# get play probabilities for players with injuries
play_probabilities = []
for _, row in fpl_online_df.iterrows():
    news = row['news']
    news_splitted = news.split('-')
    if len(news_splitted) > 1:
        first_3_chars = news_splitted[1].strip()[0:3]
        if first_3_chars == '25%':
            play_probabilities.append(0.25)
        elif first_3_chars == '50%':
            play_probabilities.append(0.5)
        elif first_3_chars == '75%':
            play_probabilities.append(0.75)
        else:
            play_probabilities.append(1.0)
    else:
        play_probabilities.append(1.0)
fpl_online_df['play_probability'] = play_probabilities

In [21]:
# adjust player points based on play probabilities
# only include players with minutes played (which have existing projections)
prob25_ids = fpl_online_df.loc[(fpl_online_df.play_probability==0.25) & (fpl_online_df.minutes>0), 'id'].values
prob50_ids = fpl_online_df.loc[(fpl_online_df.play_probability==0.5) & (fpl_online_df.minutes>0), 'id'].values
prob75_ids = fpl_online_df.loc[(fpl_online_df.play_probability==0.75) & (fpl_online_df.minutes>0), 'id'].values

for player_id in prob25_ids:
    if latest_gameweek<=35:
        adjust_points_via_weights(player_id=player_id, gameweeks=[latest_gameweek+1, latest_gameweek+2, latest_gameweek+3], weights=[0.25,0.5,0.75])
    elif latest_gameweek==36:
        adjust_points_via_weights(player_id=player_id, gameweeks=[latest_gameweek+1, latest_gameweek+2], weights=[0.25,0.5])
    elif latest_gameweek==37:
        adjust_points_via_weights(player_id=player_id, gameweeks=[latest_gameweek+1], weights=[0.25])
    else:
        print('Check latest_gameweek!')

for player_id in prob50_ids:
    if latest_gameweek<=36:
        adjust_points_via_weights(player_id=player_id, gameweeks=[latest_gameweek+1, latest_gameweek+2], weights=[0.5,0.75])
    elif latest_gameweek==37:
        adjust_points_via_weights(player_id=player_id, gameweeks=[latest_gameweek+1], weights=[0.5])
    else:
        print('Check latest_gameweek!')

for player_id in prob75_ids:
    adjust_points_via_weights(player_id=player_id, gameweeks=[latest_gameweek+1], weights=[0.75])

Name: Solly March
Point predictions before adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
108,159,2.137487,2.090773,1.878282,1.971686,2.132145,1.91615,2.174815,1.956284,2.01215,2.293316,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
108,159,0.534372,1.045387,1.408712,1.971686,2.132145,1.91615,2.174815,1.956284,2.01215,2.293316,90,90,90,90,90,90,90,90,90,90,M

No player with ID 229 found in projections!
Name: Roméo Lavia
Point predictions before adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
155,244,1.833641,1.855091,1.916113,1.721243,1.789264,1.847676,1.704798,1.813729,2.096647,1.815811,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
155,244,0.45841,0.927546,1.437085,1.721243,1.789264,1.847676,1.704798,1.813729,2.096647,1.815811,90,90,90,90,90,90,90,90,90,90,M

Name: Caleb Kporha
Point predictions before adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
171,265,1.41668,1.617946,1.477935,1.747055,1.574325,1.387297,1.553864,1.561007,1.378978,1.521888,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
171,265,0.35417,0.808973,1.108451,1.747055,1.574325,1.387297,1.553864,1.561007,1.378978,1.521888,90,90,90,90,90,90,90,90,90,90,D

Name: Matheus França de Oliveira
Point predictions before adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
185,279,1.698392,1.924769,1.771037,2.088145,1.87325,1.731932,1.836184,1.868604,1.678739,1.846123,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
185,279,0.424598,0.962385,1.328277,2.088145,1.87325,1.731932,1.836184,1.868604,1.678739,1.846123,90,90,90,90,90,90,90,90,90,90,M

Name: Justin Kluivert
Point predictions before adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
52,81,3.177472,4.236719,3.926544,3.797431,3.469758,4.257597,3.897165,3.332979,3.987693,3.094012,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
52,81,1.588736,3.177539,3.926544,3.797431,3.469758,4.257597,3.897165,3.332979,3.987693,3.094012,90,90,90,90,90,90,90,90,90,90,M

Name: Igor Julio dos Santos de Paulo
Point predictions before adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
100,149,2.078786,1.932594,1.826667,1.830002,2.057275,1.761293,2.021834,1.884809,1.864017,2.199531,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
100,149,1.039393,1.449445,1.826667,1.830002,2.057275,1.761293,2.021834,1.884809,1.864017,2.199531,90,90,90,90,90,90,90,90,90,90,D

Name: Daichi Kamada
Point predictions before adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
177,271,1.866038,2.057431,1.922831,2.270336,2.022366,1.845195,1.97026,2.008838,1.837824,1.990129,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
177,271,0.933019,1.543073,1.922831,2.270336,2.022366,1.845195,1.97026,2.008838,1.837824,1.990129,90,90,90,90,90,90,90,90,90,90,M

Name: André Onana
Point predictions before adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
289,432,3.449364,3.775464,4.210851,3.329733,3.526162,3.615391,4.253249,3.162368,3.629692,3.887667,90,90,90,90,90,90,90,90,90,90,G

Point predictions after adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
289,432,1.724682,2.831598,4.210851,3.329733,3.526162,3.615391,4.253249,3.162368,3.629692,3.887667,90,90,90,90,90,90,90,90,90,90,G

Name: Noussair Mazraoui
Point predictions before adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
292,438,2.407187,2.660447,3.225609,2.032375,2.449168,2.300909,3.37036,1.881695,2.456808,2.797513,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
292,438,1.203594,1.995335,3.225609,2.032375,2.449168,2.300909,3.37036,1.881695,2.456808,2.797513,90,90,90,90,90,90,90,90,90,90,D

Name: Joshua Zirkzee
Point predictions before adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
312,466,2.269848,2.348686,2.762348,2.018677,2.288102,2.174674,2.849791,1.984442,2.318561,2.363896,90,90,90,90,90,90,90,90,90,90,F

Point predictions after adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
312,466,1.134924,1.761515,2.762348,2.018677,2.288102,2.174674,2.849791,1.984442,2.318561,2.363896,90,90,90,90,90,90,90,90,90,90,F

Name: Leandro Trossard
Point predictions before adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
12,20,4.196142,5.11526,3.993078,4.450309,4.040176,3.880099,4.60982,4.175499,4.259213,5.000118,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
12,20,3.147107,5.11526,3.993078,4.450309,4.040176,3.880099,4.60982,4.175499,4.259213,5.000118,90,90,90,90,90,90,90,90,90,90,M

Name: Andrés García
Point predictions before adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
28,42,1.623085,1.597211,1.668911,1.695411,1.917527,1.775338,1.810795,1.663583,1.569636,1.386468,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
28,42,1.217314,1.597211,1.668911,1.695411,1.917527,1.775338,1.810795,1.663583,1.569636,1.386468,90,90,90,90,90,90,90,90,90,90,D

Name: Morgan Rogers
Point predictions before adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
31,47,3.550786,3.459171,3.655264,3.738449,4.613828,4.020552,4.695402,4.029231,3.414108,3.186202,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
31,47,2.66309,3.459171,3.655264,3.738449,4.613828,4.020552,4.695402,4.029231,3.414108,3.186202,90,90,90,90,90,90,90,90,90,90,M

Name: Ross Barkley
Point predictions before adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
38,55,1.99566,1.993946,2.047342,2.108272,2.525392,2.168041,2.3691,2.145724,1.958132,1.821004,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
38,55,1.496745,1.993946,2.047342,2.108272,2.525392,2.168041,2.3691,2.145724,1.958132,1.821004,90,90,90,90,90,90,90,90,90,90,M

Name: Martin Dúbravka
Point predictions before adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
315,470,3.419396,3.923081,3.187734,2.782599,3.715676,2.709682,3.112663,3.789743,3.680786,3.035734,90,90,90,90,90,90,90,90,90,90,G

Point predictions after adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
315,470,2.564547,3.923081,3.187734,2.782599,3.715676,2.709682,3.112663,3.789743,3.680786,3.035734,90,90,90,90,90,90,90,90,90,90,G

Name: Ryan Christie
Point predictions before adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
58,87,2.162263,3.023118,2.709449,2.618587,2.558054,2.986932,2.755585,2.404269,2.842535,2.241614,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
58,87,1.621697,3.023118,2.709449,2.618587,2.558054,2.986932,2.755585,2.404269,2.842535,2.241614,90,90,90,90,90,90,90,90,90,90,M

Name: Luis Sinisterra Lucumí
Point predictions before adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
62,91,2.482876,3.149831,2.981925,2.840386,2.682882,3.216797,2.985772,2.676083,3.05303,2.46479,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
62,91,1.862157,3.149831,2.981925,2.840386,2.682882,3.216797,2.985772,2.676083,3.05303,2.46479,90,90,90,90,90,90,90,90,90,90,M

No player with ID 101 found in projections!
Name: Kevin Schade
Point predictions before adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
82,120,3.57268,3.495453,4.23063,3.381978,3.441983,3.640366,3.207147,3.75856,3.184866,3.079108,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
82,120,2.67951,3.495453,4.23063,3.381978,3.441983,3.640366,3.207147,3.75856,3.184866,3.079108,90,90,90,90,90,90,90,90,90,90,M

Name: Vitalii Mykolenko
Point predictions before adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
193,292,3.719414,3.100878,3.645814,3.145812,2.31266,3.729761,2.965457,2.49724,3.531009,3.919144,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
193,292,2.789561,3.100878,3.645814,3.145812,2.31266,3.729761,2.965457,2.49724,3.531009,3.919144,90,90,90,90,90,90,90,90,90,90,D

Name: Nathan Patterson
Point predictions before adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
197,296,2.001701,1.842981,1.955986,1.884902,1.536663,2.019564,1.835791,1.599335,1.947002,2.136202,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
197,296,1.501276,1.842981,1.955986,1.884902,1.536663,2.019564,1.835791,1.599335,1.947002,2.136202,90,90,90,90,90,90,90,90,90,90,D

Name: Harrison Armstrong
Point predictions before adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
204,305,2.394449,2.117106,2.366116,2.161341,1.758887,2.424347,2.086105,1.831242,2.317811,2.580675,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
204,305,1.795837,2.117106,2.366116,2.161341,1.758887,2.424347,2.086105,1.831242,2.317811,2.580675,90,90,90,90,90,90,90,90,90,90,M

Name: Ryan Sessegnon
Point predictions before adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
219,328,2.246224,2.578464,2.220316,2.964347,2.458862,2.320178,2.335291,2.343613,2.133918,2.908251,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
219,328,1.684668,2.578464,2.220316,2.964347,2.458862,2.320178,2.335291,2.343613,2.133918,2.908251,90,90,90,90,90,90,90,90,90,90,M

Name: Conor Bradley
Point predictions before adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
249,375,2.403666,2.045241,2.300547,2.752981,2.689221,2.089736,2.125306,2.48821,2.158987,2.401921,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
249,375,1.80275,2.045241,2.300547,2.752981,2.689221,2.089736,2.125306,2.48821,2.158987,2.401921,90,90,90,90,90,90,90,90,90,90,D

Name: Joe Gomez
Point predictions before adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
250,376,2.383865,2.081401,2.303828,2.708417,2.647464,2.107518,2.154074,2.464936,2.17451,2.38212,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
250,376,1.787899,2.081401,2.303828,2.708417,2.647464,2.107518,2.154074,2.464936,2.17451,2.38212,90,90,90,90,90,90,90,90,90,90,D

Name: Phil Foden
Point predictions before adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
279,414,3.537531,3.478463,2.986942,3.22805,2.855008,3.85954,2.937057,3.306234,2.983865,3.073481,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
279,414,2.653148,3.478463,2.986942,3.22805,2.855008,3.85954,2.937057,3.306234,2.983865,3.073481,90,90,90,90,90,90,90,90,90,90,M

No player with ID 421 found in projections!
Name: Anthony Gordon
Point predictions before adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
328,485,2.99051,2.996519,3.792519,3.749341,2.9381,3.067006,3.534927,2.987079,3.456217,3.455702,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
328,485,2.242883,2.996519,3.792519,3.749341,2.9381,3.067006,3.534927,2.987079,3.456217,3.455702,90,90,90,90,90,90,90,90,90,90,M

Name: Marc Guiu Paz
Point predictions before adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
161,252,1.779885,1.710785,1.696522,1.550179,1.730425,1.694702,1.629684,1.786417,1.555088,1.770921,90,90,90,90,90,90,90,90,90,90,F

Point predictions after adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
161,252,1.334913,1.710785,1.696522,1.550179,1.730425,1.694702,1.629684,1.786417,1.555088,1.770921,90,90,90,90,90,90,90,90,90,90,F

Name: Destiny Udogie
Point predictions before adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
368,574,2.41985,1.674334,2.055144,2.189983,1.832221,2.342488,2.350578,2.058795,2.065702,1.977627,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,1_Pts,2_Pts,3_Pts,4_Pts,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,1_xMins,2_xMins,3_xMins,4_xMins,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,Pos
368,574,1.814887,1.674334,2.055144,2.189983,1.832221,2.342488,2.350578,2.058795,2.065702,1.977627,90,90,90,90,90,90,90,90,90,90,D

In [22]:
filepath = Path('../../../fpl-optimization/data/fplreview.csv')
projections_pivot.to_csv(filepath)

### Manual adjustments

In [ ]:
# Check player_id
projections.loc[projections['name'].str.contains('Pir'), 'id'].unique()

In [ ]:
player_id = 348
display(projections.loc[projections.id==player_id, 'name'].unique())

In [ ]:
adjust_points_via_weights(player_id=4, gameweeks=[38], weights=[0.75])

In [ ]:
adjust_points_via_weights(player_id=23, gameweeks=[38], weights=[0.5])

In [ ]:
adjust_points_via_weights(player_id=129, gameweeks=[34,35,36], weights=[0,0,0])

In [ ]:
adjust_points_via_weights(player_id=521, gameweeks=[34,35,36,37,38], weights=[0,0,0,0,0])

In [ ]:
adjust_points_via_weights(player_id=477, gameweeks=[34,35,36,37,38], weights=[0.25,0.25,0.25,0.25,0.25])

In [ ]:
adjust_points_via_weights(player_id=554, gameweeks=[34, 35], weights=[0.5, 0.75])

In [ ]:
adjust_points_via_weights(player_id=473, gameweeks=[31,32,33,34,35,36], weights=[0.25,0.25,0.25,0.25,0.25,0.25])

In [ ]:
adjust_points_via_weights(player_id=398, gameweeks=[30,31], weights=[0.5,0.75])

In [ ]:
adjust_points_via_weights(player_id=447, gameweeks=[32], weights=[0.75])

In [ ]:
adjust_points_via_weights(player_id=541, gameweeks=[30,31], weights=[0,0])

In [ ]:
projections.shape

In [ ]:
projections.head()

In [ ]:
# drop cheap goalkeepers
projections = projections[~((projections.now_cost<42) & (projections.element_type==1))].copy()

In [ ]:
filepath = Path('../../../fpl-optimization/data/fplreview.csv')
projections_pivot.to_csv(filepath)

# Other stuff

In [ ]:
# check ids
projections.loc[projections['name'].str.contains('Wissa'), ['id','name']]

In [ ]:
projections.loc[projections.id==218, ['name','team_name']]

In [ ]:
# locked
projections.loc[projections.id.isin([470, 348, 263]), ['id','name']].groupby('id').first()

In [23]:
# banned players from solver 
projections.loc[projections.id.isin([20, 379, 138, 610, 119, 19, 8, 363, 135, 668, 24, 499, 30, 111, 11]), ['id','name']].groupby('id').first()

                         name
id
8              Jurriën Timber
11             Benjamin White
19   Gabriel Martinelli Silva
20           Leandro Trossard
24         Christian Nørgaard
30                Kai Havertz
111             Ethan Pinnock
119              Bryan Mbeumo
135               Yoane Wissa
138              Jason Steele
363           Patrick Bamford
379             Rhys Williams
499            Alexander Isak
610         Aaron Wan-Bissaka
668              Granit Xhaka

In [24]:
projections[projections.id==498]

,index,first_name,second_name,assists,bonus,bps,clean_sheets,corners_and_indirect_freekicks_order,creativity,creativity_rank,creativity_rank_type,direct_freekicks_order,dreamteam_count,element_type,event_points,goals_conceded,goals_scored,ict_index,ict_index_rank,ict_index_rank_type,influence,influence_rank,influence_rank_type,minutes,now_cost,own_goals,penalties_missed,penalties_order,penalties_saved,points_per_game,red_cards,saves,selected_by_percent,threat,threat_rank,threat_rank_type,total_points,web_name,yellow_cards,team_name,gameweek,season,gameweek_xG,gameweek_xA,gameweek_xGA,gameweek_minutes,team_xG,team_xGA,team_xG_ewm_5,team_xG_ewm_10,team_xG_ewm_20,team_xG_ewm_40,team_xGA_ewm_5,team_xGA_ewm_10,team_xGA_ewm_20,team_xGA_ewm_40,opponent_xG,opponent_xGA,opponent_xG_ewm_5,opponent_xG_ewm_10,opponent_xG_ewm_20,opponent_xG_ewm_40,opponent_xGA_ewm_5,opponent_xGA_ewm_10,opponent_xGA_ewm_20,opponent_xGA_ewm_40,home,gameweek_assists,gameweek_bps,gameweek_creativity,gameweek_goals_scored,gameweek_goals_conceded,gameweek_own_goals,gameweek_penalties_saved,gameweek_red_cards,gameweek_saves,gameweek_threat,gameweek_yellow_cards,gameweek_xPoints,gameweek_assists_ewm_5,gameweek_bps_ewm_5,gameweek_creativity_ewm_5,event_points_ewm_5,gameweek_goals_scored_ewm_5,gameweek_goals_conceded_ewm_5,gameweek_saves_ewm_5,gameweek_threat_ewm_5,gameweek_xG_ewm_5,gameweek_xA_ewm_5,gameweek_xGA_ewm_5,gameweek_minutes_ewm_5,gameweek_xPoints_ewm_5,gameweek_assists_ewm_10,gameweek_bps_ewm_10,gameweek_creativity_ewm_10,event_points_ewm_10,gameweek_goals_scored_ewm_10,gameweek_goals_conceded_ewm_10,gameweek_saves_ewm_10,gameweek_threat_ewm_10,gameweek_xG_ewm_10,gameweek_xA_ewm_10,gameweek_xGA_ewm_10,gameweek_minutes_ewm_10,gameweek_xPoints_ewm_10,gameweek_assists_ewm_20,gameweek_bps_ewm_20,gameweek_creativity_ewm_20,event_points_ewm_20,gameweek_goals_scored_ewm_20,gameweek_goals_conceded_ewm_20,gameweek_saves_ewm_20,gameweek_threat_ewm_20,gameweek_xG_ewm_20,gameweek_xA_ewm_20,gameweek_xGA_ewm_20,gameweek_minutes_ewm_20,gameweek_xPoints_ewm_20,gameweek_assists_ewm_40,gameweek_bps_ewm_40,gameweek_creativity_ewm_40,event_points_ewm_40,gameweek_goals_scored_ewm_40,gameweek_goals_conceded_ewm_40,gameweek_saves_ewm_40,gameweek_threat_ewm_40,gameweek_xG_ewm_40,gameweek_xA_ewm_40,gameweek_xGA_ewm_40,gameweek_minutes_ewm_40,gameweek_xPoints_ewm_40,gameweek_assists_expanding,gameweek_bps_expanding,gameweek_creativity_expanding,event_points_expanding,gameweek_goals_scored_expanding,gameweek_goals_conceded_expanding,gameweek_saves_expanding,gameweek_threat_expanding,gameweek_xG_expanding,gameweek_xA_expanding,gameweek_xGA_expanding,gameweek_minutes_expanding,gameweek_xPoints_expanding,gameweek_assists_expanding_per90,gameweek_bps_expanding_per90,gameweek_creativity_expanding_per90,event_points_expanding_per90,gameweek_goals_scored_expanding_per90,gameweek_goals_conceded_expanding_per90,gameweek_saves_expanding_per90,gameweek_threat_expanding_per90,gameweek_xG_expanding_per90,gameweek_xA_expanding_per90,gameweek_xGA_expanding_per90,gameweek_minutes_expanding_per90,gameweek_xPoints_expanding_per90,xG_overperformance,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,ep_next,ep_this,form,in_dreamteam,news,news_added,photo,special,squad_number,status,team,team_code,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,starts,expected_goals,expected_assists,expected_goal_involvements,expected_goals_conceded,corners_and_indirect_freekicks_text,direct_freekicks_text,penalties_text,expected_goals_per_90,saves_per_90,expected_assists_per_90,expected_goal_involvements_per_90,expected_goals_conceded_per_90,goals_conceded_per_90,now_cost_rank,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90,name,data_retrieved_datetime,region,can_transact,can_select,removed,team_join_date,has_temporary_code,opta_code,mng_win,mng_draw,mng_loss,mng_underdog_win,mng_underdog_draw,mng_clean_sheets,mng_goals_scored,birth_date,opponent_team,date,expected_points,id,xMins
2040,587,Joe,White,0.0,0.0,9.0,0.0,NaN,1.1,489.0,236.0,NaN,0.0,3,1.0,0.0,0.0,0.1,541.0,246.0,0.8,530.0,240.0,12.0,45.0,0.0,0.0,NaN,0.0,0.8,0.0,0.0,0.0,0.0,722.0,283.0,3.0,White,1.0,Newcastle Utd,1,23-24,0.0,0.0,0.11,1.0,0.4,0.9,2.02494,1.935333,1.915484,1.812862,1.496214,1.714745,1.647175,1.50383,0.9,0.4,1.313579,1.425934,1.465312,1.479373,1.384932,1.372106,1.396431,1.412526,0,-5.0,-699.0,-512.4,-4.0,-23.0,0.0,0.0,0.0,0.0,-207.0,-7.0,1.0,-0.757949,-98.183405,-71.365631,7.401939,-0.387552,-3.680109,0.0,-27.021571,0.055954,0.065376,0.476885,56.188644,4.27082,-0.314292,-41.421627,-30.529801,6.172647,-0.152409,-1.665504,0.0,-11.535992,0.037869,0.075576,0.48304,63.522753,4.463711,-0.116343,-13.992599,-11.470035,5.146092,-0.05662,-0.547637,0.0,-3.856884,0.03135,0.075919,0.565524,70.009311,4.410557,-0.042761,-1.752462,-3.540595,4.520333,-0.021132,0.015785,0.0,-0.367642,0.029426,0.068959,0.657022,74.775695,4.291577,-18.0,-2295.0,-1665.9,3.0,-9.0,-90.0,0.0,-640.0,0.0,0.0,0.24,12.0,4.0,-135.0,-17212.5,-12494.25,22.5,-67.5,-675.0,0.0,-4800.0,0.0,0.0,1.8,90.0,30.0,1.0,NaN,NaN,461484.0,0.0,0.0,0.0,0.0,0.9,0.4,0.4,False,NaN,NaN,461484.jpg,False,NaN,a,15,4.0,614.0,9.0,375.0,20.0,0.1,0.7,0.0,0.0,0.0,0.0,0.24,NaN,NaN,NaN,0.0,0.0,0.0,0.0,1.8,0.0,424.0,246.0,342.0,161.0,532.0,249.0,768.0,305.0,0.0,0.0,Joe White,2024-04-26 20:55:05.785060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aston Villa,2025-08-16T11:30:00Z,2.836764,498,90
2041,587,Joe,White,0.0,0.0,9.0,0.0,NaN,1.1,489.0,236.0,NaN,0.0,3,1.0,0.0,0.0,0.1,541.0,246.0,0.8,530.0,240.0,12.0,45.0,0.0,0.0,NaN,0.0,0.8,0.0,0.0,0.0,0.0,722.0,283.0,3.0,White,1.0,Newcastle Utd,2,23-24,0.0,0.0,0.11,1.0,0.4,0.9,2.02494,1.935333,1.915484,1.812862,1.496214,1.714745,1.647175,1.50383,0.9,0.4,2.036131,2.079652,2.156674,2.182681,1.646395,1.323099,1.161447,1.123985,1,-5.0,-699.0,-512.4,-4.0,-23.0,0.0,0.0,0.0,0.0,-207.0,-7.0,1.0,-0.757949,-98.183405,-71.365631,7.401939,-0.387552,-3.680109,0.0,-27.021571,0.055954,0.065376,0.476885,56.188644,4.27082,-0.314292,-41.421627,-30.529801,6.172647,-0.152409,-1.665504,0.0,-11.535992,0.037869,0.075576,0.48304,63.522753,4.463711,-0.116343,-13.992599,-11.470035,5.146092,-0.05662,-0.547637,0.0,-3.856884,0.03135,0.075919,0.565524,70.009311,4.410557,-0.042761,-1.752462,-3.540595,4.520333,-0.021132,0.015785,0.0,-0.367642,0.029426,0.068959,0.657022,74.775695,4.291577,-18.0,-2295.0,-1665.9,3.0,-9.0,-90.0,0.0,-640.0,0.0,0.0,0.24,12.0,4.0,-135.0,-17212.5,-12494.25,22.5,-67.5,-675.0,0.0,-4800.0,0.0,0.0,1.8,90.0,30.0,1.0,NaN,NaN,461484.0,0.0,0.0,0.0,0.0,0.9,0.4,0.4,False,NaN,NaN,461484.jpg,False,NaN,a,15,4.0,614.0,9.0,375.0,20.0,0.1,0.7,0.0,0.0,0.0,0.0,0.24,NaN,NaN,NaN,0.0,0.0,0.0,0.0,1.8,0.0,424.0,246.0,342.0,161.0,532.0,249.0,768.0,305.0,0.0,0.0,Joe White,2024-04-26 20:55:05.785060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Liverpool,2025-08-25T19:00:00Z,2.761324,498,90
2042,587,Joe,White,0.0,0.0,9.0,0.0,NaN,1.1,489.0,236.0,NaN,0.0,3,1.0,0.0,0.0,0.1,541.0,246.0,0.8,530.0,240.0,12.0,45.0,0.0,0.0,NaN,0.0,0.8,0.0,0.0,0.0,0.0,722.0,283.0,3.0,White,1.0,Newcastle Utd,3,23-24,0.0,0.0,0.11,1.0,0.4,0.9,2.02494,1.935333,1.915484,1.812862,1.496214,1.714745,1.647175,1.50383,0.9,0.4,1.253565,1.216534,1.223003,1.256263,2.200852,2.069902,1.920979,1.831955,0,-5.0,-699.0,-512.4,-4.0,-23.0,0.0,0.0,0.0,0.0,-207.0,-7.0,1.0,-0.757949,-98.183405,-71.365631,7.401939,-0.387552,-3.680109,0.0,-27.021571,0.055954,0.065376,0.476885,56.188644,4.27082,-0.314292,-41.421627,-30.529801,6.172647,-0.152409,-1.665504,0.0,-11.535992,0.037869,0.075576,0.48304,63.522753,4.463711,-0.116343,-13.992599,-11.470035,5.146092,-0.05662,-0.547637,0.0,-3.856884,0.03135,0.075919,0.565524,70.009311,4.410557,-0.042761,-1.752462,-3.540595,4.520333,-0.021132,0.015785,0.0,-0.367642,0.029426,0.068959,0.657022,74.775695,4.291577,-18.0,-2295.0,-1665.9,3.0,-9.0,-90.0,0.0,-640.0,0.0,0.0,0.24,12.0,4.0,-135.0,-17212.5,-12494.25,22.5,-67.5,-675.0,0.0,-4800.0,0.0,0.0,1.8,90.0,30.0,1.0,NaN,NaN,461484.0,0.0,0.0,0.0,0.0,0.9,0.4,0.4,False,NaN,NaN,461484.jpg,False,NaN,a,15,4.0,614.0,9.0,375.0,20.0,0.1,0.7,0.0,0.0,0.0,0.0,0.24,NaN,NaN,NaN,0.0,0.0,0.0,0.0,1.8,0.0,424.0,246.0,342.0,161.0,532.0,249.0,768.0,305.0,0.0,0.0,Joe White,2024-04-26 20:55:05.785060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Leeds United,2025-08-30T16:30:00Z,3.500388,498,90
2043,587,Joe,White,0.0,0.0,9.0,0.0,NaN,1.1,489.0,236.0,NaN,0.0,3,1.0,0.0,0.0,0.1,541.0,246.0,0.8,530.0,240.0,12.0,45.0,0.0,0.0,NaN,0.0,0.8,0.0,0.0,0.0,0.0,722.0,283.0,3.0,White,1.0,Newcastle Utd,4,23-24,0.0,0.0,0.11,1.0,0.4,0.9,2.02494,1.935333,1.915484,1.812862,1.496214,1.714745,1.647175,1.50383,0.9,0.4,1.176890,1.206015,1.181976,1.148568,1.371750,1.401738,1.503133,1.584123,1,-5.0,-699.0,-512.4,-4.0,-23.0,0.0,0.0,0.0,0.0,-207.0,-7.0,1.0,-0.757949,-98.183405,-71.365631,7.401939,-0.387552,-3.680109,0.0,-27.021571,0.055954,0.065376,0.476885,56.188644,4.27082,-0.314292,-41.421627,-30.529801,6.172647,-0.152409,-1.665504,0.0,-11.535992,0.037869,0.075576,0.48304,63.522753,4.463711,-0.116343,-13.992599,-11.470035,5.146092,-0.05662,-0.547637,0.0,-3.856884,0.03135,0.075919,0.565524,70.009311,4.410557,-0.042761,-1.752462,-3.540595,4.520333,-0.021132,0.015785,0.0,-0.367642,0.029426,0.068959,0.657022,74.775695,4.291577,-18.0,-2295.0,-1665.9,3.0,-9.0,-90.0,0.0,-640.0,0.0,0.0,0.24,12.0,4.0,-135.0,-17212.5,-12494.25,22.5,-67.5,-675.0,0.0,-4800.0,0.0,0.0,1.8,90.0,30.0,1.0,NaN,NaN,461484.0,0.0,0.0,0.0,0.0,0.9,0.4,0.4,False,NaN,NaN,461484.jpg,False,NaN,a,15,4.0,614.0,9.0,375.0,20.0,0.1,0.7,0.0,0.0,0.0,0.0,0.24,NaN,NaN,NaN,0.0,0.0,0.0,0.0,1.8,0.0,424.0,246.0,342.0,161.0,532.0,249.0,768.0,305.0,0.0,0.0,Joe White,2024-04-26 20:55:05.785060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wolves,2025-09-13T14:00:00Z,3.465653,498,90
2044,587,Joe,White,0.0,0.0,9.0,0.0,NaN,1.1,489.0,236.0,NaN,0.0,3,1.0,0.0,0.0,0.1,541.0,246.0,0.8,530.0,240.0,12.0,45.0,0.0,0.0,NaN,0.0,0.8,0.0,0.0,0.0,0.0,722.0,283.0,3.0,White,1.0,Newcastle Utd,5,23-24,0.0,0.0,0.11,1.0,0.4,0.9,2.02494,1.935333,1.915484,1.812862,1.496214,1.714745,1.647175,1.50383,0.9,0.4,1.219486,1.379651,1.515916,1.527211,1.104394,1.212411,1.284306,1.359902,0,-5.0,-699.0,-512.4,-4.0,-23.0,0.0,0.0,0.0,0.0,-207.0,-7.0,1.0,-0.757949,-98.183405,-71.365631,7.401939,-0.387552,-3.680109,0.0,-27.021571,0.055954,0.065376,0.476885,56.188644,4.27082,-0.314292,-41.421627,-30.529801,6.172647,-0.152409,-1.665504,0.0,-11.535992,0.037869,0.075576,0.48304,63.522753,4.463711,-0.116343,-13.992599,-11.470035,5.146092,-0.05662,-0.547637,0.0,-3.856884,0.03135,0.075919,0.565524,70.009311,4.410557,-0.042761,-1.752462,-3.540595,4.520333,-0.021132,0.015785,0.0,-0.367642,0.029426,0.068959,0.657022,74.775695,4.291577,-18.0,-2295.0,-1665.9,3.0,-9.0,-90.0,0.0,-640.0,0.0,0.0,0.24,12.0,4.0,-135.0,-17212.5,-12494.25,22.5,-67.5,-675.0,0.0,-4800.0,0.0,0.0,1.8,90.0,30.0,1.0,NaN,NaN,461484.0,0.0,0.0,0.0,0.0,0.9,0.4,0.4,False,NaN,NaN,461484.jpg,False,NaN,a,15,4.0,614.0,9.0,375.0,20.0,0.1,0.7,0.0,0.0,0.0,0.0,0.24,NaN,NaN,NaN,0.0,0.0,0.0,0.0,1.8,0.0,424.0,246.0,342.0,161.0,532.0,249.0,768.0,305.0,0.0,0.0,Joe White,2024-04-26 20:55:05.785060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bournemouth,2025-09-20T14:00:00Z,2.887739,498,90
2045,587,Joe,White,0.0,0.0,9.0,0.0,NaN,1.1,489.0,236.0,NaN,0.0,3,1.0,0.0,0.0,0.1,541.0,246.0,0.8,530.0,240.0,12.0,45.0,0.0,0.0,NaN,0.0,0.8,0.0,0.0,0.0,0.0,722.0,283.0,3.0,White,1.0,Newcastle Utd,6,23-24,0.0,0.0,0.11,1.0,0.4,0.9,2.02494,1.935333,1.915484,1.812862,1.496214,1.714745,1.647175,1.50383,0.9,0.4,1.651662,1.591470,1.634892,1.710611,1.104336,0.985828,0.909952,0.901365,1,-5.0,-699.0,-512.4,-4.0,-23.0,0.0,0.0,0.0,0.0,-207.0,-7.0,1.0,-0.757949,-98.183405,-71.365631,7.401939,-0.387552,-3.680109,0.0,-27.021571,0.055954,0.065376,0.476885,56.188644,4.27082,-0.314292,-41.421627,-30.529801,6.172647,-0.152409,-1.665504,0.0,-11.535992,0.037869,0.075576,0.48304,63.522753,4.463711,-0.116343,-13.992599,-11.470035,5.146092,-0.05662,-0.547637,0.0,-3.856884,0.03135,0.075919,0.565524,70.009311,4.410557,-0.042761,-1.752462,-3.540595,4.520333,-0.021132,0.015785,0.0,-0.367642,0.029426,0.068959,0.657022,74.775695,4.291577,-18.0,-2295.0,-1665.9,3.0,-9.0,-90.0,0.0,-640.0,0.0,0.0,0.24,12.0,4.0,-135.0,-17212.5,-12494.25,22.5,-67.5,-675.0,0.0,-4800.0,0.0,0.0,1.8,90.0,30.0,1.0,NaN,NaN,461484.0,0.0,0.0,0.0,0.0,0.9,0.4,0.4,False,NaN,NaN,461484.jpg,False,NaN,a,15,4.0,614.0,9.0,375.0,20.0,0.1,0.7,0.0,0.0,0.0,0.0,0.24,NaN,NaN,NaN,0.0,0.0,0.0,0.0,1.8,0.0,424.0,246.0,342.0,161.0,532.0,249.0,768.0,305.0,0.0,0.0,Joe White,2024-04-26 20:55:05.785060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Arsenal,2025-09-28T15:30:00Z,2.888008,498,90
2046,587,Joe,White,0.0,0.0,9.0,0.0,NaN,1.1,489.0,236.0,NaN,0.0,3,1.0,0.0,0.0,0.1,541.0,246.0,0.8,530.0,240.0,12.0,45.0,0.0,0.0,NaN,0.0,0.8,0.0,0.0,0.0,0.0,722.0,283.0,3.0,White,1.0,Newcastle Utd,7,23-24,0.0,0.0,0.11,1.0,0.4,0.9,2.02494,1.935333,1.915484,1.812862,1.496214,1.714745,1.647175,1.50383,0.9,0.4,1.157059,1.142377,1.186244,1.208460,1.433377,1.448771,1.395832,1.388979,1,-5.0,-699.0,-512.4,-4.0,-23.0,0.0,0.0,0.0,0.0,-207.0,-7.0,1.0,-0.757949,-98.183405,-71.365631,7.401939,-0.387552,-3.680109,0.0,-27.021571,0.055954,0.065376,0.476885,56.188644,4.27082,-0.314292,-41.421627,-30.529801,6.172647,-0.152409,-1.665504,0.0,-11.535992,0.037869,0.075576,0.48304,63.522753,4.463711,-0.116343,-13.992599,-11.470035,5.146092,-0.05662,-0.547637,0.0,-3.856884,0.03135,0.075919,0.565524,70.009311,4.410557,-0.042761,-1.752462,-3.540595,4.520333,-0.021132,0.015785,0.0,-0.367642,0.029426,0.068959,0.657022,74.775695,4.291577,-18.0,-2295.0,-1665.9,3.0,-9.0,-90.0,0.0,-640.0,0.0,0.0,0.24,12.0,4.0,-135.0,-17212.5,-12494.25,22.5,-67.5,-675.0,0.0,-4800.0,0.0,0.0,1.8,90.0,30.0,1.0,NaN,NaN,461484.0,0.0,0.0,0.0,0.0,0.9,0.4,0.4,False,NaN,NaN,461484.jpg,False,NaN,a,15,4.0,614.0,9.0,375.0,20.0,0.1,0.7,0.0,0.0,0.0,0.0,0.24,NaN,NaN,NaN,0.0,0.0,0.0,0.0,1.8,0.0,424.0,246.0,342.0,161.0,532.0,249.0,768.0,305.0,0.0,0.0,Joe White,2024-04-26 20:55:05.785060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nottingham Forest,2025-10-04T14:00:00Z,3.386919,498,90
2047,587,Joe,White,0.0,0.0,9.0,0.0,NaN,1.1,489.0,236.0,NaN,0.0,3,1.0,0.0,0.0,0.1,541.0,246.0,0.8,530.0,240.0,12.0,45.0,0.0,0.0,NaN,0.0,0.8,0.0,0.0,0.0,0.0,722.0,283.0,3.0,White,1.0,Newcastle Utd,8,23-24,0.0,0.0,0.11,1.0,0.4,0.9,2.02494,1.935333,1.915484,1.812862,1.496214,1.714745,1.647175,1.50383,0.9,0.4,1.785518,1.692051,1.599194,1.567086,1.596512,1.468654,1.433656,1.416002,0,-5.0,-699.0,-512.4,-4.0,-23.0,0.0,0.0,0.0,0.0,-207.0,-7.0,1.0,-0.757949,-98.183405,-71.365631,7.401939,-0.387552,-3.680109,0.0,-27.021571,0.055954,0.065376,0.476885,56.188644,4.27082,-0.314292,-41.421627,-30.529801,6.172647,-0.152409,-1.665504,0.0,-11.535992,0.037869,0.075576,0.48304,63.522753,4.463711,-0.116343,-13.992599,-11.470035,5.146092,-0.05662,-0.547637,0.0,-3.856884,0.03135,0.075919,0.565524,70.009311,4.410557,-0.042761,-1.752462,-3.540595,4.520333,-0.021132,0.015785,0.0,-0.367642,0.029426,0.068959,0.657022,74.775695,4.291577,-18.0,-2295.0,-1665.9,3.0,-9.0,-90.0,0.0,-640.0,0.0,0.0,0.24,12.0,4.0,-135.0,-17212.5,-12494.25,22.5,-67.5,-675.0,0.0,-4800.0,0.0,0.0,1.8,90.0,30.0,1.0,NaN,NaN,461484.0,0.0,0.0,0.0,0.0,0.9,0.4,0.4,False,NaN,NaN,461484.jpg,False,NaN,a,15,4.0,614.0,9.0,375.0,20.0,0.1,0.7,0.0,0.0,0.0,0.0,0.24,NaN,NaN,NaN,0.0,0.0,0.0,0.0,1.8,0.0,424.0,246.0,342.0,161.0,532.0,249.0,768.0,305.0,0.0,0.0,Joe White,2024-04-26 20:55:05.785060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Brighton,2025-10-18T14:00:00Z,2.795141,498,90
2048,587,Joe,White,0.0,0.0,9.0,0.0,NaN,1.1,489.0,236.0,NaN,0.0,3,1.0,0.0,0.0,0.1,541.0,246.0,0.8,530.0,240.0,12.0,45.0,0.0,0.0,NaN,0.0,0.8,0.0,0.0,0.0,0.0,722.0,283.0,3.0,White,1.0,Newcastle Utd,9,23-24,0.0,0.0,0.11,1.0,0.4,0.9,2.02494,1.935333,1.915484,1.812862,1.496214,1.714745,1.647175,1.50383,0.9,0.4,1.110795,1.160844,1.235096,1.268223,1.704515,1.449741,1.367156,1.402523,1,-5.0,-699.0,-512.4,-4.0,-23.0,0.0,0.0,0.0,0.0,-207.0,-7.0,1.0,-0.757949,-98.183405,-71.365631,7.401939,-0.387552,-3.680109,0.0,-27.021571,0.055954,0.065376,0.476885,56.188644,4.27082,-0.314292,-41.421627,-30.529801,6.172647,-0.152409,-1.665504,0.0,-11.535992,0.037869,0.075576,0.48304,63.522753,4.463711,-0.116343,-13.992599,-11.470035,5.146092,-0.05662,-0.547637,0.0,-3.856884,0.03135,0.075919,0.565524,70.009311,4.410557,-0.042761,-1.752462,-3.540595,4.520333,-0.021132,0.015785,0.0,-0.367642,0.029426,0.068959,0.657022,74.775695,4.291577,-18.0,-2295.0,-1665.9,3.0,-9.0,-90.0,0.0,-640.0,0.0,0.0,0.24,12.0,4.0,-135.0,-17212.5,-12494.25,22.5,-67.5,-675.0,0.0,-4800.0,0.0,0.0,1.8,90.0,30.0,1.0,NaN,NaN,461484.0,0.0,0.0,0.0,0.0,0.9,0.4,0.4,False,NaN,NaN,461484.jpg,False,NaN,a,15,4.0,614.0,9.0,375.0,20.0,0.1,0.7,0.0,0.0,0.0,0.0,0.24,NaN,NaN,NaN,0.0,0.0,0.0,0.0,1.8,0.0,424.0,246.0,342.0,161.0,532.0,249.0,768.0,305.0,0.0,0.0,Joe White,2024-04-26 20:55:05.785060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fulham,2025-10-25T14:00:00Z,3.230001,498,90
2049,587,Joe,White,0.0,0.0,9.0,0.0,NaN,1.1,489.0,236.0,NaN,0.0,3,1.0,0.0,0.0,0.1,541.0,246.0,0.8,530.0,240.0,12.0,45.0,0.0,0.0,NaN,0.0,0.8,0.0,0.0,0.0,0.0,722.0,283.0,3.0,White,1.0,Newcastle Utd,10,23-24,0.0,0.0,0.11,1.0,0.4,0.9,2.02494,1.935333,1.915484,1.812862,1.496214,1.714745,1.647175,1.50383,0.9,0.4,1.140252,1.139748,1.197336,1.258066,1.330870,1.399544,1.522491,1.596276,0,-5.0,-699.0,-512.4,-4.0,-23.0,0.0,0.0,0.0,0.0,-207.0,-7.0,1.0,-0.757949,-98.183405,-71.365631,7.401939,-0.387552,-3.680109,0.0,-27.021571,0.055954,0.065376,0.476885,56.188644,4.27082,-0.314292,-41.421627,-30.529801,6.172647,-0.152409,-1.665504,0.0,-11.535992,0.037869,0.075576,0.48304,63.522753,4.463711,-0.116343,-13.992599,-11.470035,5.146092,-0.05662,-0.547637,0.0,-3.856884,0.03135,0.075919,0.565524,70.009311,4.410557,-0.042761,-1.752462,-3.540595,4.520333,-0.021132,0.015785,0.0,-0.367642,0.029426,0.068959,0.657022,74.775695,4.291577,-18.0,-2295.0,-1665.9,3.0,-9.0,-90.0,0.0,-640.0,0.0,0.0,0.24,12.0,4.0,-135.0,-17212.5,-12494.25,22.5,-67.5,-675.0,0.0,-4800.0,0.0,0.0,1.8,90.0,30.0,1.0,NaN,NaN,461484.0,0.0,0.0,0.0,0.0,0.9,0.4,0.4,False,NaN,NaN,461484.jpg,False,NaN,a,15,4.0,614.0,9.0,375.0,20.0,0.1,0.7,0.0,0.0,0.0,0.0,0.24,NaN,NaN,NaN,0.0,0.0,0.0,0.0,1.8,0.0,424.0,246.0,342.0,161.0,532.0,249.0,768.0,305.0,0.0,0.0,Joe White,2024-04-26 20:55:05.785060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,West Ham,2025-11-01T15:00:00Z,3.288140,498,90

In [ ]:
projections_pivot.columns