This notebook is used to create a csv file that includes my point projections in a format similar to fplreview.com. This csv file can then be used for making advanced team optimization plans using Sertalp B. Cay's repo "fpl-optimization".

In [1]:
latest_gameweek = 4

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
import json
import requests

pd.set_option('display.max_columns', None)

# Save team data
Info on your own team; starting point for the optimization.

In [ ]:
# get login credentials for fetching team data
file_path = Path('../../login_credentials/fpl_login.json')
#file_path = Path('../../login_credentials/fpl_login2.json')
login_credentials = pd.read_json(file_path, typ='series')

In [ ]:
# utility function for fetching team data
from src.utils import fetch_my_team, simple_team_fetch

In [ ]:
my_team = simple_team_fetch(team_id="4829240", latest_gameweek=latest_gameweek)
my_team

In [ ]:
for i, pick in enumerate(my_team['picks']):
    pick['selling_price'] =

In [ ]:
# save team data to fpl-optimization repo
file_path = Path('../../../fpl-optimization/data/team.json')
with open(file_path, 'w') as f:
    json.dump(my_team, f)

# Edit projections into fplreview format 
### (to be used with fpl-optimization repo solver)

In [3]:
filepath = Path(f'../data/predictions/gameweek{latest_gameweek}.csv')
projections = pd.read_csv(filepath, index_col=0)
if 'id' in projections.columns:
    projections = projections.drop('id', axis=1)
display(projections.head())
display(projections.shape)

,name,element_type,home,opponent_xG_ewm_5,opponent_xG_ewm_10,opponent_xG_ewm_20,opponent_xG_ewm_40,opponent_xGA_ewm_5,opponent_xGA_ewm_10,opponent_xGA_ewm_20,opponent_xGA_ewm_40,corners_and_indirect_freekicks_order,creativity_rank,direct_freekicks_order,ict_index_rank,influence_rank,minutes,now_cost,penalties_order,points_per_game,selected_by_percent,threat_rank,team_xG_ewm_5,team_xG_ewm_10,team_xG_ewm_20,team_xG_ewm_40,team_xGA_ewm_5,team_xGA_ewm_10,team_xGA_ewm_20,team_xGA_ewm_40,gameweek_assists_ewm_5,gameweek_bps_ewm_5,gameweek_creativity_ewm_5,event_points_ewm_5,gameweek_goals_scored_ewm_5,gameweek_goals_conceded_ewm_5,gameweek_saves_ewm_5,gameweek_threat_ewm_5,gameweek_xG_ewm_5,gameweek_xA_ewm_5,gameweek_xGA_ewm_5,gameweek_minutes_ewm_5,gameweek_xPoints_ewm_5,gameweek_assists_ewm_10,gameweek_bps_ewm_10,gameweek_creativity_ewm_10,event_points_ewm_10,gameweek_goals_scored_ewm_10,gameweek_goals_conceded_ewm_10,gameweek_saves_ewm_10,gameweek_threat_ewm_10,gameweek_xG_ewm_10,gameweek_xA_ewm_10,gameweek_xGA_ewm_10,gameweek_minutes_ewm_10,gameweek_xPoints_ewm_10,gameweek_assists_ewm_20,gameweek_bps_ewm_20,gameweek_creativity_ewm_20,event_points_ewm_20,gameweek_goals_scored_ewm_20,gameweek_goals_conceded_ewm_20,gameweek_saves_ewm_20,gameweek_threat_ewm_20,gameweek_xG_ewm_20,gameweek_xA_ewm_20,gameweek_xGA_ewm_20,gameweek_minutes_ewm_20,gameweek_xPoints_ewm_20,gameweek_assists_ewm_40,gameweek_bps_ewm_40,gameweek_creativity_ewm_40,event_points_ewm_40,gameweek_goals_scored_ewm_40,gameweek_goals_conceded_ewm_40,gameweek_saves_ewm_40,gameweek_threat_ewm_40,gameweek_xG_ewm_40,gameweek_xA_ewm_40,gameweek_xGA_ewm_40,gameweek_minutes_ewm_40,gameweek_xPoints_ewm_40,gameweek_assists_expanding,gameweek_bps_expanding,gameweek_creativity_expanding,event_points_expanding,gameweek_goals_scored_expanding,gameweek_goals_conceded_expanding,gameweek_saves_expanding,gameweek_threat_expanding,gameweek_xG_expanding,gameweek_xA_expanding,gameweek_xGA_expanding,gameweek_minutes_expanding,gameweek_xPoints_expanding,gameweek_assists_expanding_per90,gameweek_bps_expanding_per90,gameweek_creativity_expanding_per90,event_points_expanding_per90,gameweek_goals_scored_expanding_per90,gameweek_goals_conceded_expanding_per90,gameweek_saves_expanding_per90,gameweek_threat_expanding_per90,gameweek_xG_expanding_per90,gameweek_xA_expanding_per90,gameweek_xGA_expanding_per90,gameweek_xPoints_expanding_per90,xG_overperformance,team_name,opponent_team,date,gameweek,expected_points
0,Aaron Hickey,2.0,0,1.068262,1.121360,1.200453,1.246722,1.552569,1.459125,1.389818,1.411588,NaN,354.0,NaN,366.0,336.0,20.0,40.0,NaN,0.7,0.4,394.0,1.467521,1.491229,1.49919,1.501324,1.296358,1.302087,1.371309,1.415273,0.0,5.802087,1.671701,1.571053,0.0,0.797394,0.0,1.817668,0.010396,0.004959,0.641499,43.681114,1.59631,0.0,7.868636,2.941746,1.885998,0.0,0.897432,0.0,2.480152,0.014198,0.010774,0.793652,56.378539,1.958312,0.0,9.034712,3.810081,2.085753,0.0,0.926793,0.0,2.722334,0.015794,0.014649,0.857492,62.394358,2.144324,0.0,9.618267,4.288804,2.190125,0.0,0.934477,0.0,2.810322,0.016471,0.016721,0.884594,65.155611,2.233024,0.0,163.0,76.6,39.0,0.0,15.0,0.0,46.0,0.29,0.32,15.44,1151.0,37.071183,0.0,12.745439,5.989574,3.049522,0.0,1.172893,0.0,3.596872,0.022676,0.025022,1.207298,2.898702,0.0,Brentford,Fulham,2025-09-20T19:00:00Z,5,1.804542
1,Aaron Hickey,2.0,1,1.829353,1.627020,1.510908,1.500327,1.543586,1.443412,1.472698,1.513805,NaN,354.0,NaN,366.0,336.0,20.0,40.0,NaN,0.7,0.4,394.0,1.467521,1.491229,1.49919,1.501324,1.296358,1.302087,1.371309,1.415273,0.0,5.802087,1.671701,1.571053,0.0,0.797394,0.0,1.817668,0.010396,0.004959,0.641499,43.681114,1.59631,0.0,7.868636,2.941746,1.885998,0.0,0.897432,0.0,2.480152,0.014198,0.010774,0.793652,56.378539,1.958312,0.0,9.034712,3.810081,2.085753,0.0,0.926793,0.0,2.722334,0.015794,0.014649,0.857492,62.394358,2.144324,0.0,9.618267,4.288804,2.190125,0.0,0.934477,0.0,2.810322,0.016471,0.016721,0.884594,65.155611,2.233024,0.0,163.0,76.6,39.0,0.0,15.0,0.0,46.0,0.29,0.32,15.44,1151.0,37.071183,0.0,12.745439,5.989574,3.049522,0.0,1.172893,0.0,3.596872,0.022676,0.025022,1.207298,2.898702,0.0,Brentford,Manchester Utd,2025-09-27T11:30:00Z,6,1.832436
2,Aaron Hickey,2.0,1,2.042210,1.911024,1.884153,1.936041,1.203759,1.160218,1.166604,1.117045,NaN,354.0,NaN,366.0,336.0,20.0,40.0,NaN,0.7,0.4,394.0,1.467521,1.491229,1.49919,1.501324,1.296358,1.302087,1.371309,1.415273,0.0,5.802087,1.671701,1.571053,0.0,0.797394,0.0,1.817668,0.010396,0.004959,0.641499,43.681114,1.59631,0.0,7.868636,2.941746,1.885998,0.0,0.897432,0.0,2.480152,0.014198,0.010774,0.793652,56.378539,1.958312,0.0,9.034712,3.810081,2.085753,0.0,0.926793,0.0,2.722334,0.015794,0.014649,0.857492,62.394358,2.144324,0.0,9.618267,4.288804,2.190125,0.0,0.934477,0.0,2.810322,0.016471,0.016721,0.884594,65.155611,2.233024,0.0,163.0,76.6,39.0,0.0,15.0,0.0,46.0,0.29,0.32,15.44,1151.0,37.071183,0.0,12.745439,5.989574,3.049522,0.0,1.172893,0.0,3.596872,0.022676,0.025022,1.207298,2.898702,0.0,Brentford,Manchester City,2025-10-05T15:30:00Z,7,1.634242
3,Aaron Hickey,2.0,0,1.122087,1.124229,1.176546,1.240811,1.334405,1.380971,1.490173,1.572309,NaN,354.0,NaN,366.0,336.0,20.0,40.0,NaN,0.7,0.4,394.0,1.467521,1.491229,1.49919,1.501324,1.296358,1.302087,1.371309,1.415273,0.0,5.802087,1.671701,1.571053,0.0,0.797394,0.0,1.817668,0.010396,0.004959,0.641499,43.681114,1.59631,0.0,7.868636,2.941746,1.885998,0.0,0.897432,0.0,2.480152,0.014198,0.010774,0.793652,56.378539,1.958312,0.0,9.034712,3.810081,2.085753,0.0,0.926793,0.0,2.722334,0.015794,0.014649,0.857492,62.394358,2.144324,0.0,9.618267,4.288804,2.190125,0.0,0.934477,0.0,2.810322,0.016471,0.016721,0.884594,65.155611,2.233024,0.0,163.0,76.6,39.0,0.0,15.0,0.0,46.0,0.29,0.32,15.44,1151.0,37.071183,0.0,12.745439,5.989574,3.049522,0.0,1.172893,0.0,3.596872,0.022676,0.025022,1.207298,2.898702,0.0,Brentford,West Ham,2025-10-20T19:00:00Z,8,1.855127
4,Aaron Hickey,2.0,1,1.748879,1.886540,2.036267,2.116778,1.076444,1.128016,1.092754,1.093351,NaN,354.0,NaN,366.0,336.0,20.0,40.0,NaN,0.7,0.4,394.0,1.467521,1.491229,1.49919,1.501324,1.296358,1.302087,1.371309,1.415273,0.0,5.802087,1.671701,1.571053,0.0,0.797394,0.0,1.817668,0.010396,0.004959,0.641499,43.681114,1.59631,0.0,7.868636,2.941746,1.885998,0.0,0.897432,0.0,2.480152,0.014198,0.010774,0.793652,56.378539,1.958312,0.0,9.034712,3.810081,2.085753,0.0,0.926793,0.0,2.722334,0.015794,0.014649,0.857492,62.394358,2.144324,0.0,9.618267,4.288804,2.190125,0.0,0.934477,0.0,2.810322,0.016471,0.016721,0.884594,65.155611,2.233024,0.0,163.0,76.6,39.0,0.0,15.0,0.0,46.0,0.29,0.32,15.44,1151.0,37.071183,0.0,12.745439,5.989574,3.049522,0.0,1.172893,0.0,3.596872,0.022676,0.025022,1.207298,2.898702,0.0,Brentford,Liverpool,2025-10-25T19:00:00Z,9,1.601520

(4020, 113)

In [4]:
if latest_gameweek>0:
    filepath = Path('../data/fpl_df.csv')
elif latest_gameweek==0:
    filepath = Path('../data/fpl_df_preseason_online.csv')
else:
    print('Check latest_gameweek!')

fpl_df = pd.read_csv(filepath, index_col=0, low_memory=False)
fpl_df = fpl_df[fpl_df.season=='25-26']
display(fpl_df.head())
display(fpl_df.shape)

,bonus,bps,clean_sheets,corners_and_indirect_freekicks_order,creativity,creativity_rank,creativity_rank_type,direct_freekicks_order,dreamteam_count,element_type,event_points,first_name,goals_conceded,goals_scored,ict_index,ict_index_rank,ict_index_rank_type,influence,influence_rank,influence_rank_type,minutes,now_cost,own_goals,penalties_missed,penalties_order,penalties_saved,points_per_game,red_cards,saves,second_name,selected_by_percent,threat,threat_rank,threat_rank_type,total_points,web_name,yellow_cards,team_name,gameweek,season,gameweek_xG,gameweek_xA,gameweek_xGA,gameweek_minutes,team_xG,team_xGA,team_xG_ewm_5,team_xG_ewm_10,team_xG_ewm_20,team_xG_ewm_40,team_xGA_ewm_5,team_xGA_ewm_10,team_xGA_ewm_20,team_xGA_ewm_40,opponent_xG,opponent_xGA,opponent_xG_ewm_5,opponent_xG_ewm_10,opponent_xG_ewm_20,opponent_xG_ewm_40,opponent_xGA_ewm_5,opponent_xGA_ewm_10,opponent_xGA_ewm_20,opponent_xGA_ewm_40,home,gameweek_assists,gameweek_bps,gameweek_creativity,gameweek_goals_scored,gameweek_goals_conceded,gameweek_own_goals,gameweek_penalties_saved,gameweek_red_cards,gameweek_saves,gameweek_threat,gameweek_yellow_cards,gameweek_xPoints,gameweek_assists_ewm_5,gameweek_bps_ewm_5,gameweek_creativity_ewm_5,event_points_ewm_5,gameweek_goals_scored_ewm_5,gameweek_goals_conceded_ewm_5,gameweek_saves_ewm_5,gameweek_threat_ewm_5,gameweek_xG_ewm_5,gameweek_xA_ewm_5,gameweek_xGA_ewm_5,gameweek_minutes_ewm_5,gameweek_xPoints_ewm_5,gameweek_assists_ewm_10,gameweek_bps_ewm_10,gameweek_creativity_ewm_10,event_points_ewm_10,gameweek_goals_scored_ewm_10,gameweek_goals_conceded_ewm_10,gameweek_saves_ewm_10,gameweek_threat_ewm_10,gameweek_xG_ewm_10,gameweek_xA_ewm_10,gameweek_xGA_ewm_10,gameweek_minutes_ewm_10,gameweek_xPoints_ewm_10,gameweek_assists_ewm_20,gameweek_bps_ewm_20,gameweek_creativity_ewm_20,event_points_ewm_20,gameweek_goals_scored_ewm_20,gameweek_goals_conceded_ewm_20,gameweek_saves_ewm_20,gameweek_threat_ewm_20,gameweek_xG_ewm_20,gameweek_xA_ewm_20,gameweek_xGA_ewm_20,gameweek_minutes_ewm_20,gameweek_xPoints_ewm_20,gameweek_assists_ewm_40,gameweek_bps_ewm_40,gameweek_creativity_ewm_40,event_points_ewm_40,gameweek_goals_scored_ewm_40,gameweek_goals_conceded_ewm_40,gameweek_saves_ewm_40,gameweek_threat_ewm_40,gameweek_xG_ewm_40,gameweek_xA_ewm_40,gameweek_xGA_ewm_40,gameweek_minutes_ewm_40,gameweek_xPoints_ewm_40,gameweek_assists_expanding,gameweek_bps_expanding,gameweek_creativity_expanding,event_points_expanding,gameweek_goals_scored_expanding,gameweek_goals_conceded_expanding,gameweek_saves_expanding,gameweek_threat_expanding,gameweek_xG_expanding,gameweek_xA_expanding,gameweek_xGA_expanding,gameweek_minutes_expanding,gameweek_xPoints_expanding,gameweek_assists_expanding_per90,gameweek_bps_expanding_per90,gameweek_creativity_expanding_per90,event_points_expanding_per90,gameweek_goals_scored_expanding_per90,gameweek_goals_conceded_expanding_per90,gameweek_saves_expanding_per90,gameweek_threat_expanding_per90,gameweek_xG_expanding_per90,gameweek_xA_expanding_per90,gameweek_xGA_expanding_per90,gameweek_minutes_expanding_per90,gameweek_xPoints_expanding_per90,xG_overperformance,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,ep_next,ep_this,form,id,in_dreamteam,news,news_added,photo,special,squad_number,status,team,team_code,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,starts,expected_goals,expected_assists,expected_goal_involvements,expected_goals_conceded,corners_and_indirect_freekicks_text,direct_freekicks_text,penalties_text,expected_goals_per_90,saves_per_90,expected_assists_per_90,expected_goal_involvements_per_90,expected_goals_conceded_per_90,goals_conceded_per_90,now_cost_rank,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90,name,data_retrieved_datetime,region,can_transact,can_select,removed,team_join_date,has_temporary_code,opta_code,mng_win,mng_draw,mng_loss,mng_underdog_win,mng_underdog_draw,mng_clean_sheets,mng_goals_scored,birth_date,clearances_blocks_interceptions,recoveries,tackles,defensive_contribution,defensive_contribution_per_90,assists,gameweek_defensive_contribution,gameweek_defensive_contribution_ewm_5,gameweek_defensive_contribution_ewm_10,gameweek_defensive_contribution_ewm_20,gameweek_defensive_contribution_ewm_40,gameweek_defensive_contribution_expanding,gameweek_defensive_contribution_expanding_per90
36880,0.0,29.0,1.0,NaN,0.0,284.0,49.0,NaN,0.0,1.0,7.0,Marco,0.0,0.0,2.0,100.0,9.0,19.6,50.0,9.0,90.0,45.0,0.0,0.0,NaN,0.0,7.0,0.0,3.0,Bizot,0.5,0.0,245.0,49.0,7.0,M.Bizot,0.0,Aston Villa,1.0,25-26,0.0,0.00,1.43,90.0,0.2,1.4,1.313579,1.425934,1.465312,1.479373,1.384932,1.372106,1.396431,1.412526,1.4,0.2,1.593568,1.675222,1.744858,1.774032,0.983208,1.085941,1.191533,1.276642,1.0,0.0,29.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,4.808859,0.0,29.000000,0.000000,7.000000,0.000000,0.000000,3.0,0.000000,0.000000,0.000000,1.430000,90.000000,4.808859,0.0,29.000000,0.000000,7.000000,0.000000,0.000000,3.0,0.000000,0.000000,0.000000,1.430000,90.000000,4.808859,0.0,29.000000,0.000000,7.000000,0.000000,0.000000,3.0,0.000000,0.000000,0.000000,1.430000,90.000000,4.808859,0.0,29.000000,0.000000,7.000000,0.000000,0.000000,3.0,0.000000,0.000000,0.000000,1.430000,90.000000,4.808859,0.0,29.0,0.0,7.0,0.0,0.0,3.0,0.0,0.00,0.00,1.43,90.0,4.808859,0.0,29.000000,0.000000,7.000000,0.000000,0.000000,3.0,0.000000,0.000000,0.000000,1.430000,90.0,4.808859,NaN,NaN,NaN,72147.0,0.0,0.0,0.0,0.0,2.3,1.8,7.0,33.0,False,NaN,NaN,72147.jpg,False,NaN,a,2.0,7.0,7887.0,7887.0,1421.0,1421.0,1.6,1.6,1.0,0.0,0.00,0.00,1.43,NaN,NaN,NaN,0.0,3.0,0.00,0.00,1.43,0.0,363.0,19.0,21.0,4.0,21.0,4.0,240.0,33.0,1.00,1.00,Marco Bizot,2025-08-17 10:49:52.276645,152.0,True,True,False,2025-07-15,False,p72147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1991-03-10,1.0,12.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
36881,0.0,25.0,1.0,NaN,1.1,122.0,43.0,NaN,0.0,2.0,8.0,Matty,0.0,0.0,4.1,52.0,12.0,37.6,14.0,3.0,90.0,45.0,0.0,0.0,NaN,0.0,8.0,0.0,0.0,Cash,2.6,2.0,90.0,23.0,8.0,Cash,0.0,Aston Villa,1.0,25-26,0.0,0.00,1.43,90.0,0.2,1.4,1.313579,1.425934,1.465312,1.479373,1.384932,1.372106,1.396431,1.412526,1.4,0.2,1.593568,1.675222,1.744858,1.774032,0.983208,1.085941,1.191533,1.276642,1.0,0.0,25.0,1.1,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,3.018146,0.0,17.209133,4.506281,4.656904,0.002885,0.541847,0.0,7.576545,0.026137,0.018494,1.251494,84.306409,3.244613,0.0,14.362494,5.861730,3.855835,0.014202,0.662160,0.0,6.936326,0.024842,0.033095,1.157831,80.335123,3.083045,0.0,12.413189,6.517204,3.196212,0.026115,0.813224,0.0,7.140079,0.035540,0.045444,1.153880,77.665530,2.934451,0.0,11.839420,6.695960,2.911297,0.035148,0.896779,0.0,7.747004,0.051624,0.052469,1.164990,76.372458,2.933300,0.0,767.0,424.4,183.0,3.0,61.0,0.0,557.0,4.89,3.76,76.94,4917.0,195.201811,0.0,14.039048,7.768151,3.349603,0.054912,1.116534,0.0,10.195241,0.089506,0.068822,1.408298,90.0,3.572943,0.613497,NaN,NaN,199796.0,0.0,0.0,0.0,0.0,1.9,1.4,8.0,36.0,False,NaN,NaN,199796.jpg,False,NaN,a,2.0,7.0,41289.0,41289.0,3059.0,3059.0,1.8,1.8,1.0,0.0,0.00,0.00,1.43,NaN,NaN,NaN,0.0,0.0,0.00,0.00,1.43,0.0,394.0,88.0,15.0,6.0,15.0,6.0,104.0,36.0,1.00,1.00,Matty Cash,2025-08-17 10:49:52.276645,172.0,True,True,False,2020-09-03,False,p199796,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1997-08-07,9.0,2.0,2.0,11.0,11.00,0.0,11.0,11.0,11.0,11.0,11.0,11.0,0.201342
36882,0.0,22.0,1.0,7.0,5.8,72.0,21.0,2.0,0.0,2.0,6.0,Lucas,0.0,0.0,1.7,109.0,36.0,11.6,86.0,37.0,90.0,45.0,0.0,0.0,NaN,0.0,6.0,0.0,0.0,Digne,2.0,0.0,250.0,117.0,6.0,Digne,0.0,Aston Villa,1.0,25-26,0.0,0.01,1.43,90.0,0.2,1.4,1.313579,1.425934,1.465312,1.479373,1.384932,1.372106,1.396431,1.412526,1.4,0.2,1.593568,1.675222,1.744858,1.774032,0.983208,1.085941,1.191533,1.276642,1.0,0.0,22.0,5.8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.757066,0.0,18.860805,17.168811,3.708803,0.000027,0.971104,0.0,1.754832,0.010008,0.071139,1.021347,74.459921,3.093336,0.0,16.212526,18.894168,3.108471,0.001478,1.181394,0.0,3.000256,0.018663,0.087545,1.057493,73.949428,3.094461,0.0,14.378618,19.039713,2.807288,0.006470,1.243797,0.0,3.951715,0.024811,0.099895,1.090203,73.171768,3.027316,0.0,13.979492,19.443029,2.681351,0.009888,1.257933,0.0,4.682568,0.027522,0.107762,1.106579,72.743502,2.975880,0.0,1524.0,2166.4,267.0,1.0,134.0,0.0,572.0,2.93,12.25,115.35,7558.0,301.775416,0.0,18.147658,25.797301,3.179413,0.011908,1.595660,0.0,6.811326,0.034890,0.145872,1.373578,90.0,3.593515,0.341297,NaN,NaN,101188.0,0.0,0.0,0.0,0.0,1.9,1.4,6.0,37.0,False,NaN,NaN,101188.jpg,False,NaN,a,2.0,7.0,8567.0,8567.0,1481.0,1481.0,1.3,1.3,1.0,0.0,0.01,0.01,1.43,NaN,NaN,NaN,0.0,0.0,0.01,0.01,1.43,0.0,369.0,70.0,26.0,9.0,26.0,9.0,128.0,44.0,1.00,1.00,Lucas Digne,2025-08-17 10:49:52.276645,73.0,True,True,False,2022-01-13,False,p101188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993-07-20,5.0,3.0,2.0,7.0,7.00,0.0,7.0,7.0,7.0,7.0,7.0,7.0,0.083355
36883,0.0,15.0,1.0,NaN,1.1,123.0,44.0,NaN,0.0,2.0,3.0,Ezri,0.0,0.0,0.3,168.0,59.0,1.8,152.0,59.0,65.0,45.0,0.0,0.0,NaN,0.0,3.0,1.0,0.0,Konsa Ngoyo,21.8,0.0,273.0,133.0,3.0,Konsa,0.0,Aston Villa,1.0,25-26,0.0,0.01,1.11,65.0,0.2,1.4,1.313579,1.425934,1.465312,1.479373,1.384932,1.372106,1.396431,1.412526,1.4,0.2,1.593568,1.675222,1.744858,1.774032,0.983208,1.085941,1.191533,1.276642,1.0,0.0,15.0,1.1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.268481,0.0,17.733293,3.337312,4.774984,0.128261,0.701910,0.0,7.643575,0.059143,0.021427,1.304643,83.459164,3.194084,0.0,16.223136,3.328470,4.143539,0.086331,0.945156,0.0,6.211008,0.049833,0.018300,1.316131,85.105781,3.373505,0.0,15.081412,3.549911,3.472200,0.062668,1.195020,0.0,5.493292,0.045905,0.018724,1.350621,85.953180,3.347596,0.0,15.476051,3.753735,3.092230,0.054064,1.353889,0.0,5.748955,0.047884,0.019763,1.376559,86.465701,3.300562,0.0,2100.0,420.9,352.0,7.0,182.0,0.0,861.0,6.34,2.19,170.15,10525.0,386.036572,0.0,17.957245,3.599145,3.009976,0.059857,1.556295,0.0,7.362470,0.054214,0.018727,1.454964,90.0,3.301025,1.104101,0.0,NaN,199798.0,0.0,0.0,0.0,0.0,0.0,1.4,3.0,38.0,False,Suspended until 31 Aug,2025-08-16T19:30:05.327199Z,199798.jpg,False,NaN,s,2.0,7.0,14197.0,14197.0,87816.0,87816.0,0.7,0.7,1.0,0.0,0.01,0.01,1.11,NaN,NaN,NaN,0.0,0.0,0.01,0.01,1.54,0.0,395.0,89.0,56.0,20.0,56.0,20.0,17.0,6.0,1.38,1.38,Ezri Konsa Ngoyo,2025-08-17 10:49:52.276645,241.0,True,True,False,2019-07-11,False,p199798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1997-10-23,3.0,1.0,0.0,3.0,4.15,0.0,3.0,3.0,3.0,3.0,3.0,3.0,0.025653
36884,0.0,25.0,1.0,NaN,3.7,81.0,26.0,NaN,0.0,2.0,6.0,Tyrone,0.0,0.0,1.7,110.0,37.0,13.0,77.0,31.0,90.0,45.0,0.0,0.0,NaN,0.0,6.0,0.0,0.0,Mings,1.0,0.0,263.0,127.0,6.0,Mings,0.0,Aston Villa,1.0,25-26,0.0,0.00,1.43,90.0,0.2,1.4,1.313579,1.425934,1.465312,1.479373,1.384932,1.372106,1.396431,1.412526,1.4,0.2,1.593568,1.675222,1.744858,1.774032,0.983208,1.085941,1.191533,1.276642,1.0,0.0,25.0,3.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.018146,0.0,23.645042,4.325593,4.023297,0.005706,0.837203,0.0,6.200713,0.027754,0.012144,0.866428,81.596597,3.746528,0.0,24.356245,4.954664,3.575457,0.021532,1.063261,0.0,7.339105,0.041109,0.019331,0.944260,82.190099,3.778126,0.0,25.259500,5.161661,3.437035,0.037450,1.257998,0.0,8.548031,0.047952,0.025048,1.056409,83.801075,3.767367,0.0,25.543549,5.094626,3.403064,0.049783,1.390894,0.0,9.492360,0.050275,0.026273,1.134597,84.895580,3.720365,0.0,1534.0,293.7,213.0,4.0,91.0,0.0,634.0,3.25,1.56,74.96,5328.0,219.420458,0.0,25.912162,4.961149,3.597973,0.067568,1.537162,0.0,10.709459,0.054899,0.026351,1.266216,90.0,3.706427,1.230769,NaN,NaN,149484.0,0.0,0.0,0.0,0.0,1.9,1.4,6.0,40.0,False,NaN,NaN,149484.jpg,False,NaN,a,2.0,7.0,9325.0,9325.0,1218.0,1218.0,1.3,1.3,1.0,0.0,0.00,0.00,1.43,NaN,NaN,NaN,0.0,0.0,0.00,0.00,1.43,0.0,382.0,80.0,27.0,10.0,27.0,10.0,180.0,66.0,1.00,1.00,Tyrone Mings,2025-08-17 10:49:52.276645,241.0,True,True,False,2019-07-08,False,p149484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993-03-13,5.0,2.0,0.0,5.0,5.00,0.0,5.0,5.0,5.0,5.0,5.0,5.0,0.084459

(1218, 236)

In [5]:
df = fpl_df.groupby('name').last().reset_index()[['id', 'name', 'element_type', 'points_per_game', 'total_points',]]
#df['id'] = df.id.astype(int)
df['games_played'] = np.round(np.where(df['points_per_game']!=0, df['total_points'] / df['points_per_game'], 0),0)
display(df.head())
display(df.shape)

,id,name,element_type,points_per_game,total_points,games_played
0,116.0,Aaron Hickey,2.0,0.7,2.0,3.0
1,610.0,Aaron Wan-Bissaka,2.0,0.5,1.0,2.0
2,406.0,Abdukodir Khusanov,2.0,3.3,10.0,3.0
3,73.0,Adam Smith,2.0,2.7,8.0,3.0
4,273.0,Adam Wharton,3.0,2.0,6.0,3.0

(402, 6)

In [6]:
# drop duplicate players (some players get new spelling for their name during the season causing duplicates)
duplicate_ids = df.loc[df.id.duplicated(), 'id'].unique()
for id in duplicate_ids:
    ix = df.loc[df.id==id, 'games_played'].idxmin()
    df = df.drop(ix)
display(df.head())
display(df.shape)

,id,name,element_type,points_per_game,total_points,games_played
0,116.0,Aaron Hickey,2.0,0.7,2.0,3.0
1,610.0,Aaron Wan-Bissaka,2.0,0.5,1.0,2.0
2,406.0,Abdukodir Khusanov,2.0,3.3,10.0,3.0
3,73.0,Adam Smith,2.0,2.7,8.0,3.0
4,273.0,Adam Wharton,3.0,2.0,6.0,3.0

(402, 6)

In [7]:
# merge id info to projections
projections = projections.merge(df[['id', 'name']], on='name', how='left')
projections.head()

,name,element_type,home,opponent_xG_ewm_5,opponent_xG_ewm_10,opponent_xG_ewm_20,opponent_xG_ewm_40,opponent_xGA_ewm_5,opponent_xGA_ewm_10,opponent_xGA_ewm_20,opponent_xGA_ewm_40,corners_and_indirect_freekicks_order,creativity_rank,direct_freekicks_order,ict_index_rank,influence_rank,minutes,now_cost,penalties_order,points_per_game,selected_by_percent,threat_rank,team_xG_ewm_5,team_xG_ewm_10,team_xG_ewm_20,team_xG_ewm_40,team_xGA_ewm_5,team_xGA_ewm_10,team_xGA_ewm_20,team_xGA_ewm_40,gameweek_assists_ewm_5,gameweek_bps_ewm_5,gameweek_creativity_ewm_5,event_points_ewm_5,gameweek_goals_scored_ewm_5,gameweek_goals_conceded_ewm_5,gameweek_saves_ewm_5,gameweek_threat_ewm_5,gameweek_xG_ewm_5,gameweek_xA_ewm_5,gameweek_xGA_ewm_5,gameweek_minutes_ewm_5,gameweek_xPoints_ewm_5,gameweek_assists_ewm_10,gameweek_bps_ewm_10,gameweek_creativity_ewm_10,event_points_ewm_10,gameweek_goals_scored_ewm_10,gameweek_goals_conceded_ewm_10,gameweek_saves_ewm_10,gameweek_threat_ewm_10,gameweek_xG_ewm_10,gameweek_xA_ewm_10,gameweek_xGA_ewm_10,gameweek_minutes_ewm_10,gameweek_xPoints_ewm_10,gameweek_assists_ewm_20,gameweek_bps_ewm_20,gameweek_creativity_ewm_20,event_points_ewm_20,gameweek_goals_scored_ewm_20,gameweek_goals_conceded_ewm_20,gameweek_saves_ewm_20,gameweek_threat_ewm_20,gameweek_xG_ewm_20,gameweek_xA_ewm_20,gameweek_xGA_ewm_20,gameweek_minutes_ewm_20,gameweek_xPoints_ewm_20,gameweek_assists_ewm_40,gameweek_bps_ewm_40,gameweek_creativity_ewm_40,event_points_ewm_40,gameweek_goals_scored_ewm_40,gameweek_goals_conceded_ewm_40,gameweek_saves_ewm_40,gameweek_threat_ewm_40,gameweek_xG_ewm_40,gameweek_xA_ewm_40,gameweek_xGA_ewm_40,gameweek_minutes_ewm_40,gameweek_xPoints_ewm_40,gameweek_assists_expanding,gameweek_bps_expanding,gameweek_creativity_expanding,event_points_expanding,gameweek_goals_scored_expanding,gameweek_goals_conceded_expanding,gameweek_saves_expanding,gameweek_threat_expanding,gameweek_xG_expanding,gameweek_xA_expanding,gameweek_xGA_expanding,gameweek_minutes_expanding,gameweek_xPoints_expanding,gameweek_assists_expanding_per90,gameweek_bps_expanding_per90,gameweek_creativity_expanding_per90,event_points_expanding_per90,gameweek_goals_scored_expanding_per90,gameweek_goals_conceded_expanding_per90,gameweek_saves_expanding_per90,gameweek_threat_expanding_per90,gameweek_xG_expanding_per90,gameweek_xA_expanding_per90,gameweek_xGA_expanding_per90,gameweek_xPoints_expanding_per90,xG_overperformance,team_name,opponent_team,date,gameweek,expected_points,id
0,Aaron Hickey,2.0,0,1.068262,1.121360,1.200453,1.246722,1.552569,1.459125,1.389818,1.411588,NaN,354.0,NaN,366.0,336.0,20.0,40.0,NaN,0.7,0.4,394.0,1.467521,1.491229,1.49919,1.501324,1.296358,1.302087,1.371309,1.415273,0.0,5.802087,1.671701,1.571053,0.0,0.797394,0.0,1.817668,0.010396,0.004959,0.641499,43.681114,1.59631,0.0,7.868636,2.941746,1.885998,0.0,0.897432,0.0,2.480152,0.014198,0.010774,0.793652,56.378539,1.958312,0.0,9.034712,3.810081,2.085753,0.0,0.926793,0.0,2.722334,0.015794,0.014649,0.857492,62.394358,2.144324,0.0,9.618267,4.288804,2.190125,0.0,0.934477,0.0,2.810322,0.016471,0.016721,0.884594,65.155611,2.233024,0.0,163.0,76.6,39.0,0.0,15.0,0.0,46.0,0.29,0.32,15.44,1151.0,37.071183,0.0,12.745439,5.989574,3.049522,0.0,1.172893,0.0,3.596872,0.022676,0.025022,1.207298,2.898702,0.0,Brentford,Fulham,2025-09-20T19:00:00Z,5,1.804542,116.0
1,Aaron Hickey,2.0,1,1.829353,1.627020,1.510908,1.500327,1.543586,1.443412,1.472698,1.513805,NaN,354.0,NaN,366.0,336.0,20.0,40.0,NaN,0.7,0.4,394.0,1.467521,1.491229,1.49919,1.501324,1.296358,1.302087,1.371309,1.415273,0.0,5.802087,1.671701,1.571053,0.0,0.797394,0.0,1.817668,0.010396,0.004959,0.641499,43.681114,1.59631,0.0,7.868636,2.941746,1.885998,0.0,0.897432,0.0,2.480152,0.014198,0.010774,0.793652,56.378539,1.958312,0.0,9.034712,3.810081,2.085753,0.0,0.926793,0.0,2.722334,0.015794,0.014649,0.857492,62.394358,2.144324,0.0,9.618267,4.288804,2.190125,0.0,0.934477,0.0,2.810322,0.016471,0.016721,0.884594,65.155611,2.233024,0.0,163.0,76.6,39.0,0.0,15.0,0.0,46.0,0.29,0.32,15.44,1151.0,37.071183,0.0,12.745439,5.989574,3.049522,0.0,1.172893,0.0,3.596872,0.022676,0.025022,1.207298,2.898702,0.0,Brentford,Manchester Utd,2025-09-27T11:30:00Z,6,1.832436,116.0
2,Aaron Hickey,2.0,1,2.042210,1.911024,1.884153,1.936041,1.203759,1.160218,1.166604,1.117045,NaN,354.0,NaN,366.0,336.0,20.0,40.0,NaN,0.7,0.4,394.0,1.467521,1.491229,1.49919,1.501324,1.296358,1.302087,1.371309,1.415273,0.0,5.802087,1.671701,1.571053,0.0,0.797394,0.0,1.817668,0.010396,0.004959,0.641499,43.681114,1.59631,0.0,7.868636,2.941746,1.885998,0.0,0.897432,0.0,2.480152,0.014198,0.010774,0.793652,56.378539,1.958312,0.0,9.034712,3.810081,2.085753,0.0,0.926793,0.0,2.722334,0.015794,0.014649,0.857492,62.394358,2.144324,0.0,9.618267,4.288804,2.190125,0.0,0.934477,0.0,2.810322,0.016471,0.016721,0.884594,65.155611,2.233024,0.0,163.0,76.6,39.0,0.0,15.0,0.0,46.0,0.29,0.32,15.44,1151.0,37.071183,0.0,12.745439,5.989574,3.049522,0.0,1.172893,0.0,3.596872,0.022676,0.025022,1.207298,2.898702,0.0,Brentford,Manchester City,2025-10-05T15:30:00Z,7,1.634242,116.0
3,Aaron Hickey,2.0,0,1.122087,1.124229,1.176546,1.240811,1.334405,1.380971,1.490173,1.572309,NaN,354.0,NaN,366.0,336.0,20.0,40.0,NaN,0.7,0.4,394.0,1.467521,1.491229,1.49919,1.501324,1.296358,1.302087,1.371309,1.415273,0.0,5.802087,1.671701,1.571053,0.0,0.797394,0.0,1.817668,0.010396,0.004959,0.641499,43.681114,1.59631,0.0,7.868636,2.941746,1.885998,0.0,0.897432,0.0,2.480152,0.014198,0.010774,0.793652,56.378539,1.958312,0.0,9.034712,3.810081,2.085753,0.0,0.926793,0.0,2.722334,0.015794,0.014649,0.857492,62.394358,2.144324,0.0,9.618267,4.288804,2.190125,0.0,0.934477,0.0,2.810322,0.016471,0.016721,0.884594,65.155611,2.233024,0.0,163.0,76.6,39.0,0.0,15.0,0.0,46.0,0.29,0.32,15.44,1151.0,37.071183,0.0,12.745439,5.989574,3.049522,0.0,1.172893,0.0,3.596872,0.022676,0.025022,1.207298,2.898702,0.0,Brentford,West Ham,2025-10-20T19:00:00Z,8,1.855127,116.0
4,Aaron Hickey,2.0,1,1.748879,1.886540,2.036267,2.116778,1.076444,1.128016,1.092754,1.093351,NaN,354.0,NaN,366.0,336.0,20.0,40.0,NaN,0.7,0.4,394.0,1.467521,1.491229,1.49919,1.501324,1.296358,1.302087,1.371309,1.415273,0.0,5.802087,1.671701,1.571053,0.0,0.797394,0.0,1.817668,0.010396,0.004959,0.641499,43.681114,1.59631,0.0,7.868636,2.941746,1.885998,0.0,0.897432,0.0,2.480152,0.014198,0.010774,0.793652,56.378539,1.958312,0.0,9.034712,3.810081,2.085753,0.0,0.926793,0.0,2.722334,0.015794,0.014649,0.857492,62.394358,2.144324,0.0,9.618267,4.288804,2.190125,0.0,0.934477,0.0,2.810322,0.016471,0.016721,0.884594,65.155611,2.233024,0.0,163.0,76.6,39.0,0.0,15.0,0.0,46.0,0.29,0.32,15.44,1151.0,37.071183,0.0,12.745439,5.989574,3.049522,0.0,1.172893,0.0,3.596872,0.022676,0.025022,1.207298,2.898702,0.0,Brentford,Liverpool,2025-10-25T19:00:00Z,9,1.601520,116.0

In [8]:
# add xMins variable that is needed later
projections['xMins'] = 90

In [9]:
projections[['id', 'expected_points', 'xMins', 'gameweek']]

         id  expected_points  xMins  gameweek
0     116.0         1.804542     90         5
1     116.0         1.832436     90         6
2     116.0         1.634242     90         7
3     116.0         1.855127     90         8
4     116.0         1.601520     90         9
...     ...              ...    ...       ...
4015   67.0         2.592192     90        10
4016   67.0         3.436314     90        11
4017   67.0         3.753609     90        12
4018   67.0         3.650787     90        13
4019   67.0         3.556656     90        14

[4020 rows x 4 columns]

In [10]:
projections_pivot = (
    projections
    .pivot_table(
    columns=['gameweek',],
    index='id', 
    values=['expected_points','xMins'], 
    aggfunc='sum'
    )
)

projections_pivot.head()

         expected_points                                                    \
gameweek              5         6         7         8         9         10
id
1.0             3.337535  3.510134  4.262082  4.103780  3.714245  4.411967
5.0             3.150544  3.288145  4.091816  3.926201  3.509044  4.322582
6.0             2.813639  2.934890  3.727288  3.548738  3.182795  3.927813
7.0             3.271634  3.164786  4.052055  3.731205  3.494883  4.298385
8.0             3.599852  3.537086  4.362222  4.116100  3.832041  4.832980

                                                 xMins                      \
gameweek        11        12        13        14    5   6   7   8   9   10
id
1.0       4.156691  4.073056  3.554035  3.893904    90  90  90  90  90  90
5.0       4.030967  3.972979  3.325574  3.677697    90  90  90  90  90  90
6.0       3.665804  3.586796  2.929990  3.306730    90  90  90  90  90  90
7.0       3.934961  3.905810  3.199672  3.588524    90  90  90  90  90  90
8.0       4.336062  4.300191  3.569754  3.978064    90  90  90  90  90  90


gameweek  11  12  13  14
id
1.0       90  90  90  90
5.0       90  90  90  90
6.0       90  90  90  90
7.0       90  90  90  90
8.0       90  90  90  90

In [11]:
new_cols = []
for col in projections_pivot.columns:
    if col[0] == 'expected_points':
        new_col = str(col[1]) + '_Pts'
        new_cols.append(new_col)
    elif col[0] == 'xMins':
        new_col = str(col[1]) + '_xMins'
        new_cols.append(new_col)

projections_pivot.columns = new_cols
projections_pivot = projections_pivot.reset_index()
projections_pivot = projections_pivot.rename(columns={'id':'ID'})

projections_pivot.head()

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins
0,1.0,3.337535,3.510134,4.262082,4.103780,3.714245,4.411967,4.156691,4.073056,3.554035,3.893904,90,90,90,90,90,90,90,90,90,90
1,5.0,3.150544,3.288145,4.091816,3.926201,3.509044,4.322582,4.030967,3.972979,3.325574,3.677697,90,90,90,90,90,90,90,90,90,90
2,6.0,2.813639,2.934890,3.727288,3.548738,3.182795,3.927813,3.665804,3.586796,2.929990,3.306730,90,90,90,90,90,90,90,90,90,90
3,7.0,3.271634,3.164786,4.052055,3.731205,3.494883,4.298385,3.934961,3.905810,3.199672,3.588524,90,90,90,90,90,90,90,90,90,90
4,8.0,3.599852,3.537086,4.362222,4.116100,3.832041,4.832980,4.336062,4.300191,3.569754,3.978064,90,90,90,90,90,90,90,90,90,90

In [12]:
position_dict = {1:'G', 2:'D', 3:'M', 4:'F'}
df['Pos'] = df['element_type'].map(position_dict)
df.rename(columns={'id':'ID'}, inplace=True)

In [13]:
projections_pivot = pd.merge(projections_pivot, df[['ID', 'Pos']], on='ID', how='left')
projections_pivot.head()

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
0,1.0,3.337535,3.510134,4.262082,4.103780,3.714245,4.411967,4.156691,4.073056,3.554035,3.893904,90,90,90,90,90,90,90,90,90,90,G
1,5.0,3.150544,3.288145,4.091816,3.926201,3.509044,4.322582,4.030967,3.972979,3.325574,3.677697,90,90,90,90,90,90,90,90,90,90,D
2,6.0,2.813639,2.934890,3.727288,3.548738,3.182795,3.927813,3.665804,3.586796,2.929990,3.306730,90,90,90,90,90,90,90,90,90,90,D
3,7.0,3.271634,3.164786,4.052055,3.731205,3.494883,4.298385,3.934961,3.905810,3.199672,3.588524,90,90,90,90,90,90,90,90,90,90,D
4,8.0,3.599852,3.537086,4.362222,4.116100,3.832041,4.832980,4.336062,4.300191,3.569754,3.978064,90,90,90,90,90,90,90,90,90,90,D

In [14]:
filepath = Path('../../../FPL-Optimization-Tools/data/projections.csv')
projections_pivot.to_csv(filepath)

### Option to make manual changes, e.g., to xPts (based on injuries)

### adjust points

If model is underestimating e.g. Haaland currently, test how many points more he would need to be getting in order to be drafed to the team in the optimization.

In [ ]:
projections.loc[projections['name'].str.contains('Wood'), 'id'].unique()
#projections.loc[projections['name'].str.contains('Palme'), 'id'].unique()

In [ ]:
player_id = 477
display(projections.loc[projections.id==player_id, 'name'].unique())
display(projections_pivot[projections_pivot.ID==player_id])

In [ ]:
pts_cols = [col for col in projections_pivot.columns if 'Pts' in col]
projections_pivot.loc[projections_pivot.ID==player_id, pts_cols].sum(axis=1) / 10

In [ ]:
gameweeks = np.arange(latest_gameweek+1,latest_gameweek+11)
add_constant = -0.5

for i in range(len(gameweeks)):
    projections_pivot.loc[projections_pivot.ID==player_id, f'{gameweeks[i]}_Pts'] = \
        projections_pivot.loc[projections_pivot.ID==player_id, f'{gameweeks[i]}_Pts'] + add_constant

display(projections_pivot[projections_pivot.ID==player_id])

### Adjust points for unavailable players or players with uncertain availability

In [15]:
def adjust_points_via_weights(player_id, gameweeks, weights):
    '''Adjust projected player points via gameweek specific weights indicating probability of playing.

    Input:
    player_id (int): Player ID number.
    gameweeks (list): List of gameweek numbers to be adjusted.
    weights (list): Weights for adjusting points for each gameweek given in parameter gameweeks.
    '''
    if len(projections.loc[projections.id==player_id]) > 0:
        player_name = projections.loc[projections.id==player_id, 'name'].unique().item()
        print(f'Name: {player_name}')
        print('Point predictions before adjustment:')
        display(projections_pivot[projections_pivot.ID==player_id])

        # adjust points via probability of playing
        for i in range(len(gameweeks)):
            projections_pivot.loc[projections_pivot.ID==player_id, f'{gameweeks[i]}_Pts'] = \
                weights[i]*projections_pivot.loc[projections_pivot.ID==player_id, f'{gameweeks[i]}_Pts']
            
        print('Point predictions after adjustment:')
        display(projections_pivot[projections_pivot.ID==player_id])
    else:
        print(f'No player with ID {player_id} found in projections!')

### Automatic adjustments

In [16]:
# fetch online data
fpl_online_data = json.loads(requests.get('https://fantasy.premierleague.com/api/bootstrap-static/').text)
fpl_online_df = pd.DataFrame(fpl_online_data['elements'])

In [17]:
# get play probabilities for players with injuries
play_probabilities = []
for _, row in fpl_online_df.iterrows():
    news = row['news']
    news_splitted = news.split('-')
    if len(news_splitted) > 1:
        first_3_chars = news_splitted[1].strip()[0:3]
        if first_3_chars == '25%':
            play_probabilities.append(0.25)
        elif first_3_chars == '50%':
            play_probabilities.append(0.5)
        elif first_3_chars == '75%':
            play_probabilities.append(0.75)
        else:
            play_probabilities.append(1.0)
    else:
        play_probabilities.append(1.0)
fpl_online_df['play_probability'] = play_probabilities

In [18]:
# adjust player points based on play probabilities
# only include players with minutes played (which have existing projections)
prob25_ids = fpl_online_df.loc[(fpl_online_df.play_probability==0.25) & (fpl_online_df.minutes>0), 'id'].values
prob50_ids = fpl_online_df.loc[(fpl_online_df.play_probability==0.5) & (fpl_online_df.minutes>0), 'id'].values
prob75_ids = fpl_online_df.loc[(fpl_online_df.play_probability==0.75) & (fpl_online_df.minutes>0), 'id'].values

for player_id in prob25_ids:
    if latest_gameweek<=35:
        adjust_points_via_weights(player_id=player_id, gameweeks=[latest_gameweek+1, latest_gameweek+2, latest_gameweek+3], weights=[0.25,0.5,0.75])
    elif latest_gameweek==36:
        adjust_points_via_weights(player_id=player_id, gameweeks=[latest_gameweek+1, latest_gameweek+2], weights=[0.25,0.5])
    elif latest_gameweek==37:
        adjust_points_via_weights(player_id=player_id, gameweeks=[latest_gameweek+1], weights=[0.25])
    else:
        print('Check latest_gameweek!')

for player_id in prob50_ids:
    if latest_gameweek<=36:
        adjust_points_via_weights(player_id=player_id, gameweeks=[latest_gameweek+1, latest_gameweek+2], weights=[0.5,0.75])
    elif latest_gameweek==37:
        adjust_points_via_weights(player_id=player_id, gameweeks=[latest_gameweek+1], weights=[0.5])
    else:
        print('Check latest_gameweek!')

for player_id in prob75_ids:
    adjust_points_via_weights(player_id=player_id, gameweeks=[latest_gameweek+1], weights=[0.75])

Name: Wilfried Gnonto
Point predictions before adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
187,351.0,1.870982,1.788818,1.855598,2.016341,1.881697,1.701909,1.800275,1.855251,1.590263,1.743042,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
187,351.0,0.467745,0.894409,1.391698,2.016341,1.881697,1.701909,1.800275,1.855251,1.590263,1.743042,90,90,90,90,90,90,90,90,90,90,M

Name: Daniel James
Point predictions before adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
189,353.0,2.355492,2.153601,2.258689,2.564958,2.372612,2.024102,2.251941,2.285608,1.897566,2.099015,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
189,353.0,0.588873,1.0768,1.694017,2.564958,2.372612,2.024102,2.251941,2.285608,1.897566,2.099015,90,90,90,90,90,90,90,90,90,90,M

Name: Rayan Aït-Nouri
Point predictions before adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
213,402.0,2.859306,4.041595,3.110299,3.6086,3.491206,3.262636,2.793694,2.896861,3.962819,3.547359,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
213,402.0,0.714826,2.020798,2.332724,3.6086,3.491206,3.262636,2.793694,2.896861,3.962819,3.547359,90,90,90,90,90,90,90,90,90,90,D

Name: Omar Marmoush
Point predictions before adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
222,413.0,3.230543,4.790051,3.580706,3.910961,3.874557,3.69434,3.411807,3.253103,4.602036,3.880851,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
222,413.0,0.807636,2.395026,2.68553,3.910961,3.874557,3.69434,3.411807,3.253103,4.602036,3.880851,90,90,90,90,90,90,90,90,90,90,M

Name: Fabian Schär
Point predictions before adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
256,474.0,3.184818,3.050457,3.823149,3.193127,3.742536,3.719409,3.22931,3.016002,3.472946,3.651724,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
256,474.0,0.796204,1.525228,2.867362,3.193127,3.742536,3.719409,3.22931,3.016002,3.472946,3.651724,90,90,90,90,90,90,90,90,90,90,D

Name: Ki-Jana Hoever
Point predictions before adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
341,638.0,2.300497,1.954265,1.878777,2.204844,2.39242,2.013748,1.708685,1.874264,1.980508,2.120112,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
341,638.0,0.575124,0.977133,1.409083,2.204844,2.39242,2.013748,1.708685,1.874264,1.980508,2.120112,90,90,90,90,90,90,90,90,90,90,D

Name: Benjamin White
Point predictions before adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
6,11.0,2.676438,2.691913,3.490752,3.288062,2.931272,3.617955,3.495834,3.278063,2.685858,3.011993,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
6,11.0,1.338219,2.018935,3.490752,3.288062,2.931272,3.617955,3.495834,3.278063,2.685858,3.011993,90,90,90,90,90,90,90,90,90,90,D

Name: Bukayo Saka
Point predictions before adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
7,16.0,4.147774,3.841268,5.008543,4.365312,4.235019,5.648911,4.62452,5.096197,3.945561,4.429202,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
7,16.0,2.073887,2.880951,5.008543,4.365312,4.235019,5.648911,4.62452,5.096197,3.945561,4.429202,90,90,90,90,90,90,90,90,90,90,M

Name: Martin Ødegaard
Point predictions before adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
8,17.0,2.61705,2.626208,3.277564,3.047605,2.719505,3.57679,3.368231,3.043817,2.584432,2.801125,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
8,17.0,1.308525,1.969656,3.277564,3.047605,2.719505,3.57679,3.368231,3.043817,2.584432,2.801125,90,90,90,90,90,90,90,90,90,90,M

Name: Vitalii Mykolenko
Point predictions before adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
149,292.0,2.224988,3.303712,2.702606,2.322003,3.091419,3.316312,3.182864,2.704909,2.632344,2.636785,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
149,292.0,1.112494,2.477784,2.702606,2.322003,3.091419,3.316312,3.182864,2.704909,2.632344,2.636785,90,90,90,90,90,90,90,90,90,90,D

Name: John Stones
Point predictions before adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
219,409.0,2.347485,3.419275,2.491476,2.86583,2.77889,2.652039,2.310124,2.394777,3.302213,2.834267,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
219,409.0,1.173742,2.564456,2.491476,2.86583,2.77889,2.652039,2.310124,2.394777,3.302213,2.834267,90,90,90,90,90,90,90,90,90,90,D

Name: Victor Lindelöf
Point predictions before adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
391,719.0,2.378082,2.176448,2.521034,2.012114,1.825824,1.58553,1.982667,2.3783,2.424711,1.839018,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
391,719.0,1.783561,2.176448,2.521034,2.012114,1.825824,1.58553,1.982667,2.3783,2.424711,1.839018,90,90,90,90,90,90,90,90,90,90,D

Name: Jacob Bruun Larsen
Point predictions before adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
102,202.0,2.878247,2.28338,2.607286,3.082941,2.908691,2.51126,2.769455,2.557974,2.487389,2.590925,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
102,202.0,2.158685,2.28338,2.607286,3.082941,2.908691,2.51126,2.769455,2.557974,2.487389,2.590925,90,90,90,90,90,90,90,90,90,90,M

Name: Bafodé Diakité
Point predictions before adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
371,685.0,2.881806,3.641365,3.453784,2.79385,3.556668,2.484168,3.237033,3.547103,3.433884,3.319495,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
371,685.0,2.161354,3.641365,3.453784,2.79385,3.556668,2.484168,3.237033,3.547103,3.433884,3.319495,90,90,90,90,90,90,90,90,90,90,D

Name: Maxim De Cuyper
Point predictions before adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
75,145.0,2.379633,1.951718,2.588344,2.136625,2.134779,2.758789,1.973752,2.218801,2.409272,2.477842,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
75,145.0,1.784725,1.951718,2.588344,2.136625,2.134779,2.758789,1.973752,2.218801,2.409272,2.477842,90,90,90,90,90,90,90,90,90,90,D

Name: Kieran Trippier
Point predictions before adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
260,478.0,2.914003,2.908817,3.624189,2.91559,3.534111,3.557228,2.906072,2.79786,3.236709,3.49852,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
260,478.0,2.185502,2.908817,3.624189,2.91559,3.534111,3.557228,2.906072,2.79786,3.236709,3.49852,90,90,90,90,90,90,90,90,90,90,D

Name: Murillo Costa dos Santos
Point predictions before adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
274,506.0,2.471616,2.518121,1.996909,2.094509,2.097142,2.250117,2.481525,1.760929,2.151486,2.325104,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
274,506.0,1.853712,2.518121,1.996909,2.094509,2.097142,2.250117,2.481525,1.760929,2.151486,2.325104,90,90,90,90,90,90,90,90,90,90,D

Name: Daniel Ballard
Point predictions before adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
286,531.0,4.590389,4.50322,4.415806,5.01502,3.827479,4.485187,3.944335,4.422904,4.200241,3.650699,90,90,90,90,90,90,90,90,90,90,D

Point predictions after adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
286,531.0,3.442792,4.50322,4.415806,5.01502,3.827479,4.485187,3.944335,4.422904,4.200241,3.650699,90,90,90,90,90,90,90,90,90,90,D

Name: Enzo Le Fée
Point predictions before adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
293,547.0,3.600537,3.696547,3.418028,3.896029,3.189664,3.580807,3.149377,3.638418,3.409001,2.927932,90,90,90,90,90,90,90,90,90,90,M

Point predictions after adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
293,547.0,2.700403,3.696547,3.418028,3.896029,3.189664,3.580807,3.149377,3.638418,3.409001,2.927932,90,90,90,90,90,90,90,90,90,90,M

Name: Jørgen Strand Larsen
Point predictions before adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
348,654.0,4.087697,3.559274,3.380157,3.72142,4.255736,3.415389,2.971447,3.274386,3.383505,3.681109,90,90,90,90,90,90,90,90,90,90,F

Point predictions after adjustment:

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
348,654.0,3.065773,3.559274,3.380157,3.72142,4.255736,3.415389,2.971447,3.274386,3.383505,3.681109,90,90,90,90,90,90,90,90,90,90,F

Add low baseline predictions for players who don't have any projections yet.

In [19]:
fpl_ids = set(fpl_online_df.id.unique())
projection_ids = set(projections_pivot.ID.unique())
missing_ids = fpl_ids - projection_ids
len(missing_ids)

338

In [20]:
cols = ['ID']
cols += [f'{x}_Pts' for x in range(latest_gameweek+1, latest_gameweek+11)]
cols += [f'{x}_xMins' for x in range(latest_gameweek+1, latest_gameweek+11)]
cols += ['Pos']

new_rows = []
for id in missing_ids:
    new_row = pd.Series(index=cols)
    new_row['ID'] = id
    new_row['Pos'] = fpl_online_df.loc[fpl_online_df.id==id, 'element_type'].values[0]
    for col in cols:
        if '_Pts' in col:
            new_row[col] = 0.5
        elif '_xMins' in col:
            new_row[col] = 90.0
    new_rows.append(new_row)

new_rows = pd.DataFrame(new_rows)
new_rows['Pos'] = new_rows['Pos'].map(position_dict)
projections_pivot = pd.concat([projections_pivot, new_rows], ignore_index=True)

display(projections_pivot)

,ID,5_Pts,6_Pts,7_Pts,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,5_xMins,6_xMins,7_xMins,8_xMins,9_xMins,10_xMins,11_xMins,12_xMins,13_xMins,14_xMins,Pos
0,1.0,3.337535,3.510134,4.262082,4.103780,3.714245,4.411967,4.156691,4.073056,3.554035,3.893904,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,G
1,5.0,3.150544,3.288145,4.091816,3.926201,3.509044,4.322582,4.030967,3.972979,3.325574,3.677697,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,D
2,6.0,2.813639,2.934890,3.727288,3.548738,3.182795,3.927813,3.665804,3.586796,2.929990,3.306730,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,D
3,7.0,3.271634,3.164786,4.052055,3.731205,3.494883,4.298385,3.934961,3.905810,3.199672,3.588524,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,D
4,8.0,3.599852,3.537086,4.362222,4.116100,3.832041,4.832980,4.336062,4.300191,3.569754,3.978064,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,735.0,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,M
736,737.0,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,F
737,738.0,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,G
738,739.0,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,M
739,740.0,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,90.0,D

In [21]:
filepath = Path('../../../FPL-Optimization-Tools/data/projections.csv')
projections_pivot.to_csv(filepath)

### Manual adjustments

In [ ]:
# Check player_id
projections.loc[projections['name'].str.contains('Mayenda'), 'id'].unique()

In [ ]:
player_id = 531
display(projections.loc[projections.id==player_id, 'name'].unique())

In [ ]:
adjust_points_via_weights(player_id=4, gameweeks=[38], weights=[0.75])

In [ ]:
adjust_points_via_weights(player_id=23, gameweeks=[38], weights=[0.5])

In [ ]:
adjust_points_via_weights(player_id=129, gameweeks=[34,35,36], weights=[0,0,0])

In [ ]:
adjust_points_via_weights(player_id=521, gameweeks=[34,35,36,37,38], weights=[0,0,0,0,0])

In [ ]:
adjust_points_via_weights(player_id=477, gameweeks=[34,35,36,37,38], weights=[0.25,0.25,0.25,0.25,0.25])

In [ ]:
adjust_points_via_weights(player_id=554, gameweeks=[34, 35], weights=[0.5, 0.75])

In [ ]:
adjust_points_via_weights(player_id=473, gameweeks=[31,32,33,34,35,36], weights=[0.25,0.25,0.25,0.25,0.25,0.25])

In [ ]:
adjust_points_via_weights(player_id=398, gameweeks=[30,31], weights=[0.5,0.75])

In [ ]:
adjust_points_via_weights(player_id=447, gameweeks=[32], weights=[0.75])

In [ ]:
adjust_points_via_weights(player_id=541, gameweeks=[30,31], weights=[0,0])

In [ ]:
projections.shape

In [ ]:
projections.head()

In [ ]:
# drop cheap goalkeepers
projections = projections[~((projections.now_cost<42) & (projections.element_type==1))].copy()

In [ ]:
filepath = Path('../../../fpl-optimization/data/fplreview.csv')
projections_pivot.to_csv(filepath)

# Other stuff

In [ ]:
# check ids
projections.loc[projections['name'].str.contains('Senes'), ['id','name']]

In [ ]:
projections.loc[projections.id==252, ['name','team_name']]

In [ ]:
fpl_online_df.loc[fpl_online_df.id==252, ['id','web_name','team']]

In [ ]:
# locked
projections.loc[projections.id.isin([419, 427, 430, 381, 661, 257, 72]), ['id','name']].groupby('id').first()

In [ ]:
# banned players from solver 
projections.loc[projections.id.isin([531, 561, 449, 8, 624, 266, 119, 532, 476, 235, 670, 668, 541]), ['id','name']].groupby('id').first()

In [ ]:
projections[projections.id==498]

In [ ]:
projections_pivot.columns