This notebook is used to create a csv file that includes my point projections in a format similar to fplreview.com. This csv file can then be used for making advanced team optimization plans using Sertalp B. Cay's repo "fpl-optimization".

In [1]:
latest_gameweek = 32

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
import json

# Save team data
Info on your own team; starting point for the optimization.

In [57]:
# get login credentials for fetching team data
#file_path = Path('../../login_credentials/fpl_login.json')
file_path = Path('../../login_credentials/fpl_login2.json')
login_credentials = pd.read_json(file_path, typ='series')

In [58]:
# utility function for fetching team data
from src.utils import fetch_my_team

In [59]:
# fetch my team data
my_team = fetch_my_team(login_credentials.user_name, login_credentials.password, login_credentials.team_id)
my_team['picks'] = [item for item in my_team['picks'] if item.get('position') != 16]
my_team

{'picks': [{'element': 15,
   'position': 1,
   'multiplier': 1,
   'is_captain': False,
   'is_vice_captain': False,
   'element_type': 1,
   'selling_price': 56,
   'purchase_price': 56},
  {'element': 18,
   'position': 2,
   'multiplier': 1,
   'is_captain': False,
   'is_vice_captain': False,
   'element_type': 2,
   'selling_price': 64,
   'purchase_price': 62},
  {'element': 210,
   'position': 3,
   'multiplier': 1,
   'is_captain': False,
   'is_vice_captain': False,
   'element_type': 2,
   'selling_price': 48,
   'purchase_price': 48},
  {'element': 395,
   'position': 4,
   'multiplier': 1,
   'is_captain': False,
   'is_vice_captain': False,
   'element_type': 2,
   'selling_price': 44,
   'purchase_price': 44},
  {'element': 168,
   'position': 5,
   'multiplier': 1,
   'is_captain': False,
   'is_vice_captain': False,
   'element_type': 3,
   'selling_price': 47,
   'purchase_price': 47},
  {'element': 99,
   'position': 6,
   'multiplier': 1,
   'is_captain': False,
   'is_vice_captain': False,
   'element_type': 3,
   'selling_price': 75,
   'purchase_price': 71},
  {'element': 328,
   'position': 7,
   'multiplier': 1,
   'is_captain': False,
   'is_vice_captain': False,
   'element_type': 3,
   'selling_price': 137,
   'purchase_price': 137},
  {'element': 199,
   'position': 8,
   'multiplier': 1,
   'is_captain': False,
   'is_vice_captain': False,
   'element_type': 3,
   'selling_price': 68,
   'purchase_price': 67},
  {'element': 398,
   'position': 9,
   'multiplier': 1,
   'is_captain': False,
   'is_vice_captain': True,
   'element_type': 3,
   'selling_price': 73,
   'purchase_price': 72},
  {'element': 321,
   'position': 10,
   'multiplier': 1,
   'is_captain': False,
   'is_vice_captain': False,
   'element_type': 4,
   'selling_price': 72,
   'purchase_price': 76},
  {'element': 401,
   'position': 11,
   'multiplier': 2,
   'is_captain': True,
   'is_vice_captain': False,
   'element_type': 4,
   'selling_price': 92,
   'purchase_price': 90},
  {'element': 521,
   'position': 12,
   'multiplier': 0,
   'is_captain': False,
   'is_vice_captain': False,
   'element_type': 1,
   'selling_price': 40,
   'purchase_price': 41},
  {'element': 350,
   'position': 13,
   'multiplier': 0,
   'is_captain': False,
   'is_vice_captain': False,
   'element_type': 2,
   'selling_price': 61,
   'purchase_price': 61},
  {'element': 447,
   'position': 14,
   'multiplier': 0,
   'is_captain': False,
   'is_vice_captain': False,
   'element_type': 4,
   'selling_price': 69,
   'purchase_price': 71},
  {'element': 477,
   'position': 15,
   'multiplier': 0,
   'is_captain': False,
   'is_vice_captain': False,
   'element_type': 2,
   'selling_price': 40,
   'purchase_price': 40}],
 'picks_last_updated': '2025-04-11T18:54:55.659624Z',
 'chips': [{'id': 2,
   'status_for_entry': 'available',
   'played_by_entry': [],
   'name': 'wildcard',
   'number': 1,
   'start_event': 20,
   'stop_event': 38,
   'chip_type': 'transfer',
   'is_pending': False},
  {'id': 3,
   'status_for_entry': 'played',
   'played_by_entry': [29],
   'name': 'freehit',
   'number': 1,
   'start_event': 2,
   'stop_event': 38,
   'chip_type': 'transfer',
   'is_pending': False},
  {'id': 4,
   'status_for_entry': 'available',
   'played_by_entry': [],
   'name': 'bboost',
   'number': 1,
   'start_event': 1,
   'stop_event': 38,
   'chip_type': 'team',
   'is_pending': False},
  {'id': 5,
   'status_for_entry': 'played',
   'played_by_entry': [24],
   'name': '3xc',
   'number': 1,
   'start_event': 1,
   'stop_event': 38,
   'chip_type': 'team',
   'is_pending': False},
  {'id': 6,
   'status_for_entry': 'played',
   'played_by_entry': [30],
   'name': 'manager',
   'number': 1,
   'start_event': 24,
   'stop_event': 38,
   'chip_type': 'transfer',
   'is_pending': False}],
 'transfers': {'cost': 4,
  'status': 'cost',
  'limit': 2,
  'made': 0,
  'bank': 12,
  'value': 1000}}

In [60]:
# save team data to fpl-optimization repo
file_path = Path('../../../fpl-optimization/data/team.json')
with open(file_path, 'w') as f:
    json.dump(my_team, f)

# Edit projections into fplreview format 
### (to be used with fpl-optimization repo solver)

In [7]:
filepath = Path(f'../data/predictions/gameweek{latest_gameweek}.csv')
projections = pd.read_csv(filepath, index_col=0)
if 'id' in projections.columns:
    projections = projections.drop('id', axis=1)
display(projections.head())
display(projections.shape)

,name,element_type,home,opponent_xG_ewm_5,opponent_xG_ewm_10,opponent_xG_ewm_20,opponent_xG_ewm_40,opponent_xGA_ewm_5,opponent_xGA_ewm_10,opponent_xGA_ewm_20,...,gameweek_xG_expanding_per90,gameweek_xA_expanding_per90,gameweek_xGA_expanding_per90,gameweek_xPoints_expanding_per90,xG_overperformance,team_name,opponent_team,date,gameweek,expected_points
0,Aaron Cresswell,2.0,1,0.709691,0.781617,0.870601,0.952547,2.210491,2.275553,2.214235,...,0.019808,0.145138,1.340456,3.600352,1.818182,West Ham,Southampton,2025-04-19T14:00:00Z,33,3.148345
1,Aaron Cresswell,2.0,0,1.979034,1.741415,1.598954,1.564470,1.186792,1.250427,1.335168,...,0.019808,0.145138,1.340456,3.600352,1.818182,West Ham,Brighton,2025-04-26T14:00:00Z,34,1.948554
2,Aaron Cresswell,2.0,1,1.531756,1.516693,1.595919,1.647228,1.627265,1.681274,1.681880,...,0.019808,0.145138,1.340456,3.600352,1.818182,West Ham,Tottenham,2025-05-03T14:00:00Z,35,2.429574
3,Aaron Cresswell,2.0,0,1.049017,1.156845,1.280803,1.400940,1.368610,1.450962,1.533027,...,0.019808,0.145138,1.340456,3.600352,1.818182,West Ham,Manchester Utd,2025-05-10T14:00:00Z,36,2.244955
4,Aaron Cresswell,2.0,1,1.024182,1.141188,1.212641,1.227801,1.590482,1.455864,1.368642,...,0.019808,0.145138,1.340456,3.600352,1.818182,West Ham,Nottingham Forest,2025-05-18T13:15:00Z,37,2.693993

(3312, 113)

In [8]:
if latest_gameweek>0:
    filepath = Path('../data/fpl_df.csv')
elif latest_gameweek==0:
    filepath = Path('../data/fpl_df_preseason_online.csv')
else:
    print('Check latest_gameweek!')

fpl_df = pd.read_csv(filepath, index_col=0, low_memory=False)
fpl_df = fpl_df[fpl_df.season=='24-25']
display(fpl_df.head())
display(fpl_df.shape)

,assists,bonus,bps,clean_sheets,corners_and_indirect_freekicks_order,creativity,creativity_rank,creativity_rank_type,direct_freekicks_order,dreamteam_count,...,has_temporary_code,opta_code,mng_win,mng_draw,mng_loss,mng_underdog_win,mng_underdog_draw,mng_clean_sheets,mng_goals_scored,birth_date
28173,0.0,0.0,1.0,0.0,NaN,0.8,230.0,23.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28174,0.0,0.0,22.0,1.0,NaN,1.4,193.0,52.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28175,1.0,3.0,48.0,1.0,NaN,24.1,37.0,2.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28176,0.0,0.0,2.0,0.0,NaN,0.8,229.0,71.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28177,0.0,0.0,16.0,1.0,NaN,36.7,19.0,17.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

(9571, 224)

In [9]:
fpl_df.columns.tolist()

['assists',
 'bonus',
 'bps',
 'clean_sheets',
 'corners_and_indirect_freekicks_order',
 'creativity',
 'creativity_rank',
 'creativity_rank_type',
 'direct_freekicks_order',
 'dreamteam_count',
 'element_type',
 'event_points',
 'first_name',
 'goals_conceded',
 'goals_scored',
 'ict_index',
 'ict_index_rank',
 'ict_index_rank_type',
 'influence',
 'influence_rank',
 'influence_rank_type',
 'minutes',
 'now_cost',
 'own_goals',
 'penalties_missed',
 'penalties_order',
 'penalties_saved',
 'points_per_game',
 'red_cards',
 'saves',
 'second_name',
 'selected_by_percent',
 'threat',
 'threat_rank',
 'threat_rank_type',
 'total_points',
 'web_name',
 'yellow_cards',
 'team_name',
 'gameweek',
 'season',
 'gameweek_xG',
 'gameweek_xA',
 'gameweek_xGA',
 'gameweek_minutes',
 'team_xG',
 'team_xGA',
 'team_xG_ewm_5',
 'team_xG_ewm_10',
 'team_xG_ewm_20',
 'team_xG_ewm_40',
 'team_xGA_ewm_5',
 'team_xGA_ewm_10',
 'team_xGA_ewm_20',
 'team_xGA_ewm_40',
 'opponent_xG',
 'opponent_xGA',
 'opponent_xG_ewm_5',
 'opponent_xG_ewm_10',
 'opponent_xG_ewm_20',
 'opponent_xG_ewm_40',
 'opponent_xGA_ewm_5',
 'opponent_xGA_ewm_10',
 'opponent_xGA_ewm_20',
 'opponent_xGA_ewm_40',
 'home',
 'gameweek_assists',
 'gameweek_bps',
 'gameweek_creativity',
 'gameweek_goals_scored',
 'gameweek_goals_conceded',
 'gameweek_own_goals',
 'gameweek_penalties_saved',
 'gameweek_red_cards',
 'gameweek_saves',
 'gameweek_threat',
 'gameweek_yellow_cards',
 'gameweek_xPoints',
 'gameweek_assists_ewm_5',
 'gameweek_bps_ewm_5',
 'gameweek_creativity_ewm_5',
 'event_points_ewm_5',
 'gameweek_goals_scored_ewm_5',
 'gameweek_goals_conceded_ewm_5',
 'gameweek_saves_ewm_5',
 'gameweek_threat_ewm_5',
 'gameweek_xG_ewm_5',
 'gameweek_xA_ewm_5',
 'gameweek_xGA_ewm_5',
 'gameweek_minutes_ewm_5',
 'gameweek_xPoints_ewm_5',
 'gameweek_assists_ewm_10',
 'gameweek_bps_ewm_10',
 'gameweek_creativity_ewm_10',
 'event_points_ewm_10',
 'gameweek_goals_scored_ewm_10',
 'gameweek_goals_conceded_ewm_10',
 'gameweek_saves_ewm_10',
 'gameweek_threat_ewm_10',
 'gameweek_xG_ewm_10',
 'gameweek_xA_ewm_10',
 'gameweek_xGA_ewm_10',
 'gameweek_minutes_ewm_10',
 'gameweek_xPoints_ewm_10',
 'gameweek_assists_ewm_20',
 'gameweek_bps_ewm_20',
 'gameweek_creativity_ewm_20',
 'event_points_ewm_20',
 'gameweek_goals_scored_ewm_20',
 'gameweek_goals_conceded_ewm_20',
 'gameweek_saves_ewm_20',
 'gameweek_threat_ewm_20',
 'gameweek_xG_ewm_20',
 'gameweek_xA_ewm_20',
 'gameweek_xGA_ewm_20',
 'gameweek_minutes_ewm_20',
 'gameweek_xPoints_ewm_20',
 'gameweek_assists_ewm_40',
 'gameweek_bps_ewm_40',
 'gameweek_creativity_ewm_40',
 'event_points_ewm_40',
 'gameweek_goals_scored_ewm_40',
 'gameweek_goals_conceded_ewm_40',
 'gameweek_saves_ewm_40',
 'gameweek_threat_ewm_40',
 'gameweek_xG_ewm_40',
 'gameweek_xA_ewm_40',
 'gameweek_xGA_ewm_40',
 'gameweek_minutes_ewm_40',
 'gameweek_xPoints_ewm_40',
 'gameweek_assists_expanding',
 'gameweek_bps_expanding',
 'gameweek_creativity_expanding',
 'event_points_expanding',
 'gameweek_goals_scored_expanding',
 'gameweek_goals_conceded_expanding',
 'gameweek_saves_expanding',
 'gameweek_threat_expanding',
 'gameweek_xG_expanding',
 'gameweek_xA_expanding',
 'gameweek_xGA_expanding',
 'gameweek_minutes_expanding',
 'gameweek_xPoints_expanding',
 'gameweek_assists_expanding_per90',
 'gameweek_bps_expanding_per90',
 'gameweek_creativity_expanding_per90',
 'event_points_expanding_per90',
 'gameweek_goals_scored_expanding_per90',
 'gameweek_goals_conceded_expanding_per90',
 'gameweek_saves_expanding_per90',
 'gameweek_threat_expanding_per90',
 'gameweek_xG_expanding_per90',
 'gameweek_xA_expanding_per90',
 'gameweek_xGA_expanding_per90',
 'gameweek_minutes_expanding_per90',
 'gameweek_xPoints_expanding_per90',
 'xG_overperformance',
 'chance_of_playing_next_round',
 'chance_of_playing_this_round',
 'code',
 'cost_change_event',
 'cost_change_event_fall',
 'cost_change_start',
 'cost_change_start_fall',
 'ep_next',
 'ep_this',
 'form',
 'id',
 'in_dreamteam',
 'news',
 'news_added',
 'photo',
 'special',
 'squad_number',
 'status',
 'team',
 'team_code',
 'transfers_in',
 'transfers_in_event',
 'transfers_out',
 'transfers_out_event',
 'value_form',
 'value_season',
 'starts',
 'expected_goals',
 'expected_assists',
 'expected_goal_involvements',
 'expected_goals_conceded',
 'corners_and_indirect_freekicks_text',
 'direct_freekicks_text',
 'penalties_text',
 'expected_goals_per_90',
 'saves_per_90',
 'expected_assists_per_90',
 'expected_goal_involvements_per_90',
 'expected_goals_conceded_per_90',
 'goals_conceded_per_90',
 'now_cost_rank',
 'now_cost_rank_type',
 'form_rank',
 'form_rank_type',
 'points_per_game_rank',
 'points_per_game_rank_type',
 'selected_rank',
 'selected_rank_type',
 'starts_per_90',
 'clean_sheets_per_90',
 'name',
 'data_retrieved_datetime',
 'region',
 'can_transact',
 'can_select',
 'removed',
 'team_join_date',
 'has_temporary_code',
 'opta_code',
 'mng_win',
 'mng_draw',
 'mng_loss',
 'mng_underdog_win',
 'mng_underdog_draw',
 'mng_clean_sheets',
 'mng_goals_scored',
 'birth_date']

In [10]:
fpl_df.news.unique()

array([nan, 'Head injury - 75% chance of playing',
       'Suspended until 31 Aug',
       'Hamstring injury - 75% chance of playing',
       'Knock - 75% chance of playing', 'Suspended until 15 Sep',
       'Ankle injury - Unknown return date',
       'Eye Injury - 75% chance of playing',
       'Head injury - 50% chance of playing', 'Suspended until 22 Sep',
       'Hamstring injury - 50% chance of playing',
       'Ankle injury - 75% chance of playing',
       'Back injury - 75% chance of playing',
       'Ankle injury - Expected back 23 Nov',
       'Toe Injury - 75% chance of playing', 'Suspended until 05 Oct',
       'Knee injury - 75% chance of playing',
       'Hamstring injury - 25% chance of playing',
       'Suspended until 06 Oct', 'Knee injury - 25% chance of playing',
       'Muscle injury - 75% chance of playing',
       'Thigh injury - 75% chance of playing',
       'Glute injury - 75% chance of playing',
       'Groin Injury - 75% chance of playing', 'Suspended until 27 Oct',
       'Suspended until 25 Oct', 'Suspended until 02 Nov',
       'Suspended until 03 Nov', 'Suspended until 04 Nov',
       'Calf injury - 75% chance of playing', 'Suspended until 25 Nov',
       'Suspended until 10 Nov',
       'Achilles injury - 25% chance of playing',
       'Calf injury - 25% chance of playing', 'Suspended until 23 Nov',
       'Suspended until 24 Nov', 'Hamstring injury - Unknown return date',
       'Foot injury - 75% chance of playing',
       'Knee injury - 50% chance of playing',
       'Hip injury - 75% chance of playing',
       'Foot injury - 50% chance of playing', 'Suspended until 30 Nov',
       'Suspended until 07 Dec', 'Knee injury - Expected back 01 Jun',
       'Hand injury - Expected back 22 Dec',
       'Knee injury - Expected back 07 Dec', 'Suspended until 26 Dec',
       'Suspended until 05 Dec',
       'Hamstring injury - Expected back 04 Jan',
       'Suspended until 22 Dec', 'Suspended until 08 Dec',
       'Suspended until 09 Dec',
       'Ineligible to face his parent club on 8/12. - Expected back 14 Dec',
       'Suspended until 14 Dec', 'Knock - 50% chance of playing',
       'Hamstring injury - Expected back 29 Dec',
       'Suspended until 21 Dec',
       'Hamstring injury - Expected back 15 Feb',
       'Muscle injury - Unknown return date',
       'Ineligible to face his parent club on 22/12. - Expected back 26 Dec',
       'Suspended until 27 Dec', 'Knock - 25% chance of playing',
       'Suspended until 29 Dec', 'Suspended until 30 Dec',
       'Suspended until 04 Jan', 'Suspended until 15 Jan',
       'Suspended until 05 Jan', 'Suspended until 06 Jan',
       'Head injury - 25% chance of playing',
       'Shoulder injury - 25% chance of playing',
       'Ineligible to face his parent club on 4/1. - Expected back 15 Jan',
       'Suspended until 16 Jan', 'Foot injury - Expected back 03 Feb',
       'Knee injury - Unknown return date',
       'Foot injury - Unknown return date',
       'Thigh injury - Unknown return date',
       'Ankle injury - 25% chance of playing', 'Suspended until 18 Jan',
       'Illness - Expected back 26 Jan',
       'Ineligible to face his parent club on 19/1. - Expected back 25 Jan',
       'Illness - 75% chance of playing',
       'Hamstring injury - Expected back 01 Feb',
       'Leg injury - 75% chance of playing', 'Suspended until 03 Feb',
       'Muscle injury - Expected back 25 Feb',
       'Knee injury - Expected back 15 Feb', 'Loaned to VfL Wolfsburg',
       'Foot injury - Expected back 15 Feb',
       'Foot injury - Expected back 12 Apr',
       'Knock - Expected back 15 Feb', 'Suspended until 16 Feb',
       'Muscle injury - Expected back 16 Feb',
       'Muscle injury - 25% chance of playing', 'Loaned to RB Leipzig',
       'Rib Injury - 50% chance of playing',
       'Hamstring injury - Expected back 02 Apr',
       'Suspended until 19 Feb', 'Knee injury - Expected back 10 Mar',
       'Loaned to Juventus', 'Suspended until 26 Feb',
       'Suspended until 09 Mar', 'Suspended until 15 Mar',
       'Concussion - Expected back 08 Mar',
       'Back injury - Expected back 09 Mar',
       'Calf injury - 50% chance of playing',
       'Ankle injury - 50% chance of playing',
       'Ineligible to face his parent club on 25/2. - Expected back 08 Mar',
       'Muscle injury - Expected back 08 Mar', 'Suspended until 05 Apr',
       'Suspended until 01 Apr', 'Suspended until 07 Apr',
       'Foot injury - Expected back 01 Apr',
       'Hand injury - 75% chance of playing',
       'Groin Injury - Unknown return date',
       'Ineligible to face his parent club on 5/4. - Expected back 12 Apr',
       'Calf injury - Expected back 12 Apr', 'Suspended until 19 Apr',
       'Suspended until 16 Apr',
       'Ineligible to face his parent club on 12/4. - Expected back 20 Apr',
       'Rib Injury - 75% chance of playing'], dtype=object)

In [11]:
df = fpl_df.groupby('name').last().reset_index()[['id', 'name','points_per_game', 'total_points',]]
#df['id'] = df.id.astype(int)
df['games_played'] = np.round(np.where(df['points_per_game']!=0, df['total_points'] / df['points_per_game'], 0),0)
display(df.head())
display(df.shape)

      id                name  points_per_game  total_points  games_played
0  517.0     Aaron Cresswell              1.9          27.0          14.0
1   14.0      Aaron Ramsdale              3.2          77.0          24.0
2  388.0   Aaron Wan-Bissaka              3.0          92.0          31.0
3  217.0  Abdoulaye Doucouré              2.9          81.0          28.0
4  732.0  Abdukodir Khusanov              2.3          14.0           6.0

(552, 5)

In [12]:
# drop duplicate players (some players get new spelling for their name during the season causing duplicates)
duplicate_ids = df.loc[df.id.duplicated(), 'id'].unique()
for id in duplicate_ids:
    ix = df.loc[df.id==id, 'games_played'].idxmin()
    df = df.drop(ix)
display(df.head())
display(df.shape)

      id                name  points_per_game  total_points  games_played
0  517.0     Aaron Cresswell              1.9          27.0          14.0
1   14.0      Aaron Ramsdale              3.2          77.0          24.0
2  388.0   Aaron Wan-Bissaka              3.0          92.0          31.0
3  217.0  Abdoulaye Doucouré              2.9          81.0          28.0
4  732.0  Abdukodir Khusanov              2.3          14.0           6.0

(552, 5)

In [13]:
# drop unneccesary columns
df = df.drop(['points_per_game', 'total_points','games_played'], axis=1)
display(df.head())
display(df.shape)

      id                name
0  517.0     Aaron Cresswell
1   14.0      Aaron Ramsdale
2  388.0   Aaron Wan-Bissaka
3  217.0  Abdoulaye Doucouré
4  732.0  Abdukodir Khusanov

(552, 2)

In [14]:
# merge id info to projections
projections = projections.merge(df, on='name', how='left')
projections.head()

,name,element_type,home,opponent_xG_ewm_5,opponent_xG_ewm_10,opponent_xG_ewm_20,opponent_xG_ewm_40,opponent_xGA_ewm_5,opponent_xGA_ewm_10,opponent_xGA_ewm_20,...,gameweek_xA_expanding_per90,gameweek_xGA_expanding_per90,gameweek_xPoints_expanding_per90,xG_overperformance,team_name,opponent_team,date,gameweek,expected_points,id
0,Aaron Cresswell,2.0,1,0.709691,0.781617,0.870601,0.952547,2.210491,2.275553,2.214235,...,0.145138,1.340456,3.600352,1.818182,West Ham,Southampton,2025-04-19T14:00:00Z,33,3.148345,517.0
1,Aaron Cresswell,2.0,0,1.979034,1.741415,1.598954,1.564470,1.186792,1.250427,1.335168,...,0.145138,1.340456,3.600352,1.818182,West Ham,Brighton,2025-04-26T14:00:00Z,34,1.948554,517.0
2,Aaron Cresswell,2.0,1,1.531756,1.516693,1.595919,1.647228,1.627265,1.681274,1.681880,...,0.145138,1.340456,3.600352,1.818182,West Ham,Tottenham,2025-05-03T14:00:00Z,35,2.429574,517.0
3,Aaron Cresswell,2.0,0,1.049017,1.156845,1.280803,1.400940,1.368610,1.450962,1.533027,...,0.145138,1.340456,3.600352,1.818182,West Ham,Manchester Utd,2025-05-10T14:00:00Z,36,2.244955,517.0
4,Aaron Cresswell,2.0,1,1.024182,1.141188,1.212641,1.227801,1.590482,1.455864,1.368642,...,0.145138,1.340456,3.600352,1.818182,West Ham,Nottingham Forest,2025-05-18T13:15:00Z,37,2.693993,517.0

In [15]:
# add xMins variable that is needed later
projections['xMins'] = 90

In [16]:
projections[['id', 'expected_points', 'xMins', 'gameweek']]

         id  expected_points  xMins  gameweek
0     517.0         3.148345     90        33
1     517.0         1.948554     90        34
2     517.0         2.429574     90        35
3     517.0         2.244955     90        36
4     517.0         2.693993     90        37
...     ...              ...    ...       ...
3307  521.0         2.461106     90        34
3308  521.0         2.852253     90        35
3309  521.0         2.752787     90        36
3310  521.0         3.116920     90        37
3311  521.0         3.256945     90        38

[3312 rows x 4 columns]

In [17]:
projections_pivot = (
    projections
    .pivot_table(
    columns=['gameweek',],
    index='id', 
    values=['expected_points','xMins'], 
    aggfunc='sum'
    )
)

projections_pivot.head()

         expected_points                                              xMins  \
gameweek              33  34        35        36        37        38     33
id
2.0             8.390527 NaN  3.760970  3.066948  3.657820  4.867283  180.0
3.0             8.349139 NaN  3.867484  2.772836  3.558648  4.592204  180.0
4.0            11.002271 NaN  5.273544  4.636713  5.195794  6.114795  180.0
6.0             7.851040 NaN  3.578466  2.687253  3.315635  4.346140  180.0
7.0             4.707473 NaN  2.217511  1.861112  2.207963  2.588967  180.0


gameweek  34    35    36    37    38
id
2.0      NaN  90.0  90.0  90.0  90.0
3.0      NaN  90.0  90.0  90.0  90.0
4.0      NaN  90.0  90.0  90.0  90.0
6.0      NaN  90.0  90.0  90.0  90.0
7.0      NaN  90.0  90.0  90.0  90.0

In [18]:
new_cols = []
for col in projections_pivot.columns:
    if col[0] == 'expected_points':
        new_col = str(col[1]) + '_Pts'
        new_cols.append(new_col)
    elif col[0] == 'xMins':
        new_col = str(col[1]) + '_xMins'
        new_cols.append(new_col)

projections_pivot.columns = new_cols
projections_pivot = projections_pivot.reset_index()
projections_pivot = projections_pivot.rename(columns={'id':'ID'})

projections_pivot.head()

,ID,33_Pts,34_Pts,35_Pts,36_Pts,37_Pts,38_Pts,33_xMins,34_xMins,35_xMins,36_xMins,37_xMins,38_xMins
0,2.0,8.390527,NaN,3.760970,3.066948,3.657820,4.867283,180.0,NaN,90.0,90.0,90.0,90.0
1,3.0,8.349139,NaN,3.867484,2.772836,3.558648,4.592204,180.0,NaN,90.0,90.0,90.0,90.0
2,4.0,11.002271,NaN,5.273544,4.636713,5.195794,6.114795,180.0,NaN,90.0,90.0,90.0,90.0
3,6.0,7.851040,NaN,3.578466,2.687253,3.315635,4.346140,180.0,NaN,90.0,90.0,90.0,90.0
4,7.0,4.707473,NaN,2.217511,1.861112,2.207963,2.588967,180.0,NaN,90.0,90.0,90.0,90.0

In [19]:
filepath = Path('../../../fpl-optimization/data/fplreview.csv')
projections_pivot.to_csv(filepath)

### Option to make manual changes, e.g., to xPts (based on injuries)

### adjust points

If model is underestimating e.g. Haaland currently, test how many points more he would need to be getting in order to be drafed to the team in the optimization.

In [20]:
projections.loc[projections['name'].str.contains('Wood'), 'id'].unique()
#projections.loc[projections['name'].str.contains('Palme'), 'id'].unique()

array([447., 477.])

In [21]:
player_id = 477
display(projections.loc[projections.id==player_id, 'name'].unique())
display(projections_pivot[projections_pivot.ID==player_id])

array(['Nathan Wood-Gordon'], dtype=object)

,ID,33_Pts,34_Pts,35_Pts,36_Pts,37_Pts,38_Pts,33_xMins,34_xMins,35_xMins,36_xMins,37_xMins,38_xMins
367,477.0,3.001456,3.313044,3.308507,2.887986,3.071095,2.796191,90.0,90.0,90.0,90.0,90.0,90.0

In [ ]:
pts_cols = [col for col in projections_pivot.columns if 'Pts' in col]
projections_pivot.loc[projections_pivot.ID==player_id, pts_cols].sum(axis=1) / 10

In [ ]:
gameweeks = np.arange(latest_gameweek+1,latest_gameweek+11)
add_constant = -0.5

for i in range(len(gameweeks)):
    projections_pivot.loc[projections_pivot.ID==player_id, f'{gameweeks[i]}_Pts'] = \
        projections_pivot.loc[projections_pivot.ID==player_id, f'{gameweeks[i]}_Pts'] + add_constant

display(projections_pivot[projections_pivot.ID==player_id])

### Adjust points for unavailable players or players with uncertain availability

In [22]:
def adjust_points_via_weights(player_id, gameweeks, weights):
    '''Adjust projected player points via gameweek specific weights indicating probability of playing.

    Input:
    player_id (int): Player ID number.
    gameweeks (list): List of gameweek numbers to be adjusted.
    weights (list): Weights for adjusting points for each gameweek given in parameter gameweeks.
    '''
    player_name = projections.loc[projections.id==player_id, 'name'].unique().item()
    print(f'Name: {player_name}')
    print('Point predictions before adjustment:')
    display(projections_pivot[projections_pivot.ID==player_id])

    # adjust points via probability of playing
    for i in range(len(gameweeks)):
        projections_pivot.loc[projections_pivot.ID==player_id, f'{gameweeks[i]}_Pts'] = \
            weights[i]*projections_pivot.loc[projections_pivot.ID==player_id, f'{gameweeks[i]}_Pts']
        
    print('Point predictions after adjustment:')
    display(projections_pivot[projections_pivot.ID==player_id])

In [55]:
# Check player_id
projections.loc[projections['name'].str.contains('Bruy'), 'id'].unique()

array([345.])

In [56]:
player_id = 345
display(projections.loc[projections.id==player_id, 'name'].unique())

array(['Kevin De Bruyne'], dtype=object)

In [26]:
adjust_points_via_weights(player_id=347, gameweeks=[33,34,35], weights=[0.25,0.5,0.75])

Name: Ederson Santana de Moraes
Point predictions before adjustment:

,ID,33_Pts,34_Pts,35_Pts,36_Pts,37_Pts,38_Pts,33_xMins,34_xMins,35_xMins,36_xMins,37_xMins,38_xMins
266,347.0,7.152706,NaN,3.867037,4.06005,3.435856,3.542032,180.0,NaN,90.0,90.0,90.0,90.0

Point predictions after adjustment:

,ID,33_Pts,34_Pts,35_Pts,36_Pts,37_Pts,38_Pts,33_xMins,34_xMins,35_xMins,36_xMins,37_xMins,38_xMins
266,347.0,1.788177,NaN,2.900278,4.06005,3.435856,3.542032,180.0,NaN,90.0,90.0,90.0,90.0

In [28]:
adjust_points_via_weights(player_id=17, gameweeks=[33,34], weights=[0.5,0.75])

Name: Bukayo Saka
Point predictions before adjustment:

,ID,33_Pts,34_Pts,35_Pts,36_Pts,37_Pts,38_Pts,33_xMins,34_xMins,35_xMins,36_xMins,37_xMins,38_xMins
14,17.0,12.139098,NaN,5.88087,5.057184,5.836457,6.778378,180.0,NaN,90.0,90.0,90.0,90.0

Point predictions after adjustment:

,ID,33_Pts,34_Pts,35_Pts,36_Pts,37_Pts,38_Pts,33_xMins,34_xMins,35_xMins,36_xMins,37_xMins,38_xMins
14,17.0,6.069549,NaN,5.88087,5.057184,5.836457,6.778378,180.0,NaN,90.0,90.0,90.0,90.0

In [32]:
adjust_points_via_weights(player_id=58, gameweeks=[33,34], weights=[0.75,0.75])

Name: Ollie Watkins
Point predictions before adjustment:

,ID,33_Pts,34_Pts,35_Pts,36_Pts,37_Pts,38_Pts,33_xMins,34_xMins,35_xMins,36_xMins,37_xMins,38_xMins
44,58.0,9.03589,NaN,4.637792,4.410362,4.991126,4.510222,180.0,NaN,90.0,90.0,90.0,90.0

Point predictions after adjustment:

,ID,33_Pts,34_Pts,35_Pts,36_Pts,37_Pts,38_Pts,33_xMins,34_xMins,35_xMins,36_xMins,37_xMins,38_xMins
44,58.0,6.776918,NaN,4.637792,4.410362,4.991126,4.510222,180.0,NaN,90.0,90.0,90.0,90.0

In [41]:
adjust_points_via_weights(player_id=521, gameweeks=[33,34,35,36,37,38], weights=[0,0,0,0,0,0])

Name: Łukasz Fabiański
Point predictions before adjustment:

,ID,33_Pts,34_Pts,35_Pts,36_Pts,37_Pts,38_Pts,33_xMins,34_xMins,35_xMins,36_xMins,37_xMins,38_xMins
401,521.0,3.681663,2.461106,2.852253,2.752787,3.11692,3.256945,90.0,90.0,90.0,90.0,90.0,90.0

Point predictions after adjustment:

,ID,33_Pts,34_Pts,35_Pts,36_Pts,37_Pts,38_Pts,33_xMins,34_xMins,35_xMins,36_xMins,37_xMins,38_xMins
401,521.0,0.0,0.0,0.0,0.0,0.0,0.0,90.0,90.0,90.0,90.0,90.0,90.0

In [45]:
adjust_points_via_weights(player_id=477, gameweeks=[33,34,35,36,37,38], weights=[0.25,0.25,0.25,0.25,0.25,0.25])

Name: Nathan Wood-Gordon
Point predictions before adjustment:

,ID,33_Pts,34_Pts,35_Pts,36_Pts,37_Pts,38_Pts,33_xMins,34_xMins,35_xMins,36_xMins,37_xMins,38_xMins
367,477.0,3.001456,3.313044,3.308507,2.887986,3.071095,2.796191,90.0,90.0,90.0,90.0,90.0,90.0

Point predictions after adjustment:

,ID,33_Pts,34_Pts,35_Pts,36_Pts,37_Pts,38_Pts,33_xMins,34_xMins,35_xMins,36_xMins,37_xMins,38_xMins
367,477.0,0.750364,0.828261,0.827127,0.721997,0.767774,0.699048,90.0,90.0,90.0,90.0,90.0,90.0

In [ ]:
adjust_points_via_weights(player_id=398, gameweeks=[31,32], weights=[0.5, 0.75])

In [ ]:
adjust_points_via_weights(player_id=473, gameweeks=[31,32,33,34,35,36], weights=[0.25,0.25,0.25,0.25,0.25,0.25])

In [ ]:
adjust_points_via_weights(player_id=398, gameweeks=[30,31], weights=[0.5,0.75])

In [ ]:
adjust_points_via_weights(player_id=447, gameweeks=[32], weights=[0.75])

In [ ]:
adjust_points_via_weights(player_id=541, gameweeks=[30,31], weights=[0,0])

In [46]:
filepath = Path('../../../fpl-optimization/data/fplreview.csv')
projections_pivot.to_csv(filepath)

# Other stuff

In [ ]:
# check ids
projections.loc[projections['name'].str.contains('McNeil'), ['id','name']]

In [ ]:
projections.loc[projections.id==58, ['name','team_name']]

In [ ]:
# banned players from solver 
projections.loc[projections.id.isin([333, 25, 325, 142, 466, 558, 396, 275, 4, 3, 399, 351]), 'name'].unique()

array(['Ben Johnson', 'Caoimhin Kelleher', 'Erling Haaland',
       'Gabriel dos Santos Magalhães', 'Jarell Quansah', 'Jason Steele',
       'Joe Lumley', 'Kai Havertz', 'Lewis Hall', 'Martin Dúbravka',
       'Oleksandr Zinchenko', 'Ollie Watkins', 'Yerson Mosquera'],
      dtype=object)

In [ ]:
projections[projections.id==24]

In [ ]:
projections_pivot.columns