# Tableau and player form

Here we create a csv file that is used for making further Tableau visualizations.

In [1]:
# recent gameweek
gameweek = 34

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch player stats data
all_df = pd.read_csv('../data/fpl/data_week1.csv', index_col=0)
all_df['gameweek'] = 1
all_df['xPoints'] = all_df['adjusted points']

for week in range(2,gameweek+1):
    filepath = '../data/fpl/data_week' + str(week) + '.csv'
    df = pd.read_csv(filepath, index_col=0)
    df['gameweek'] = week
    column_name = 'xPoints week ' + str(week)
    df['xPoints'] = df[column_name]
    all_df = all_df.append(df,sort='False')

all_df.shape

(21509, 328)

In [4]:
# calculate player form
for i in [5,10,15,20]:
    gameweeks = np.arange(gameweek-i+1,gameweek+1)
    column_name = 'form ' + str(i)
    all_df.loc[all_df['gameweek']==gameweek, column_name] = (all_df[all_df['gameweek'].isin(gameweeks)].groupby(['id'])['xPoints'].sum() / (all_df.loc[(all_df['gameweek']==gameweek),'games played'].round() - all_df.loc[(all_df['gameweek']==gameweek-i),'games played'].round()) )
    # dirty fix in case there are inf results
    all_df.loc[(all_df['gameweek']==gameweek) & np.isinf(all_df[column_name]), column_name] = np.nan

In [5]:
# top form players
all_df[all_df['gameweek']==gameweek][['web_name', 'games played','total_points', 'points_per_game','adjusted points','adjusted points per game',\
                                'form 5', 'form 10', 'form 15', 'form 20']].sort_values(by=['form 10'], ascending=False).head(20)

,web_name,games played,total_points,points_per_game,adjusted points,adjusted points per game,form 5,form 10,form 15,form 20
id,,,,,,,,,,
112,Arrizabalaga,5.000000,24,4.8,24.803453,4.960691,6.986341,6.986341,6.986341,6.986341
233,Iheanacho,21.136364,93,4.4,81.975164,3.878395,5.594099,6.663388,5.915499,5.133607
388,Kane,30.985915,220,7.1,198.788564,6.415449,7.025000,6.631991,6.024608,6.293390
91,Wood,29.302326,126,4.3,127.372746,4.346848,7.042139,6.001188,5.491881,4.781918
573,Olsen,6.944444,25,3.6,24.146771,3.477135,6.001046,6.001046,3.885223,3.885223
275,Mahrez,24.814815,134,5.4,120.818431,4.868802,5.609566,5.979541,4.845963,4.368125
259,Alexander-Arnold,30.975610,127,4.1,143.281117,4.625611,7.789247,5.964173,5.404616,5.195972
274,Mendy,10.909091,60,5.5,49.569047,4.543829,7.639817,5.776545,5.776545,5.776545
245,Adrián,2.972973,11,3.7,10.560127,3.552043,NaN,5.730734,5.730734,5.730734
417,Johnstone,32.750000,131,4.0,129.283952,3.947602,6.529698,5.720007,4.887193,4.320672
301,Lingard,11.923077,93,7.8,64.606592,5.418617,5.666938,5.686070,NaN,NaN
500,Havertz,25.142857,88,3.5,88.232689,3.509255,6.116646,5.633405,5.026708,3.957186
481,Pereira,29.777778,134,4.5,119.143292,4.001081,7.534992,5.621285,4.799663,4.801428
272,De Bruyne,24.150943,128,5.3,152.754589,6.324995,5.570320,5.597181,4.940441,5.769795
232,Chilwell,23.846154,124,5.2,111.073609,4.657926,6.937463,5.537475,5.426781,4.278385
291,de Gea,24.166667,87,3.6,82.693675,3.421807,NaN,5.512199,3.936987,4.041230
254,Salah,32.096774,199,6.2,189.139277,5.892781,6.877473,5.481952,5.606046,5.188124
235,Barnes,25.200000,126,5.0,106.158712,4.212647,NaN,5.393813,5.220834,4.986134
437,Antonio,21.914894,103,4.7,103.787909,4.735953,5.350000,5.373333,5.364319,5.027168
390,Son,32.968750,211,6.4,178.809692,5.423612,5.192899,5.315559,4.714278,4.960779

In [6]:
# save data
filepath = '../data/fpl/all_data.csv'
all_df.to_csv(filepath)

filepath = '../data/fpl/data_week' + str(gameweek) + '.csv'
all_df[all_df['gameweek']==gameweek].to_csv(filepath)