# Tableau and player form

Here we create a csv file that is used for making further Tableau visualizations.

In [1]:
# recent gameweek
gameweek = 37

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch player stats data
all_df = pd.read_csv('../data/fpl/data_week1.csv', index_col=0)
all_df['gameweek'] = 1
all_df['xPoints'] = all_df['adjusted points']

for week in range(2,gameweek+1):
    filepath = '../data/fpl/data_week' + str(week) + '.csv'
    df = pd.read_csv(filepath, index_col=0)
    df['gameweek'] = week
    column_name = 'xPoints week ' + str(week)
    df['xPoints'] = df[column_name]
    all_df = all_df.append(df,sort='False')

all_df.shape

(23621, 349)

In [4]:
# calculate player form
for i in [5,10,15,20]:
    gameweeks = np.arange(gameweek-i+1,gameweek+1)
    column_name = 'form ' + str(i)
    all_df.loc[all_df['gameweek']==gameweek, column_name] = (all_df[all_df['gameweek'].isin(gameweeks)].groupby(['id'])['xPoints'].sum() / (all_df.loc[(all_df['gameweek']==gameweek),'games played'].round() - all_df.loc[(all_df['gameweek']==gameweek-i),'games played'].round()) )
    # dirty fix in case there are inf results
    all_df.loc[(all_df['gameweek']==gameweek) & np.isinf(all_df[column_name]), column_name] = np.nan

In [5]:
# top form players
all_df[all_df['gameweek']==gameweek][['web_name', 'games played','total_points', 'points_per_game','adjusted points','adjusted points per game',\
                                'form 5', 'form 10', 'form 15', 'form 20']].sort_values(by=['form 10'], ascending=False).head(20)

,web_name,games played,total_points,points_per_game,adjusted points,adjusted points per game,form 5,form 10,form 15,form 20
id,,,,,,,,,,
259,Alexander-Arnold,35.227273,155,4.4,171.559483,4.870076,6.256546,7.270250,5.611061,5.437181
254,Salah,36.290323,225,6.2,221.933557,6.115502,8.124616,7.075678,6.145803,5.830340
194,Casilla,2.000000,11,5.5,8.530183,4.265092,6.204777,6.204777,6.204777,NaN
233,Iheanacho,24.000000,108,4.5,94.556818,3.939867,4.914099,6.130055,5.759269,4.979406
352,Jack Robinson,10.000000,26,2.6,30.267084,3.026708,6.075422,6.075422,6.075422,6.075422
500,Havertz,25.714286,90,3.5,92.797649,3.608797,7.942934,6.069694,5.534861,4.656432
481,Pereira,33.260870,153,4.6,132.353455,3.979254,5.404109,6.013464,4.917124,5.159798
307,Tuanzebe,8.333333,5,0.6,15.887757,1.906531,6.002093,6.002093,2.000698,1.641374
573,Olsen,6.944444,25,3.6,24.468714,3.523495,NaN,6.001046,3.738649,3.885223
232,Chilwell,26.200000,131,5.0,120.581819,4.602359,6.020847,5.980739,5.326005,4.675126
388,Kane,34.117647,232,6.8,214.569318,6.289101,5.700000,5.933333,6.214660,6.084439
91,Wood,32.380952,136,4.2,139.345227,4.303308,5.638582,5.823410,5.500891,4.671217
219,Evans,27.948718,109,3.9,96.146260,3.440096,6.059822,5.673302,4.253062,4.245993
109,Rüdiger,18.039216,92,5.1,80.050558,4.437585,5.952931,5.624363,4.791660,4.783687
272,De Bruyne,24.150943,128,5.3,152.018560,6.294518,NaN,5.570320,4.940441,5.203241
315,Greenwood,31.176471,106,3.4,112.120074,3.596304,4.184169,5.545723,4.179597,3.705521
274,Mendy,13.125000,63,4.8,55.641543,4.239356,4.524071,5.496673,4.854291,4.854291
203,Harrison,35.227273,155,4.4,144.953705,4.114815,4.540813,5.463586,4.142948,4.119906
251,Mané,34.042553,160,4.7,178.650646,5.247863,5.534772,5.446600,4.596854,5.014960
548,Mendy,30.217391,139,4.6,126.175072,4.175578,5.905516,5.283472,5.193610,4.838474

In [6]:
# save data
filepath = '../data/fpl/all_data.csv'
all_df.to_csv(filepath)

filepath = '../data/fpl/data_week' + str(gameweek) + '.csv'
all_df[all_df['gameweek']==gameweek].to_csv(filepath)