# Player evaluation

Here we compare players based on their adjusted points. Also, we calculate some useful metrics using the adjusted points to further evaluate player performance in FPL.

In [1]:
# recent gameweek
gameweek = 28

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch FPL data
filepath = '../data/data_week' + str(gameweek) + '.csv'
df = pd.read_csv(filepath, index_col=0)#, encoding='latin-1')

# fetch team data
filepath = '../data/fbref/team_stats_week' + str(gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col=0)#, encoding='latin-1')

# fetch player stats data
filepath = '../data/fbref/player_stats_week' + str(gameweek) + '.csv'
playerStats = pd.read_csv(filepath, index_col=0, skiprows=1)#, encoding='latin-1')

## Value and value points

Here we calculate two interesting metrics: 'value' and 'value points'. 

Value is simply adjusted points per game divided by the cost of the player. Essentially, this measures how many 'points per pound(/euro/whatever)' has the player gained on an average game week. 

The value points is calculated as the geometric mean of a players adjusted points per game and value. Essentially, in FPL we want to gain the maximum possible amount of points. However, we are restrained by a limited budget, so that in practice we cannot just pick all the best players. Then, we would like to have a squad of players that give the most points given our budget. Thus, we would like to pick players that have high value ('bang for buck'). However, often the players with highest value are very cheap players who somewhat overperform relative to their price. Picking a squad full of these players might leave a part of our budget unused. Calculating the geometric mean of adjusted points and value allows us to weigh both aspects equally, i.e. we want players that both gain a lot of points but also have good value. For example, this metric values equally two players, where one has twice the points per game of the other who in turn has twice the value of the other.

In [4]:
# value = expected points / cost
df['value'] = df['adjusted points per game'] / (df['now_cost'] / 10.0)
# geometric mean of 'adjusted points per game' and 'value'
df['valuePoints metric'] = np.sqrt(df['adjusted points per game'] * df['value'])

In [5]:
# assign proper team names for each player
team_names = np.sort(teamStats['Squad'])
df['team_name'] = team_names[df['team']-1]

In [6]:
# save data
filepath = '../data/data_week' + str(gameweek) + str('.csv')
df.to_csv(filepath)

In [7]:
goalkeepers = df['element_type'] == 1
defenders = df['element_type'] == 2
midfielders = df['element_type'] == 3
forwards = df['element_type'] == 4

minGames = df['games played'] >= 3

## Player evaluation

Below we compile lists for each position sorting players based on a given metric.

In [8]:
#metric = 'valuePoints metric'
metric = 'adjusted points per game'
#metric = 'form 10'

numberToShow = 40

print('GOALKEEPERS')
display(df[goalkeepers & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('DEFENDERS')
display(df[defenders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('MIDFIELDERS')
display(df[midfielders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('FORWARDS')
display(df[forwards & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

GOALKEEPERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
411,Patrício,Wolves,51,28.205128,110,124.101522,3.9,4.399963,5.010994,4.722631,1.948336
340,Lloris,Tottenham,53,10.975610,45,47.409139,4.1,4.319499,4.951467,5.155079,1.876271
93,Pope,Burnley,48,28.000000,126,116.118562,4.5,4.147091,5.592201,5.462394,1.892880
471,Henderson,Sheffield Utd,52,26.136364,115,108.064108,4.4,4.134627,4.898994,4.886258,1.813154
603,Reina,Aston Villa,45,5.000000,18,20.637434,3.6,4.127487,4.891413,4.642477,1.945716
131,Guaita,Crystal Palace,51,25.853659,106,101.292273,4.1,3.917909,4.611911,3.983277,1.734879
189,Alisson,Liverpool,62,19.777778,89,77.204007,4.5,3.903573,2.999412,4.043265,1.567713
168,Schmeichel,Leicester City,53,28.250000,113,110.207120,4.0,3.901137,5.894752,4.803272,1.694546
235,de Gea,Manchester Utd,54,27.647059,94,105.396259,3.4,3.812205,3.277745,3.144038,1.640512
341,Gazzaniga,Tottenham,42,18.125000,58,68.389536,3.2,3.773216,1.653034,4.153116,1.841141
14,Leno,Arsenal,50,26.944444,97,98.516639,3.6,3.656288,2.975429,3.365836,1.635142
494,Ramsdale,Bournemouth,46,26.857143,94,97.930556,3.5,3.646350,2.963251,3.142679,1.700120
47,Ryan,Brighton,48,27.941176,95,101.880358,3.4,3.646244,2.737586,2.974366,1.664275
262,Dubravka,Newcastle Utd,50,28.205128,110,100.295160,3.9,3.555919,3.634270,3.612648,1.590255
366,Foster,Watford,49,27.948718,109,97.498329,3.9,3.488472,3.009385,3.277448,1.575931
280,Krul,Norwich City,45,26.176471,89,89.544307,3.4,3.420794,3.955960,3.574168,1.612578
212,Ederson,Manchester City,60,24.242424,80,82.701564,3.3,3.411440,4.303131,3.676310,1.392714
213,Bravo,Manchester City,47,3.928571,11,13.271727,2.8,3.378258,NaN,3.387407,1.558274
388,Fabianski,West Ham,49,15.000000,57,50.367083,3.8,3.357806,2.571828,2.724142,1.516902
112,Caballero,Chelsea,48,3.888889,7,12.804907,1.8,3.292690,NaN,NaN,1.502901
111,Kepa,Chelsea,54,24.230769,63,79.169035,2.6,3.267293,3.649509,3.917589,1.406019
318,McCarthy,Southampton,45,18.064516,56,58.665418,3.1,3.247550,3.111729,3.193552,1.530910
148,Pickford,Everton,53,28.275862,82,90.404680,2.9,3.197239,3.197553,3.129301,1.388792
526,Adrián,Liverpool,40,10.000000,25,31.820662,2.5,3.182066,NaN,NaN,1.591033
319,Gunn,Southampton,42,10.000000,29,31.332642,2.9,3.133264,NaN,NaN,1.528876
553,Martin,West Ham,40,5.000000,20,15.122361,4.0,3.024472,NaN,2.676469,1.512236
450,Roberto,West Ham,44,8.181818,18,23.109318,2.2,2.824472,NaN,1.476035,1.346514
94,Heaton,Aston Villa,43,19.666667,59,53.373906,3.0,2.713927,NaN,3.208554,1.308772
27,Nyland,Aston Villa,43,3.000000,3,4.582460,1.0,1.527487,NaN,0.959972,0.736620

DEFENDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
182,Alexander-Arnold,Liverpool,78,27.796610,164,154.984838,5.9,5.575674,5.303373,5.310715,1.996412
103,Alonso,Chelsea,60,10.000000,71,51.902993,7.1,5.190299,8.763065,8.581485,2.118931
181,Robertson,Liverpool,70,27.959184,137,137.181573,4.9,4.906494,4.466164,4.583144,1.854480
401,Doherty,Wolves,62,25.813953,111,120.592389,4.3,4.671597,6.453053,5.435851,1.876159
297,Lundstram,Sheffield Utd,49,25.777778,116,114.617749,4.5,4.446378,2.592703,2.650007,2.008669
105,Azpilicueta,Chelsea,58,25.625000,82,112.926280,3.2,4.406879,3.704325,4.932848,1.829857
183,van Dijk,Liverpool,66,28.125000,135,118.183113,4.8,4.202066,3.490923,4.094036,1.635652
208,Otamendi,Manchester City,50,18.055556,65,73.916632,3.6,4.093844,4.161162,4.095888,1.830823
185,Matip,Liverpool,52,8.048780,33,32.128826,4.1,3.991763,2.830943,2.830943,1.750504
159,Pereira,Leicester City,63,27.209302,117,107.489971,4.3,3.950486,4.209182,3.979640,1.573911
141,Digne,Everton,58,25.151515,83,96.684269,3.3,3.844073,4.727658,4.986978,1.596165
506,James,Chelsea,50,15.714286,44,59.840622,2.8,3.808040,3.066936,3.813913,1.703007
440,Angeliño,Manchester City,47,6.111111,11,23.248049,1.8,3.804226,NaN,NaN,1.754759
122,Wan-Bissaka,Manchester Utd,53,25.161290,78,94.538171,3.1,3.757286,4.119806,4.284365,1.632061
204,Mendy,Manchester City,55,12.972973,48,48.594627,3.7,3.745836,4.132544,4.167937,1.597230
518,Cancelo,Manchester City,52,10.000000,25,37.164395,2.5,3.716440,3.095457,3.340329,1.629767
291,Stevens,Sheffield Utd,51,26.666667,104,98.692673,3.9,3.700975,3.052489,3.336335,1.638819
405,Boly,Wolves,48,12.093023,52,44.643169,4.3,3.691647,2.827662,2.966877,1.684998
203,Walker,Manchester City,57,20.857143,73,76.981227,3.5,3.690881,4.041963,3.904284,1.545940
123,van Aanholt,Crystal Palace,55,20.769231,81,76.644925,3.9,3.690311,5.498362,5.139136,1.573554
162,Evans,Leicester City,52,27.837838,103,101.715449,3.7,3.653856,3.777513,3.443347,1.602322
160,Maguire,Manchester Utd,53,28.000000,84,102.199190,3.0,3.649971,3.566476,3.524448,1.585446
161,Chilwell,Leicester City,56,22.926829,94,83.039024,4.1,3.621915,3.383237,3.078595,1.530538
293,O'Connell,Sheffield Utd,47,27.272727,90,98.228111,3.3,3.601697,4.322665,3.708234,1.661339
42,Dunk,Brighton,48,25.757576,85,92.755750,3.3,3.601106,4.048286,3.933494,1.643672
164,Söyüncü,Leicester City,50,26.944444,97,96.392233,3.6,3.577444,3.410050,3.065242,1.599881
478,Holgate,Everton,44,20.740741,56,73.237407,2.7,3.531089,2.881075,3.610497,1.683381
529,Tomori,Chelsea,43,15.000000,48,52.590355,3.2,3.506024,1.966214,2.055978,1.690755
511,Sidibé,Everton,51,20.000000,64,69.488504,3.2,3.474425,2.697793,2.934200,1.538501
186,Lovren,Liverpool,53,8.947368,17,30.952623,1.9,3.459411,1.897797,1.897797,1.502672
295,Egan,Sheffield Utd,46,25.882353,88,89.459213,3.4,3.456379,4.420961,3.842276,1.611545
359,Janmaat,Watford,40,8.000000,36,27.532653,4.5,3.441582,NaN,NaN,1.720791
145,Baines,Everton,49,5.000000,11,17.122126,2.2,3.424425,3.667142,3.589339,1.546998
6,Monreal,Arsenal,50,3.030303,10,10.369725,3.3,3.422009,NaN,NaN,1.530369
294,Baldock,Sheffield Utd,51,27.250000,109,92.876921,4.0,3.408327,3.365215,2.772529,1.509233
184,Gomez,Liverpool,53,18.048780,74,61.049488,4.1,3.382472,4.138968,3.805805,1.469252
446,Stacey,Bournemouth,43,11.153846,29,37.719782,2.6,3.381774,5.421561,5.318765,1.630836
59,Aké,Bournemouth,48,22.000000,66,73.508695,3.0,3.341304,3.247112,3.594069,1.525090
336,Aurier,Tottenham,50,22.702703,84,75.583156,3.7,3.329258,1.895007,2.558003,1.488889
142,Mina,Everton,53,25.172414,73,83.740099,2.9,3.326661,4.482175,4.236812,1.445009

MIDFIELDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
191,Salah,Liverpool,128,24.929577,177,169.449002,7.1,6.797107,5.147670,6.225873,1.899849
618,Fernandes,Manchester Utd,83,4.000000,32,25.629031,8.0,6.407258,8.052628,7.886019,2.223992
215,De Bruyne,Manchester City,107,26.176471,178,159.603829,6.8,6.097225,6.026669,5.668131,1.863976
192,Mané,Liverpool,124,24.923077,162,148.570653,6.5,5.961168,3.446638,4.150742,1.692858
214,Sterling,Manchester City,117,23.200000,116,128.563409,5.0,5.541526,4.882934,4.383279,1.620080
342,Son,Tottenham,98,21.034483,122,107.435485,5.8,5.107589,7.950907,6.492838,1.631559
217,Mahrez,Manchester City,84,21.818182,120,104.228153,5.5,4.777124,6.526757,5.298195,1.648264
150,Richarlison,Everton,83,26.200000,131,120.966576,5.0,4.617045,6.772790,6.647477,1.602600
344,Alli,Tottenham,83,20.980392,107,96.726570,5.1,4.610332,4.819716,4.776725,1.600270
431,Pulisic,Chelsea,69,15.909091,70,72.812927,4.4,4.576813,NaN,2.455897,1.742363
239,Martial,Manchester Utd,80,21.923077,114,99.306028,5.2,4.529749,3.417666,3.707171,1.601508
219,David Silva,Manchester City,73,19.148936,90,85.570800,4.7,4.468697,4.752573,4.139065,1.653939
615,Bergwijn,Tottenham,75,4.038462,21,17.457507,5.2,4.322811,NaN,NaN,1.578468
171,Maddison,Leicester City,75,26.976744,116,115.244522,4.3,4.271995,2.777536,3.107055,1.559912
29,Grealish,Aston Villa,66,25.217391,116,106.789670,4.6,4.234763,4.098028,4.325194,1.648379
463,Mount,Chelsea,61,27.631579,105,109.971498,3.8,3.979921,3.631688,3.743404,1.611423
417,Traoré,Wolves,59,26.750000,107,104.826577,4.0,3.918751,2.475298,3.282014,1.613324
265,Pérez,Leicester City,62,25.000000,110,97.694115,4.4,3.907765,3.418863,4.277246,1.569396
218,Bernardo Silva,Manchester City,78,22.972973,85,86.028891,3.7,3.744787,3.569291,3.372843,1.340849
172,Barnes,Leicester City,61,25.833333,93,96.698641,3.6,3.743173,3.562031,4.039847,1.515567
113,Willian,Chelsea,70,27.027027,100,101.065896,3.7,3.739438,1.791197,2.420924,1.413375
525,Sarr,Watford,63,18.095238,76,67.236330,4.2,3.715692,7.744234,6.056733,1.480367
488,Pépé,Arsenal,92,22.972973,85,84.811085,3.7,3.691777,6.185313,4.906923,1.217143
301,Fleck,Sheffield Utd,50,23.947368,91,88.170204,3.8,3.681833,2.811690,3.476767,1.646566
238,Pogba,Manchester Utd,83,7.083333,17,25.927446,2.4,3.660345,NaN,3.295002,1.270524
389,Antonio,West Ham,69,14.193548,44,51.691959,3.1,3.641933,4.944988,4.450856,1.386460
320,Redmond,Southampton,62,23.000000,69,81.233299,3.0,3.531883,3.931905,3.981548,1.418438
287,Cantwell,Norwich City,48,28.285714,99,99.733991,3.5,3.525949,2.341527,2.740394,1.609368
283,Buendía,Norwich City,60,26.896552,78,94.521574,2.9,3.514264,1.557109,2.537917,1.434692
114,Pedro,Chelsea,68,8.181818,18,27.845260,2.2,3.403310,3.555097,3.244260,1.305110
321,Ward-Prowse,Southampton,57,28.437500,91,96.353983,3.2,3.388272,3.028076,2.759448,1.419191
269,Shelvey,Newcastle Utd,49,16.097561,66,54.181139,4.1,3.365798,2.138557,2.430037,1.520513
448,Tielemans,Leicester City,62,26.857143,94,90.210010,3.5,3.358883,2.995950,2.837782,1.348960
31,McGinn,Aston Villa,54,17.941176,61,59.949993,3.4,3.341475,NaN,NaN,1.437942
243,James,Manchester Utd,58,26.060606,86,86.936083,3.3,3.335919,2.964875,2.796535,1.385165
151,Sigurdsson,Everton,73,24.814815,67,82.685654,2.7,3.332108,3.922266,3.866335,1.233269
415,Moutinho,Wolves,54,28.437500,91,93.856306,3.2,3.300442,2.711505,2.978474,1.420284
421,Trossard,Brighton,58,21.818182,72,72.007608,3.3,3.300349,2.416802,2.937698,1.370395
198,Henderson,Liverpool,54,24.750000,99,81.530435,4.0,3.294159,5.338245,4.539887,1.417580
368,Doucouré,Watford,56,27.058824,92,89.060440,3.4,3.291364,3.955615,4.088667,1.390855

FORWARDS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
233,Rashford,Manchester Utd,89,21.967213,134,125.600150,6.1,5.717619,NaN,6.186154,1.916550
166,Vardy,Leicester City,98,25.161290,156,136.032180,6.2,5.406407,3.014097,3.073232,1.727013
210,Agüero,Manchester City,119,20.847458,123,109.028120,5.9,5.229804,4.391398,5.278193,1.516044
409,Jiménez,Wolves,80,27.884615,145,143.812180,5.2,5.157402,4.986773,5.246503,1.823417
187,Firmino,Liverpool,97,27.826087,128,139.836241,4.6,5.025365,4.851852,5.405589,1.613547
11,Aubameyang,Arsenal,110,25.000000,150,124.796090,6.0,4.991844,5.699731,4.913020,1.505097
460,Abraham,Chelsea,75,25.192308,131,123.160150,5.2,4.888800,2.999551,3.972818,1.785137
278,Pukki,Norwich City,65,27.173913,125,129.116090,4.6,4.751472,3.414720,4.388894,1.863681
313,Ings,Southampton,72,28.163265,138,126.492030,4.9,4.491384,2.807573,3.412773,1.673840
211,Jesus,Manchester City,95,23.095238,97,101.580150,4.2,4.398316,3.935747,4.365458,1.427002
338,Kane,Tottenham,108,20.000000,104,87.424060,5.2,4.371203,NaN,4.636094,1.330115
362,Deeney,Watford,62,17.000000,68,69.644060,4.0,4.096709,4.175059,4.424929,1.645278
147,Calvert-Lewin,Everton,64,25.952381,109,104.992030,4.2,4.045564,6.236504,5.687180,1.599150
410,Jota,Wolves,63,23.888889,86,96.476090,3.6,4.038534,7.522126,6.122215,1.608990
502,Maupay,Brighton,58,26.756757,99,106.304060,3.7,3.972980,4.392776,3.848773,1.649690
91,Wood,Burnley,61,25.000000,100,95.692030,4.0,3.827681,2.405314,3.654699,1.549783
68,King,Bournemouth,61,19.166667,69,72.896090,3.6,3.803274,4.918852,4.432259,1.539901
613,Samatta,Aston Villa,59,3.000000,12,11.400000,4.0,3.800000,NaN,NaN,1.564435
468,Ayew,Crystal Palace,51,26.842105,102,96.584060,3.8,3.598230,3.431449,3.299273,1.593323
457,Haller,West Ham,68,25.675676,95,92.076090,3.7,3.586121,5.000076,3.978770,1.375215
67,Callum Wilson,Bournemouth,74,27.272727,90,94.076090,3.3,3.449457,4.489386,4.125356,1.268045
167,Iheanacho,Leicester City,57,11.025641,43,37.668120,3.9,3.416411,2.189217,2.313894,1.430977
363,Deulofeu,Watford,61,28.387097,88,94.980150,3.1,3.345892,2.450047,3.219046,1.354712
12,Lacazette,Arsenal,93,19.189189,71,64.068120,3.7,3.338761,3.720838,3.466763,1.094823
428,Wesley,Aston Villa,55,20.937500,67,67.712030,3.2,3.234007,NaN,2.828047,1.378985
90,Barnes,Burnley,61,19.062500,61,59.620000,3.2,3.127607,NaN,2.040000,1.266331
303,McGoldrick,Sheffield Utd,54,20.500000,41,63.584060,2.0,3.101661,1.582865,1.616441,1.334743
315,Long,Southampton,46,18.214286,51,56.476090,2.8,3.100648,3.856053,3.714433,1.445685
110,Giroud,Chelsea,65,7.857143,22,23.692030,2.8,3.015349,4.463346,4.352604,1.182717
13,Nketiah,Arsenal,43,3.928571,11,11.700000,2.8,2.978182,3.955556,NaN,1.436207
501,McBurnie,Sheffield Utd,57,25.454545,56,70.400000,2.2,2.765714,4.620000,4.465909,1.158430
70,Mousset,Sheffield Utd,46,22.903226,71,62.168120,3.1,2.714383,1.820838,1.850986,1.265587
130,Wickham,Crystal Palace,44,6.000000,15,16.092030,2.5,2.682005,1.710968,2.786924,1.278596
466,Joelinton,Newcastle Utd,55,27.727273,61,74.184060,2.2,2.675491,2.048480,2.346893,1.140833
504,Martinelli,Arsenal,46,13.928571,39,34.892030,2.8,2.505069,3.457175,4.375292,1.167994
92,Vydra,Burnley,53,8.928571,25,22.192030,2.8,2.485507,4.461839,4.226707,1.079635
624,Ighalo,Manchester Utd,65,3.000000,3,7.300000,1.0,2.433333,NaN,NaN,0.954432
129,Benteke,Crystal Palace,57,18.823529,32,44.692030,1.7,2.374264,4.961439,4.821185,0.994470
534,Connolly,Brighton,43,17.083333,41,38.584060,2.4,2.258579,0.990679,1.452656,1.089184
451,Rodriguez,Burnley,57,27.272727,60,60.720000,2.2,2.226400,4.138667,3.713600,0.932536

Below we compile a list sorting players based on a given metric (irrespective of position).

In [9]:
metric = 'adjusted points per game'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
191,Salah,Liverpool,128,24.929577,177,169.449002,7.1,6.797107,5.147670,6.225873,1.899849
618,Fernandes,Manchester Utd,83,4.000000,32,25.629031,8.0,6.407258,8.052628,7.886019,2.223992
215,De Bruyne,Manchester City,107,26.176471,178,159.603829,6.8,6.097225,6.026669,5.668131,1.863976
192,Mané,Liverpool,124,24.923077,162,148.570653,6.5,5.961168,3.446638,4.150742,1.692858
233,Rashford,Manchester Utd,89,21.967213,134,125.600150,6.1,5.717619,NaN,6.186154,1.916550
182,Alexander-Arnold,Liverpool,78,27.796610,164,154.984838,5.9,5.575674,5.303373,5.310715,1.996412
214,Sterling,Manchester City,117,23.200000,116,128.563409,5.0,5.541526,4.882934,4.383279,1.620080
166,Vardy,Leicester City,98,25.161290,156,136.032180,6.2,5.406407,3.014097,3.073232,1.727013
210,Agüero,Manchester City,119,20.847458,123,109.028120,5.9,5.229804,4.391398,5.278193,1.516044
103,Alonso,Chelsea,60,10.000000,71,51.902993,7.1,5.190299,8.763065,8.581485,2.118931
409,Jiménez,Wolves,80,27.884615,145,143.812180,5.2,5.157402,4.986773,5.246503,1.823417
342,Son,Tottenham,98,21.034483,122,107.435485,5.8,5.107589,7.950907,6.492838,1.631559
187,Firmino,Liverpool,97,27.826087,128,139.836241,4.6,5.025365,4.851852,5.405589,1.613547
11,Aubameyang,Arsenal,110,25.000000,150,124.796090,6.0,4.991844,5.699731,4.913020,1.505097
181,Robertson,Liverpool,70,27.959184,137,137.181573,4.9,4.906494,4.466164,4.583144,1.854480
460,Abraham,Chelsea,75,25.192308,131,123.160150,5.2,4.888800,2.999551,3.972818,1.785137
217,Mahrez,Manchester City,84,21.818182,120,104.228153,5.5,4.777124,6.526757,5.298195,1.648264
278,Pukki,Norwich City,65,27.173913,125,129.116090,4.6,4.751472,3.414720,4.388894,1.863681
401,Doherty,Wolves,62,25.813953,111,120.592389,4.3,4.671597,6.453053,5.435851,1.876159
150,Richarlison,Everton,83,26.200000,131,120.966576,5.0,4.617045,6.772790,6.647477,1.602600
344,Alli,Tottenham,83,20.980392,107,96.726570,5.1,4.610332,4.819716,4.776725,1.600270
431,Pulisic,Chelsea,69,15.909091,70,72.812927,4.4,4.576813,NaN,2.455897,1.742363
239,Martial,Manchester Utd,80,21.923077,114,99.306028,5.2,4.529749,3.417666,3.707171,1.601508
313,Ings,Southampton,72,28.163265,138,126.492030,4.9,4.491384,2.807573,3.412773,1.673840
219,David Silva,Manchester City,73,19.148936,90,85.570800,4.7,4.468697,4.752573,4.139065,1.653939
297,Lundstram,Sheffield Utd,49,25.777778,116,114.617749,4.5,4.446378,2.592703,2.650007,2.008669
105,Azpilicueta,Chelsea,58,25.625000,82,112.926280,3.2,4.406879,3.704325,4.932848,1.829857
411,Patrício,Wolves,51,28.205128,110,124.101522,3.9,4.399963,5.010994,4.722631,1.948336
211,Jesus,Manchester City,95,23.095238,97,101.580150,4.2,4.398316,3.935747,4.365458,1.427002
338,Kane,Tottenham,108,20.000000,104,87.424060,5.2,4.371203,NaN,4.636094,1.330115
615,Bergwijn,Tottenham,75,4.038462,21,17.457507,5.2,4.322811,NaN,NaN,1.578468
340,Lloris,Tottenham,53,10.975610,45,47.409139,4.1,4.319499,4.951467,5.155079,1.876271
171,Maddison,Leicester City,75,26.976744,116,115.244522,4.3,4.271995,2.777536,3.107055,1.559912
29,Grealish,Aston Villa,66,25.217391,116,106.789670,4.6,4.234763,4.098028,4.325194,1.648379
183,van Dijk,Liverpool,66,28.125000,135,118.183113,4.8,4.202066,3.490923,4.094036,1.635652
93,Pope,Burnley,48,28.000000,126,116.118562,4.5,4.147091,5.592201,5.462394,1.892880
471,Henderson,Sheffield Utd,52,26.136364,115,108.064108,4.4,4.134627,4.898994,4.886258,1.813154
603,Reina,Aston Villa,45,5.000000,18,20.637434,3.6,4.127487,4.891413,4.642477,1.945716
362,Deeney,Watford,62,17.000000,68,69.644060,4.0,4.096709,4.175059,4.424929,1.645278
208,Otamendi,Manchester City,50,18.055556,65,73.916632,3.6,4.093844,4.161162,4.095888,1.830823

In [10]:
metric = 'form 10'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
103,Alonso,Chelsea,60,10.000000,71,51.902993,7.1,5.190299,8.763065,8.581485,2.118931
618,Fernandes,Manchester Utd,83,4.000000,32,25.629031,8.0,6.407258,8.052628,7.886019,2.223992
150,Richarlison,Everton,83,26.200000,131,120.966576,5.0,4.617045,6.772790,6.647477,1.602600
342,Son,Tottenham,98,21.034483,122,107.435485,5.8,5.107589,7.950907,6.492838,1.631559
191,Salah,Liverpool,128,24.929577,177,169.449002,7.1,6.797107,5.147670,6.225873,1.899849
233,Rashford,Manchester Utd,89,21.967213,134,125.600150,6.1,5.717619,NaN,6.186154,1.916550
410,Jota,Wolves,63,23.888889,86,96.476090,3.6,4.038534,7.522126,6.122215,1.608990
525,Sarr,Watford,63,18.095238,76,67.236330,4.2,3.715692,7.744234,6.056733,1.480367
147,Calvert-Lewin,Everton,64,25.952381,109,104.992030,4.2,4.045564,6.236504,5.687180,1.599150
215,De Bruyne,Manchester City,107,26.176471,178,159.603829,6.8,6.097225,6.026669,5.668131,1.863976
93,Pope,Burnley,48,28.000000,126,116.118562,4.5,4.147091,5.592201,5.462394,1.892880
5,Sokratis,Arsenal,48,17.931034,52,50.980856,2.9,2.843163,NaN,5.442480,1.297720
401,Doherty,Wolves,62,25.813953,111,120.592389,4.3,4.671597,6.453053,5.435851,1.876159
187,Firmino,Liverpool,97,27.826087,128,139.836241,4.6,5.025365,4.851852,5.405589,1.613547
446,Stacey,Bournemouth,43,11.153846,29,37.719782,2.6,3.381774,5.421561,5.318765,1.630836
182,Alexander-Arnold,Liverpool,78,27.796610,164,154.984838,5.9,5.575674,5.303373,5.310715,1.996412
217,Mahrez,Manchester City,84,21.818182,120,104.228153,5.5,4.777124,6.526757,5.298195,1.648264
210,Agüero,Manchester City,119,20.847458,123,109.028120,5.9,5.229804,4.391398,5.278193,1.516044
409,Jiménez,Wolves,80,27.884615,145,143.812180,5.2,5.157402,4.986773,5.246503,1.823417
340,Lloris,Tottenham,53,10.975610,45,47.409139,4.1,4.319499,4.951467,5.155079,1.876271
123,van Aanholt,Crystal Palace,55,20.769231,81,76.644925,3.9,3.690311,5.498362,5.139136,1.573554
141,Digne,Everton,58,25.151515,83,96.684269,3.3,3.844073,4.727658,4.986978,1.596165
105,Azpilicueta,Chelsea,58,25.625000,82,112.926280,3.2,4.406879,3.704325,4.932848,1.829857
11,Aubameyang,Arsenal,110,25.000000,150,124.796090,6.0,4.991844,5.699731,4.913020,1.505097
488,Pépé,Arsenal,92,22.972973,85,84.811085,3.7,3.691777,6.185313,4.906923,1.217143
471,Henderson,Sheffield Utd,52,26.136364,115,108.064108,4.4,4.134627,4.898994,4.886258,1.813154
129,Benteke,Crystal Palace,57,18.823529,32,44.692030,1.7,2.374264,4.961439,4.821185,0.994470
168,Schmeichel,Leicester City,53,28.250000,113,110.207120,4.0,3.901137,5.894752,4.803272,1.694546
344,Alli,Tottenham,83,20.980392,107,96.726570,5.1,4.610332,4.819716,4.776725,1.600270
411,Patrício,Wolves,51,28.205128,110,124.101522,3.9,4.399963,5.010994,4.722631,1.948336
603,Reina,Aston Villa,45,5.000000,18,20.637434,3.6,4.127487,4.891413,4.642477,1.945716
338,Kane,Tottenham,108,20.000000,104,87.424060,5.2,4.371203,NaN,4.636094,1.330115
181,Robertson,Liverpool,70,27.959184,137,137.181573,4.9,4.906494,4.466164,4.583144,1.854480
198,Henderson,Liverpool,54,24.750000,99,81.530435,4.0,3.294159,5.338245,4.539887,1.417580
501,McBurnie,Sheffield Utd,57,25.454545,56,70.400000,2.2,2.765714,4.620000,4.465909,1.158430
389,Antonio,West Ham,69,14.193548,44,51.691959,3.1,3.641933,4.944988,4.450856,1.386460
68,King,Bournemouth,61,19.166667,69,72.896090,3.6,3.803274,4.918852,4.432259,1.539901
362,Deeney,Watford,62,17.000000,68,69.644060,4.0,4.096709,4.175059,4.424929,1.645278
278,Pukki,Norwich City,65,27.173913,125,129.116090,4.6,4.751472,3.414720,4.388894,1.863681
214,Sterling,Manchester City,117,23.200000,116,128.563409,5.0,5.541526,4.882934,4.383279,1.620080