In [1]:
# recent gameweek
latest_gameweek = 10

In [2]:
import pandas as pd
import numpy as np

# allow more data columns to be shown than by default
pd.set_option('max_columns',100)

In [3]:
# fetch FPL data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players = pd.read_csv(filepath, index_col=0)

In [4]:
# how many gameweeks do we look form for
number_gameweeks = 5
# create a list of relevant column names
column_list = []
for i in range(0,number_gameweeks):
    column_list.append('xPoints week ' + str(latest_gameweek-i))
# calculate form
column_name = 'form ' + str(number_gameweeks)
players[column_name] = players[column_list].mean(axis=1)

In [5]:
# give a sorted list showing the players with best 'form 5'
players[['web_name', 'games played','total_points', 'points_per_game','adjusted points','adjusted points per game',\
                                'form 5']].sort_values(by='form 5', ascending=False)

,web_name,games played,total_points,points_per_game,adjusted points,adjusted points per game,form 5
id,,,,,,,
141,Zaha,7.941176,54,6.8,47.739731,6.011670,7.629261
302,Fernandes,9.024390,74,8.2,62.740409,6.952316,7.310542
274,Mendy,4.000000,16,4.0,12.106461,3.026615,7.281280
224,Vardy,9.041096,66,7.3,60.690356,6.712721,7.133532
254,Salah,9.012346,73,8.1,64.191373,7.122604,7.051980
202,Bamford,10.000000,62,6.2,60.580237,6.058024,6.980000
431,Fabianski,10.000000,53,5.3,48.121492,4.812149,6.643151
506,Wilson,9.054054,67,7.4,58.530356,6.464547,6.489659
232,Chilwell,7.000000,56,8.0,37.988948,5.426993,6.053712
383,Lloris,10.000000,47,4.7,44.182358,4.418236,6.037164
468,Jota,7.931034,46,5.8,37.887438,4.777112,5.984003
275,Mahrez,7.031250,45,6.4,36.209950,5.149860,5.969992
461,Saïss,6.031746,38,6.3,26.039942,4.317148,5.963273
457,Doherty,6.000000,24,4.0,24.899534,4.149922,5.902166
277,Cancelo,5.000000,25,5.0,26.373194,5.274639,5.798373
37,Grealish,8.987342,71,7.9,55.445087,6.169242,5.733668
123,James,9.038462,47,5.2,41.359058,4.575896,5.713712
282,Jesus,4.000000,22,5.5,21.090119,5.272530,5.663373
272,De Bruyne,7.959184,39,4.9,47.929776,6.021946,5.609196
273,Stones,2.000000,8,4.0,7.653230,3.826615,5.581280
490,Thiago Silva,5.964912,34,5.7,23.354791,3.915362,5.470554
114,Ziyech,6.037736,32,5.3,27.736385,4.593839,5.464640
514,Watkins,9.074074,49,5.4,50.030119,5.513523,5.420000
110,Zouma,8.939394,59,6.6,37.420215,4.185990,5.413712
96,Pope,7.959184,39,4.9,34.850842,4.378696,5.354522
474,Neto,10.000000,51,5.1,41.212568,4.121257,5.303856
300,Shaw,7.000000,14,2.0,16.956944,2.422421,5.201006
455,Patrício,10.000000,44,4.4,40.168851,4.016885,5.170818
366,Ings,7.014925,47,6.7,35.400237,5.046417,5.168519
118,Abraham,9.047619,38,4.2,38.680237,4.275184,5.017754
...,...,...,...,...,...,...,...
416,Zohore,NaN,0,0.0,NaN,NaN,NaN
420,Leko,NaN,0,0.0,NaN,NaN,NaN
423,Field,3.000000,3,1.0,3.444241,1.148080,NaN
426,Harper,1.000000,1,1.0,1.148080,1.148080,NaN
499,Kipre,NaN,0,0.0,NaN,NaN,NaN
600,Peltier,NaN,0,0.0,NaN,NaN,NaN
428,Snodgrass,1.000000,1,1.0,1.278037,1.278037,NaN
429,Martin,NaN,0,0.0,NaN,NaN,NaN
430,Randolph,NaN,0,0.0,NaN,NaN,NaN
433,Roberto,NaN,0,0.0,NaN,NaN,NaN
434,Wilshere,NaN,0,0.0,NaN,NaN,NaN
438,Fredericks,3.076923,4,1.3,8.712116,2.831438,NaN
440,Felipe Anderson,2.000000,2,1.0,2.556075,1.278037,NaN
444,Hugill,NaN,0,0.0,NaN,NaN,NaN
447,Ajeti,NaN,0,0.0,NaN,NaN,NaN
452,Johnson,1.000000,1,1.0,2.112149,2.112149,NaN
576,Dawson,NaN,0,0.0,NaN,NaN,NaN
453,Ruddy,NaN,0,0.0,NaN,NaN,NaN
456,Bennett,NaN,0,0.0,NaN,NaN,NaN
462,Jonny,NaN,0,0.0,NaN,NaN,NaN
463,Bonatini,NaN,0,0.0,NaN,NaN,NaN
467,Buur,1.000000,1,1.0,2.216885,2.216885,NaN
471,Vinagre,2.000000,1,0.5,3.433770,1.716885,NaN
472,Sarkic,NaN,0,0.0,NaN,NaN,NaN
473,Gibbs-White,NaN,0,0.0,NaN,NaN,NaN
475,Jordao,NaN,0,0.0,NaN,NaN,NaN
476,Campana,NaN,0,0.0,NaN,NaN,NaN
545,Hoever,2.000000,2,1.0,4.433770,2.216885,NaN
553,Shabani,NaN,0,0.0,NaN,NaN,NaN
581,Otasowie,NaN,0,0.0,NaN,NaN,NaN

In [6]:
# save data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)