# Player evaluation

Here we compare players based on their adjusted points. Also, we calculate some useful metrics using the adjusted points to further evaluate player performance in FPL.

In [1]:
# recent gameweek
gameweek = 27

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch FPL data
filepath = '../data/data_week' + str(gameweek) + '.csv'
df = pd.read_csv(filepath, index_col=0)#, encoding='latin-1')

# fetch team data
filepath = '../data/fbref/team_stats_week' + str(gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col=0)#, encoding='latin-1')

# fetch player stats data
filepath = '../data/fbref/player_stats_week' + str(gameweek) + '.csv'
playerStats = pd.read_csv(filepath, index_col=0, skiprows=1)#, encoding='latin-1')

## Value and value points

Here we calculate two interesting metrics: 'value' and 'value points'. 

Value is simply adjusted points per game divided by the cost of the player. Essentially, this measures how many 'points per pound(/euro/whatever)' has the player gained on an average game week. 

The value points is calculated as the geometric mean of a players adjusted points per game and value. Essentially, in FPL we want to gain the maximum possible amount of points. However, we are restrained by a limited budget, so that in practice we cannot just pick all the best players. Then, we would like to have a squad of players that give the most points given our budget. Thus, we would like to pick players that have high value ('bang for buck'). However, often the players with highest value are very cheap players who somewhat overperform relative to their price. Picking a squad full of these players might leave a part of our budget unused. Calculating the geometric mean of adjusted points and value allows us to weigh both aspects equally, i.e. we want players that both gain a lot of points but also have good value. For example, this metric values equally two players, where one has twice the points per game of the other who in turn has twice the value of the other.

In [4]:
# value = expected points / cost
df['value'] = df['adjusted points per game'] / (df['now_cost'] / 10.0)
# geometric mean of 'adjusted points per game' and 'value'
df['valuePoints metric'] = np.sqrt(df['adjusted points per game'] * df['value'])

In [5]:
# assign proper team names for each player
team_names = np.sort(teamStats['Squad'])
df['team_name'] = team_names[df['team']-1]

In [6]:
# save data
filepath = '../data/data_week' + str(gameweek) + str('.csv')
df.to_csv(filepath)

In [7]:
goalkeepers = df['element_type'] == 1
defenders = df['element_type'] == 2
midfielders = df['element_type'] == 3
forwards = df['element_type'] == 4

minGames = df['games played'] >= 3

## Player evaluation

Below we compile lists for each position sorting players based on a given metric.

In [11]:
#metric = 'valuePoints metric'
metric = 'adjusted points per game'
#metric = 'form 5'

numberToShow = 40

print('GOALKEEPERS')
display(df[goalkeepers & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('DEFENDERS')
display(df[defenders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('MIDFIELDERS')
display(df[midfielders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('FORWARDS')
display(df[forwards & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

GOALKEEPERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
411,Patrício,Wolves,51,27.000000,108,121.077666,4.0,4.484358,5.722111,5.074363,1.985707
340,Lloris,Tottenham,53,10.975610,45,47.826208,4.1,4.357499,5.038729,5.167056,1.892777
471,Henderson,Sheffield Utd,52,26.136364,115,108.307335,4.4,4.143933,5.138143,4.989944,1.817235
603,Reina,Aston Villa,45,5.000000,18,20.637434,3.6,4.127487,4.784726,4.627834,1.945716
93,Pope,Burnley,48,26.976744,116,108.773171,4.3,4.032109,5.209188,5.057648,1.840398
189,Alisson,Liverpool,62,19.130435,88,76.441352,4.6,3.995798,4.464270,4.800379,1.604751
341,Gazzaniga,Tottenham,43,16.764706,57,66.736502,3.4,3.980774,10.507274,5.355977,1.919700
168,Schmeichel,Leicester City,53,27.073171,111,106.340418,4.1,3.927889,6.225701,4.841448,1.706166
235,de Gea,Manchester Utd,54,26.764706,91,103.269754,3.4,3.858430,3.576968,3.359687,1.660404
131,Guaita,Crystal Palace,51,25.000000,95,93.852405,3.8,3.754096,3.114132,3.253491,1.662342
47,Ryan,Brighton,48,27.352941,93,100.282065,3.4,3.666226,3.259624,3.356478,1.673396
14,Leno,Arsenal,50,26.944444,97,98.516639,3.6,3.656288,3.011482,3.446747,1.635142
494,Ramsdale,Bournemouth,46,26.285714,92,95.730948,3.5,3.641938,3.447077,3.413358,1.698062
262,Dubravka,Newcastle Utd,50,26.666667,104,96.371832,3.9,3.613944,3.548067,3.642764,1.616205
366,Foster,Watford,49,27.105263,103,93.734410,3.8,3.458163,2.848678,3.387948,1.562239
212,Ederson,Manchester City,60,24.242424,80,82.701564,3.3,3.411440,4.190238,3.602024,1.392714
213,Bravo,Manchester City,47,3.928571,11,13.271727,2.8,3.378258,NaN,3.389296,1.558274
388,Fabianski,West Ham,49,14.102564,55,47.531474,3.9,3.370414,2.427135,2.780682,1.522598
280,Krul,Norwich City,45,25.312500,81,84.698760,3.2,3.346124,3.591831,3.243540,1.577378
111,Kepa,Chelsea,55,24.230769,63,80.553609,2.6,3.324435,3.711537,3.981559,1.417544
318,McCarthy,Southampton,44,16.875000,54,55.925095,3.2,3.314080,3.145373,3.365875,1.579926
526,Adrián,Liverpool,40,10.000000,25,32.441020,2.5,3.244102,NaN,NaN,1.622051
148,Pickford,Everton,53,27.241379,79,86.161384,2.9,3.162886,2.774053,2.926965,1.373870
319,Gunn,Southampton,42,10.000000,29,31.622278,2.9,3.162228,NaN,NaN,1.543009
553,Martin,West Ham,40,5.000000,20,15.024795,4.0,3.004959,NaN,2.676469,1.502480
450,Roberto,West Ham,44,8.181818,18,22.949665,2.2,2.804959,NaN,1.476035,1.337212
94,Heaton,Aston Villa,44,19.666667,59,53.373906,3.0,2.713927,NaN,3.199099,1.293814
27,Nyland,Aston Villa,43,3.000000,3,4.582460,1.0,1.527487,NaN,0.976327,0.736620

DEFENDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
182,Alexander-Arnold,Liverpool,77,27.166667,163,154.576234,6.0,5.689923,7.286739,6.394058,2.050506
181,Robertson,Liverpool,70,27.200000,136,135.913639,5.0,4.996825,5.806186,5.321339,1.888622
401,Doherty,Wolves,61,24.750000,99,111.862564,4.0,4.519700,4.998045,4.720334,1.829973
103,Alonso,Chelsea,60,9.016393,55,40.379918,6.1,4.478500,5.313052,5.569452,1.828340
297,Lundstram,Sheffield Utd,49,25.777778,116,114.877735,4.5,4.456464,2.563970,2.756615,2.013225
183,van Dijk,Liverpool,66,26.800000,134,116.881934,5.0,4.361266,4.756116,4.724007,1.697621
105,Azpilicueta,Chelsea,58,25.312500,81,110.236138,3.2,4.355008,4.343715,5.466811,1.808319
208,Otamendi,Manchester City,50,18.055556,65,73.926612,3.6,4.094397,4.352087,4.051855,1.831070
185,Matip,Liverpool,52,8.048780,33,32.628138,4.1,4.053799,2.830943,2.830943,1.777708
159,Pereira,Leicester City,63,26.136364,115,103.180732,4.4,3.947785,4.326438,3.669743,1.572835
405,Boly,Wolves,47,11.063830,52,43.434465,4.7,3.925807,3.716029,3.697606,1.810840
506,James,Chelsea,50,14.827586,43,57.784279,2.9,3.897079,3.757555,4.265293,1.742827
122,Wan-Bissaka,Manchester Utd,53,23.750000,76,92.437893,3.2,3.892122,5.085414,4.655730,1.690630
141,Digne,Everton,58,25.151515,83,96.680837,3.3,3.843937,4.742546,5.130144,1.596108
440,Angeliño,Manchester City,47,6.111111,11,23.258028,1.8,3.805859,NaN,NaN,1.755512
160,Maguire,Manchester Utd,52,26.774194,83,101.584029,3.1,3.794102,4.652385,4.128219,1.663824
204,Mendy,Manchester City,55,12.972973,48,48.614585,3.7,3.747374,4.253665,4.205022,1.597886
518,Cancelo,Manchester City,52,10.000000,25,37.164395,2.5,3.716440,2.994568,3.364251,1.629767
291,Stevens,Sheffield Utd,51,26.666667,104,98.950612,3.9,3.710648,3.218205,3.419835,1.643103
203,Walker,Manchester City,57,20.857143,73,77.001185,3.5,3.691838,4.023725,3.917290,1.546341
529,Tomori,Chelsea,44,13.823529,47,50.624141,3.4,3.662172,NaN,3.384901,1.745872
186,Lovren,Liverpool,53,8.000000,16,29.054825,2.0,3.631853,NaN,NaN,1.577576
293,O'Connell,Sheffield Utd,47,27.272727,90,98.181480,3.3,3.599988,4.086369,3.795312,1.660550
162,Evans,Leicester City,52,27.297297,101,97.998922,3.7,3.590060,3.750786,3.204551,1.574345
161,Chilwell,Leicester City,56,21.904762,92,78.577940,4.2,3.587254,2.936868,2.585414,1.515891
164,Söyüncü,Leicester City,50,25.675676,95,91.855632,3.7,3.577535,2.858381,2.605761,1.599922
123,van Aanholt,Crystal Palace,55,20.277778,73,71.900284,3.6,3.545767,5.725457,5.329561,1.511920
511,Sidibé,Everton,52,19.090909,63,67.446107,3.3,3.532891,2.949951,3.192643,1.549275
478,Holgate,Everton,45,20.000000,54,70.386015,2.7,3.519301,3.317195,3.841794,1.659014
42,Dunk,Brighton,48,25.151515,83,87.492371,3.3,3.478612,3.432856,3.786011,1.587762
295,Egan,Sheffield Utd,46,25.882353,88,89.700174,3.4,3.465689,4.201737,3.893739,1.615886
184,Gomez,Liverpool,53,18.048780,74,62.169158,4.1,3.444507,4.068875,3.793727,1.496198
6,Monreal,Arsenal,50,3.030303,10,10.369725,3.3,3.422009,NaN,NaN,1.530369
294,Baldock,Sheffield Utd,51,27.250000,109,93.160025,4.0,3.418717,3.121430,2.858731,1.513833
359,Janmaat,Watford,40,8.000000,36,27.234884,4.5,3.404360,NaN,NaN,1.702180
59,Aké,Bournemouth,48,20.967742,65,71.274182,3.1,3.399230,4.277070,4.030839,1.551529
336,Aurier,Tottenham,50,22.000000,77,74.212588,3.5,3.373299,2.420872,2.809013,1.508585
407,Saïss,Wolves,44,22.857143,64,76.878762,2.8,3.363446,4.866961,4.311288,1.603460
402,Jonny,Wolves,54,26.428571,74,88.612316,2.8,3.352898,4.060472,3.619393,1.442858
403,Coady,Wolves,50,26.785714,75,89.251652,2.8,3.332062,3.816073,3.694426,1.490143

MIDFIELDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
191,Salah,Liverpool,128,23.972603,175,167.026092,7.3,6.967374,6.802155,7.116795,1.947440
192,Mané,Liverpool,123,23.880597,160,146.634594,6.7,6.140324,4.365854,4.838869,1.750809
215,De Bruyne,Manchester City,108,26.176471,178,159.783455,6.8,6.104087,6.020280,5.632569,1.857415
618,Fernandes,Manchester Utd,82,3.013699,22,18.357609,7.3,6.091389,8.473466,8.220793,2.127205
214,Sterling,Manchester City,117,23.200000,116,128.583368,5.0,5.542387,4.835166,4.266669,1.620332
342,Son,Tottenham,99,21.034483,122,107.725123,5.8,5.121358,7.375337,6.008171,1.627675
217,Mahrez,Manchester City,85,21.818182,120,104.327945,5.5,4.781697,5.815161,5.362504,1.640109
431,Pulisic,Chelsea,69,15.909091,70,73.070130,4.4,4.592980,NaN,2.427305,1.748517
239,Martial,Manchester Utd,80,21.132075,112,96.974775,5.3,4.588985,3.952366,4.055970,1.622451
150,Richarlison,Everton,83,24.807692,129,113.704419,5.2,4.583434,6.449434,6.255538,1.590933
344,Alli,Tottenham,84,19.800000,99,89.290657,5.0,4.509629,3.852382,4.165908,1.555970
219,David Silva,Manchester City,74,19.148936,90,85.660613,4.7,4.473388,4.435677,4.093850,1.644450
171,Maddison,Leicester City,74,25.909091,114,112.264710,4.4,4.333024,2.819871,3.009099,1.592851
29,Grealish,Aston Villa,67,25.217391,116,106.859525,4.6,4.237533,4.278836,4.267222,1.637102
463,Mount,Chelsea,61,27.105263,103,107.412194,3.8,3.962780,4.093629,3.877160,1.604483
417,Traoré,Wolves,59,26.250000,105,102.398220,4.0,3.900885,2.876080,3.533390,1.605969
265,Pérez,Leicester City,62,24.000000,108,93.542788,4.5,3.897616,3.456588,4.292008,1.565320
113,Willian,Chelsea,70,26.052632,99,100.124344,3.8,3.843157,2.317545,3.008108,1.452577
218,Bernardo Silva,Manchester City,78,22.972973,85,86.078787,3.7,3.746959,3.523508,3.307080,1.341627
488,Pépé,Arsenal,92,22.972973,85,84.870960,3.7,3.694383,5.811159,4.823332,1.218002
172,Barnes,Leicester City,60,25.277778,91,93.189522,3.6,3.686618,4.033646,4.237606,1.505056
301,Fleck,Sheffield Utd,51,23.947368,91,88.243591,3.8,3.684897,2.916718,3.512240,1.631700
238,Pogba,Manchester Utd,83,7.083333,17,26.088386,2.4,3.683066,NaN,2.711683,1.278411
287,Cantwell,Norwich City,48,26.666667,96,97.092169,3.6,3.640956,2.296703,2.965484,1.661862
320,Redmond,Southampton,62,23.000000,69,81.409819,3.0,3.539557,3.896481,4.054444,1.421520
283,Buendía,Norwich City,60,25.862069,75,91.445677,2.9,3.535899,1.125238,2.735847,1.443525
269,Shelvey,Newcastle Utd,49,14.883721,64,52.042581,4.3,3.496611,2.740770,2.755072,1.579608
321,Ward-Prowse,Southampton,57,26.875000,86,92.582871,3.2,3.444944,2.566104,2.552702,1.442928
114,Pedro,Chelsea,68,6.842105,13,23.451028,1.9,3.427458,2.721690,2.524055,1.314370
448,Tielemans,Leicester City,62,25.833333,93,88.343205,3.6,3.419737,3.429954,2.976375,1.373399
243,James,Manchester Utd,59,26.060606,86,87.514650,3.3,3.358120,2.915501,2.712771,1.382516
415,Moutinho,Wolves,54,26.969697,89,90.371956,3.3,3.350870,2.321809,2.929469,1.441985
31,McGinn,Aston Villa,54,17.941176,61,59.969952,3.4,3.342587,NaN,-1.322782,1.438421
198,Henderson,Liverpool,54,24.750000,99,81.964177,4.0,3.311684,5.188220,4.472351,1.425122
421,Trossard,Brighton,58,21.212121,70,70.099336,3.3,3.304683,2.898390,3.127055,1.372195
30,El Ghazi,Aston Villa,55,24.375000,78,80.244419,3.2,3.292079,2.396643,2.742972,1.403747
196,Keita,Liverpool,58,8.928571,25,29.248666,2.8,3.275851,2.964540,2.887350,1.360223
118,Jorginho,Chelsea,49,25.000000,80,81.452475,3.2,3.258099,3.159325,3.648293,1.471859
101,Westwood,Burnley,54,24.166667,87,78.548755,3.6,3.250293,4.342746,3.891267,1.398704
389,Antonio,West Ham,69,13.200000,33,42.800383,2.5,3.242453,3.002727,3.072702,1.234381

FORWARDS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
233,Rashford,Manchester Utd,89,21.967213,134,125.650046,6.1,5.719890,NaN,5.555840,1.917312
166,Vardy,Leicester City,97,25.161290,156,136.092056,6.2,5.408787,3.029474,3.239616,1.736657
210,Agüero,Manchester City,120,20.847458,123,109.068037,5.9,5.231719,4.630316,5.094550,1.510267
187,Firmino,Liverpool,97,26.808511,126,137.916074,4.7,5.144488,6.193767,6.180029,1.651796
409,Jiménez,Wolves,79,27.058824,138,137.772056,5.1,5.091576,4.865474,5.071484,1.811501
11,Aubameyang,Arsenal,109,25.000000,150,124.826028,6.0,4.993041,5.629913,4.668168,1.512349
460,Abraham,Chelsea,76,25.192308,131,123.210046,5.2,4.890780,3.421445,3.813247,1.774073
278,Pukki,Norwich City,65,26.170213,123,126.346028,4.7,4.827856,4.394737,4.676986,1.893641
313,Ings,Southampton,71,26.862745,137,125.102009,5.1,4.657082,3.328912,4.151129,1.747772
211,Jesus,Manchester City,95,23.095238,97,101.630046,4.2,4.400476,3.844016,4.486976,1.427703
338,Kane,Tottenham,108,20.000000,104,87.444019,5.2,4.372201,NaN,4.429511,1.330418
147,Calvert-Lewin,Everton,62,24.878049,102,98.802009,4.1,3.971453,6.106631,5.324250,1.594974
362,Deeney,Watford,62,15.833333,57,62.462009,3.6,3.944969,3.165176,3.956253,1.584338
502,Maupay,Brighton,58,26.216216,97,102.324019,3.7,3.903081,4.501460,3.611224,1.620666
91,Wood,Burnley,62,24.146341,99,93.902009,4.1,3.888871,3.661893,3.924359,1.561808
613,Samatta,Aston Villa,60,3.000000,12,11.400000,4.0,3.800000,NaN,NaN,1.551344
410,Jota,Wolves,61,23.125000,74,85.604019,3.2,3.701795,5.547498,4.561975,1.498813
68,King,Bournemouth,61,17.941176,61,64.726028,3.4,3.607680,2.552938,2.358680,1.460707
468,Ayew,Crystal Palace,50,25.675676,95,92.404019,3.7,3.598893,2.862915,3.096209,1.609474
67,Callum Wilson,Bournemouth,74,26.176471,89,91.506028,3.4,3.495736,5.253404,4.181166,1.285058
167,Iheanacho,Leicester City,57,10.000000,41,34.908037,4.1,3.490804,1.870873,2.235020,1.462137
363,Deulofeu,Watford,61,27.187500,87,93.330046,3.2,3.432829,3.002319,3.585119,1.389912
12,Lacazette,Arsenal,93,19.189189,71,64.108037,3.7,3.340841,3.447188,3.307226,1.095505
457,Haller,West Ham,68,25.294118,86,82.606028,3.4,3.265820,2.145001,2.468370,1.252385
428,Wesley,Aston Villa,55,20.937500,67,67.722009,3.2,3.234484,NaN,2.536978,1.379189
315,Long,Southampton,46,16.896552,49,54.506028,2.9,3.225867,4.633404,4.235294,1.504068
90,Barnes,Burnley,61,19.062500,61,59.620000,3.2,3.127607,NaN,1.511111,1.266331
303,McGoldrick,Sheffield Utd,54,20.500000,41,63.304019,2.0,3.088001,1.582865,1.705473,1.328864
13,Nketiah,Arsenal,43,3.928571,11,11.700000,2.8,2.978182,NaN,NaN,1.436207
501,McBurnie,Sheffield Utd,57,25.454545,56,70.400000,2.2,2.765714,4.446667,4.498148,1.158430
110,Giroud,Chelsea,65,7.083333,17,19.400000,2.4,2.738824,4.511111,4.373684,1.074255
70,Mousset,Sheffield Utd,46,22.903226,71,62.208037,3.1,2.716126,1.737188,1.811027,1.266400
466,Joelinton,Newcastle Utd,55,26.818182,59,72.204019,2.2,2.692353,2.164491,2.461781,1.148023
130,Wickham,Crystal Palace,44,6.000000,15,16.102009,2.5,2.683668,1.466900,2.935181,1.279389
92,Vydra,Burnley,53,8.000000,24,21.202009,3.0,2.650251,6.921350,5.659858,1.151196
504,Martinelli,Arsenal,46,13.928571,39,34.902009,2.8,2.505785,4.456923,4.223217,1.168328
534,Connolly,Brighton,43,17.083333,41,38.604019,2.4,2.259747,1.151966,1.473415,1.089747
129,Benteke,Crystal Palace,57,17.500000,28,38.700000,1.6,2.211429,4.366667,4.313793,0.926266
451,Rodriguez,Burnley,57,26.363636,58,57.120000,2.2,2.166621,4.133333,3.687755,0.907498
496,Kean,Everton,64,20.000000,38,42.504019,1.9,2.125201,2.578305,2.856146,0.840059

Below we compile a list sorting players based on a given metric (irrespective of position).

In [9]:
metric = 'adjusted points per game'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
191,Salah,Liverpool,128,23.972603,175,167.026092,7.3,6.967374,6.802155,7.116795,1.947440
192,Mané,Liverpool,123,23.880597,160,146.634594,6.7,6.140324,4.365854,4.838869,1.750809
215,De Bruyne,Manchester City,108,26.176471,178,159.783455,6.8,6.104087,6.020280,5.632569,1.857415
618,Fernandes,Manchester Utd,82,3.013699,22,18.357609,7.3,6.091389,8.473466,8.220793,2.127205
233,Rashford,Manchester Utd,89,21.967213,134,125.650046,6.1,5.719890,NaN,5.555840,1.917312
182,Alexander-Arnold,Liverpool,77,27.166667,163,154.576234,6.0,5.689923,7.286739,6.394058,2.050506
214,Sterling,Manchester City,117,23.200000,116,128.583368,5.0,5.542387,4.835166,4.266669,1.620332
166,Vardy,Leicester City,97,25.161290,156,136.092056,6.2,5.408787,3.029474,3.239616,1.736657
210,Agüero,Manchester City,120,20.847458,123,109.068037,5.9,5.231719,4.630316,5.094550,1.510267
187,Firmino,Liverpool,97,26.808511,126,137.916074,4.7,5.144488,6.193767,6.180029,1.651796
342,Son,Tottenham,99,21.034483,122,107.725123,5.8,5.121358,7.375337,6.008171,1.627675
409,Jiménez,Wolves,79,27.058824,138,137.772056,5.1,5.091576,4.865474,5.071484,1.811501
181,Robertson,Liverpool,70,27.200000,136,135.913639,5.0,4.996825,5.806186,5.321339,1.888622
11,Aubameyang,Arsenal,109,25.000000,150,124.826028,6.0,4.993041,5.629913,4.668168,1.512349
460,Abraham,Chelsea,76,25.192308,131,123.210046,5.2,4.890780,3.421445,3.813247,1.774073
278,Pukki,Norwich City,65,26.170213,123,126.346028,4.7,4.827856,4.394737,4.676986,1.893641
217,Mahrez,Manchester City,85,21.818182,120,104.327945,5.5,4.781697,5.815161,5.362504,1.640109
313,Ings,Southampton,71,26.862745,137,125.102009,5.1,4.657082,3.328912,4.151129,1.747772
431,Pulisic,Chelsea,69,15.909091,70,73.070130,4.4,4.592980,NaN,2.427305,1.748517
239,Martial,Manchester Utd,80,21.132075,112,96.974775,5.3,4.588985,3.952366,4.055970,1.622451
150,Richarlison,Everton,83,24.807692,129,113.704419,5.2,4.583434,6.449434,6.255538,1.590933
401,Doherty,Wolves,61,24.750000,99,111.862564,4.0,4.519700,4.998045,4.720334,1.829973
344,Alli,Tottenham,84,19.800000,99,89.290657,5.0,4.509629,3.852382,4.165908,1.555970
411,Patrício,Wolves,51,27.000000,108,121.077666,4.0,4.484358,5.722111,5.074363,1.985707
103,Alonso,Chelsea,60,9.016393,55,40.379918,6.1,4.478500,5.313052,5.569452,1.828340
219,David Silva,Manchester City,74,19.148936,90,85.660613,4.7,4.473388,4.435677,4.093850,1.644450
297,Lundstram,Sheffield Utd,49,25.777778,116,114.877735,4.5,4.456464,2.563970,2.756615,2.013225
211,Jesus,Manchester City,95,23.095238,97,101.630046,4.2,4.400476,3.844016,4.486976,1.427703
338,Kane,Tottenham,108,20.000000,104,87.444019,5.2,4.372201,NaN,4.429511,1.330418
183,van Dijk,Liverpool,66,26.800000,134,116.881934,5.0,4.361266,4.756116,4.724007,1.697621
340,Lloris,Tottenham,53,10.975610,45,47.826208,4.1,4.357499,5.038729,5.167056,1.892777
105,Azpilicueta,Chelsea,58,25.312500,81,110.236138,3.2,4.355008,4.343715,5.466811,1.808319
171,Maddison,Leicester City,74,25.909091,114,112.264710,4.4,4.333024,2.819871,3.009099,1.592851
29,Grealish,Aston Villa,67,25.217391,116,106.859525,4.6,4.237533,4.278836,4.267222,1.637102
471,Henderson,Sheffield Utd,52,26.136364,115,108.307335,4.4,4.143933,5.138143,4.989944,1.817235
603,Reina,Aston Villa,45,5.000000,18,20.637434,3.6,4.127487,4.784726,4.627834,1.945716
208,Otamendi,Manchester City,50,18.055556,65,73.926612,3.6,4.094397,4.352087,4.051855,1.831070
185,Matip,Liverpool,52,8.048780,33,32.628138,4.1,4.053799,2.830943,2.830943,1.777708
93,Pope,Burnley,48,26.976744,116,108.773171,4.3,4.032109,5.209188,5.057648,1.840398
189,Alisson,Liverpool,62,19.130435,88,76.441352,4.6,3.995798,4.464270,4.800379,1.604751

In [10]:
metric = 'form 10'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
618,Fernandes,Manchester Utd,82,3.013699,22,18.357609,7.3,6.091389,8.473466,8.220793,2.127205
191,Salah,Liverpool,128,23.972603,175,167.026092,7.3,6.967374,6.802155,7.116795,1.947440
182,Alexander-Arnold,Liverpool,77,27.166667,163,154.576234,6.0,5.689923,7.286739,6.394058,2.050506
150,Richarlison,Everton,83,24.807692,129,113.704419,5.2,4.583434,6.449434,6.255538,1.590933
187,Firmino,Liverpool,97,26.808511,126,137.916074,4.7,5.144488,6.193767,6.180029,1.651796
342,Son,Tottenham,99,21.034483,122,107.725123,5.8,5.121358,7.375337,6.008171,1.627675
92,Vydra,Burnley,53,8.000000,24,21.202009,3.0,2.650251,6.921350,5.659858,1.151196
215,De Bruyne,Manchester City,108,26.176471,178,159.783455,6.8,6.104087,6.020280,5.632569,1.857415
103,Alonso,Chelsea,60,9.016393,55,40.379918,6.1,4.478500,5.313052,5.569452,1.828340
233,Rashford,Manchester Utd,89,21.967213,134,125.650046,6.1,5.719890,NaN,5.555840,1.917312
105,Azpilicueta,Chelsea,58,25.312500,81,110.236138,3.2,4.355008,4.343715,5.466811,1.808319
5,Sokratis,Arsenal,48,17.931034,52,50.980856,2.9,2.843163,NaN,5.429350,1.297720
217,Mahrez,Manchester City,85,21.818182,120,104.327945,5.5,4.781697,5.815161,5.362504,1.640109
341,Gazzaniga,Tottenham,43,16.764706,57,66.736502,3.4,3.980774,10.507274,5.355977,1.919700
123,van Aanholt,Crystal Palace,55,20.277778,73,71.900284,3.6,3.545767,5.725457,5.329561,1.511920
147,Calvert-Lewin,Everton,62,24.878049,102,98.802009,4.1,3.971453,6.106631,5.324250,1.594974
181,Robertson,Liverpool,70,27.200000,136,135.913639,5.0,4.996825,5.806186,5.321339,1.888622
340,Lloris,Tottenham,53,10.975610,45,47.826208,4.1,4.357499,5.038729,5.167056,1.892777
141,Digne,Everton,58,25.151515,83,96.680837,3.3,3.843937,4.742546,5.130144,1.596108
210,Agüero,Manchester City,120,20.847458,123,109.068037,5.9,5.231719,4.630316,5.094550,1.510267
411,Patrício,Wolves,51,27.000000,108,121.077666,4.0,4.484358,5.722111,5.074363,1.985707
409,Jiménez,Wolves,79,27.058824,138,137.772056,5.1,5.091576,4.865474,5.071484,1.811501
93,Pope,Burnley,48,26.976744,116,108.773171,4.3,4.032109,5.209188,5.057648,1.840398
471,Henderson,Sheffield Utd,52,26.136364,115,108.307335,4.4,4.143933,5.138143,4.989944,1.817235
168,Schmeichel,Leicester City,53,27.073171,111,106.340418,4.1,3.927889,6.225701,4.841448,1.706166
192,Mané,Liverpool,123,23.880597,160,146.634594,6.7,6.140324,4.365854,4.838869,1.750809
488,Pépé,Arsenal,92,22.972973,85,84.870960,3.7,3.694383,5.811159,4.823332,1.218002
189,Alisson,Liverpool,62,19.130435,88,76.441352,4.6,3.995798,4.464270,4.800379,1.604751
183,van Dijk,Liverpool,66,26.800000,134,116.881934,5.0,4.361266,4.756116,4.724007,1.697621
401,Doherty,Wolves,61,24.750000,99,111.862564,4.0,4.519700,4.998045,4.720334,1.829973
278,Pukki,Norwich City,65,26.170213,123,126.346028,4.7,4.827856,4.394737,4.676986,1.893641
11,Aubameyang,Arsenal,109,25.000000,150,124.826028,6.0,4.993041,5.629913,4.668168,1.512349
122,Wan-Bissaka,Manchester Utd,53,23.750000,76,92.437893,3.2,3.892122,5.085414,4.655730,1.690630
603,Reina,Aston Villa,45,5.000000,18,20.637434,3.6,4.127487,4.784726,4.627834,1.945716
410,Jota,Wolves,61,23.125000,74,85.604019,3.2,3.701795,5.547498,4.561975,1.498813
501,McBurnie,Sheffield Utd,57,25.454545,56,70.400000,2.2,2.765714,4.446667,4.498148,1.158430
211,Jesus,Manchester City,95,23.095238,97,101.630046,4.2,4.400476,3.844016,4.486976,1.427703
198,Henderson,Liverpool,54,24.750000,99,81.964177,4.0,3.311684,5.188220,4.472351,1.425122
323,Armstrong,Southampton,52,20.000000,56,52.213148,2.8,2.610657,5.074036,4.458875,1.144849
338,Kane,Tottenham,108,20.000000,104,87.444019,5.2,4.372201,NaN,4.429511,1.330418