# Player evaluation

Here we compare players based on their adjusted points. Also, we calculate some useful metrics using the adjusted points to further evaluate player performance in FPL.

In [1]:
# recent gameweek
gameweek = 30

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch FPL data
filepath = '../data/data_week' + str(gameweek) + '.csv'
df = pd.read_csv(filepath, index_col=0)#, encoding='latin-1')

# fetch team data
filepath = '../data/fbref/team_stats_week' + str(gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col=0)#, encoding='latin-1')

# fetch player stats data
filepath = '../data/fbref/player_stats_week' + str(gameweek) + '.csv'
playerStats = pd.read_csv(filepath, index_col=0, skiprows=1)#, encoding='latin-1')

## Value and value points

Here we calculate two interesting metrics: 'value' and 'value points'. 

Value is simply adjusted points per game divided by the cost of the player. Essentially, this measures how many 'points per pound(/euro/whatever)' has the player gained on an average game week. 

The value points is calculated as the geometric mean of a players adjusted points per game and value. Essentially, in FPL we want to gain the maximum possible amount of points. However, we are restrained by a limited budget, so that in practice we cannot just pick all the best players. Then, we would like to have a squad of players that give the most points given our budget. Thus, we would like to pick players that have high value ('bang for buck'). However, often the players with highest value are very cheap players who somewhat overperform relative to their price. Picking a squad full of these players might leave a part of our budget unused. Calculating the geometric mean of adjusted points and value allows us to weigh both aspects equally, i.e. we want players that both gain a lot of points but also have good value. For example, this metric values equally two players, where one has twice the points per game of the other who in turn has twice the value of the other.

In [4]:
# value = expected points / cost
df['value'] = df['adjusted points per game'] / (df['now_cost'] / 10.0)
# geometric mean of 'adjusted points per game' and 'value'
df['valuePoints metric'] = np.sqrt(df['adjusted points per game'] * df['value'])

In [5]:
# assign proper team names for each player
team_names = np.sort(teamStats['Squad'])
df['team_name'] = team_names[df['team']-1]

In [6]:
# save data
filepath = '../data/data_week' + str(gameweek) + str('.csv')
df.to_csv(filepath)

In [7]:
goalkeepers = df['element_type'] == 1
defenders = df['element_type'] == 2
midfielders = df['element_type'] == 3
forwards = df['element_type'] == 4

minGames = df['games played'] >= 3

## Player evaluation

Below we compile lists for each position sorting players based on a given metric.

In [8]:
#metric = 'valuePoints metric'
metric = 'adjusted points per game'
#metric = 'form 10'

numberToShow = 40

print('GOALKEEPERS')
display(df[goalkeepers & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('DEFENDERS')
display(df[defenders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('MIDFIELDERS')
display(df[midfielders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('FORWARDS')
display(df[forwards & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

GOALKEEPERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
340,Lloris,Tottenham,53,13.023256,56,59.897929,4.3,4.599305,5.513707,5.628133,1.997811
411,Patrício,Wolves,52,29.756098,122,132.494240,4.1,4.452675,4.357949,4.599761,1.952627
471,Henderson,Sheffield Utd,53,28.723404,135,122.378273,4.7,4.260577,4.311544,4.870448,1.850676
131,Guaita,Crystal Palace,50,27.727273,122,112.530032,4.4,4.058460,5.405356,4.584194,1.814999
189,Alisson,Liverpool,62,21.063830,99,84.063761,4.7,3.990906,4.400173,4.581837,1.602786
93,Pope,Burnley,49,29.767442,128,118.576428,4.3,3.983427,3.073906,4.109877,1.799529
168,Schmeichel,Leicester City,54,29.756098,122,117.739591,4.1,3.956822,4.929490,4.653880,1.702745
235,de Gea,Manchester Utd,53,30.000000,105,117.440820,3.5,3.914694,4.785259,4.120404,1.700434
603,Reina,Aston Villa,44,5.937500,19,22.345387,3.2,3.763434,3.031837,3.751817,1.794147
14,Leno,Arsenal,49,30.000000,114,112.597709,3.8,3.753257,4.581548,4.044560,1.695549
341,Gazzaniga,Tottenham,42,18.125000,58,67.758837,3.2,3.738419,1.653034,3.924981,1.824161
47,Ryan,Brighton,47,30.000000,105,110.789572,3.5,3.692986,3.563817,3.399548,1.703447
318,McCarthy,Southampton,45,20.000000,74,73.859715,3.7,3.692986,5.620538,4.573286,1.740890
262,Dubravka,Newcastle Utd,51,30.243902,124,110.021478,4.1,3.637807,4.388276,4.060596,1.610848
494,Ramsdale,Bournemouth,45,29.393939,97,104.058215,3.3,3.540125,2.859284,3.116194,1.668831
212,Ederson,Manchester City,60,26.857143,94,94.559536,3.5,3.520834,3.909410,3.881254,1.437374
366,Foster,Watford,49,29.736842,113,104.318275,3.8,3.508048,3.324878,3.282589,1.584775
280,Krul,Norwich City,46,27.647059,94,96.105218,3.4,3.476146,3.485210,3.581055,1.620762
213,Bravo,Manchester City,47,3.928571,11,13.518017,2.8,3.440950,NaN,3.360964,1.587192
111,Kepa,Chelsea,54,25.714286,72,86.732320,2.8,3.372924,3.711219,3.809504,1.451475
388,Fabianski,West Ham,49,16.944444,61,56.203591,3.6,3.316933,2.817025,2.651803,1.498438
112,Caballero,Chelsea,48,3.888889,7,12.857666,1.8,3.306257,3.549399,NaN,1.509093
148,Pickford,Everton,52,30.000000,93,98.925210,3.1,3.297507,4.078155,3.560021,1.446052
526,Adrián,Liverpool,40,10.800000,27,34.474195,2.5,3.192055,3.017023,3.017023,1.596028
319,Gunn,Southampton,42,10.000000,29,30.929857,2.9,3.092986,NaN,NaN,1.509223
553,Martin,West Ham,39,5.000000,20,15.305978,4.0,3.061196,NaN,2.676469,1.550097
450,Roberto,West Ham,44,8.181818,18,23.409782,2.2,2.861196,NaN,NaN,1.364021
94,Heaton,Aston Villa,43,19.666667,59,54.080862,3.0,2.749874,NaN,2.358632,1.326107
27,Nyland,Aston Villa,43,5.000000,11,9.817168,2.2,1.963434,2.625061,2.218165,0.946852

DEFENDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
182,Alexander-Arnold,Liverpool,78,29.827586,173,163.507140,5.8,5.481742,4.500671,4.854537,1.962779
103,Alonso,Chelsea,62,11.969697,79,60.480217,6.6,5.052778,5.965103,6.193476,2.029244
181,Robertson,Liverpool,70,27.959184,137,135.444952,4.9,4.844381,3.949162,4.476540,1.831004
401,Doherty,Wolves,63,28.043478,129,133.819809,4.6,4.771869,7.067049,6.025879,1.901158
105,Azpilicueta,Chelsea,59,28.285714,99,127.723515,3.5,4.515478,6.361997,5.659691,1.858993
297,Lundstram,Sheffield Utd,49,28.913043,133,127.851512,4.6,4.421932,4.754673,3.849109,1.997625
183,van Dijk,Liverpool,65,30.000000,147,126.667469,4.9,4.222249,3.561996,4.044668,1.656102
208,Otamendi,Manchester City,49,20.000000,72,81.266226,3.6,4.063311,3.842503,4.077270,1.835617
185,Matip,Liverpool,52,9.069767,39,36.395125,4.3,4.012796,3.945964,3.749196,1.759727
159,Pereira,Leicester City,63,27.954545,123,111.979286,4.4,4.005763,4.223640,4.288169,1.595934
405,Boly,Wolves,48,14.042553,66,54.525241,4.7,3.882858,3.907146,3.762313,1.772274
440,Angeliño,Manchester City,46,6.111111,11,23.622730,1.8,3.865538,NaN,NaN,1.802316
123,van Aanholt,Crystal Palace,56,23.023256,99,88.354111,4.3,3.837603,6.095117,5.576756,1.621683
122,Wan-Bissaka,Manchester Utd,53,27.187500,87,104.241678,3.2,3.834177,4.241422,4.470404,1.665460
161,Chilwell,Leicester City,55,23.863636,105,90.931839,4.4,3.810477,5.093089,4.196839,1.624793
204,Mendy,Manchester City,55,15.135135,56,56.978367,3.7,3.764642,4.328227,4.303958,1.605249
203,Walker,Manchester City,56,21.944444,79,82.075908,3.6,3.740168,5.161903,4.529880,1.580509
42,Dunk,Brighton,47,27.777778,100,103.533715,3.6,3.727214,5.111668,4.445446,1.719236
141,Digne,Everton,57,26.666667,88,98.973706,3.3,3.711514,1.638646,3.198207,1.554582
506,James,Chelsea,51,17.692308,46,65.616346,2.6,3.708750,2.926837,3.340636,1.642262
162,Evans,Leicester City,53,29.729730,110,108.275638,3.7,3.641999,3.380730,3.456113,1.581983
160,Maguire,Manchester Utd,53,30.333333,91,110.234607,3.0,3.634108,3.716962,3.683753,1.578556
164,Söyüncü,Leicester City,49,29.166667,105,105.527112,3.6,3.618072,4.154729,3.672125,1.634479
293,O'Connell,Sheffield Utd,46,28.235294,96,101.205683,3.4,3.584368,4.016344,3.725375,1.671220
291,Stevens,Sheffield Utd,52,30.000000,117,107.459407,3.9,3.581980,2.820394,3.243288,1.570802
518,Cancelo,Manchester City,51,12.000000,30,42.409580,2.5,3.534132,2.759284,2.890089,1.564940
407,Saïss,Wolves,46,25.806452,80,90.990059,3.1,3.525865,5.061008,4.677084,1.643943
529,Tomori,Chelsea,42,15.000000,48,52.793853,3.2,3.519590,1.966214,1.966214,1.717384
359,Janmaat,Watford,40,8.000000,36,27.871518,4.5,3.483940,NaN,NaN,1.741970
402,Jonny,Wolves,54,26.666667,80,92.034154,3.0,3.451281,3.866193,3.738675,1.485195
145,Baines,Everton,49,5.000000,11,17.037794,2.2,3.407559,3.754481,3.623472,1.539378
294,Baldock,Sheffield Utd,51,29.756098,122,101.240476,4.1,3.402344,3.052775,2.817034,1.506583
403,Coady,Wolves,51,29.666667,89,100.854503,3.0,3.399590,3.972652,3.870813,1.505364
478,Holgate,Everton,43,22.592593,61,76.582986,2.7,3.389739,2.146850,2.875567,1.634677
6,Monreal,Arsenal,50,3.030303,10,10.186637,3.3,3.361590,NaN,NaN,1.503349
186,Lovren,Liverpool,53,10.000000,18,33.611551,1.8,3.361155,2.466301,2.403134,1.459992
225,Lindelöf,Manchester Utd,53,27.000000,81,90.596738,3.0,3.355435,4.218991,3.683183,1.457508
127,Dann,Crystal Palace,43,10.000000,43,33.494424,4.3,3.349442,3.904625,3.785636,1.615245
251,Ritchie,Newcastle Utd,53,10.909091,48,36.289639,4.4,3.326550,5.253038,4.080297,1.444961
184,Gomez,Liverpool,53,19.743590,77,65.588534,3.9,3.322017,2.646147,3.193534,1.442992

MIDFIELDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
191,Salah,Liverpool,127,25.833333,186,176.015029,7.2,6.813485,4.226371,5.777182,1.911910
618,Fernandes,Manchester Utd,87,6.025641,47,39.622315,7.8,6.575618,7.708857,7.547256,2.229343
215,De Bruyne,Manchester City,106,27.971014,193,174.110159,6.9,6.224664,6.776945,6.231049,1.911890
192,Mané,Liverpool,125,26.969697,178,160.312851,6.6,5.944184,4.810823,4.520168,1.681269
214,Sterling,Manchester City,117,25.098039,128,143.397423,5.1,5.713491,7.777733,6.349930,1.670354
342,Son,Tottenham,97,22.142857,124,109.929712,5.6,4.964568,4.149738,5.387531,1.594027
217,Mahrez,Manchester City,85,24.912281,142,119.672707,5.7,4.803764,5.356048,5.041264,1.647677
150,Richarlison,Everton,83,27.755102,136,130.364611,4.9,4.696960,5.719154,5.939868,1.630339
344,Alli,Tottenham,83,21.923077,114,102.228737,5.2,4.663065,5.263063,4.968279,1.618574
239,Martial,Manchester Utd,80,23.846154,124,110.801966,5.2,4.646534,4.656590,4.290637,1.642798
219,David Silva,Manchester City,73,20.816327,102,95.786590,4.9,4.601513,5.135853,4.725646,1.703096
431,Pulisic,Chelsea,69,17.111111,77,77.794210,4.5,4.546415,6.017026,5.729676,1.730791
171,Maddison,Leicester City,75,28.809524,121,122.623404,4.2,4.256350,3.310397,3.253639,1.554199
615,Bergwijn,Tottenham,74,6.000000,33,24.970386,5.5,4.161731,4.077367,NaN,1.529883
114,Pedro,Chelsea,68,9.090909,30,37.190496,3.3,4.090955,6.717197,5.373847,1.568809
29,Grealish,Aston Villa,64,27.727273,122,112.610768,4.4,4.061372,2.412790,3.340869,1.605398
265,Pérez,Leicester City,62,25.000000,110,97.818717,4.4,3.912749,2.934089,3.902750,1.571398
113,Willian,Chelsea,70,28.750000,115,112.147777,4.0,3.900792,3.888321,3.327269,1.474361
172,Barnes,Leicester City,62,28.048780,115,108.949587,4.1,3.884290,4.559316,4.707990,1.559968
463,Mount,Chelsea,62,29.736842,113,115.315794,3.8,3.877876,2.857108,3.388445,1.557393
417,Traoré,Wolves,57,28.717949,112,110.186771,3.9,3.836861,2.551079,2.950801,1.607084
218,Bernardo Silva,Manchester City,77,26.216216,97,99.159187,3.7,3.782361,3.833896,3.578640,1.363068
525,Sarr,Watford,64,20.000000,80,74.626824,4.0,3.731341,5.375533,5.233437,1.474942
389,Antonio,West Ham,69,15.862069,46,58.572760,2.9,3.692631,4.239601,4.101891,1.405760
488,Pépé,Arsenal,93,25.263158,96,91.021074,3.8,3.602917,3.909548,4.280177,1.181443
301,Fleck,Sheffield Utd,49,25.945946,96,92.576314,3.7,3.568045,2.550511,2.884683,1.611879
320,Redmond,Southampton,62,24.375000,78,86.434600,3.2,3.546035,5.499133,4.557914,1.424122
238,Pogba,Manchester Utd,83,8.076923,21,28.561987,2.6,3.536246,2.614197,2.614197,1.227449
287,Cantwell,Norwich City,47,30.000000,102,103.663814,3.4,3.455460,2.183264,2.389404,1.593885
321,Ward-Prowse,Southampton,57,30.000000,96,102.721764,3.2,3.424059,3.431568,2.958803,1.434180
283,Buendía,Norwich City,60,29.285714,82,100.239000,2.8,3.422795,2.440150,2.434823,1.397350
500,Saint-Maximin,Newcastle Utd,54,19.117647,65,64.879332,3.4,3.393688,5.077111,4.505721,1.460411
269,Shelvey,Newcastle Utd,49,18.000000,72,60.571744,4.0,3.365097,2.905755,2.851622,1.520196
133,Zaha,Crystal Palace,67,29.705882,101,99.178717,3.4,3.338689,4.111590,3.888530,1.289848
368,Doucouré,Watford,56,29.090909,96,96.385255,3.3,3.313243,3.989063,3.903919,1.400101
266,Almirón,Newcastle Utd,58,29.310345,85,96.871750,2.9,3.305036,4.585775,3.765048,1.372342
415,Moutinho,Wolves,54,30.000000,96,98.403984,3.2,3.280133,2.529271,2.633743,1.411544
97,McNeil,Burnley,61,29.705882,101,97.278717,3.4,3.274729,3.822933,3.879027,1.325899
243,James,Manchester Utd,58,28.125000,90,92.017373,3.2,3.271729,2.603225,2.649492,1.358511
31,McGinn,Aston Villa,54,20.000000,66,64.884354,3.3,3.244218,2.487473,2.487473,1.396089

FORWARDS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
233,Rashford,Manchester Utd,89,23.050847,136,128.757963,5.9,5.585823,3.201664,4.032955,1.872372
166,Vardy,Leicester City,97,26.825397,169,145.601556,6.3,5.427750,4.410764,3.770033,1.742746
409,Jiménez,Wolves,82,29.807692,155,152.461556,5.2,5.114839,4.971303,4.953198,1.786179
210,Agüero,Manchester City,118,24.000000,132,116.961556,5.5,4.873398,4.342392,4.743948,1.418701
187,Firmino,Liverpool,95,30.000000,132,145.668741,4.4,4.855625,3.221737,4.464253,1.575373
11,Aubameyang,Arsenal,110,27.857143,156,134.770778,5.6,4.837925,4.051841,4.246424,1.458689
460,Abraham,Chelsea,75,25.882353,132,124.517963,5.1,4.810921,3.203235,3.668069,1.756700
278,Pukki,Norwich City,65,29.318182,129,135.790778,4.4,4.631623,3.178985,3.983221,1.816672
313,Ings,Southampton,72,30.200000,151,136.067185,5.0,4.505536,4.096415,3.770126,1.679114
338,Kane,Tottenham,108,21.200000,106,89.407185,5.0,4.217320,2.000665,2.061502,1.283290
211,Jesus,Manchester City,96,25.750000,103,107.821556,4.0,4.187245,2.499650,3.224854,1.351427
91,Wood,Burnley,61,25.952381,109,105.083593,4.2,4.049093,5.692966,4.967929,1.639430
147,Calvert-Lewin,Everton,65,28.250000,113,114.083593,4.0,4.038357,5.482006,5.386328,1.583974
362,Deeney,Watford,62,18.947368,72,75.927185,3.8,4.007268,3.778062,3.958306,1.609358
502,Maupay,Brighton,57,28.947368,110,114.087185,3.8,3.941194,4.337101,4.060646,1.650784
410,Jota,Wolves,64,25.714286,90,101.150778,3.5,3.933641,5.140773,4.987731,1.554908
68,King,Bournemouth,61,20.000000,70,73.870778,3.5,3.693539,3.462728,3.482194,1.495470
457,Haller,West Ham,68,26.944444,97,95.750778,3.6,3.553637,5.094838,4.141340,1.362758
468,Ayew,Crystal Palace,52,28.974359,113,101.067185,3.9,3.488159,2.877928,2.861447,1.529659
67,Callum Wilson,Bournemouth,74,29.393939,97,101.450778,3.3,3.451418,3.798985,4.099326,1.268767
363,Deulofeu,Watford,61,28.387097,88,94.937963,3.1,3.344406,2.018061,2.979168,1.354110
12,Lacazette,Arsenal,93,22.222222,80,73.634371,3.6,3.313547,3.654982,3.578121,1.086555
428,Wesley,Aston Villa,54,20.937500,67,67.703593,3.2,3.233604,NaN,3.184933,1.391522
110,Giroud,Chelsea,66,10.000000,36,32.083593,3.6,3.208359,4.396178,4.296516,1.248852
167,Iheanacho,Leicester City,57,12.857143,45,41.234371,3.5,3.207118,1.934146,2.030232,1.343314
315,Long,Southampton,47,18.928571,53,59.650778,2.8,3.151362,3.597978,3.664761,1.453615
90,Barnes,Burnley,61,19.062500,61,59.620000,3.2,3.127607,NaN,1.400000,1.266331
303,McGoldrick,Sheffield Utd,54,21.500000,43,65.567185,2.0,3.049637,1.099900,1.197709,1.312355
613,Samatta,Aston Villa,57,5.925926,16,16.600000,2.7,2.801250,2.583333,NaN,1.173315
501,McBurnie,Sheffield Utd,57,28.181818,62,78.300000,2.2,2.778387,3.404167,3.744681,1.163738
130,Wickham,Crystal Palace,43,6.000000,15,16.083593,2.5,2.680599,NaN,2.045638,1.292700
70,Mousset,Sheffield Utd,45,24.000000,72,63.534371,3.0,2.647265,1.523912,1.635031,1.247933
466,Joelinton,Newcastle Utd,55,30.000000,66,78.667185,2.2,2.622240,2.203768,2.255309,1.118127
13,Nketiah,Arsenal,44,7.142857,15,18.300000,2.1,2.562000,3.750000,NaN,1.221386
504,Martinelli,Arsenal,44,13.928571,39,34.483593,2.8,2.475745,NaN,4.392784,1.180265
92,Vydra,Burnley,53,11.200000,28,27.483593,2.5,2.453892,3.208550,3.572726,1.065903
129,Benteke,Crystal Palace,57,20.588235,35,49.183593,1.7,2.388917,3.456178,3.750236,1.000607
451,Rodriguez,Burnley,57,28.695652,66,64.803593,2.3,2.258307,2.824980,3.173447,0.945901
534,Connolly,Brighton,42,18.000000,45,40.550778,2.5,2.252821,2.269574,1.894113,1.099264
298,Sharp,Sheffield Utd,56,20.000000,44,44.900000,2.2,2.245000,4.516667,3.674468,0.948686

Below we compile a list sorting players based on a given metric (irrespective of position).

In [9]:
metric = 'adjusted points per game'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
191,Salah,Liverpool,127,25.833333,186,176.015029,7.2,6.813485,4.226371,5.777182,1.911910
618,Fernandes,Manchester Utd,87,6.025641,47,39.622315,7.8,6.575618,7.708857,7.547256,2.229343
215,De Bruyne,Manchester City,106,27.971014,193,174.110159,6.9,6.224664,6.776945,6.231049,1.911890
192,Mané,Liverpool,125,26.969697,178,160.312851,6.6,5.944184,4.810823,4.520168,1.681269
214,Sterling,Manchester City,117,25.098039,128,143.397423,5.1,5.713491,7.777733,6.349930,1.670354
233,Rashford,Manchester Utd,89,23.050847,136,128.757963,5.9,5.585823,3.201664,4.032955,1.872372
182,Alexander-Arnold,Liverpool,78,29.827586,173,163.507140,5.8,5.481742,4.500671,4.854537,1.962779
166,Vardy,Leicester City,97,26.825397,169,145.601556,6.3,5.427750,4.410764,3.770033,1.742746
409,Jiménez,Wolves,82,29.807692,155,152.461556,5.2,5.114839,4.971303,4.953198,1.786179
103,Alonso,Chelsea,62,11.969697,79,60.480217,6.6,5.052778,5.965103,6.193476,2.029244
342,Son,Tottenham,97,22.142857,124,109.929712,5.6,4.964568,4.149738,5.387531,1.594027
210,Agüero,Manchester City,118,24.000000,132,116.961556,5.5,4.873398,4.342392,4.743948,1.418701
187,Firmino,Liverpool,95,30.000000,132,145.668741,4.4,4.855625,3.221737,4.464253,1.575373
181,Robertson,Liverpool,70,27.959184,137,135.444952,4.9,4.844381,3.949162,4.476540,1.831004
11,Aubameyang,Arsenal,110,27.857143,156,134.770778,5.6,4.837925,4.051841,4.246424,1.458689
460,Abraham,Chelsea,75,25.882353,132,124.517963,5.1,4.810921,3.203235,3.668069,1.756700
217,Mahrez,Manchester City,85,24.912281,142,119.672707,5.7,4.803764,5.356048,5.041264,1.647677
401,Doherty,Wolves,63,28.043478,129,133.819809,4.6,4.771869,7.067049,6.025879,1.901158
150,Richarlison,Everton,83,27.755102,136,130.364611,4.9,4.696960,5.719154,5.939868,1.630339
344,Alli,Tottenham,83,21.923077,114,102.228737,5.2,4.663065,5.263063,4.968279,1.618574
239,Martial,Manchester Utd,80,23.846154,124,110.801966,5.2,4.646534,4.656590,4.290637,1.642798
278,Pukki,Norwich City,65,29.318182,129,135.790778,4.4,4.631623,3.178985,3.983221,1.816672
219,David Silva,Manchester City,73,20.816327,102,95.786590,4.9,4.601513,5.135853,4.725646,1.703096
340,Lloris,Tottenham,53,13.023256,56,59.897929,4.3,4.599305,5.513707,5.628133,1.997811
431,Pulisic,Chelsea,69,17.111111,77,77.794210,4.5,4.546415,6.017026,5.729676,1.730791
105,Azpilicueta,Chelsea,59,28.285714,99,127.723515,3.5,4.515478,6.361997,5.659691,1.858993
313,Ings,Southampton,72,30.200000,151,136.067185,5.0,4.505536,4.096415,3.770126,1.679114
411,Patrício,Wolves,52,29.756098,122,132.494240,4.1,4.452675,4.357949,4.599761,1.952627
297,Lundstram,Sheffield Utd,49,28.913043,133,127.851512,4.6,4.421932,4.754673,3.849109,1.997625
471,Henderson,Sheffield Utd,53,28.723404,135,122.378273,4.7,4.260577,4.311544,4.870448,1.850676
171,Maddison,Leicester City,75,28.809524,121,122.623404,4.2,4.256350,3.310397,3.253639,1.554199
183,van Dijk,Liverpool,65,30.000000,147,126.667469,4.9,4.222249,3.561996,4.044668,1.656102
338,Kane,Tottenham,108,21.200000,106,89.407185,5.0,4.217320,2.000665,2.061502,1.283290
211,Jesus,Manchester City,96,25.750000,103,107.821556,4.0,4.187245,2.499650,3.224854,1.351427
615,Bergwijn,Tottenham,74,6.000000,33,24.970386,5.5,4.161731,4.077367,NaN,1.529883
114,Pedro,Chelsea,68,9.090909,30,37.190496,3.3,4.090955,6.717197,5.373847,1.568809
208,Otamendi,Manchester City,49,20.000000,72,81.266226,3.6,4.063311,3.842503,4.077270,1.835617
29,Grealish,Aston Villa,64,27.727273,122,112.610768,4.4,4.061372,2.412790,3.340869,1.605398
131,Guaita,Crystal Palace,50,27.727273,122,112.530032,4.4,4.058460,5.405356,4.584194,1.814999
91,Wood,Burnley,61,25.952381,109,105.083593,4.2,4.049093,5.692966,4.967929,1.639430

In [10]:
metric = 'form 10'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
618,Fernandes,Manchester Utd,87,6.025641,47,39.622315,7.8,6.575618,7.708857,7.547256,2.229343
214,Sterling,Manchester City,117,25.098039,128,143.397423,5.1,5.713491,7.777733,6.349930,1.670354
215,De Bruyne,Manchester City,106,27.971014,193,174.110159,6.9,6.224664,6.776945,6.231049,1.911890
103,Alonso,Chelsea,62,11.969697,79,60.480217,6.6,5.052778,5.965103,6.193476,2.029244
401,Doherty,Wolves,63,28.043478,129,133.819809,4.6,4.771869,7.067049,6.025879,1.901158
150,Richarlison,Everton,83,27.755102,136,130.364611,4.9,4.696960,5.719154,5.939868,1.630339
191,Salah,Liverpool,127,25.833333,186,176.015029,7.2,6.813485,4.226371,5.777182,1.911910
431,Pulisic,Chelsea,69,17.111111,77,77.794210,4.5,4.546415,6.017026,5.729676,1.730791
105,Azpilicueta,Chelsea,59,28.285714,99,127.723515,3.5,4.515478,6.361997,5.659691,1.858993
340,Lloris,Tottenham,53,13.023256,56,59.897929,4.3,4.599305,5.513707,5.628133,1.997811
123,van Aanholt,Crystal Palace,56,23.023256,99,88.354111,4.3,3.837603,6.095117,5.576756,1.621683
342,Son,Tottenham,97,22.142857,124,109.929712,5.6,4.964568,4.149738,5.387531,1.594027
147,Calvert-Lewin,Everton,65,28.250000,113,114.083593,4.0,4.038357,5.482006,5.386328,1.583974
114,Pedro,Chelsea,68,9.090909,30,37.190496,3.3,4.090955,6.717197,5.373847,1.568809
525,Sarr,Watford,64,20.000000,80,74.626824,4.0,3.731341,5.375533,5.233437,1.474942
217,Mahrez,Manchester City,85,24.912281,142,119.672707,5.7,4.803764,5.356048,5.041264,1.647677
410,Jota,Wolves,64,25.714286,90,101.150778,3.5,3.933641,5.140773,4.987731,1.554908
344,Alli,Tottenham,83,21.923077,114,102.228737,5.2,4.663065,5.263063,4.968279,1.618574
91,Wood,Burnley,61,25.952381,109,105.083593,4.2,4.049093,5.692966,4.967929,1.639430
409,Jiménez,Wolves,82,29.807692,155,152.461556,5.2,5.114839,4.971303,4.953198,1.786179
471,Henderson,Sheffield Utd,53,28.723404,135,122.378273,4.7,4.260577,4.311544,4.870448,1.850676
182,Alexander-Arnold,Liverpool,78,29.827586,173,163.507140,5.8,5.481742,4.500671,4.854537,1.962779
210,Agüero,Manchester City,118,24.000000,132,116.961556,5.5,4.873398,4.342392,4.743948,1.418701
219,David Silva,Manchester City,73,20.816327,102,95.786590,4.9,4.601513,5.135853,4.725646,1.703096
172,Barnes,Leicester City,62,28.048780,115,108.949587,4.1,3.884290,4.559316,4.707990,1.559968
257,Lejeune,Newcastle Utd,44,6.000000,24,17.662326,4.0,2.943721,NaN,4.688200,1.403364
407,Saïss,Wolves,46,25.806452,80,90.990059,3.1,3.525865,5.061008,4.677084,1.643943
168,Schmeichel,Leicester City,54,29.756098,122,117.739591,4.1,3.956822,4.929490,4.653880,1.702745
323,Armstrong,Southampton,52,22.187500,71,60.275153,3.2,2.716627,4.957007,4.610239,1.191320
411,Patrício,Wolves,52,29.756098,122,132.494240,4.1,4.452675,4.357949,4.599761,1.952627
131,Guaita,Crystal Palace,50,27.727273,122,112.530032,4.4,4.058460,5.405356,4.584194,1.814999
189,Alisson,Liverpool,62,21.063830,99,84.063761,4.7,3.990906,4.400173,4.581837,1.602786
318,McCarthy,Southampton,45,20.000000,74,73.859715,3.7,3.692986,5.620538,4.573286,1.740890
320,Redmond,Southampton,62,24.375000,78,86.434600,3.2,3.546035,5.499133,4.557914,1.424122
203,Walker,Manchester City,56,21.944444,79,82.075908,3.6,3.740168,5.161903,4.529880,1.580509
192,Mané,Liverpool,125,26.969697,178,160.312851,6.6,5.944184,4.810823,4.520168,1.681269
500,Saint-Maximin,Newcastle Utd,54,19.117647,65,64.879332,3.4,3.393688,5.077111,4.505721,1.460411
181,Robertson,Liverpool,70,27.959184,137,135.444952,4.9,4.844381,3.949162,4.476540,1.831004
122,Wan-Bissaka,Manchester Utd,53,27.187500,87,104.241678,3.2,3.834177,4.241422,4.470404,1.665460
187,Firmino,Liverpool,95,30.000000,132,145.668741,4.4,4.855625,3.221737,4.464253,1.575373

In [11]:
metric = 'valuePoints metric'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
618,Fernandes,Manchester Utd,87,6.025641,47,39.622315,7.8,6.575618,7.708857,7.547256,2.229343
103,Alonso,Chelsea,62,11.969697,79,60.480217,6.6,5.052778,5.965103,6.193476,2.029244
340,Lloris,Tottenham,53,13.023256,56,59.897929,4.3,4.599305,5.513707,5.628133,1.997811
297,Lundstram,Sheffield Utd,49,28.913043,133,127.851512,4.6,4.421932,4.754673,3.849109,1.997625
182,Alexander-Arnold,Liverpool,78,29.827586,173,163.507140,5.8,5.481742,4.500671,4.854537,1.962779
411,Patrício,Wolves,52,29.756098,122,132.494240,4.1,4.452675,4.357949,4.599761,1.952627
191,Salah,Liverpool,127,25.833333,186,176.015029,7.2,6.813485,4.226371,5.777182,1.911910
215,De Bruyne,Manchester City,106,27.971014,193,174.110159,6.9,6.224664,6.776945,6.231049,1.911890
401,Doherty,Wolves,63,28.043478,129,133.819809,4.6,4.771869,7.067049,6.025879,1.901158
233,Rashford,Manchester Utd,89,23.050847,136,128.757963,5.9,5.585823,3.201664,4.032955,1.872372
105,Azpilicueta,Chelsea,59,28.285714,99,127.723515,3.5,4.515478,6.361997,5.659691,1.858993
471,Henderson,Sheffield Utd,53,28.723404,135,122.378273,4.7,4.260577,4.311544,4.870448,1.850676
208,Otamendi,Manchester City,49,20.000000,72,81.266226,3.6,4.063311,3.842503,4.077270,1.835617
181,Robertson,Liverpool,70,27.959184,137,135.444952,4.9,4.844381,3.949162,4.476540,1.831004
341,Gazzaniga,Tottenham,42,18.125000,58,67.758837,3.2,3.738419,1.653034,3.924981,1.824161
278,Pukki,Norwich City,65,29.318182,129,135.790778,4.4,4.631623,3.178985,3.983221,1.816672
131,Guaita,Crystal Palace,50,27.727273,122,112.530032,4.4,4.058460,5.405356,4.584194,1.814999
440,Angeliño,Manchester City,46,6.111111,11,23.622730,1.8,3.865538,NaN,NaN,1.802316
93,Pope,Burnley,49,29.767442,128,118.576428,4.3,3.983427,3.073906,4.109877,1.799529
603,Reina,Aston Villa,44,5.937500,19,22.345387,3.2,3.763434,3.031837,3.751817,1.794147
409,Jiménez,Wolves,82,29.807692,155,152.461556,5.2,5.114839,4.971303,4.953198,1.786179
405,Boly,Wolves,48,14.042553,66,54.525241,4.7,3.882858,3.907146,3.762313,1.772274
185,Matip,Liverpool,52,9.069767,39,36.395125,4.3,4.012796,3.945964,3.749196,1.759727
460,Abraham,Chelsea,75,25.882353,132,124.517963,5.1,4.810921,3.203235,3.668069,1.756700
166,Vardy,Leicester City,97,26.825397,169,145.601556,6.3,5.427750,4.410764,3.770033,1.742746
359,Janmaat,Watford,40,8.000000,36,27.871518,4.5,3.483940,NaN,NaN,1.741970
318,McCarthy,Southampton,45,20.000000,74,73.859715,3.7,3.692986,5.620538,4.573286,1.740890
431,Pulisic,Chelsea,69,17.111111,77,77.794210,4.5,4.546415,6.017026,5.729676,1.730791
42,Dunk,Brighton,47,27.777778,100,103.533715,3.6,3.727214,5.111668,4.445446,1.719236
529,Tomori,Chelsea,42,15.000000,48,52.793853,3.2,3.519590,1.966214,1.966214,1.717384
47,Ryan,Brighton,47,30.000000,105,110.789572,3.5,3.692986,3.563817,3.399548,1.703447
219,David Silva,Manchester City,73,20.816327,102,95.786590,4.9,4.601513,5.135853,4.725646,1.703096
168,Schmeichel,Leicester City,54,29.756098,122,117.739591,4.1,3.956822,4.929490,4.653880,1.702745
235,de Gea,Manchester Utd,53,30.000000,105,117.440820,3.5,3.914694,4.785259,4.120404,1.700434
14,Leno,Arsenal,49,30.000000,114,112.597709,3.8,3.753257,4.581548,4.044560,1.695549
192,Mané,Liverpool,125,26.969697,178,160.312851,6.6,5.944184,4.810823,4.520168,1.681269
313,Ings,Southampton,72,30.200000,151,136.067185,5.0,4.505536,4.096415,3.770126,1.679114
293,O'Connell,Sheffield Utd,46,28.235294,96,101.205683,3.4,3.584368,4.016344,3.725375,1.671220
214,Sterling,Manchester City,117,25.098039,128,143.397423,5.1,5.713491,7.777733,6.349930,1.670354
494,Ramsdale,Bournemouth,45,29.393939,97,104.058215,3.3,3.540125,2.859284,3.116194,1.668831