# Player evaluation

Here we compare players based on their adjusted points. Also, we calculate some useful metrics using the adjusted points to further evaluate player performance in FPL.

In [1]:
# recent gameweek
gameweek = 38

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch FPL data
filepath = '../data/data_week' + str(gameweek) + '.csv'
df = pd.read_csv(filepath, index_col=0)#, encoding='latin-1')

# fetch team data
filepath = '../data/fbref/team_stats_week' + str(gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col=0)#, encoding='latin-1')

# fetch player stats data
filepath = '../data/fbref/player_stats_week' + str(gameweek) + '.csv'
playerStats = pd.read_csv(filepath, index_col=0, skiprows=1)#, encoding='latin-1')

## Value and value points

Here we calculate two interesting metrics: 'value' and 'value points'. 

Value is simply adjusted points per game divided by the cost of the player. Essentially, this measures how many 'points per pound(/euro/whatever)' has the player gained on an average game week. 

The value points is calculated as the geometric mean of a players adjusted points per game and value. Essentially, in FPL we want to gain the maximum possible amount of points. However, we are restrained by a limited budget, so that in practice we cannot just pick all the best players. Then, we would like to have a squad of players that give the most points given our budget. Thus, we would like to pick players that have high value ('bang for buck'). However, often the players with highest value are very cheap players who somewhat overperform relative to their price. Picking a squad full of these players might leave a part of our budget unused. Calculating the geometric mean of adjusted points and value allows us to weigh both aspects equally, i.e. we want players that both gain a lot of points but also have good value. For example, this metric values equally two players, where one has twice the points per game of the other who in turn has twice the value of the other.

In [4]:
# value = expected points / cost
df['value'] = df['adjusted points per game'] / (df['now_cost'] / 10.0)
# geometric mean of 'adjusted points per game' and 'value'
df['valuePoints metric'] = np.sqrt(df['adjusted points per game'] * df['value'])

In [5]:
# assign proper team names for each player
team_names = np.sort(teamStats['Squad'])
df['team_name'] = team_names[df['team']-1]

In [6]:
# save data
filepath = '../data/data_week' + str(gameweek) + str('.csv')
df.to_csv(filepath)

In [7]:
goalkeepers = df['element_type'] == 1
defenders = df['element_type'] == 2
midfielders = df['element_type'] == 3
forwards = df['element_type'] == 4

minGames = df['games played'] >= 3

## Player evaluation

Below we compile lists for each position sorting players based on a given metric.

In [8]:
#metric = 'valuePoints metric'
metric = 'adjusted points per game'
#metric = 'form 10'

numberToShow = 40

print('GOALKEEPERS')
display(df[goalkeepers & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('DEFENDERS')
display(df[defenders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('MIDFIELDERS')
display(df[midfielders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('FORWARDS')
display(df[forwards & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

GOALKEEPERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
340,Lloris,Tottenham,53,20.851064,98,95.395337,4.7,4.575083,4.677341,4.651358,1.987289
411,Patrício,Wolves,53,38.250000,153,162.392030,4.0,4.245543,3.393722,3.595951,1.844146
93,Pope,Burnley,52,37.777778,170,154.753609,4.5,4.096419,3.571189,3.895557,1.796399
471,Henderson,Sheffield Utd,52,36.363636,160,147.356929,4.4,4.052316,3.112521,3.624695,1.777058
168,Schmeichel,Leicester City,55,38.048780,156,152.862626,4.1,4.017543,3.019538,3.751720,1.713086
235,de Gea,Manchester Utd,53,37.631579,143,147.553696,3.8,3.921007,3.673415,3.815909,1.703177
341,Gazzaniga,Tottenham,41,18.125000,58,69.798115,3.2,3.850930,NaN,NaN,1.901839
131,Guaita,Crystal Palace,49,35.128205,137,133.909044,3.9,3.812009,3.578843,3.370637,1.722090
14,Leno,Arsenal,48,30.000000,114,113.489594,3.8,3.782986,NaN,4.693690,1.726689
189,Alisson,Liverpool,62,29.047619,122,109.570643,4.2,3.772104,3.236715,3.389543,1.514913
494,Ramsdale,Bournemouth,44,37.058824,126,137.261517,3.4,3.703882,5.856434,4.630736,1.765757
318,McCarthy,Southampton,45,28.108108,104,103.945248,3.7,3.698052,3.549347,3.889645,1.743278
212,Ederson,Manchester City,61,35.000000,133,126.070160,3.8,3.602005,4.441797,4.196972,1.458409
47,Ryan,Brighton,47,37.500000,135,133.817112,3.6,3.568456,2.467245,2.770245,1.646006
366,Foster,Watford,49,38.055556,137,135.298277,3.6,3.555283,4.343138,3.952991,1.606113
262,Dubravka,Newcastle Utd,51,37.631579,143,131.286986,3.8,3.488745,3.015369,2.844172,1.544842
603,Reina,Aston Villa,42,12.058824,41,41.470735,3.4,3.439037,3.304418,3.157171,1.678078
213,Bravo,Manchester City,47,3.928571,11,13.372161,2.8,3.403823,NaN,NaN,1.570066
132,Hennessey,Crystal Palace,42,3.043478,7,10.197769,2.3,3.350695,NaN,2.031087,1.634972
112,Caballero,Chelsea,48,5.000000,13,16.533927,2.6,3.306785,3.948877,3.948877,1.509334
148,Pickford,Everton,52,37.741935,117,124.781230,3.1,3.306169,3.607796,3.425525,1.449851
388,Fabianski,West Ham,49,25.151515,83,82.732463,3.3,3.289363,4.003714,3.517202,1.485983
427,Martínez,Arsenal,44,8.918919,33,29.172582,3.7,3.270865,3.101488,NaN,1.559324
111,Kepa,Chelsea,54,33.333333,90,108.226183,2.7,3.246785,2.365131,2.683464,1.397194
280,Krul,Norwich City,46,36.333333,109,117.505088,3.0,3.234085,2.391358,2.587734,1.507900
553,Martin,West Ham,39,5.000000,20,15.922718,4.0,3.184544,NaN,NaN,1.612556
526,Adrián,Liverpool,40,10.800000,27,34.117311,2.5,3.159010,NaN,3.017023,1.579505
319,Gunn,Southampton,42,10.000000,29,30.942059,2.9,3.094206,NaN,NaN,1.509818
450,Roberto,West Ham,44,8.181818,18,24.418994,2.2,2.984544,NaN,NaN,1.422825
94,Heaton,Aston Villa,43,19.666667,59,56.814874,3.0,2.888892,NaN,NaN,1.393147
27,Nyland,Aston Villa,43,7.142857,15,16.017509,2.1,2.242451,NaN,2.757099,1.081406

DEFENDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
182,Alexander-Arnold,Liverpool,77,38.181818,210,195.313185,5.5,5.115345,4.363091,4.013521,1.843442
660,Thomas,Leicester City,40,3.000000,15,15.121917,5.0,5.040639,3.742733,3.696093,2.520319
103,Alonso,Chelsea,61,17.857143,100,84.951723,5.6,4.757296,5.177721,4.511486,1.926173
181,Robertson,Liverpool,70,36.200000,181,171.705503,5.0,4.743246,6.169807,5.071302,1.792778
401,Doherty,Wolves,65,36.304348,167,170.358897,4.6,4.692521,4.606086,4.689409,1.840558
105,Azpilicueta,Chelsea,61,36.111111,130,161.478957,3.6,4.471725,4.248251,4.603070,1.810549
183,van Dijk,Liverpool,65,37.872340,178,158.034266,4.7,4.172815,4.550760,4.050955,1.636713
297,Lundstram,Sheffield Utd,46,34.285714,144,142.227946,4.2,4.148315,3.642070,3.256647,1.934162
159,Pereira,Leicester City,62,27.954545,123,113.599463,4.4,4.063721,NaN,4.579843,1.632029
185,Matip,Liverpool,52,9.069767,39,36.095416,4.3,3.979751,NaN,4.391973,1.745236
208,Otamendi,Manchester City,48,24.117647,82,93.830144,3.4,3.890518,3.490730,3.118003,1.775770
122,Wan-Bissaka,Manchester Utd,55,35.277778,127,136.361183,3.6,3.865356,3.249725,3.667121,1.648193
405,Boly,Wolves,49,22.045455,97,85.094614,4.4,3.859962,3.385108,3.650181,1.743753
440,Angeliño,Manchester City,46,6.111111,11,23.423460,1.8,3.832930,NaN,NaN,1.787113
161,Chilwell,Leicester City,54,27.142857,114,102.906693,4.2,3.791299,NaN,4.074372,1.631515
141,Digne,Everton,59,35.294118,120,132.450858,3.4,3.752774,3.525056,3.723437,1.544993
123,van Aanholt,Crystal Palace,56,28.684211,109,107.480788,3.8,3.747037,3.214239,3.396068,1.583412
203,Walker,Manchester City,57,29.230769,114,109.057281,3.9,3.730907,5.434299,4.574520,1.562705
204,Mendy,Manchester City,55,18.974359,74,70.198917,3.9,3.699673,3.773241,3.440008,1.577546
42,Dunk,Brighton,48,35.555556,128,128.945409,3.6,3.626590,2.943994,3.233733,1.655304
506,James,Chelsea,49,24.400000,61,88.187986,2.5,3.614262,4.220691,3.936872,1.632757
402,Jonny,Wolves,55,35.142857,123,126.738632,3.5,3.606384,3.079402,3.735251,1.537767
160,Maguire,Manchester Utd,53,38.437500,123,137.764855,3.2,3.584126,3.009350,3.279293,1.556845
164,Söyüncü,Leicester City,49,34.285714,120,121.419290,3.5,3.541396,-0.674080,2.401199,1.599840
518,Cancelo,Manchester City,51,17.307692,45,61.173156,2.6,3.534449,4.828730,4.218957,1.565080
407,Saïss,Wolves,47,33.225806,103,117.150517,3.1,3.525889,3.145682,3.565698,1.626371
529,Tomori,Chelsea,42,15.000000,48,52.801782,3.2,3.520119,NaN,NaN,1.717642
291,Stevens,Sheffield Utd,52,38.378378,142,134.681335,3.7,3.509302,2.948082,3.276770,1.538931
359,Janmaat,Watford,40,8.000000,36,27.795227,4.5,3.474403,NaN,NaN,1.737202
202,Laporte,Manchester City,63,15.000000,63,52.030069,4.2,3.468671,4.464806,4.179010,1.381952
293,O'Connell,Sheffield Utd,45,32.647059,111,112.231154,3.4,3.437711,2.791517,2.663253,1.620553
162,Evans,Leicester City,53,37.647059,128,129.388155,3.4,3.436873,0.876410,2.072904,1.492882
336,Aurier,Tottenham,51,32.631579,124,111.461827,3.8,3.415766,3.487206,3.690032,1.512526
295,Egan,Sheffield Utd,47,35.945946,133,122.282012,3.7,3.401830,2.843717,3.659474,1.569147
84,Tarkowski,Burnley,55,37.631579,143,127.621009,3.8,3.391328,3.910162,4.029923,1.446067
6,Monreal,Arsenal,50,3.030303,10,10.276727,3.3,3.391320,NaN,NaN,1.516644
575,Williams,Liverpool,40,6.086957,14,20.620223,2.3,3.387608,4.751217,NaN,1.693804
403,Coady,Wolves,51,38.064516,118,128.594325,3.1,3.378325,2.841400,3.268711,1.495948
225,Lindelöf,Manchester Utd,53,35.151515,116,118.426593,3.3,3.369032,3.205178,3.434446,1.463414
447,Pieters,Burnley,43,24.062500,77,80.915287,3.2,3.362713,4.883716,4.471155,1.621644

MIDFIELDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
191,Salah,Liverpool,125,33.768116,233,227.488836,6.9,6.736794,5.629935,6.158719,1.905453
618,Fernandes,Manchester Utd,90,13.928571,117,90.302731,8.4,6.483273,6.147012,6.503317,2.161091
215,De Bruyne,Manchester City,106,34.861111,251,222.634045,7.2,6.386315,7.604783,7.169505,1.961541
214,Sterling,Manchester City,120,32.903226,204,197.049554,6.2,5.988761,7.879749,7.190310,1.728806
192,Mané,Liverpool,121,35.079365,221,195.087692,6.3,5.561323,3.555412,4.121730,1.598768
389,Antonio,West Ham,71,24.130435,111,120.697684,4.6,5.001886,7.264842,7.362975,1.877174
239,Martial,Manchester Utd,85,32.258065,200,160.240448,6.2,4.967454,5.080404,5.639606,1.703823
342,Son,Tottenham,97,30.178571,169,146.807307,5.6,4.864621,4.159195,4.381100,1.561936
431,Pulisic,Chelsea,74,24.901961,127,120.170156,5.1,4.825731,4.515269,5.015948,1.773974
219,David Silva,Manchester City,75,27.254902,139,129.286411,5.1,4.743602,5.752890,5.835858,1.732119
217,Mahrez,Manchester City,86,33.018868,175,153.766126,5.3,4.656917,4.018157,4.238542,1.587995
113,Willian,Chelsea,73,35.744681,168,161.045780,4.7,4.505447,4.331117,6.004263,1.667541
344,Alli,Tottenham,83,24.893617,117,107.273112,4.7,4.309262,1.533562,1.772900,1.495767
150,Richarlison,Everton,82,35.869565,165,150.487082,4.6,4.195397,2.483510,2.617715,1.465096
171,Maddison,Leicester City,73,31.250000,125,128.919348,4.0,4.125419,NaN,3.110589,1.526886
29,Grealish,Aston Villa,59,36.341463,149,145.380495,4.1,4.000403,5.253745,4.341323,1.646940
463,Mount,Chelsea,60,37.027027,137,142.115205,3.7,3.838148,5.921098,4.286384,1.566917
172,Barnes,Leicester City,58,35.945946,133,134.327504,3.7,3.736931,3.290257,3.399406,1.551676
626,Bowen,West Ham,64,12.941176,44,47.583069,3.4,3.676873,2.857616,3.586627,1.453412
525,Sarr,Watford,59,28.157895,107,103.511938,3.8,3.676125,4.957121,4.055101,1.513437
417,Traoré,Wolves,56,37.142857,130,135.904649,3.5,3.658971,2.534476,3.005449,1.546198
218,Bernardo Silva,Manchester City,76,34.117647,116,124.113213,3.4,3.637801,3.192982,3.311225,1.319569
114,Pedro,Chelsea,68,11.034483,32,39.979069,2.9,3.623103,1.585930,2.102371,1.389397
265,Pérez,Leicester City,60,33.076923,129,118.404280,3.9,3.579664,2.622821,2.654821,1.461392
320,Redmond,Southampton,62,32.424242,107,115.903933,3.3,3.574607,4.362032,4.002442,1.435597
269,Shelvey,Newcastle Utd,49,26.250000,105,93.252886,4.0,3.552491,3.286413,3.758289,1.604852
321,Ward-Prowse,Southampton,57,37.741935,117,132.885653,3.1,3.520902,3.554759,3.680215,1.474744
421,Trossard,Brighton,58,30.588235,104,105.856009,3.4,3.460677,3.991958,4.144906,1.436968
500,Saint-Maximin,Newcastle Utd,52,26.285714,92,90.494176,3.5,3.442713,2.423615,3.434277,1.509730
238,Pogba,Manchester Utd,83,15.937500,51,54.452659,3.2,3.416637,2.453965,2.994024,1.185932
488,Pépé,Arsenal,89,31.176471,106,104.829163,3.4,3.362445,2.385891,2.365120,1.127094
301,Fleck,Sheffield Utd,47,29.705882,101,99.066371,3.4,3.334908,1.474966,1.510599,1.538278
133,Zaha,Crystal Palace,66,37.500000,120,123.517528,3.2,3.293801,3.257742,3.185550,1.282110
448,Tielemans,Leicester City,61,36.562500,117,119.573319,3.2,3.270381,3.565821,3.314613,1.324139
266,Almirón,Newcastle Utd,58,36.333333,109,118.515700,3.0,3.261900,2.873877,3.292514,1.354430
97,McNeil,Burnley,60,38.437500,123,124.004398,3.2,3.226131,3.341528,3.298080,1.317062
151,Sigurdsson,Everton,73,35.185185,95,112.498760,2.7,3.197333,2.829548,2.987116,1.183386
368,Doucouré,Watford,54,36.451613,113,116.214335,3.1,3.188181,3.062517,2.814857,1.371975
198,Henderson,Liverpool,52,29.743590,116,94.664454,3.9,3.182684,4.942960,2.834673,1.395699
117,Barkley,Chelsea,56,21.034483,61,66.779662,2.9,3.174771,2.016634,2.887706,1.341586

FORWARDS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
166,Vardy,Leicester City,97,35.000000,210,195.078468,6.0,5.573671,5.671272,6.165994,1.789598
233,Rashford,Manchester Utd,89,31.052632,177,170.649678,5.7,5.495498,4.186974,4.748535,1.842095
11,Aubameyang,Arsenal,109,35.964912,205,178.896049,5.7,4.974183,5.606547,5.379025,1.506637
409,Jiménez,Wolves,80,38.039216,194,185.658468,5.1,4.880712,4.060527,4.133609,1.725592
210,Agüero,Manchester City,116,24.000000,132,117.127259,5.5,4.880302,NaN,4.967317,1.432906
313,Ings,Southampton,76,38.076923,198,176.962420,5.2,4.647498,5.603405,5.340992,1.685825
211,Jesus,Manchester City,99,33.953488,146,156.209678,4.3,4.600696,7.347652,6.438208,1.462197
187,Firmino,Liverpool,93,37.804878,155,171.700888,4.1,4.541765,3.509357,3.298347,1.489304
338,Kane,Tottenham,110,29.259259,158,130.862420,5.4,4.472513,6.024738,5.263274,1.348513
460,Abraham,Chelsea,73,34.000000,153,147.967259,4.5,4.351978,2.480882,2.714824,1.610739
278,Pukki,Norwich City,64,35.641026,139,148.273629,3.9,4.160195,2.388727,2.082174,1.644462
362,Deeney,Watford,62,27.250000,109,111.542420,4.0,4.093300,5.743405,4.881441,1.643909
91,Wood,Burnley,62,32.380952,136,131.931210,4.2,4.074346,6.053036,5.102542,1.636297
68,King,Bournemouth,61,26.052632,99,101.016049,3.8,3.877384,5.428662,4.669102,1.569907
502,Maupay,Brighton,57,37.428571,131,138.173629,3.5,3.691662,3.855142,3.408570,1.546267
110,Giroud,Chelsea,67,17.894737,68,65.811210,3.8,3.677685,5.289036,4.620902,1.420814
147,Calvert-Lewin,Everton,61,36.000000,126,132.311210,3.5,3.675311,1.789036,2.228175,1.488090
410,Jota,Wolves,60,33.870968,105,120.633629,3.1,3.561564,2.147108,2.351798,1.454003
67,Callum Wilson,Bournemouth,74,35.151515,116,122.067259,3.3,3.472603,4.137953,3.765859,1.276554
12,Lacazette,Arsenal,92,30.256410,118,103.078468,3.9,3.406831,3.072639,3.524176,1.123199
363,Deulofeu,Watford,61,28.387097,88,95.076049,3.1,3.349270,NaN,NaN,1.356080
468,Ayew,Crystal Palace,51,36.666667,132,121.433629,3.6,3.311826,2.588475,2.534752,1.466501
457,Haller,West Ham,68,31.875000,102,104.333629,3.2,3.273212,1.587108,1.706047,1.255219
428,Wesley,Aston Villa,54,20.937500,67,67.731210,3.2,3.234923,NaN,NaN,1.392089
90,Barnes,Burnley,61,19.062500,61,59.620000,3.2,3.127607,NaN,NaN,1.266331
303,McGoldrick,Sheffield Utd,54,28.260870,65,87.722420,2.3,3.104024,3.866190,3.595910,1.335759
167,Iheanacho,Leicester City,57,20.000000,64,61.244839,3.2,3.062242,1.876428,2.493584,1.282632
554,Gayle,Newcastle Utd,50,20.000000,58,57.722420,2.9,2.886121,4.471405,4.329067,1.290713
451,Rodriguez,Burnley,57,35.714286,100,97.642420,2.8,2.733988,4.724738,4.525963,1.145141
501,McBurnie,Sheffield Utd,55,35.833333,86,97.411210,2.4,2.718452,2.070052,2.356488,1.159152
315,Long,Southampton,46,25.833333,62,70.133629,2.4,2.714850,1.405238,1.482152,1.265805
130,Wickham,Crystal Palace,43,6.000000,15,16.111210,2.5,2.685202,NaN,NaN,1.294919
70,Mousset,Sheffield Utd,43,30.000000,84,77.244839,2.8,2.574828,1.717439,2.089952,1.241692
129,Benteke,Crystal Palace,57,23.333333,42,59.811210,1.8,2.563338,3.598302,3.356489,1.073664
92,Vydra,Burnley,51,18.571429,39,47.111210,2.1,2.536757,1.862369,2.260902,1.123295
13,Nketiah,Arsenal,43,13.157895,25,33.000000,1.9,2.508000,2.180000,2.270000,1.209465
466,Joelinton,Newcastle Utd,55,37.142857,78,92.922420,2.1,2.501757,1.371405,1.694532,1.066753
504,Martinelli,Arsenal,42,13.928571,39,34.511210,2.8,2.477728,NaN,NaN,1.209007
234,Greenwood,Manchester Utd,48,31.212121,103,77.211210,3.3,2.473757,3.742369,3.957156,1.129111
437,Adams,Southampton,53,30.000000,78,73.844839,2.6,2.461495,5.022810,4.357433,1.069205

Below we compile a list sorting players based on a given metric (irrespective of position).

In [9]:
metric = 'adjusted points per game'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
191,Salah,Liverpool,125,33.768116,233,227.488836,6.9,6.736794,5.629935,6.158719,1.905453
618,Fernandes,Manchester Utd,90,13.928571,117,90.302731,8.4,6.483273,6.147012,6.503317,2.161091
215,De Bruyne,Manchester City,106,34.861111,251,222.634045,7.2,6.386315,7.604783,7.169505,1.961541
214,Sterling,Manchester City,120,32.903226,204,197.049554,6.2,5.988761,7.879749,7.190310,1.728806
166,Vardy,Leicester City,97,35.000000,210,195.078468,6.0,5.573671,5.671272,6.165994,1.789598
192,Mané,Liverpool,121,35.079365,221,195.087692,6.3,5.561323,3.555412,4.121730,1.598768
233,Rashford,Manchester Utd,89,31.052632,177,170.649678,5.7,5.495498,4.186974,4.748535,1.842095
182,Alexander-Arnold,Liverpool,77,38.181818,210,195.313185,5.5,5.115345,4.363091,4.013521,1.843442
660,Thomas,Leicester City,40,3.000000,15,15.121917,5.0,5.040639,3.742733,3.696093,2.520319
389,Antonio,West Ham,71,24.130435,111,120.697684,4.6,5.001886,7.264842,7.362975,1.877174
11,Aubameyang,Arsenal,109,35.964912,205,178.896049,5.7,4.974183,5.606547,5.379025,1.506637
239,Martial,Manchester Utd,85,32.258065,200,160.240448,6.2,4.967454,5.080404,5.639606,1.703823
409,Jiménez,Wolves,80,38.039216,194,185.658468,5.1,4.880712,4.060527,4.133609,1.725592
210,Agüero,Manchester City,116,24.000000,132,117.127259,5.5,4.880302,NaN,4.967317,1.432906
342,Son,Tottenham,97,30.178571,169,146.807307,5.6,4.864621,4.159195,4.381100,1.561936
431,Pulisic,Chelsea,74,24.901961,127,120.170156,5.1,4.825731,4.515269,5.015948,1.773974
103,Alonso,Chelsea,61,17.857143,100,84.951723,5.6,4.757296,5.177721,4.511486,1.926173
219,David Silva,Manchester City,75,27.254902,139,129.286411,5.1,4.743602,5.752890,5.835858,1.732119
181,Robertson,Liverpool,70,36.200000,181,171.705503,5.0,4.743246,6.169807,5.071302,1.792778
401,Doherty,Wolves,65,36.304348,167,170.358897,4.6,4.692521,4.606086,4.689409,1.840558
217,Mahrez,Manchester City,86,33.018868,175,153.766126,5.3,4.656917,4.018157,4.238542,1.587995
313,Ings,Southampton,76,38.076923,198,176.962420,5.2,4.647498,5.603405,5.340992,1.685825
211,Jesus,Manchester City,99,33.953488,146,156.209678,4.3,4.600696,7.347652,6.438208,1.462197
340,Lloris,Tottenham,53,20.851064,98,95.395337,4.7,4.575083,4.677341,4.651358,1.987289
187,Firmino,Liverpool,93,37.804878,155,171.700888,4.1,4.541765,3.509357,3.298347,1.489304
113,Willian,Chelsea,73,35.744681,168,161.045780,4.7,4.505447,4.331117,6.004263,1.667541
338,Kane,Tottenham,110,29.259259,158,130.862420,5.4,4.472513,6.024738,5.263274,1.348513
105,Azpilicueta,Chelsea,61,36.111111,130,161.478957,3.6,4.471725,4.248251,4.603070,1.810549
460,Abraham,Chelsea,73,34.000000,153,147.967259,4.5,4.351978,2.480882,2.714824,1.610739
344,Alli,Tottenham,83,24.893617,117,107.273112,4.7,4.309262,1.533562,1.772900,1.495767
411,Patrício,Wolves,53,38.250000,153,162.392030,4.0,4.245543,3.393722,3.595951,1.844146
150,Richarlison,Everton,82,35.869565,165,150.487082,4.6,4.195397,2.483510,2.617715,1.465096
183,van Dijk,Liverpool,65,37.872340,178,158.034266,4.7,4.172815,4.550760,4.050955,1.636713
278,Pukki,Norwich City,64,35.641026,139,148.273629,3.9,4.160195,2.388727,2.082174,1.644462
297,Lundstram,Sheffield Utd,46,34.285714,144,142.227946,4.2,4.148315,3.642070,3.256647,1.934162
171,Maddison,Leicester City,73,31.250000,125,128.919348,4.0,4.125419,NaN,3.110589,1.526886
93,Pope,Burnley,52,37.777778,170,154.753609,4.5,4.096419,3.571189,3.895557,1.796399
362,Deeney,Watford,62,27.250000,109,111.542420,4.0,4.093300,5.743405,4.881441,1.643909
91,Wood,Burnley,62,32.380952,136,131.931210,4.2,4.074346,6.053036,5.102542,1.636297
159,Pereira,Leicester City,62,27.954545,123,113.599463,4.4,4.063721,NaN,4.579843,1.632029

In [10]:
metric = 'form 10'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
389,Antonio,West Ham,71,24.130435,111,120.697684,4.6,5.001886,7.264842,7.362975,1.877174
214,Sterling,Manchester City,120,32.903226,204,197.049554,6.2,5.988761,7.879749,7.190310,1.728806
215,De Bruyne,Manchester City,106,34.861111,251,222.634045,7.2,6.386315,7.604783,7.169505,1.961541
618,Fernandes,Manchester Utd,90,13.928571,117,90.302731,8.4,6.483273,6.147012,6.503317,2.161091
211,Jesus,Manchester City,99,33.953488,146,156.209678,4.3,4.600696,7.347652,6.438208,1.462197
166,Vardy,Leicester City,97,35.000000,210,195.078468,6.0,5.573671,5.671272,6.165994,1.789598
191,Salah,Liverpool,125,33.768116,233,227.488836,6.9,6.736794,5.629935,6.158719,1.905453
113,Willian,Chelsea,73,35.744681,168,161.045780,4.7,4.505447,4.331117,6.004263,1.667541
219,David Silva,Manchester City,75,27.254902,139,129.286411,5.1,4.743602,5.752890,5.835858,1.732119
239,Martial,Manchester Utd,85,32.258065,200,160.240448,6.2,4.967454,5.080404,5.639606,1.703823
11,Aubameyang,Arsenal,109,35.964912,205,178.896049,5.7,4.974183,5.606547,5.379025,1.506637
313,Ings,Southampton,76,38.076923,198,176.962420,5.2,4.647498,5.603405,5.340992,1.685825
338,Kane,Tottenham,110,29.259259,158,130.862420,5.4,4.472513,6.024738,5.263274,1.348513
15,Özil,Arsenal,69,18.275862,53,54.220263,2.9,2.966769,NaN,5.148125,1.129430
91,Wood,Burnley,62,32.380952,136,131.931210,4.2,4.074346,6.053036,5.102542,1.636297
181,Robertson,Liverpool,70,36.200000,181,171.705503,5.0,4.743246,6.169807,5.071302,1.792778
431,Pulisic,Chelsea,74,24.901961,127,120.170156,5.1,4.825731,4.515269,5.015948,1.773974
210,Agüero,Manchester City,116,24.000000,132,117.127259,5.5,4.880302,NaN,4.967317,1.432906
83,Mee,Burnley,49,32.352941,110,95.907949,3.4,2.964428,NaN,4.937204,1.339192
362,Deeney,Watford,62,27.250000,109,111.542420,4.0,4.093300,5.743405,4.881441,1.643909
233,Rashford,Manchester Utd,89,31.052632,177,170.649678,5.7,5.495498,4.186974,4.748535,1.842095
14,Leno,Arsenal,48,30.000000,114,113.489594,3.8,3.782986,NaN,4.693690,1.726689
401,Doherty,Wolves,65,36.304348,167,170.358897,4.6,4.692521,4.606086,4.689409,1.840558
68,King,Bournemouth,61,26.052632,99,101.016049,3.8,3.877384,5.428662,4.669102,1.569907
340,Lloris,Tottenham,53,20.851064,98,95.395337,4.7,4.575083,4.677341,4.651358,1.987289
494,Ramsdale,Bournemouth,44,37.058824,126,137.261517,3.4,3.703882,5.856434,4.630736,1.765757
110,Giroud,Chelsea,67,17.894737,68,65.811210,3.8,3.677685,5.289036,4.620902,1.420814
105,Azpilicueta,Chelsea,61,36.111111,130,161.478957,3.6,4.471725,4.248251,4.603070,1.810549
458,Guilbert,Aston Villa,43,24.800000,62,57.743210,2.5,2.328355,4.848627,4.593701,1.122833
159,Pereira,Leicester City,62,27.954545,123,113.599463,4.4,4.063721,NaN,4.579843,1.632029
203,Walker,Manchester City,57,29.230769,114,109.057281,3.9,3.730907,5.434299,4.574520,1.562705
451,Rodriguez,Burnley,57,35.714286,100,97.642420,2.8,2.733988,4.724738,4.525963,1.145141
220,Foden,Manchester City,55,23.000000,69,70.248946,3.0,3.054302,4.383004,4.516110,1.302359
103,Alonso,Chelsea,61,17.857143,100,84.951723,5.6,4.757296,5.177721,4.511486,1.926173
447,Pieters,Burnley,43,24.062500,77,80.915287,3.2,3.362713,4.883716,4.471155,1.621644
185,Matip,Liverpool,52,9.069767,39,36.095416,4.3,3.979751,NaN,4.391973,1.745236
342,Son,Tottenham,97,30.178571,169,146.807307,5.6,4.864621,4.159195,4.381100,1.561936
437,Adams,Southampton,53,30.000000,78,73.844839,2.6,2.461495,5.022810,4.357433,1.069205
29,Grealish,Aston Villa,59,36.341463,149,145.380495,4.1,4.000403,5.253745,4.341323,1.646940
554,Gayle,Newcastle Utd,50,20.000000,58,57.722420,2.9,2.886121,4.471405,4.329067,1.290713

In [11]:
metric = 'valuePoints metric'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
660,Thomas,Leicester City,40,3.000000,15,15.121917,5.0,5.040639,3.742733,3.696093,2.520319
618,Fernandes,Manchester Utd,90,13.928571,117,90.302731,8.4,6.483273,6.147012,6.503317,2.161091
340,Lloris,Tottenham,53,20.851064,98,95.395337,4.7,4.575083,4.677341,4.651358,1.987289
215,De Bruyne,Manchester City,106,34.861111,251,222.634045,7.2,6.386315,7.604783,7.169505,1.961541
297,Lundstram,Sheffield Utd,46,34.285714,144,142.227946,4.2,4.148315,3.642070,3.256647,1.934162
103,Alonso,Chelsea,61,17.857143,100,84.951723,5.6,4.757296,5.177721,4.511486,1.926173
191,Salah,Liverpool,125,33.768116,233,227.488836,6.9,6.736794,5.629935,6.158719,1.905453
341,Gazzaniga,Tottenham,41,18.125000,58,69.798115,3.2,3.850930,NaN,NaN,1.901839
389,Antonio,West Ham,71,24.130435,111,120.697684,4.6,5.001886,7.264842,7.362975,1.877174
411,Patrício,Wolves,53,38.250000,153,162.392030,4.0,4.245543,3.393722,3.595951,1.844146
182,Alexander-Arnold,Liverpool,77,38.181818,210,195.313185,5.5,5.115345,4.363091,4.013521,1.843442
233,Rashford,Manchester Utd,89,31.052632,177,170.649678,5.7,5.495498,4.186974,4.748535,1.842095
401,Doherty,Wolves,65,36.304348,167,170.358897,4.6,4.692521,4.606086,4.689409,1.840558
105,Azpilicueta,Chelsea,61,36.111111,130,161.478957,3.6,4.471725,4.248251,4.603070,1.810549
93,Pope,Burnley,52,37.777778,170,154.753609,4.5,4.096419,3.571189,3.895557,1.796399
181,Robertson,Liverpool,70,36.200000,181,171.705503,5.0,4.743246,6.169807,5.071302,1.792778
166,Vardy,Leicester City,97,35.000000,210,195.078468,6.0,5.573671,5.671272,6.165994,1.789598
440,Angeliño,Manchester City,46,6.111111,11,23.423460,1.8,3.832930,NaN,NaN,1.787113
471,Henderson,Sheffield Utd,52,36.363636,160,147.356929,4.4,4.052316,3.112521,3.624695,1.777058
208,Otamendi,Manchester City,48,24.117647,82,93.830144,3.4,3.890518,3.490730,3.118003,1.775770
431,Pulisic,Chelsea,74,24.901961,127,120.170156,5.1,4.825731,4.515269,5.015948,1.773974
494,Ramsdale,Bournemouth,44,37.058824,126,137.261517,3.4,3.703882,5.856434,4.630736,1.765757
185,Matip,Liverpool,52,9.069767,39,36.095416,4.3,3.979751,NaN,4.391973,1.745236
405,Boly,Wolves,49,22.045455,97,85.094614,4.4,3.859962,3.385108,3.650181,1.743753
318,McCarthy,Southampton,45,28.108108,104,103.945248,3.7,3.698052,3.549347,3.889645,1.743278
359,Janmaat,Watford,40,8.000000,36,27.795227,4.5,3.474403,NaN,NaN,1.737202
219,David Silva,Manchester City,75,27.254902,139,129.286411,5.1,4.743602,5.752890,5.835858,1.732119
214,Sterling,Manchester City,120,32.903226,204,197.049554,6.2,5.988761,7.879749,7.190310,1.728806
14,Leno,Arsenal,48,30.000000,114,113.489594,3.8,3.782986,NaN,4.693690,1.726689
409,Jiménez,Wolves,80,38.039216,194,185.658468,5.1,4.880712,4.060527,4.133609,1.725592
131,Guaita,Crystal Palace,49,35.128205,137,133.909044,3.9,3.812009,3.578843,3.370637,1.722090
529,Tomori,Chelsea,42,15.000000,48,52.801782,3.2,3.520119,NaN,NaN,1.717642
168,Schmeichel,Leicester City,55,38.048780,156,152.862626,4.1,4.017543,3.019538,3.751720,1.713086
239,Martial,Manchester Utd,85,32.258065,200,160.240448,6.2,4.967454,5.080404,5.639606,1.703823
235,de Gea,Manchester Utd,53,37.631579,143,147.553696,3.8,3.921007,3.673415,3.815909,1.703177
575,Williams,Liverpool,40,6.086957,14,20.620223,2.3,3.387608,4.751217,NaN,1.693804
313,Ings,Southampton,76,38.076923,198,176.962420,5.2,4.647498,5.603405,5.340992,1.685825
603,Reina,Aston Villa,42,12.058824,41,41.470735,3.4,3.439037,3.304418,3.157171,1.678078
113,Willian,Chelsea,73,35.744681,168,161.045780,4.7,4.505447,4.331117,6.004263,1.667541
42,Dunk,Brighton,48,35.555556,128,128.945409,3.6,3.626590,2.943994,3.233733,1.655304