# Player evaluation

Here we compare players based on their adjusted points. Also, we calculate some useful metrics using the adjusted points to further evaluate player performance in FPL.

In [1]:
# recent gameweek
gameweek = 34

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch FPL data
filepath = '../data/data_week' + str(gameweek) + '.csv'
df = pd.read_csv(filepath, index_col=0)#, encoding='latin-1')

# fetch team data
filepath = '../data/fbref/team_stats_week' + str(gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col=0)#, encoding='latin-1')

# fetch player stats data
filepath = '../data/fbref/player_stats_week' + str(gameweek) + '.csv'
playerStats = pd.read_csv(filepath, index_col=0, skiprows=1)#, encoding='latin-1')

## Value and value points

Here we calculate two interesting metrics: 'value' and 'value points'. 

Value is simply adjusted points per game divided by the cost of the player. Essentially, this measures how many 'points per pound(/euro/whatever)' has the player gained on an average game week. 

The value points is calculated as the geometric mean of a players adjusted points per game and value. Essentially, in FPL we want to gain the maximum possible amount of points. However, we are restrained by a limited budget, so that in practice we cannot just pick all the best players. Then, we would like to have a squad of players that give the most points given our budget. Thus, we would like to pick players that have high value ('bang for buck'). However, often the players with highest value are very cheap players who somewhat overperform relative to their price. Picking a squad full of these players might leave a part of our budget unused. Calculating the geometric mean of adjusted points and value allows us to weigh both aspects equally, i.e. we want players that both gain a lot of points but also have good value. For example, this metric values equally two players, where one has twice the points per game of the other who in turn has twice the value of the other.

In [4]:
# value = expected points / cost
df['value'] = df['adjusted points per game'] / (df['now_cost'] / 10.0)
# geometric mean of 'adjusted points per game' and 'value'
df['valuePoints metric'] = np.sqrt(df['adjusted points per game'] * df['value'])

In [5]:
# assign proper team names for each player
team_names = np.sort(teamStats['Squad'])
df['team_name'] = team_names[df['team']-1]

In [6]:
# save data
filepath = '../data/data_week' + str(gameweek) + str('.csv')
df.to_csv(filepath)

In [7]:
goalkeepers = df['element_type'] == 1
defenders = df['element_type'] == 2
midfielders = df['element_type'] == 3
forwards = df['element_type'] == 4

minGames = df['games played'] >= 3

## Player evaluation

Below we compile lists for each position sorting players based on a given metric.

In [13]:
#metric = 'valuePoints metric'
metric = 'adjusted points per game'
#metric = 'form 10'

numberToShow = 40

print('GOALKEEPERS')
display(df[goalkeepers & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('DEFENDERS')
display(df[defenders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('MIDFIELDERS')
display(df[midfielders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('FORWARDS')
display(df[forwards & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

GOALKEEPERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
340,Lloris,Tottenham,53,17.021277,80,76.350981,4.7,4.485620,4.300277,4.660794,1.948429
411,Patrício,Wolves,53,34.250000,137,148.536460,4.0,4.336831,3.831366,4.180220,1.883799
168,Schmeichel,Leicester City,54,33.636364,148,141.905298,4.4,4.218806,5.294507,5.478951,1.815485
471,Henderson,Sheffield Utd,52,31.956522,147,133.949232,4.6,4.191609,4.441116,4.356970,1.838142
93,Pope,Burnley,50,34.130435,157,140.557712,4.6,4.118251,4.632083,4.523549,1.841738
235,de Gea,Manchester Utd,53,34.444444,124,133.598680,3.6,3.878671,4.138105,4.280180,1.684787
189,Alisson,Liverpool,62,25.217391,116,97.379093,4.6,3.861585,3.740290,3.704136,1.550850
131,Guaita,Crystal Palace,49,31.219512,128,120.089027,4.1,3.846602,2.720265,3.836324,1.737717
14,Leno,Arsenal,48,30.000000,114,114.649581,3.8,3.821653,3.399736,4.404569,1.744338
341,Gazzaniga,Tottenham,41,18.125000,58,68.611240,3.2,3.785448,NaN,1.653034,1.869499
318,McCarthy,Southampton,45,24.210526,92,91.052812,3.8,3.760877,4.567592,4.766146,1.772894
47,Ryan,Brighton,47,33.888889,122,124.730451,3.6,3.680571,3.229460,3.456644,1.697721
262,Dubravka,Newcastle Utd,51,33.589744,131,119.266903,3.9,3.550694,2.139357,2.974267,1.572274
212,Ederson,Manchester City,60,31.111111,112,108.997325,3.6,3.503485,4.131375,3.839392,1.430292
494,Ramsdale,Bournemouth,45,32.727273,108,114.655040,3.3,3.503348,2.706373,2.762521,1.651494
366,Foster,Watford,49,34.166667,123,118.094455,3.6,3.456423,3.275677,3.323952,1.561453
280,Krul,Norwich City,46,31.562500,101,108.033791,3.2,3.422853,2.836690,3.182240,1.595913
603,Reina,Aston Villa,42,7.857143,22,26.855297,2.8,3.417947,2.156563,2.623121,1.667787
213,Bravo,Manchester City,47,3.928571,11,13.149280,2.8,3.347089,NaN,NaN,1.543897
132,Hennessey,Crystal Palace,42,3.043478,7,10.128244,2.3,3.327852,2.031087,2.031087,1.623825
111,Kepa,Chelsea,54,29.642857,83,98.109821,2.8,3.309729,2.691263,3.001620,1.424281
148,Pickford,Everton,52,33.870968,105,111.362787,3.1,3.287854,3.268326,3.396425,1.441819
112,Caballero,Chelsea,48,3.888889,7,12.655639,1.8,3.254307,NaN,NaN,1.485381
388,Fabianski,West Ham,49,20.909091,69,67.576630,3.3,3.231926,2.964728,2.848726,1.460035
427,Martínez,Arsenal,43,5.000000,23,15.774930,4.6,3.154986,NaN,NaN,1.521469
526,Adrián,Liverpool,40,10.800000,27,33.765761,2.5,3.126459,NaN,3.017023,1.563230
553,Martin,West Ham,39,5.000000,20,15.485716,4.0,3.097143,NaN,NaN,1.568299
319,Gunn,Southampton,42,10.000000,29,30.521814,2.9,3.052181,NaN,NaN,1.489312
450,Roberto,West Ham,44,8.181818,18,23.703899,2.2,2.897143,NaN,NaN,1.381159
94,Heaton,Aston Villa,43,19.666667,59,55.152956,3.0,2.804388,NaN,NaN,1.352396
27,Nyland,Aston Villa,43,7.142857,15,15.413907,2.1,2.157947,2.773016,2.738908,1.040654

DEFENDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
182,Alexander-Arnold,Liverpool,78,34.210526,195,178.498853,5.7,5.217659,3.322212,3.987117,1.868222
103,Alonso,Chelsea,61,13.965517,81,66.315771,5.8,4.748537,3.092702,4.605887,1.922626
401,Doherty,Wolves,64,32.222222,145,151.859650,4.5,4.712886,4.619437,5.362978,1.862932
181,Robertson,Liverpool,70,31.836735,156,146.344042,4.9,4.596704,2.632830,3.062674,1.737391
105,Azpilicueta,Chelsea,60,31.944444,115,144.368272,3.6,4.519355,5.006606,4.873782,1.845019
297,Lundstram,Sheffield Utd,46,29.777778,134,129.435839,4.5,4.346726,0.941619,3.439111,2.026671
183,van Dijk,Liverpool,65,33.673469,165,141.042117,4.9,4.188523,3.277431,3.566011,1.642874
122,Wan-Bissaka,Manchester Utd,55,30.810811,114,124.151907,3.7,4.029492,4.353264,4.575269,1.718181
159,Pereira,Leicester City,62,27.954545,123,112.583824,4.4,4.027389,NaN,4.111600,1.617438
405,Boly,Wolves,48,17.826087,82,70.706917,4.6,3.966486,3.690703,3.872895,1.810445
185,Matip,Liverpool,52,9.069767,39,35.800187,4.3,3.947200,4.391973,3.871629,1.730962
141,Digne,Everton,58,31.111111,112,121.151911,3.6,3.894169,5.113553,4.420965,1.616965
208,Otamendi,Manchester City,48,22.857143,80,88.479499,3.5,3.870978,3.334733,3.117037,1.766852
440,Angeliño,Manchester City,46,6.111111,11,23.067419,1.8,3.774668,NaN,NaN,1.759948
123,van Aanholt,Crystal Palace,56,26.750000,107,100.718777,4.0,3.765188,3.967741,4.303021,1.591082
161,Chilwell,Leicester City,55,27.142857,114,101.910665,4.2,3.754603,3.830057,4.140456,1.600968
42,Dunk,Brighton,48,32.222222,116,119.428014,3.6,3.706387,4.150222,4.324130,1.691726
160,Maguire,Manchester Utd,53,34.375000,110,126.990618,3.2,3.694273,4.143464,4.008782,1.604689
162,Evans,Leicester City,53,34.324324,127,126.735448,3.7,3.692293,4.378308,4.168292,1.603829
164,Söyüncü,Leicester City,50,33.243243,123,121.934939,3.7,3.667962,3.972506,4.035736,1.640362
402,Jonny,Wolves,54,31.212121,103,114.016150,3.3,3.652945,4.746800,4.889171,1.571977
506,James,Chelsea,49,20.384615,53,73.449239,2.6,3.603170,4.048425,3.619894,1.627746
291,Stevens,Sheffield Utd,51,34.210526,130,121.859003,3.8,3.562032,3.654273,3.428575,1.577294
204,Mendy,Manchester City,55,17.222222,62,61.161193,3.6,3.551295,2.685912,3.094648,1.514277
407,Saïss,Wolves,47,30.322581,94,106.471885,3.1,3.511307,3.829119,4.287060,1.619645
295,Egan,Sheffield Utd,46,31.794872,124,111.362336,3.9,3.502525,6.014572,4.920978,1.633061
293,O'Connell,Sheffield Utd,45,30.000000,102,104.787149,3.4,3.492905,2.338603,2.985230,1.646571
203,Walker,Manchester City,56,25.294118,86,88.295898,3.4,3.490768,2.775370,3.068195,1.475119
359,Janmaat,Watford,40,8.000000,36,27.842038,4.5,3.480255,NaN,NaN,1.740127
529,Tomori,Chelsea,42,15.000000,48,52.014608,3.2,3.467641,NaN,1.966214,1.692035
518,Cancelo,Manchester City,51,14.782609,34,51.138791,2.3,3.459389,3.488307,3.202452,1.531843
403,Coady,Wolves,51,33.548387,104,115.898793,3.1,3.454676,3.500695,3.782079,1.529756
6,Monreal,Arsenal,50,3.030303,10,10.393897,3.3,3.429986,NaN,NaN,1.533936
336,Aurier,Tottenham,51,28.974359,113,98.746461,3.9,3.408064,4.659634,3.668124,1.509116
225,Lindelöf,Manchester Utd,53,31.250000,100,106.227834,3.2,3.399291,3.792894,3.945455,1.476558
206,Zinchenko,Manchester City,52,15.862069,46,53.728439,2.9,3.387228,4.167341,3.847086,1.485398
294,Baldock,Sheffield Utd,50,34.102564,133,114.636052,3.9,3.361508,3.574777,3.332297,1.503312
142,Mina,Everton,53,27.500000,77,90.948802,2.8,3.307229,2.290989,2.642106,1.436569
226,Shaw,Manchester Utd,54,23.214286,65,76.623534,2.8,3.300706,4.160868,3.954696,1.420398
186,Lovren,Liverpool,53,10.000000,18,32.973874,1.8,3.297387,2.807402,2.443560,1.432294

MIDFIELDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
618,Fernandes,Manchester Utd,90,10.000000,94,68.861463,9.4,6.886146,8.382868,7.690343,2.295382
191,Salah,Liverpool,125,30.135135,223,205.477044,7.4,6.818521,7.844354,6.676319,1.928569
215,De Bruyne,Manchester City,108,31.857143,223,202.645592,7.0,6.361072,7.207756,7.017348,1.935613
192,Mané,Liverpool,123,30.769231,200,178.233778,6.5,5.792598,4.010083,4.456057,1.651661
214,Sterling,Manchester City,117,29.074074,157,164.006566,5.4,5.640990,5.488553,5.747270,1.649159
342,Son,Tottenham,97,25.925926,140,126.866841,5.4,4.893435,3.799729,4.208254,1.571187
431,Pulisic,Chelsea,73,20.980392,107,102.439220,5.1,4.882617,5.961123,6.068176,1.807138
239,Martial,Manchester Utd,83,28.000000,168,136.223871,6.0,4.865138,5.429691,5.421779,1.688714
219,David Silva,Manchester City,73,23.921569,122,115.081535,5.1,4.810785,7.684165,6.580889,1.780552
217,Mahrez,Manchester City,86,29.259259,158,136.492140,5.4,4.664921,4.465844,4.570166,1.590725
113,Willian,Chelsea,73,33.125000,159,149.438463,4.8,4.511350,8.934136,7.144007,1.669725
150,Richarlison,Everton,82,31.875000,153,141.634894,4.8,4.443448,2.972905,3.938311,1.551719
389,Antonio,West Ham,69,19.714286,69,86.943411,3.5,4.410173,6.501734,5.940823,1.678924
344,Alli,Tottenham,83,24.166667,116,105.634983,4.8,4.371103,1.566873,3.284071,1.517232
171,Maddison,Leicester City,73,31.250000,125,128.594040,4.0,4.115009,2.961807,3.100411,1.523033
626,Bowen,West Ham,64,8.918919,33,35.360059,3.7,3.964613,4.731142,NaN,1.567151
29,Grealish,Aston Villa,60,31.707317,130,125.231468,4.1,3.949608,3.014871,2.981872,1.612421
114,Pedro,Chelsea,68,10.000000,31,38.439513,3.1,3.843951,1.364705,4.349291,1.474088
417,Traoré,Wolves,57,32.631579,124,123.744901,3.8,3.792182,3.321485,3.046241,1.588370
238,Pogba,Manchester Utd,83,12.000000,42,45.295763,3.5,3.774647,4.374825,4.059056,1.310199
463,Mount,Chelsea,61,33.611111,121,126.829584,3.6,3.773442,2.759760,2.938273,1.527822
172,Barnes,Leicester City,60,32.307692,126,120.721038,3.9,3.736604,3.141268,3.586444,1.525462
269,Shelvey,Newcastle Utd,49,21.860465,94,80.400952,4.3,3.677916,4.541501,4.240323,1.661513
265,Pérez,Leicester City,60,29.250000,117,107.213421,4.0,3.665416,2.559627,2.542834,1.496400
218,Bernardo Silva,Manchester City,76,30.000000,102,108.952642,3.4,3.631755,2.893212,2.959770,1.317376
500,Saint-Maximin,Newcastle Utd,55,22.105263,84,79.859945,3.8,3.612712,5.215711,4.969531,1.540465
525,Sarr,Watford,61,23.947368,91,85.052743,3.8,3.551653,2.780381,3.583429,1.438022
488,Pépé,Arsenal,90,27.027027,100,95.883844,3.7,3.547702,2.486123,3.323107,1.182567
301,Fleck,Sheffield Utd,47,27.222222,98,95.172164,3.6,3.496120,2.132551,2.410690,1.612640
321,Ward-Prowse,Southampton,57,34.375000,110,120.150299,3.2,3.495281,4.437801,3.958837,1.464012
320,Redmond,Southampton,62,28.064516,87,97.382500,3.1,3.469951,2.979619,3.159348,1.393566
421,Trossard,Brighton,58,27.714286,97,94.709992,3.5,3.417371,4.914140,3.828183,1.418986
117,Barkley,Chelsea,56,17.812500,57,60.485575,3.2,3.395681,3.640334,4.019804,1.434937
97,McNeil,Burnley,60,33.529412,114,111.486312,3.4,3.325030,3.323164,3.686378,1.357438
266,Almirón,Newcastle Utd,58,32.258065,100,106.690308,3.1,3.307400,3.961158,3.954134,1.373323
287,Cantwell,Norwich City,45,32.812500,105,108.029854,3.2,3.292338,1.432361,1.734044,1.552023
283,Buendía,Norwich City,60,33.571429,94,110.301726,2.8,3.285583,2.880405,2.513480,1.341334
151,Sigurdsson,Everton,73,31.111111,84,101.534850,2.7,3.263620,3.304409,3.313959,1.207920
133,Zaha,Crystal Palace,66,34.242424,113,110.110269,3.3,3.215610,2.944510,3.297990,1.251674
448,Tielemans,Leicester City,61,32.727273,108,104.939552,3.3,3.206486,2.878975,2.640685,1.298268

FORWARDS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
233,Rashford,Manchester Utd,90,27.192982,155,151.573109,5.7,5.573979,5.122410,5.173005,1.857993
166,Vardy,Leicester City,98,30.952381,195,171.411236,6.3,5.537901,7.311759,6.009492,1.769018
11,Aubameyang,Arsenal,109,31.724138,184,160.427491,5.8,5.056954,6.258567,5.692534,1.531707
409,Jiménez,Wolves,82,34.000000,170,166.371236,5.0,4.893272,3.331759,3.884083,1.708805
210,Agüero,Manchester City,117,24.000000,132,117.071236,5.5,4.877968,6.968516,4.324939,1.426087
187,Firmino,Liverpool,94,33.902439,139,157.814981,4.1,4.654974,3.037900,3.283347,1.518285
313,Ings,Southampton,74,34.038462,177,157.603745,5.2,4.630167,6.065026,4.997566,1.702083
460,Abraham,Chelsea,74,30.000000,144,137.311236,4.8,4.577041,2.836215,3.047518,1.682554
278,Pukki,Norwich City,64,32.682927,134,141.645618,4.1,4.333933,1.749213,2.154951,1.713137
338,Kane,Tottenham,110,24.897959,122,105.843745,4.9,4.251101,3.512808,3.621956,1.281755
211,Jesus,Manchester City,97,30.000000,114,124.331236,3.8,4.144375,4.807801,3.838032,1.330678
147,Calvert-Lewin,Everton,63,31.578947,120,124.301873,3.8,3.936226,2.516404,3.626378,1.568230
91,Wood,Burnley,61,27.750000,111,108.701873,4.0,3.917185,1.886142,3.112024,1.586022
502,Maupay,Brighton,57,32.571429,114,123.043745,3.5,3.777659,2.715475,3.035820,1.582287
68,King,Bournemouth,61,23.055556,83,86.247491,3.6,3.740855,3.988334,3.925664,1.514628
362,Deeney,Watford,62,22.857143,80,84.763745,3.5,3.708414,2.392808,2.764952,1.489335
410,Jota,Wolves,61,30.000000,96,110.405618,3.2,3.680187,2.295879,3.397313,1.490064
457,Haller,West Ham,68,28.000000,98,98.705618,3.5,3.525201,2.865515,3.968155,1.351853
12,Lacazette,Arsenal,92,25.945946,96,89.609363,3.7,3.453694,4.103100,3.979455,1.138649
468,Ayew,Crystal Palace,52,32.702703,121,111.303745,3.7,3.403503,2.479475,2.667069,1.492535
67,Callum Wilson,Bournemouth,74,31.250000,100,106.105618,3.2,3.395380,2.874303,3.284382,1.248166
363,Deulofeu,Watford,61,28.387097,88,95.029363,3.1,3.347625,NaN,2.170231,1.355414
167,Iheanacho,Leicester City,57,16.944444,61,56.007491,3.6,3.305360,3.478950,3.040372,1.384463
428,Wesley,Aston Villa,54,20.937500,67,67.721873,3.2,3.234478,NaN,NaN,1.391897
110,Giroud,Chelsea,66,14.166667,51,45.501873,3.6,3.211897,3.749738,3.815989,1.250229
90,Barnes,Burnley,61,19.062500,61,59.620000,3.2,3.127607,NaN,NaN,1.266331
303,McGoldrick,Sheffield Utd,54,24.500000,49,73.403745,2.0,2.996071,2.440708,2.022870,1.289304
315,Long,Southampton,46,23.200000,58,65.705618,2.5,2.832139,1.374085,2.111761,1.320491
501,McBurnie,Sheffield Utd,55,32.272727,71,87.100000,2.2,2.698873,2.283333,2.641176,1.150803
130,Wickham,Crystal Palace,43,6.000000,15,16.101873,2.5,2.683645,NaN,NaN,1.294169
92,Vydra,Burnley,52,15.217391,35,39.801873,2.3,2.615552,3.003071,3.184206,1.146995
466,Joelinton,Newcastle Utd,55,33.636364,74,87.503745,2.2,2.601463,2.279475,2.193725,1.109267
70,Mousset,Sheffield Utd,44,28.275862,82,73.207491,2.9,2.589045,2.212284,2.194674,1.234279
129,Benteke,Crystal Palace,57,22.631579,43,57.201873,1.9,2.527525,3.977561,3.819625,1.058664
13,Nketiah,Arsenal,44,11.000000,22,27.600000,2.0,2.509091,1.606667,2.525490,1.196162
451,Rodriguez,Burnley,57,31.851852,86,79.223745,2.7,2.487257,4.563352,4.036225,1.041797
504,Martinelli,Arsenal,43,13.928571,39,34.501873,2.8,2.477058,NaN,2.380279,1.194543
234,Greenwood,Manchester Utd,47,26.666667,88,63.201873,3.3,2.370070,4.739388,4.206254,1.093232
554,Gayle,Newcastle Utd,50,16.086957,37,37.803745,2.3,2.349963,3.045838,3.476805,1.050935
613,Samatta,Aston Villa,52,10.000000,22,23.400000,2.2,2.340000,1.506667,NaN,1.026158

Below we compile a list sorting players based on a given metric (irrespective of position).

In [9]:
metric = 'adjusted points per game'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
618,Fernandes,Manchester Utd,90,10.000000,94,68.861463,9.4,6.886146,8.382868,7.690343,2.295382
191,Salah,Liverpool,125,30.135135,223,205.477044,7.4,6.818521,7.844354,6.676319,1.928569
215,De Bruyne,Manchester City,108,31.857143,223,202.645592,7.0,6.361072,7.207756,7.017348,1.935613
192,Mané,Liverpool,123,30.769231,200,178.233778,6.5,5.792598,4.010083,4.456057,1.651661
214,Sterling,Manchester City,117,29.074074,157,164.006566,5.4,5.640990,5.488553,5.747270,1.649159
233,Rashford,Manchester Utd,90,27.192982,155,151.573109,5.7,5.573979,5.122410,5.173005,1.857993
166,Vardy,Leicester City,98,30.952381,195,171.411236,6.3,5.537901,7.311759,6.009492,1.769018
182,Alexander-Arnold,Liverpool,78,34.210526,195,178.498853,5.7,5.217659,3.322212,3.987117,1.868222
11,Aubameyang,Arsenal,109,31.724138,184,160.427491,5.8,5.056954,6.258567,5.692534,1.531707
342,Son,Tottenham,97,25.925926,140,126.866841,5.4,4.893435,3.799729,4.208254,1.571187
409,Jiménez,Wolves,82,34.000000,170,166.371236,5.0,4.893272,3.331759,3.884083,1.708805
431,Pulisic,Chelsea,73,20.980392,107,102.439220,5.1,4.882617,5.961123,6.068176,1.807138
210,Agüero,Manchester City,117,24.000000,132,117.071236,5.5,4.877968,6.968516,4.324939,1.426087
239,Martial,Manchester Utd,83,28.000000,168,136.223871,6.0,4.865138,5.429691,5.421779,1.688714
219,David Silva,Manchester City,73,23.921569,122,115.081535,5.1,4.810785,7.684165,6.580889,1.780552
103,Alonso,Chelsea,61,13.965517,81,66.315771,5.8,4.748537,3.092702,4.605887,1.922626
401,Doherty,Wolves,64,32.222222,145,151.859650,4.5,4.712886,4.619437,5.362978,1.862932
217,Mahrez,Manchester City,86,29.259259,158,136.492140,5.4,4.664921,4.465844,4.570166,1.590725
187,Firmino,Liverpool,94,33.902439,139,157.814981,4.1,4.654974,3.037900,3.283347,1.518285
313,Ings,Southampton,74,34.038462,177,157.603745,5.2,4.630167,6.065026,4.997566,1.702083
181,Robertson,Liverpool,70,31.836735,156,146.344042,4.9,4.596704,2.632830,3.062674,1.737391
460,Abraham,Chelsea,74,30.000000,144,137.311236,4.8,4.577041,2.836215,3.047518,1.682554
105,Azpilicueta,Chelsea,60,31.944444,115,144.368272,3.6,4.519355,5.006606,4.873782,1.845019
113,Willian,Chelsea,73,33.125000,159,149.438463,4.8,4.511350,8.934136,7.144007,1.669725
340,Lloris,Tottenham,53,17.021277,80,76.350981,4.7,4.485620,4.300277,4.660794,1.948429
150,Richarlison,Everton,82,31.875000,153,141.634894,4.8,4.443448,2.972905,3.938311,1.551719
389,Antonio,West Ham,69,19.714286,69,86.943411,3.5,4.410173,6.501734,5.940823,1.678924
344,Alli,Tottenham,83,24.166667,116,105.634983,4.8,4.371103,1.566873,3.284071,1.517232
297,Lundstram,Sheffield Utd,46,29.777778,134,129.435839,4.5,4.346726,0.941619,3.439111,2.026671
411,Patrício,Wolves,53,34.250000,137,148.536460,4.0,4.336831,3.831366,4.180220,1.883799
278,Pukki,Norwich City,64,32.682927,134,141.645618,4.1,4.333933,1.749213,2.154951,1.713137
338,Kane,Tottenham,110,24.897959,122,105.843745,4.9,4.251101,3.512808,3.621956,1.281755
168,Schmeichel,Leicester City,54,33.636364,148,141.905298,4.4,4.218806,5.294507,5.478951,1.815485
471,Henderson,Sheffield Utd,52,31.956522,147,133.949232,4.6,4.191609,4.441116,4.356970,1.838142
183,van Dijk,Liverpool,65,33.673469,165,141.042117,4.9,4.188523,3.277431,3.566011,1.642874
211,Jesus,Manchester City,97,30.000000,114,124.331236,3.8,4.144375,4.807801,3.838032,1.330678
93,Pope,Burnley,50,34.130435,157,140.557712,4.6,4.118251,4.632083,4.523549,1.841738
171,Maddison,Leicester City,73,31.250000,125,128.594040,4.0,4.115009,2.961807,3.100411,1.523033
122,Wan-Bissaka,Manchester Utd,55,30.810811,114,124.151907,3.7,4.029492,4.353264,4.575269,1.718181
159,Pereira,Leicester City,62,27.954545,123,112.583824,4.4,4.027389,NaN,4.111600,1.617438

In [10]:
metric = 'form 10'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
618,Fernandes,Manchester Utd,90,10.000000,94,68.861463,9.4,6.886146,8.382868,7.690343,2.295382
113,Willian,Chelsea,73,33.125000,159,149.438463,4.8,4.511350,8.934136,7.144007,1.669725
215,De Bruyne,Manchester City,108,31.857143,223,202.645592,7.0,6.361072,7.207756,7.017348,1.935613
191,Salah,Liverpool,125,30.135135,223,205.477044,7.4,6.818521,7.844354,6.676319,1.928569
219,David Silva,Manchester City,73,23.921569,122,115.081535,5.1,4.810785,7.684165,6.580889,1.780552
431,Pulisic,Chelsea,73,20.980392,107,102.439220,5.1,4.882617,5.961123,6.068176,1.807138
166,Vardy,Leicester City,98,30.952381,195,171.411236,6.3,5.537901,7.311759,6.009492,1.769018
389,Antonio,West Ham,69,19.714286,69,86.943411,3.5,4.410173,6.501734,5.940823,1.678924
214,Sterling,Manchester City,117,29.074074,157,164.006566,5.4,5.640990,5.488553,5.747270,1.649159
11,Aubameyang,Arsenal,109,31.724138,184,160.427491,5.8,5.056954,6.258567,5.692534,1.531707
168,Schmeichel,Leicester City,54,33.636364,148,141.905298,4.4,4.218806,5.294507,5.478951,1.815485
239,Martial,Manchester Utd,83,28.000000,168,136.223871,6.0,4.865138,5.429691,5.421779,1.688714
401,Doherty,Wolves,64,32.222222,145,151.859650,4.5,4.712886,4.619437,5.362978,1.862932
233,Rashford,Manchester Utd,90,27.192982,155,151.573109,5.7,5.573979,5.122410,5.173005,1.857993
220,Foden,Manchester City,54,19.000000,57,54.638783,3.0,2.875725,5.527604,5.097176,1.237515
313,Ings,Southampton,74,34.038462,177,157.603745,5.2,4.630167,6.065026,4.997566,1.702083
500,Saint-Maximin,Newcastle Utd,55,22.105263,84,79.859945,3.8,3.612712,5.215711,4.969531,1.540465
295,Egan,Sheffield Utd,46,31.794872,124,111.362336,3.9,3.502525,6.014572,4.920978,1.633061
402,Jonny,Wolves,54,31.212121,103,114.016150,3.3,3.652945,4.746800,4.889171,1.571977
105,Azpilicueta,Chelsea,60,31.944444,115,144.368272,3.6,4.519355,5.006606,4.873782,1.845019
318,McCarthy,Southampton,45,24.210526,92,91.052812,3.8,3.760877,4.567592,4.766146,1.772894
340,Lloris,Tottenham,53,17.021277,80,76.350981,4.7,4.485620,4.300277,4.660794,1.948429
103,Alonso,Chelsea,61,13.965517,81,66.315771,5.8,4.748537,3.092702,4.605887,1.922626
122,Wan-Bissaka,Manchester Utd,55,30.810811,114,124.151907,3.7,4.029492,4.353264,4.575269,1.718181
217,Mahrez,Manchester City,86,29.259259,158,136.492140,5.4,4.664921,4.465844,4.570166,1.590725
93,Pope,Burnley,50,34.130435,157,140.557712,4.6,4.118251,4.632083,4.523549,1.841738
192,Mané,Liverpool,123,30.769231,200,178.233778,6.5,5.792598,4.010083,4.456057,1.651661
141,Digne,Everton,58,31.111111,112,121.151911,3.6,3.894169,5.113553,4.420965,1.616965
14,Leno,Arsenal,48,30.000000,114,114.649581,3.8,3.821653,3.399736,4.404569,1.744338
471,Henderson,Sheffield Utd,52,31.956522,147,133.949232,4.6,4.191609,4.441116,4.356970,1.838142
114,Pedro,Chelsea,68,10.000000,31,38.439513,3.1,3.843951,1.364705,4.349291,1.474088
210,Agüero,Manchester City,117,24.000000,132,117.071236,5.5,4.877968,6.968516,4.324939,1.426087
42,Dunk,Brighton,48,32.222222,116,119.428014,3.6,3.706387,4.150222,4.324130,1.691726
123,van Aanholt,Crystal Palace,56,26.750000,107,100.718777,4.0,3.765188,3.967741,4.303021,1.591082
407,Saïss,Wolves,47,30.322581,94,106.471885,3.1,3.511307,3.829119,4.287060,1.619645
235,de Gea,Manchester Utd,53,34.444444,124,133.598680,3.6,3.878671,4.138105,4.280180,1.684787
269,Shelvey,Newcastle Utd,49,21.860465,94,80.400952,4.3,3.677916,4.541501,4.240323,1.661513
342,Son,Tottenham,97,25.925926,140,126.866841,5.4,4.893435,3.799729,4.208254,1.571187
234,Greenwood,Manchester Utd,47,26.666667,88,63.201873,3.3,2.370070,4.739388,4.206254,1.093232
541,Saka,Arsenal,47,22.666667,68,63.022823,3.0,2.780419,4.795047,4.190627,1.282512

In [11]:
metric = 'valuePoints metric'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
618,Fernandes,Manchester Utd,90,10.000000,94,68.861463,9.4,6.886146,8.382868,7.690343,2.295382
297,Lundstram,Sheffield Utd,46,29.777778,134,129.435839,4.5,4.346726,0.941619,3.439111,2.026671
340,Lloris,Tottenham,53,17.021277,80,76.350981,4.7,4.485620,4.300277,4.660794,1.948429
215,De Bruyne,Manchester City,108,31.857143,223,202.645592,7.0,6.361072,7.207756,7.017348,1.935613
191,Salah,Liverpool,125,30.135135,223,205.477044,7.4,6.818521,7.844354,6.676319,1.928569
103,Alonso,Chelsea,61,13.965517,81,66.315771,5.8,4.748537,3.092702,4.605887,1.922626
411,Patrício,Wolves,53,34.250000,137,148.536460,4.0,4.336831,3.831366,4.180220,1.883799
341,Gazzaniga,Tottenham,41,18.125000,58,68.611240,3.2,3.785448,NaN,1.653034,1.869499
182,Alexander-Arnold,Liverpool,78,34.210526,195,178.498853,5.7,5.217659,3.322212,3.987117,1.868222
401,Doherty,Wolves,64,32.222222,145,151.859650,4.5,4.712886,4.619437,5.362978,1.862932
233,Rashford,Manchester Utd,90,27.192982,155,151.573109,5.7,5.573979,5.122410,5.173005,1.857993
105,Azpilicueta,Chelsea,60,31.944444,115,144.368272,3.6,4.519355,5.006606,4.873782,1.845019
93,Pope,Burnley,50,34.130435,157,140.557712,4.6,4.118251,4.632083,4.523549,1.841738
471,Henderson,Sheffield Utd,52,31.956522,147,133.949232,4.6,4.191609,4.441116,4.356970,1.838142
168,Schmeichel,Leicester City,54,33.636364,148,141.905298,4.4,4.218806,5.294507,5.478951,1.815485
405,Boly,Wolves,48,17.826087,82,70.706917,4.6,3.966486,3.690703,3.872895,1.810445
431,Pulisic,Chelsea,73,20.980392,107,102.439220,5.1,4.882617,5.961123,6.068176,1.807138
219,David Silva,Manchester City,73,23.921569,122,115.081535,5.1,4.810785,7.684165,6.580889,1.780552
318,McCarthy,Southampton,45,24.210526,92,91.052812,3.8,3.760877,4.567592,4.766146,1.772894
166,Vardy,Leicester City,98,30.952381,195,171.411236,6.3,5.537901,7.311759,6.009492,1.769018
208,Otamendi,Manchester City,48,22.857143,80,88.479499,3.5,3.870978,3.334733,3.117037,1.766852
440,Angeliño,Manchester City,46,6.111111,11,23.067419,1.8,3.774668,NaN,NaN,1.759948
14,Leno,Arsenal,48,30.000000,114,114.649581,3.8,3.821653,3.399736,4.404569,1.744338
359,Janmaat,Watford,40,8.000000,36,27.842038,4.5,3.480255,NaN,NaN,1.740127
131,Guaita,Crystal Palace,49,31.219512,128,120.089027,4.1,3.846602,2.720265,3.836324,1.737717
181,Robertson,Liverpool,70,31.836735,156,146.344042,4.9,4.596704,2.632830,3.062674,1.737391
185,Matip,Liverpool,52,9.069767,39,35.800187,4.3,3.947200,4.391973,3.871629,1.730962
122,Wan-Bissaka,Manchester Utd,55,30.810811,114,124.151907,3.7,4.029492,4.353264,4.575269,1.718181
278,Pukki,Norwich City,64,32.682927,134,141.645618,4.1,4.333933,1.749213,2.154951,1.713137
409,Jiménez,Wolves,82,34.000000,170,166.371236,5.0,4.893272,3.331759,3.884083,1.708805
313,Ings,Southampton,74,34.038462,177,157.603745,5.2,4.630167,6.065026,4.997566,1.702083
47,Ryan,Brighton,47,33.888889,122,124.730451,3.6,3.680571,3.229460,3.456644,1.697721
529,Tomori,Chelsea,42,15.000000,48,52.014608,3.2,3.467641,NaN,1.966214,1.692035
42,Dunk,Brighton,48,32.222222,116,119.428014,3.6,3.706387,4.150222,4.324130,1.691726
239,Martial,Manchester Utd,83,28.000000,168,136.223871,6.0,4.865138,5.429691,5.421779,1.688714
235,de Gea,Manchester Utd,53,34.444444,124,133.598680,3.6,3.878671,4.138105,4.280180,1.684787
460,Abraham,Chelsea,74,30.000000,144,137.311236,4.8,4.577041,2.836215,3.047518,1.682554
389,Antonio,West Ham,69,19.714286,69,86.943411,3.5,4.410173,6.501734,5.940823,1.678924
113,Willian,Chelsea,73,33.125000,159,149.438463,4.8,4.511350,8.934136,7.144007,1.669725
603,Reina,Aston Villa,42,7.857143,22,26.855297,2.8,3.417947,2.156563,2.623121,1.667787