# Player evaluation

Here we compare players based on their adjusted points. Also, we calculate some useful metrics using the adjusted points to further evaluate player performance in FPL.

In [1]:
# recent gameweek
gameweek = 37

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch FPL data
filepath = '../data/data_week' + str(gameweek) + '.csv'
df = pd.read_csv(filepath, index_col=0)#, encoding='latin-1')

# fetch team data
filepath = '../data/fbref/team_stats_week' + str(gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col=0)#, encoding='latin-1')

# fetch player stats data
filepath = '../data/fbref/player_stats_week' + str(gameweek) + '.csv'
playerStats = pd.read_csv(filepath, index_col=0, skiprows=1)#, encoding='latin-1')

## Value and value points

Here we calculate two interesting metrics: 'value' and 'value points'. 

Value is simply adjusted points per game divided by the cost of the player. Essentially, this measures how many 'points per pound(/euro/whatever)' has the player gained on an average game week. 

The value points is calculated as the geometric mean of a players adjusted points per game and value. Essentially, in FPL we want to gain the maximum possible amount of points. However, we are restrained by a limited budget, so that in practice we cannot just pick all the best players. Then, we would like to have a squad of players that give the most points given our budget. Thus, we would like to pick players that have high value ('bang for buck'). However, often the players with highest value are very cheap players who somewhat overperform relative to their price. Picking a squad full of these players might leave a part of our budget unused. Calculating the geometric mean of adjusted points and value allows us to weigh both aspects equally, i.e. we want players that both gain a lot of points but also have good value. For example, this metric values equally two players, where one has twice the points per game of the other who in turn has twice the value of the other.

In [4]:
# value = expected points / cost
df['value'] = df['adjusted points per game'] / (df['now_cost'] / 10.0)
# geometric mean of 'adjusted points per game' and 'value'
df['valuePoints metric'] = np.sqrt(df['adjusted points per game'] * df['value'])

In [5]:
# assign proper team names for each player
team_names = np.sort(teamStats['Squad'])
df['team_name'] = team_names[df['team']-1]

In [6]:
# save data
filepath = '../data/data_week' + str(gameweek) + str('.csv')
df.to_csv(filepath)

In [7]:
goalkeepers = df['element_type'] == 1
defenders = df['element_type'] == 2
midfielders = df['element_type'] == 3
forwards = df['element_type'] == 4

minGames = df['games played'] >= 3

## Player evaluation

Below we compile lists for each position sorting players based on a given metric.

In [8]:
#metric = 'valuePoints metric'
metric = 'adjusted points per game'
#metric = 'form 10'

numberToShow = 40

print('GOALKEEPERS')
display(df[goalkeepers & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('DEFENDERS')
display(df[defenders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('MIDFIELDERS')
display(df[midfielders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('FORWARDS')
display(df[forwards & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

GOALKEEPERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
340,Lloris,Tottenham,53,20.000000,96,91.568449,4.8,4.578422,5.120166,4.846576,1.988740
411,Patrício,Wolves,53,37.073171,152,160.454476,4.1,4.328048,3.974940,3.959610,1.879984
471,Henderson,Sheffield Utd,52,35.333333,159,146.100467,4.5,4.134919,4.112522,4.199306,1.813282
93,Pope,Burnley,51,36.739130,169,151.725707,4.6,4.129812,3.827435,4.125985,1.828712
168,Schmeichel,Leicester City,55,36.904762,155,150.056772,4.2,4.066054,3.304998,4.036408,1.733771
235,de Gea,Manchester Utd,53,36.756757,136,143.270430,3.7,3.897798,3.412696,3.764418,1.693095
131,Guaita,Crystal Palace,49,33.750000,135,128.834838,4.0,3.817329,2.703705,3.148771,1.724493
14,Leno,Arsenal,48,30.000000,114,114.262781,3.8,3.808759,NaN,4.952481,1.738453
341,Gazzaniga,Tottenham,41,18.125000,58,68.933907,3.2,3.803250,NaN,1.653034,1.878291
318,McCarthy,Southampton,45,26.842105,102,100.050837,3.8,3.727384,3.598239,3.983857,1.757106
189,Alisson,Liverpool,62,27.906977,120,103.858766,4.3,3.721606,2.432629,2.899085,1.494633
494,Ramsdale,Bournemouth,44,36.176471,123,132.815561,3.4,3.671324,5.951218,4.496646,1.750235
366,Foster,Watford,49,36.756757,136,132.359249,3.7,3.600950,4.729006,4.120892,1.626743
47,Ryan,Brighton,47,36.944444,133,132.183405,3.6,3.577897,2.843265,3.053232,1.650361
212,Ederson,Manchester City,60,34.054054,126,120.643474,3.7,3.542705,4.104188,3.883799,1.446303
262,Dubravka,Newcastle Utd,51,37.105263,141,128.037257,3.8,3.450649,2.720885,2.829047,1.527973
603,Reina,Aston Villa,42,11.142857,39,38.427588,3.5,3.448630,3.343154,3.144266,1.682759
427,Martínez,Arsenal,44,8.000000,32,27.536742,4.0,3.442093,3.804497,NaN,1.640953
213,Bravo,Manchester City,47,3.928571,11,13.269216,2.8,3.377619,NaN,NaN,1.557979
280,Krul,Norwich City,46,34.838710,108,115.832730,3.1,3.324828,2.747206,2.849741,1.550209
132,Hennessey,Crystal Palace,42,3.043478,7,10.051129,2.3,3.302514,NaN,2.031087,1.611462
148,Pickford,Everton,52,37.096774,115,120.401335,3.1,3.245601,3.176696,3.251725,1.423290
112,Caballero,Chelsea,48,3.888889,7,12.585051,1.8,3.236156,NaN,3.246579,1.477096
388,Fabianski,West Ham,49,24.242424,80,77.907316,3.3,3.213677,3.477148,3.192191,1.451791
111,Kepa,Chelsea,54,33.333333,90,105.871864,2.7,3.176156,2.560464,2.730717,1.366800
553,Martin,West Ham,39,5.000000,20,15.693384,4.0,3.138677,NaN,NaN,1.589331
526,Adrián,Liverpool,40,10.800000,27,33.302511,2.5,3.083566,NaN,3.017023,1.541783
319,Gunn,Southampton,42,10.000000,29,30.705214,2.9,3.070521,NaN,NaN,1.498261
450,Roberto,West Ham,44,8.181818,18,24.043719,2.2,2.938677,NaN,NaN,1.400959
94,Heaton,Aston Villa,43,19.666667,59,56.109375,3.0,2.853019,NaN,NaN,1.375848
27,Nyland,Aston Villa,43,7.142857,15,15.761274,2.1,2.206578,NaN,2.749140,1.064107

DEFENDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
182,Alexander-Arnold,Liverpool,77,37.321429,209,190.145630,5.6,5.094811,3.856766,3.720682,1.836042
401,Doherty,Wolves,65,34.791667,167,168.745069,4.8,4.850158,5.699672,5.430213,1.902388
181,Robertson,Liverpool,70,35.200000,176,164.530710,5.0,4.674168,5.440143,4.446270,1.766669
103,Alonso,Chelsea,61,17.115385,89,76.984484,5.2,4.497970,3.610051,3.697765,1.821175
105,Azpilicueta,Chelsea,61,34.722222,125,155.874772,3.6,4.489193,3.961747,4.413921,1.817621
297,Lundstram,Sheffield Utd,46,32.619048,137,135.947383,4.2,4.167730,2.174809,2.401758,1.943214
183,van Dijk,Liverpool,65,36.739130,169,150.056620,4.6,4.084381,3.049788,3.203650,1.602026
159,Pereira,Leicester City,62,27.954545,123,113.511002,4.4,4.060556,NaN,4.489641,1.630759
405,Boly,Wolves,49,20.869565,96,82.732956,4.6,3.964287,3.772963,3.935306,1.790883
185,Matip,Liverpool,52,9.069767,39,35.411152,4.3,3.904307,NaN,4.391973,1.712152
208,Otamendi,Manchester City,48,24.117647,82,93.188326,3.4,3.863906,3.664218,3.073008,1.763624
122,Wan-Bissaka,Manchester Utd,55,34.285714,120,131.860269,3.5,3.845925,2.631141,3.565543,1.639908
440,Angeliño,Manchester City,46,6.111111,11,23.253488,1.8,3.805116,NaN,NaN,1.774145
161,Chilwell,Leicester City,54,27.142857,114,102.810394,4.2,3.787751,2.104250,4.223312,1.629989
141,Digne,Everton,59,34.000000,119,127.481263,3.5,3.749449,2.971044,3.442409,1.543624
123,van Aanholt,Crystal Palace,56,28.684211,109,106.079064,3.8,3.698169,3.252754,3.474784,1.562762
402,Jonny,Wolves,55,34.166667,123,125.719021,3.6,3.679581,3.894335,4.393584,1.568979
204,Mendy,Manchester City,55,18.974359,74,69.682039,3.9,3.672432,3.814420,3.409025,1.565930
160,Maguire,Manchester Utd,53,36.875000,118,134.448230,3.2,3.646054,2.857854,3.273801,1.583745
203,Walker,Manchester City,56,28.108108,104,102.159054,3.7,3.634505,4.591636,3.928909,1.535859
42,Dunk,Brighton,48,35.000000,126,126.935770,3.6,3.626736,3.380488,3.585497,1.655371
407,Saïss,Wolves,48,31.875000,102,114.780672,3.2,3.600962,3.662483,3.944608,1.643607
291,Stevens,Sheffield Utd,52,37.368421,142,133.871767,3.8,3.582484,3.905396,3.789977,1.571023
506,James,Chelsea,49,22.916667,55,81.414655,2.4,3.552640,3.086471,3.172217,1.604919
518,Cancelo,Manchester City,51,16.000000,40,56.732807,2.5,3.545800,4.965723,4.020050,1.570107
164,Söyüncü,Leicester City,49,34.285714,120,121.325085,3.5,3.538648,0.626995,2.632117,1.598598
162,Evans,Leicester City,53,37.142857,130,130.653435,3.5,3.517592,2.203733,2.896673,1.527945
295,Egan,Sheffield Utd,47,34.736842,132,120.806639,3.8,3.477767,4.001372,4.141618,1.604174
293,O'Connell,Sheffield Utd,45,32.647059,111,113.075841,3.4,3.463584,2.721972,2.670986,1.632749
359,Janmaat,Watford,40,8.000000,36,27.613682,4.5,3.451710,NaN,NaN,1.725855
529,Tomori,Chelsea,42,15.000000,48,51.742339,3.2,3.449489,NaN,1.966214,1.683178
403,Coady,Wolves,51,36.562500,117,126.121735,3.2,3.449483,2.991994,3.489514,1.527457
202,Laporte,Manchester City,63,13.902439,57,47.885518,4.1,3.444397,4.726304,4.134693,1.372281
225,Lindelöf,Manchester Utd,53,33.636364,111,115.178355,3.3,3.424221,3.173098,3.512578,1.487387
6,Monreal,Arsenal,50,3.030303,10,10.354826,3.3,3.417093,NaN,NaN,1.528170
251,Ritchie,Newcastle Utd,53,16.976744,73,56.921828,4.3,3.352930,3.524173,3.781620,1.456420
336,Aurier,Tottenham,51,32.105263,122,107.322132,3.8,3.342821,3.441872,3.539352,1.480226
84,Tarkowski,Burnley,55,37.368421,142,124.830831,3.8,3.340543,4.628707,4.213363,1.424412
447,Pieters,Burnley,43,23.125000,74,77.065688,3.2,3.332570,5.191560,4.527368,1.607108
294,Baldock,Sheffield Utd,50,37.105263,141,123.565667,3.8,3.330139,3.358374,3.230152,1.489283

MIDFIELDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
191,Salah,Liverpool,125,33.142857,232,223.746571,7.0,6.750974,6.735464,6.617794,1.909464
618,Fernandes,Manchester Utd,91,12.926829,106,81.030453,8.2,6.268394,5.234994,5.956954,2.077952
215,De Bruyne,Manchester City,106,34.117647,232,212.981479,6.8,6.242561,5.804910,6.512909,1.917387
214,Sterling,Manchester City,120,32.131148,196,189.566972,6.1,5.899788,7.607690,7.067496,1.703122
192,Mané,Liverpool,122,34.126984,215,193.012393,6.3,5.655712,4.400207,4.587636,1.619226
239,Martial,Manchester Utd,85,30.793651,194,156.406952,6.3,5.079195,5.799975,6.023191,1.742149
389,Antonio,West Ham,71,23.125000,111,117.195973,4.8,5.067934,8.801633,8.078948,1.901962
342,Son,Tottenham,97,28.793103,167,143.980824,5.8,5.000532,4.755475,4.713488,1.605574
431,Pulisic,Chelsea,74,23.846154,124,116.772695,5.2,4.896919,5.117899,5.420809,1.800143
219,David Silva,Manchester City,75,26.153846,136,123.750575,5.2,4.731640,6.269730,5.865475,1.727751
217,Mahrez,Manchester City,86,31.923077,166,148.473584,5.2,4.650980,3.639090,4.032370,1.585971
113,Willian,Chelsea,73,35.744681,168,160.326105,4.7,4.485314,4.879593,6.007156,1.660089
344,Alli,Tottenham,83,24.166667,116,105.739550,4.8,4.375430,NaN,2.729559,1.518734
150,Richarlison,Everton,82,34.680851,163,146.213027,4.7,4.215958,1.720978,2.431679,1.472277
171,Maddison,Leicester City,73,31.250000,125,128.850947,4.0,4.123230,NaN,3.161383,1.526076
29,Grealish,Aston Villa,59,34.750000,139,138.420522,4.0,3.983324,4.218952,3.680778,1.639909
626,Bowen,West Ham,64,11.944444,43,46.211269,3.6,3.868850,3.736064,4.108278,1.529297
114,Pedro,Chelsea,68,10.000000,31,38.393139,3.1,3.839314,NaN,4.116086,1.472310
172,Barnes,Leicester City,58,34.736842,132,131.333896,3.8,3.780824,3.593250,3.548648,1.569902
417,Traoré,Wolves,56,35.833333,129,134.520546,3.6,3.754062,3.293243,3.337836,1.586381
218,Bernardo Silva,Manchester City,76,32.857143,115,122.317983,3.5,3.722721,3.968711,3.601270,1.350373
265,Pérez,Leicester City,60,32.000000,128,117.002405,4.0,3.656325,3.240865,2.947339,1.492688
320,Redmond,Southampton,62,30.882353,105,112.798494,3.4,3.652523,4.734462,4.171933,1.466888
463,Mount,Chelsea,60,36.176471,123,131.595636,3.4,3.637603,2.617879,2.612024,1.485045
269,Shelvey,Newcastle Utd,49,25.000000,100,88.929281,4.0,3.557171,3.013007,3.642846,1.606966
238,Pogba,Manchester Utd,83,14.848485,49,52.707344,3.3,3.549678,3.046279,3.288148,1.232111
500,Saint-Maximin,Newcastle Utd,53,25.277778,91,89.092867,3.6,3.524553,2.994072,4.039983,1.530968
525,Sarr,Watford,59,27.027027,100,95.046345,3.7,3.516715,3.152096,3.259862,1.447809
421,Trossard,Brighton,58,30.588235,104,105.989417,3.4,3.465039,4.291849,4.043833,1.438779
321,Ward-Prowse,Southampton,57,37.096774,115,128.466301,3.1,3.463005,3.092287,3.529123,1.450493
488,Pépé,Arsenal,89,29.714286,104,101.826650,3.5,3.426858,2.027727,2.219572,1.148686
266,Almirón,Newcastle Utd,58,34.516129,107,115.920633,3.1,3.358448,3.212619,3.555162,1.394520
301,Fleck,Sheffield Utd,47,29.117647,99,96.770029,3.4,3.323415,0.864171,1.247089,1.532977
619,Podence,Wolves,49,8.000000,24,26.162734,3.0,3.270342,6.157855,5.074331,1.477390
97,McNeil,Burnley,60,36.666667,121,119.820868,3.3,3.267842,2.958366,3.123656,1.334091
133,Zaha,Crystal Palace,66,36.875000,118,120.350171,3.2,3.263733,3.301252,3.242699,1.270407
117,Barkley,Chelsea,56,20.000000,60,64.987652,3.0,3.249383,2.722015,3.289639,1.373115
448,Tielemans,Leicester City,61,35.937500,115,115.998933,3.2,3.227796,3.575650,3.167556,1.306897
151,Sigurdsson,Everton,73,34.444444,93,109.066170,2.7,3.166437,2.441515,2.928019,1.171951
198,Henderson,Liverpool,52,29.743590,116,94.054280,3.9,3.162170,3.827567,2.807168,1.386703

FORWARDS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
166,Vardy,Leicester City,97,34.262295,209,192.009622,6.1,5.604109,7.433560,6.748493,1.799371
233,Rashford,Manchester Utd,89,30.172414,175,167.870997,5.8,5.563724,5.053730,5.210553,1.864965
409,Jiménez,Wolves,81,36.923077,192,183.589622,5.2,4.972219,4.890814,4.590501,1.747060
210,Agüero,Manchester City,117,24.000000,132,117.068247,5.5,4.877844,NaN,4.567077,1.426051
11,Aubameyang,Arsenal,109,35.000000,189,167.725498,5.4,4.792157,3.088682,4.142959,1.451503
187,Firmino,Liverpool,93,36.829268,151,169.310997,4.1,4.597186,3.810697,3.434638,1.507477
313,Ings,Southampton,76,37.254902,190,169.222749,5.1,4.542295,4.624341,4.735974,1.647664
211,Jesus,Manchester City,99,32.857143,138,148.330997,4.2,4.514422,7.200087,5.909682,1.434777
338,Kane,Tottenham,109,28.113208,149,125.042749,5.3,4.447829,5.684341,5.070314,1.347209
460,Abraham,Chelsea,74,33.043478,152,146.108247,4.6,4.421697,2.686356,2.940429,1.625448
278,Pukki,Norwich City,64,35.128205,137,145.044124,3.9,4.128993,1.730941,1.826120,1.632128
362,Deeney,Watford,62,25.750000,103,104.802749,4.0,4.070010,5.139008,4.425878,1.634555
91,Wood,Burnley,62,30.975610,127,124.121375,4.1,4.007068,4.717504,4.353861,1.609277
147,Calvert-Lewin,Everton,61,34.722222,125,131.301375,3.6,3.781480,2.198837,2.635466,1.531076
502,Maupay,Brighton,57,36.000000,126,134.342749,3.5,3.731743,3.697674,3.294205,1.563055
68,King,Bournemouth,61,24.857143,87,91.245498,3.5,3.670796,3.018084,3.275245,1.486262
410,Jota,Wolves,60,32.500000,104,119.204124,3.2,3.667819,2.569845,2.702799,1.497381
110,Giroud,Chelsea,67,17.027027,63,60.801375,3.7,3.570874,5.252170,4.462775,1.379549
67,Callum Wilson,Bournemouth,74,33.636364,111,117.406873,3.3,3.490475,3.831010,3.464094,1.283124
12,Lacazette,Arsenal,92,29.230769,114,101.308247,3.9,3.465808,3.914722,3.911424,1.142643
363,Deulofeu,Watford,61,28.387097,88,95.026873,3.1,3.347538,NaN,1.650104,1.355378
457,Haller,West Ham,68,30.606061,101,102.104124,3.3,3.336075,1.351650,1.812450,1.279326
468,Ayew,Crystal Palace,51,36.285714,127,118.402749,3.5,3.263068,2.344341,2.456387,1.444911
428,Wesley,Aston Villa,54,20.937500,67,67.721375,3.2,3.234454,NaN,NaN,1.391887
90,Barnes,Burnley,61,19.062500,61,59.620000,3.2,3.127607,NaN,NaN,1.266331
303,McGoldrick,Sheffield Utd,54,28.260870,65,87.702749,2.3,3.103328,3.985469,3.491110,1.335460
167,Iheanacho,Leicester City,57,19.090909,63,59.105498,3.3,3.096002,1.993656,2.609294,1.296773
554,Gayle,Newcastle Utd,50,18.846154,49,51.502749,2.6,2.732799,3.598020,3.927774,1.222145
315,Long,Southampton,46,25.416667,61,69.104124,2.4,2.718851,1.547514,1.651573,1.267671
501,McBurnie,Sheffield Utd,55,35.416667,85,96.001375,2.4,2.710627,2.520198,2.565923,1.155815
130,Wickham,Crystal Palace,43,6.000000,15,16.101375,2.5,2.683562,NaN,NaN,1.294129
451,Rodriguez,Burnley,57,35.000000,98,92.022749,2.8,2.629221,4.371353,4.190058,1.101260
70,Mousset,Sheffield Utd,43,30.000000,84,77.205498,2.8,2.573517,1.667921,2.100252,1.241060
13,Nketiah,Arsenal,43,12.000000,24,30.800000,2.0,2.566667,1.900000,2.375676,1.237757
129,Benteke,Crystal Palace,57,23.333333,42,59.801375,1.8,2.562916,3.565800,3.391472,1.073487
92,Vydra,Burnley,51,18.095238,38,46.101375,2.1,2.547708,2.372170,2.530012,1.128144
234,Greenwood,Manchester Utd,48,29.705882,101,74.801375,3.4,2.518066,4.372170,4.235650,1.149335
466,Joelinton,Newcastle Utd,55,36.666667,77,91.902749,2.1,2.506439,1.591008,1.867296,1.068749
504,Martinelli,Arsenal,42,13.928571,39,34.501375,2.8,2.477022,NaN,NaN,1.208663
613,Samatta,Aston Villa,51,12.727273,28,30.900000,2.2,2.427857,2.100000,2.085185,1.075073

Below we compile a list sorting players based on a given metric (irrespective of position).

In [9]:
metric = 'adjusted points per game'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
191,Salah,Liverpool,125,33.142857,232,223.746571,7.0,6.750974,6.735464,6.617794,1.909464
618,Fernandes,Manchester Utd,91,12.926829,106,81.030453,8.2,6.268394,5.234994,5.956954,2.077952
215,De Bruyne,Manchester City,106,34.117647,232,212.981479,6.8,6.242561,5.804910,6.512909,1.917387
214,Sterling,Manchester City,120,32.131148,196,189.566972,6.1,5.899788,7.607690,7.067496,1.703122
192,Mané,Liverpool,122,34.126984,215,193.012393,6.3,5.655712,4.400207,4.587636,1.619226
166,Vardy,Leicester City,97,34.262295,209,192.009622,6.1,5.604109,7.433560,6.748493,1.799371
233,Rashford,Manchester Utd,89,30.172414,175,167.870997,5.8,5.563724,5.053730,5.210553,1.864965
182,Alexander-Arnold,Liverpool,77,37.321429,209,190.145630,5.6,5.094811,3.856766,3.720682,1.836042
239,Martial,Manchester Utd,85,30.793651,194,156.406952,6.3,5.079195,5.799975,6.023191,1.742149
389,Antonio,West Ham,71,23.125000,111,117.195973,4.8,5.067934,8.801633,8.078948,1.901962
342,Son,Tottenham,97,28.793103,167,143.980824,5.8,5.000532,4.755475,4.713488,1.605574
409,Jiménez,Wolves,81,36.923077,192,183.589622,5.2,4.972219,4.890814,4.590501,1.747060
431,Pulisic,Chelsea,74,23.846154,124,116.772695,5.2,4.896919,5.117899,5.420809,1.800143
210,Agüero,Manchester City,117,24.000000,132,117.068247,5.5,4.877844,NaN,4.567077,1.426051
401,Doherty,Wolves,65,34.791667,167,168.745069,4.8,4.850158,5.699672,5.430213,1.902388
11,Aubameyang,Arsenal,109,35.000000,189,167.725498,5.4,4.792157,3.088682,4.142959,1.451503
219,David Silva,Manchester City,75,26.153846,136,123.750575,5.2,4.731640,6.269730,5.865475,1.727751
181,Robertson,Liverpool,70,35.200000,176,164.530710,5.0,4.674168,5.440143,4.446270,1.766669
217,Mahrez,Manchester City,86,31.923077,166,148.473584,5.2,4.650980,3.639090,4.032370,1.585971
187,Firmino,Liverpool,93,36.829268,151,169.310997,4.1,4.597186,3.810697,3.434638,1.507477
340,Lloris,Tottenham,53,20.000000,96,91.568449,4.8,4.578422,5.120166,4.846576,1.988740
313,Ings,Southampton,76,37.254902,190,169.222749,5.1,4.542295,4.624341,4.735974,1.647664
211,Jesus,Manchester City,99,32.857143,138,148.330997,4.2,4.514422,7.200087,5.909682,1.434777
103,Alonso,Chelsea,61,17.115385,89,76.984484,5.2,4.497970,3.610051,3.697765,1.821175
105,Azpilicueta,Chelsea,61,34.722222,125,155.874772,3.6,4.489193,3.961747,4.413921,1.817621
113,Willian,Chelsea,73,35.744681,168,160.326105,4.7,4.485314,4.879593,6.007156,1.660089
338,Kane,Tottenham,109,28.113208,149,125.042749,5.3,4.447829,5.684341,5.070314,1.347209
460,Abraham,Chelsea,74,33.043478,152,146.108247,4.6,4.421697,2.686356,2.940429,1.625448
344,Alli,Tottenham,83,24.166667,116,105.739550,4.8,4.375430,NaN,2.729559,1.518734
411,Patrício,Wolves,53,37.073171,152,160.454476,4.1,4.328048,3.974940,3.959610,1.879984
150,Richarlison,Everton,82,34.680851,163,146.213027,4.7,4.215958,1.720978,2.431679,1.472277
297,Lundstram,Sheffield Utd,46,32.619048,137,135.947383,4.2,4.167730,2.174809,2.401758,1.943214
471,Henderson,Sheffield Utd,52,35.333333,159,146.100467,4.5,4.134919,4.112522,4.199306,1.813282
93,Pope,Burnley,51,36.739130,169,151.725707,4.6,4.129812,3.827435,4.125985,1.828712
278,Pukki,Norwich City,64,35.128205,137,145.044124,3.9,4.128993,1.730941,1.826120,1.632128
171,Maddison,Leicester City,73,31.250000,125,128.850947,4.0,4.123230,NaN,3.161383,1.526076
183,van Dijk,Liverpool,65,36.739130,169,150.056620,4.6,4.084381,3.049788,3.203650,1.602026
362,Deeney,Watford,62,25.750000,103,104.802749,4.0,4.070010,5.139008,4.425878,1.634555
168,Schmeichel,Leicester City,55,36.904762,155,150.056772,4.2,4.066054,3.304998,4.036408,1.733771
159,Pereira,Leicester City,62,27.954545,123,113.511002,4.4,4.060556,NaN,4.489641,1.630759

In [10]:
metric = 'form 10'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
389,Antonio,West Ham,71,23.125000,111,117.195973,4.8,5.067934,8.801633,8.078948,1.901962
214,Sterling,Manchester City,120,32.131148,196,189.566972,6.1,5.899788,7.607690,7.067496,1.703122
166,Vardy,Leicester City,97,34.262295,209,192.009622,6.1,5.604109,7.433560,6.748493,1.799371
191,Salah,Liverpool,125,33.142857,232,223.746571,7.0,6.750974,6.735464,6.617794,1.909464
215,De Bruyne,Manchester City,106,34.117647,232,212.981479,6.8,6.242561,5.804910,6.512909,1.917387
239,Martial,Manchester Utd,85,30.793651,194,156.406952,6.3,5.079195,5.799975,6.023191,1.742149
113,Willian,Chelsea,73,35.744681,168,160.326105,4.7,4.485314,4.879593,6.007156,1.660089
618,Fernandes,Manchester Utd,91,12.926829,106,81.030453,8.2,6.268394,5.234994,5.956954,2.077952
211,Jesus,Manchester City,99,32.857143,138,148.330997,4.2,4.514422,7.200087,5.909682,1.434777
219,David Silva,Manchester City,75,26.153846,136,123.750575,5.2,4.731640,6.269730,5.865475,1.727751
401,Doherty,Wolves,65,34.791667,167,168.745069,4.8,4.850158,5.699672,5.430213,1.902388
431,Pulisic,Chelsea,74,23.846154,124,116.772695,5.2,4.896919,5.117899,5.420809,1.800143
233,Rashford,Manchester Utd,89,30.172414,175,167.870997,5.8,5.563724,5.053730,5.210553,1.864965
15,Özil,Arsenal,69,18.275862,53,54.308513,2.9,2.971598,NaN,5.148125,1.131268
619,Podence,Wolves,49,8.000000,24,26.162734,3.0,3.270342,6.157855,5.074331,1.477390
338,Kane,Tottenham,109,28.113208,149,125.042749,5.3,4.447829,5.684341,5.070314,1.347209
14,Leno,Arsenal,48,30.000000,114,114.262781,3.8,3.808759,NaN,4.952481,1.738453
220,Foden,Manchester City,55,21.935484,68,67.553913,3.1,3.079664,4.900262,4.932194,1.313173
340,Lloris,Tottenham,53,20.000000,96,91.568449,4.8,4.578422,5.120166,4.846576,1.988740
313,Ings,Southampton,76,37.254902,190,169.222749,5.1,4.542295,4.624341,4.735974,1.647664
342,Son,Tottenham,97,28.793103,167,143.980824,5.8,5.000532,4.755475,4.713488,1.605574
83,Mee,Burnley,49,32.352941,110,95.142442,3.4,2.940766,NaN,4.616639,1.328503
409,Jiménez,Wolves,81,36.923077,192,183.589622,5.2,4.972219,4.890814,4.590501,1.747060
192,Mané,Liverpool,122,34.126984,215,193.012393,6.3,5.655712,4.400207,4.587636,1.619226
210,Agüero,Manchester City,117,24.000000,132,117.068247,5.5,4.877844,NaN,4.567077,1.426051
447,Pieters,Burnley,43,23.125000,74,77.065688,3.2,3.332570,5.191560,4.527368,1.607108
494,Ramsdale,Bournemouth,44,36.176471,123,132.815561,3.4,3.671324,5.951218,4.496646,1.750235
159,Pereira,Leicester City,62,27.954545,123,113.511002,4.4,4.060556,NaN,4.489641,1.630759
110,Giroud,Chelsea,67,17.027027,63,60.801375,3.7,3.570874,5.252170,4.462775,1.379549
181,Robertson,Liverpool,70,35.200000,176,164.530710,5.0,4.674168,5.440143,4.446270,1.766669
362,Deeney,Watford,62,25.750000,103,104.802749,4.0,4.070010,5.139008,4.425878,1.634555
105,Azpilicueta,Chelsea,61,34.722222,125,155.874772,3.6,4.489193,3.961747,4.413921,1.817621
165,Morgan,Leicester City,41,10.000000,18,27.544416,1.8,2.754442,4.368249,4.413882,1.360322
402,Jonny,Wolves,55,34.166667,123,125.719021,3.6,3.679581,3.894335,4.393584,1.568979
185,Matip,Liverpool,52,9.069767,39,35.411152,4.3,3.904307,NaN,4.391973,1.712152
91,Wood,Burnley,62,30.975610,127,124.121375,4.1,4.007068,4.717504,4.353861,1.609277
86,Bardsley,Burnley,44,20.000000,78,63.881832,3.9,3.194092,4.979867,4.274924,1.522723
234,Greenwood,Manchester Utd,48,29.705882,101,74.801375,3.4,2.518066,4.372170,4.235650,1.149335
161,Chilwell,Leicester City,54,27.142857,114,102.810394,4.2,3.787751,2.104250,4.223312,1.629989
84,Tarkowski,Burnley,55,37.368421,142,124.830831,3.8,3.340543,4.628707,4.213363,1.424412

In [11]:
metric = 'valuePoints metric'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
618,Fernandes,Manchester Utd,91,12.926829,106,81.030453,8.2,6.268394,5.234994,5.956954,2.077952
340,Lloris,Tottenham,53,20.000000,96,91.568449,4.8,4.578422,5.120166,4.846576,1.988740
297,Lundstram,Sheffield Utd,46,32.619048,137,135.947383,4.2,4.167730,2.174809,2.401758,1.943214
215,De Bruyne,Manchester City,106,34.117647,232,212.981479,6.8,6.242561,5.804910,6.512909,1.917387
191,Salah,Liverpool,125,33.142857,232,223.746571,7.0,6.750974,6.735464,6.617794,1.909464
401,Doherty,Wolves,65,34.791667,167,168.745069,4.8,4.850158,5.699672,5.430213,1.902388
389,Antonio,West Ham,71,23.125000,111,117.195973,4.8,5.067934,8.801633,8.078948,1.901962
411,Patrício,Wolves,53,37.073171,152,160.454476,4.1,4.328048,3.974940,3.959610,1.879984
341,Gazzaniga,Tottenham,41,18.125000,58,68.933907,3.2,3.803250,NaN,1.653034,1.878291
233,Rashford,Manchester Utd,89,30.172414,175,167.870997,5.8,5.563724,5.053730,5.210553,1.864965
182,Alexander-Arnold,Liverpool,77,37.321429,209,190.145630,5.6,5.094811,3.856766,3.720682,1.836042
93,Pope,Burnley,51,36.739130,169,151.725707,4.6,4.129812,3.827435,4.125985,1.828712
103,Alonso,Chelsea,61,17.115385,89,76.984484,5.2,4.497970,3.610051,3.697765,1.821175
105,Azpilicueta,Chelsea,61,34.722222,125,155.874772,3.6,4.489193,3.961747,4.413921,1.817621
471,Henderson,Sheffield Utd,52,35.333333,159,146.100467,4.5,4.134919,4.112522,4.199306,1.813282
431,Pulisic,Chelsea,74,23.846154,124,116.772695,5.2,4.896919,5.117899,5.420809,1.800143
166,Vardy,Leicester City,97,34.262295,209,192.009622,6.1,5.604109,7.433560,6.748493,1.799371
405,Boly,Wolves,49,20.869565,96,82.732956,4.6,3.964287,3.772963,3.935306,1.790883
440,Angeliño,Manchester City,46,6.111111,11,23.253488,1.8,3.805116,NaN,NaN,1.774145
181,Robertson,Liverpool,70,35.200000,176,164.530710,5.0,4.674168,5.440143,4.446270,1.766669
208,Otamendi,Manchester City,48,24.117647,82,93.188326,3.4,3.863906,3.664218,3.073008,1.763624
318,McCarthy,Southampton,45,26.842105,102,100.050837,3.8,3.727384,3.598239,3.983857,1.757106
494,Ramsdale,Bournemouth,44,36.176471,123,132.815561,3.4,3.671324,5.951218,4.496646,1.750235
409,Jiménez,Wolves,81,36.923077,192,183.589622,5.2,4.972219,4.890814,4.590501,1.747060
239,Martial,Manchester Utd,85,30.793651,194,156.406952,6.3,5.079195,5.799975,6.023191,1.742149
14,Leno,Arsenal,48,30.000000,114,114.262781,3.8,3.808759,NaN,4.952481,1.738453
168,Schmeichel,Leicester City,55,36.904762,155,150.056772,4.2,4.066054,3.304998,4.036408,1.733771
219,David Silva,Manchester City,75,26.153846,136,123.750575,5.2,4.731640,6.269730,5.865475,1.727751
359,Janmaat,Watford,40,8.000000,36,27.613682,4.5,3.451710,NaN,NaN,1.725855
131,Guaita,Crystal Palace,49,33.750000,135,128.834838,4.0,3.817329,2.703705,3.148771,1.724493
185,Matip,Liverpool,52,9.069767,39,35.411152,4.3,3.904307,NaN,4.391973,1.712152
214,Sterling,Manchester City,120,32.131148,196,189.566972,6.1,5.899788,7.607690,7.067496,1.703122
235,de Gea,Manchester Utd,53,36.756757,136,143.270430,3.7,3.897798,3.412696,3.764418,1.693095
529,Tomori,Chelsea,42,15.000000,48,51.742339,3.2,3.449489,NaN,1.966214,1.683178
603,Reina,Aston Villa,42,11.142857,39,38.427588,3.5,3.448630,3.343154,3.144266,1.682759
113,Willian,Chelsea,73,35.744681,168,160.326105,4.7,4.485314,4.879593,6.007156,1.660089
42,Dunk,Brighton,48,35.000000,126,126.935770,3.6,3.626736,3.380488,3.585497,1.655371
47,Ryan,Brighton,47,36.944444,133,132.183405,3.6,3.577897,2.843265,3.053232,1.650361
313,Ings,Southampton,76,37.254902,190,169.222749,5.1,4.542295,4.624341,4.735974,1.647664
407,Saïss,Wolves,48,31.875000,102,114.780672,3.2,3.600962,3.662483,3.944608,1.643607