# Player evaluation

Here we compare players based on their adjusted points. Also, we calculate some useful metrics using the adjusted points to further evaluate player performance in FPL.

In [1]:
# recent gameweek
gameweek = 33

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch FPL data
filepath = '../data/data_week' + str(gameweek) + '.csv'
df = pd.read_csv(filepath, index_col=0)#, encoding='latin-1')

# fetch team data
filepath = '../data/fbref/team_stats_week' + str(gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col=0)#, encoding='latin-1')

# fetch player stats data
filepath = '../data/fbref/player_stats_week' + str(gameweek) + '.csv'
playerStats = pd.read_csv(filepath, index_col=0, skiprows=1)#, encoding='latin-1')

## Value and value points

Here we calculate two interesting metrics: 'value' and 'value points'. 

Value is simply adjusted points per game divided by the cost of the player. Essentially, this measures how many 'points per pound(/euro/whatever)' has the player gained on an average game week. 

The value points is calculated as the geometric mean of a players adjusted points per game and value. Essentially, in FPL we want to gain the maximum possible amount of points. However, we are restrained by a limited budget, so that in practice we cannot just pick all the best players. Then, we would like to have a squad of players that give the most points given our budget. Thus, we would like to pick players that have high value ('bang for buck'). However, often the players with highest value are very cheap players who somewhat overperform relative to their price. Picking a squad full of these players might leave a part of our budget unused. Calculating the geometric mean of adjusted points and value allows us to weigh both aspects equally, i.e. we want players that both gain a lot of points but also have good value. For example, this metric values equally two players, where one has twice the points per game of the other who in turn has twice the value of the other.

In [4]:
# value = expected points / cost
df['value'] = df['adjusted points per game'] / (df['now_cost'] / 10.0)
# geometric mean of 'adjusted points per game' and 'value'
df['valuePoints metric'] = np.sqrt(df['adjusted points per game'] * df['value'])

In [5]:
# assign proper team names for each player
team_names = np.sort(teamStats['Squad'])
df['team_name'] = team_names[df['team']-1]

In [6]:
# save data
filepath = '../data/data_week' + str(gameweek) + str('.csv')
df.to_csv(filepath)

In [7]:
goalkeepers = df['element_type'] == 1
defenders = df['element_type'] == 2
midfielders = df['element_type'] == 3
forwards = df['element_type'] == 4

minGames = df['games played'] >= 3

## Player evaluation

Below we compile lists for each position sorting players based on a given metric.

In [8]:
#metric = 'valuePoints metric'
metric = 'adjusted points per game'
#metric = 'form 10'

numberToShow = 40

print('GOALKEEPERS')
display(df[goalkeepers & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('DEFENDERS')
display(df[defenders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('MIDFIELDERS')
display(df[midfielders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('FORWARDS')
display(df[forwards & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

GOALKEEPERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
340,Lloris,Tottenham,53,16.086957,74,73.347764,4.6,4.559456,5.028447,5.092690,1.980501
411,Patrício,Wolves,53,32.926829,135,144.224646,4.1,4.380156,3.735636,4.214820,1.902618
471,Henderson,Sheffield Utd,52,31.111111,140,129.077990,4.5,4.148935,4.200136,4.393053,1.819429
168,Schmeichel,Leicester City,54,33.255814,143,137.054436,4.3,4.121217,5.467374,5.539427,1.773490
93,Pope,Burnley,50,33.111111,149,136.345638,4.5,4.117821,4.576530,4.612115,1.841546
189,Alisson,Liverpool,62,23.750000,114,94.308907,4.8,3.970901,4.155421,3.883255,1.594752
235,de Gea,Manchester Utd,53,32.777778,118,128.323360,3.6,3.914950,3.908139,4.044068,1.700546
131,Guaita,Crystal Palace,49,30.000000,126,117.345399,4.2,3.911513,3.231023,4.118845,1.767042
14,Leno,Arsenal,48,30.000000,114,114.708370,3.8,3.823612,4.693690,4.227914,1.745232
318,McCarthy,Southampton,45,22.820513,89,86.379639,3.9,3.785175,4.857483,4.692896,1.784349
341,Gazzaniga,Tottenham,42,18.125000,58,68.492160,3.2,3.778878,NaN,1.653034,1.843904
47,Ryan,Brighton,47,33.333333,120,123.359940,3.6,3.700798,4.204595,3.846012,1.707051
262,Dubravka,Newcastle Utd,51,33.333333,130,119.303318,3.9,3.579100,3.418706,3.651553,1.584852
603,Reina,Aston Villa,42,6.896552,20,24.344154,2.9,3.529902,1.671783,2.878137,1.722416
366,Foster,Watford,49,32.702703,121,114.611476,3.7,3.504648,3.255561,3.264362,1.583239
494,Ramsdale,Bournemouth,45,31.875000,102,111.146534,3.2,3.486950,2.417937,2.669049,1.643764
212,Ederson,Manchester City,60,30.285714,106,104.356635,3.5,3.445738,3.709258,3.660574,1.406717
280,Krul,Norwich City,46,31.250000,100,106.092478,3.2,3.394959,3.292797,3.481313,1.582908
132,Hennessey,Crystal Palace,42,3.043478,7,10.179968,2.3,3.344847,2.031087,2.031087,1.632118
111,Kepa,Chelsea,54,29.285714,82,97.094449,2.8,3.315420,3.547833,3.573026,1.426730
213,Bravo,Manchester City,47,3.928571,11,13.013243,2.8,3.312462,NaN,NaN,1.527925
148,Pickford,Everton,52,32.903226,102,108.574535,3.1,3.299814,3.550232,3.492110,1.447064
112,Caballero,Chelsea,48,3.888889,7,12.722569,1.8,3.271518,NaN,NaN,1.493237
388,Fabianski,West Ham,49,20.000000,66,63.507414,3.3,3.175371,2.484344,2.573532,1.434486
526,Adrián,Liverpool,40,10.800000,27,34.186182,2.5,3.165387,3.017023,3.017023,1.582694
553,Martin,West Ham,39,5.000000,20,15.376854,4.0,3.075371,NaN,NaN,1.557275
319,Gunn,Southampton,42,10.000000,29,30.368606,2.9,3.036861,NaN,NaN,1.481836
427,Martínez,Arsenal,43,4.000000,20,11.827783,5.0,2.956946,NaN,NaN,1.425966
450,Roberto,West Ham,44,8.181818,18,23.525760,2.2,2.875371,NaN,NaN,1.370779
94,Heaton,Aston Villa,43,19.666667,59,55.388079,3.0,2.816343,NaN,NaN,1.358161
27,Nyland,Aston Villa,43,7.142857,15,15.499302,2.1,2.169902,2.757099,2.737202,1.046420

DEFENDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
182,Alexander-Arnold,Liverpool,78,33.275862,193,176.377267,5.8,5.300457,4.041179,4.493280,1.897868
103,Alonso,Chelsea,62,13.965517,81,66.590610,5.8,4.768216,3.283753,4.695172,1.914962
401,Doherty,Wolves,64,31.086957,143,147.630785,4.6,4.748962,5.012376,5.584971,1.877192
181,Robertson,Liverpool,70,30.816327,151,142.938640,4.9,4.638406,2.277191,3.137790,1.753153
105,Azpilicueta,Chelsea,60,30.810811,114,141.718861,3.7,4.599647,6.042975,5.275862,1.877798
297,Lundstram,Sheffield Utd,46,29.777778,134,128.615324,4.5,4.319171,2.552726,3.345190,2.013824
183,van Dijk,Liverpool,65,33.265306,163,138.602013,4.9,4.166564,3.825323,3.851604,1.634261
159,Pereira,Leicester City,62,27.954545,123,113.116439,4.4,4.046442,4.579843,4.315085,1.625090
122,Wan-Bissaka,Manchester Utd,55,30.277778,109,121.138608,3.6,4.000908,5.122194,4.938767,1.705993
185,Matip,Liverpool,52,9.069767,39,36.153254,4.3,3.986128,4.391973,3.824326,1.748033
405,Boly,Wolves,48,17.021277,80,67.327448,4.7,3.955488,4.076499,3.965854,1.805425
208,Otamendi,Manchester City,48,21.764706,74,83.427375,3.4,3.833150,2.075722,2.726193,1.749585
141,Digne,Everton,57,30.285714,106,115.399433,3.5,3.810359,4.443738,4.099953,1.595984
161,Chilwell,Leicester City,56,27.142857,114,102.439978,4.2,3.774104,4.074372,4.112101,1.594850
162,Evans,Leicester City,53,32.894737,125,123.640849,3.8,3.758682,4.808469,4.334850,1.632667
42,Dunk,Brighton,48,31.081081,115,116.610857,3.7,3.751828,4.801510,4.582227,1.712467
440,Angeliño,Manchester City,46,6.111111,11,22.867301,1.8,3.741922,NaN,NaN,1.744680
160,Maguire,Manchester Utd,53,32.500000,104,121.396891,3.2,3.735289,3.558736,3.688485,1.622506
164,Söyüncü,Leicester City,49,31.842105,121,118.843830,3.8,3.732286,4.438909,4.181679,1.686075
402,Jonny,Wolves,54,29.705882,101,109.458242,3.4,3.684733,4.936471,4.893127,1.585657
506,James,Chelsea,49,19.259259,52,70.267077,2.7,3.648483,4.506868,3.686474,1.648217
291,Stevens,Sheffield Utd,51,32.894737,125,118.415009,3.8,3.599816,3.644631,3.411421,1.594025
123,van Aanholt,Crystal Palace,56,26.153846,102,93.660126,3.9,3.581122,2.749204,3.764651,1.513300
407,Saïss,Wolves,47,28.750000,92,101.799736,3.2,3.540860,3.750439,4.225544,1.633277
204,Mendy,Manchester City,55,17.222222,62,60.587819,3.6,3.518002,2.796032,3.138171,1.500081
203,Walker,Manchester City,56,24.285714,85,84.899508,3.5,3.495862,2.427571,3.052143,1.477271
529,Tomori,Chelsea,42,15.000000,48,52.272766,3.2,3.484851,NaN,1.966214,1.700433
293,O'Connell,Sheffield Utd,45,29.393939,97,102.242605,3.3,3.478357,2.299293,3.245295,1.639713
359,Janmaat,Watford,40,8.000000,36,27.810390,4.5,3.476299,NaN,NaN,1.738149
518,Cancelo,Manchester City,51,13.750000,33,47.746349,2.4,3.472462,3.356981,3.116609,1.537632
6,Monreal,Arsenal,50,3.030303,10,10.399835,3.3,3.431946,NaN,NaN,1.534813
403,Coady,Wolves,51,32.903226,102,112.686492,3.1,3.424786,3.841263,3.892338,1.516521
251,Ritchie,Newcastle Utd,53,12.954545,57,44.221702,4.4,3.413605,4.396338,4.219168,1.482775
511,Sidibé,Everton,50,21.666667,65,73.054675,3.0,3.371754,1.799418,2.114031,1.507894
225,Lindelöf,Manchester Utd,53,30.322581,94,102.153923,3.1,3.368906,3.963567,3.898640,1.463359
336,Aurier,Tottenham,50,27.631579,105,92.755487,3.8,3.356865,3.807465,3.116341,1.501236
206,Zinchenko,Manchester City,52,14.814815,40,49.576201,2.7,3.346394,4.044487,3.613042,1.467491
295,Egan,Sheffield Utd,45,31.142857,109,104.113770,3.5,3.343103,4.732976,4.172640,1.575954
478,Holgate,Everton,44,25.925926,70,86.548075,2.7,3.338283,2.859770,2.775746,1.591464
186,Lovren,Liverpool,53,10.000000,18,33.374647,1.8,3.337465,2.807402,2.428400,1.449702

MIDFIELDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
191,Salah,Liverpool,126,28.873239,205,193.116808,7.1,6.688436,5.392535,5.369456,1.884253
618,Fernandes,Manchester Utd,89,8.988764,80,58.156926,8.9,6.469958,6.983216,7.000370,2.168735
215,De Bruyne,Manchester City,108,30.857143,216,194.715174,7.0,6.310214,6.892172,6.747453,1.920137
192,Mané,Liverpool,124,29.850746,200,177.513801,6.7,5.946712,5.699634,5.188991,1.688753
214,Sterling,Manchester City,117,28.269231,147,158.291000,5.2,5.599410,5.565203,5.738716,1.637002
342,Son,Tottenham,98,24.821429,139,124.687266,5.6,5.023372,4.542235,4.969071,1.604657
239,Martial,Manchester Utd,83,27.000000,162,131.750038,6.0,4.879631,6.101347,5.545550,1.693745
431,Pulisic,Chelsea,72,20.000000,98,96.837794,4.9,4.841890,6.176452,6.228629,1.804466
217,Mahrez,Manchester City,86,27.777778,150,130.409881,5.4,4.694756,3.737749,4.238360,1.600898
219,David Silva,Manchester City,73,22.826087,105,103.254959,4.6,4.523551,4.565755,4.386340,1.674241
150,Richarlison,Everton,82,31.276596,147,138.833721,4.7,4.438901,3.230324,4.307586,1.550132
344,Alli,Tottenham,83,24.166667,116,105.664259,4.8,4.372314,2.072072,3.489037,1.517652
113,Willian,Chelsea,72,32.173913,148,139.496327,4.6,4.335697,8.182119,6.213671,1.615819
389,Antonio,West Ham,69,19.142857,67,81.385602,3.5,4.251487,6.628707,5.855884,1.618513
171,Maddison,Leicester City,74,31.250000,125,128.793940,4.0,4.121406,3.110589,3.098760,1.515059
626,Bowen,West Ham,64,7.948718,31,31.882186,3.9,4.010985,5.059721,NaN,1.585481
29,Grealish,Aston Villa,60,31.219512,128,122.829884,4.1,3.934395,3.147568,3.163714,1.606210
114,Pedro,Chelsea,68,10.000000,31,38.505530,3.1,3.850553,3.393473,4.306136,1.476620
417,Traoré,Wolves,57,31.842105,121,121.488119,3.8,3.815329,3.679994,3.193402,1.598066
172,Barnes,Leicester City,60,31.250000,125,119.160778,4.0,3.813145,4.118657,4.136746,1.556710
269,Shelvey,Newcastle Utd,49,20.909091,92,79.208661,4.4,3.788240,5.812572,4.955977,1.711353
463,Mount,Chelsea,61,33.055556,119,124.027297,3.6,3.752086,2.762718,3.021729,1.519175
265,Pérez,Leicester City,61,28.048780,115,104.737993,4.1,3.734137,2.531410,2.768006,1.511908
218,Bernardo Silva,Manchester City,77,28.857143,101,107.036074,3.5,3.709171,3.255797,3.192758,1.336692
500,Saint-Maximin,Newcastle Utd,55,22.105263,84,80.125020,3.8,3.624703,5.411853,4.903788,1.545579
238,Pogba,Manchester Utd,83,11.034483,32,39.408750,2.9,3.571418,3.546305,3.439796,1.239657
488,Pépé,Arsenal,90,27.027027,100,95.966055,3.7,3.550744,2.593621,3.434634,1.183581
525,Sarr,Watford,61,23.243243,86,81.908402,3.7,3.523966,2.710406,3.749277,1.426812
301,Fleck,Sheffield Utd,47,27.222222,98,94.997121,3.6,3.489690,2.145025,2.366114,1.609674
321,Ward-Prowse,Southampton,57,33.333333,110,115.200642,3.3,3.456019,4.044360,3.642179,1.447567
320,Redmond,Southampton,62,27.419355,85,94.335396,3.1,3.440467,3.061335,3.287947,1.381725
151,Sigurdsson,Everton,73,29.642857,83,100.148152,2.8,3.378492,4.006343,3.746655,1.250436
117,Barkley,Chelsea,56,17.187500,55,57.889766,3.2,3.368132,4.392609,4.280285,1.423295
283,Buendía,Norwich City,60,31.851852,86,106.342323,2.7,3.338654,2.348654,2.150612,1.363000
97,McNeil,Burnley,61,32.647059,111,108.948432,3.4,3.337159,3.732776,3.963271,1.351176
266,Almirón,Newcastle Utd,58,32.258065,100,107.516248,3.1,3.333004,4.131462,3.874685,1.383954
287,Cantwell,Norwich City,46,32.812500,105,107.876011,3.2,3.287650,1.497708,1.787248,1.532875
133,Zaha,Crystal Palace,66,33.125000,106,107.732842,3.2,3.252312,3.161047,3.513140,1.265961
615,Bergwijn,Tottenham,73,9.000000,36,29.246613,4.0,3.249624,2.013055,NaN,1.202740
421,Trossard,Brighton,58,27.272727,90,88.499553,3.3,3.244984,3.943457,3.233884,1.347406

FORWARDS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
233,Rashford,Manchester Utd,91,25.932203,153,146.953573,5.9,5.666837,5.366839,5.356533,1.878538
166,Vardy,Leicester City,97,30.000000,186,162.080206,6.2,5.402674,5.937950,4.989007,1.734694
11,Aubameyang,Arsenal,109,30.877193,176,153.673470,5.7,4.976925,5.709019,5.399332,1.507467
409,Jiménez,Wolves,83,32.941176,168,163.840206,5.1,4.973721,3.823284,4.223472,1.726404
210,Agüero,Manchester City,117,24.000000,132,117.140206,5.5,4.880842,4.967317,4.281874,1.426927
187,Firmino,Liverpool,94,32.619048,137,153.606941,4.2,4.709118,2.553267,3.271460,1.535945
460,Abraham,Chelsea,74,28.958333,139,134.780206,4.8,4.654280,3.103713,3.226058,1.710948
313,Ings,Southampton,73,32.941176,168,148.426735,5.1,4.505812,4.468336,3.978403,1.667676
278,Pukki,Norwich City,64,32.195122,132,139.280103,4.1,4.326124,1.638308,2.302100,1.710051
338,Kane,Tottenham,110,24.000000,120,103.466735,5.0,4.311114,4.061949,4.034364,1.299850
211,Jesus,Manchester City,96,28.648649,106,116.900206,3.7,4.080479,3.155952,2.971678,1.316969
91,Wood,Burnley,61,26.829268,110,106.113368,4.1,3.955135,2.472029,3.529175,1.601387
147,Calvert-Lewin,Everton,64,31.315789,119,122.913368,3.8,3.924965,3.248325,4.215984,1.551479
68,King,Bournemouth,61,21.891892,81,82.093470,3.7,3.749949,3.665364,3.830238,1.518310
502,Maupay,Brighton,57,32.000000,112,119.566735,3.5,3.736460,2.440650,3.019419,1.565031
362,Deeney,Watford,62,22.285714,78,82.186735,3.5,3.687866,2.369983,2.925255,1.481083
410,Jota,Wolves,61,29.375000,94,108.040103,3.2,3.677961,2.278308,3.724120,1.489163
457,Haller,West Ham,68,26.944444,97,95.840103,3.6,3.556952,3.673690,4.557947,1.364029
67,Callum Wilson,Bournemouth,74,29.696970,98,102.540103,3.3,3.452881,2.254076,3.407036,1.269304
12,Lacazette,Arsenal,92,24.736842,94,85.066838,3.8,3.438872,3.845462,3.787983,1.133763
167,Iheanacho,Leicester City,57,15.789474,60,53.853470,3.8,3.410720,3.839967,3.169170,1.428593
468,Ayew,Crystal Palace,52,32.162162,119,109.326735,3.7,3.399235,2.669983,2.822452,1.490663
363,Deulofeu,Watford,61,28.387097,88,95.086838,3.1,3.349650,NaN,2.450047,1.356234
428,Wesley,Aston Villa,54,20.937500,67,67.733368,3.2,3.235027,NaN,NaN,1.392134
110,Giroud,Chelsea,66,12.857143,45,40.713368,3.5,3.166595,3.288325,3.615225,1.232596
90,Barnes,Burnley,61,19.062500,61,59.620000,3.2,3.127607,NaN,NaN,1.266331
303,McGoldrick,Sheffield Utd,54,24.500000,49,73.126735,2.0,2.984765,2.263317,1.999877,1.284438
13,Nketiah,Arsenal,44,10.000000,24,29.600000,2.4,2.960000,3.466667,3.614286,1.411125
315,Long,Southampton,46,21.923077,57,64.840103,2.6,2.957619,1.790202,2.561010,1.378997
501,McBurnie,Sheffield Utd,56,30.434783,70,85.700000,2.3,2.815857,2.666667,2.999000,1.189917
130,Wickham,Crystal Palace,43,6.000000,15,16.113368,2.5,2.685561,NaN,1.710968,1.295093
70,Mousset,Sheffield Utd,44,27.000000,81,71.853470,3.0,2.661240,2.581042,2.391544,1.268696
466,Joelinton,Newcastle Utd,55,32.727273,72,85.526735,2.2,2.613317,2.376650,2.238006,1.114322
92,Vydra,Burnley,52,14.166667,34,37.013368,2.4,2.612708,3.061658,3.337955,1.145748
504,Martinelli,Arsenal,43,13.928571,39,34.513368,2.8,2.477883,NaN,3.457175,1.194941
554,Gayle,Newcastle Utd,50,15.000000,36,36.826735,2.4,2.455116,4.453158,4.130446,1.097961
613,Samatta,Aston Villa,53,9.130435,21,22.400000,2.3,2.453333,1.906667,NaN,1.065660
451,Rodriguez,Burnley,57,30.800000,77,73.846735,2.5,2.397621,3.724966,3.664172,1.004253
129,Benteke,Crystal Palace,57,21.764706,37,51.613368,1.7,2.371425,2.341605,3.315993,0.993281
298,Sharp,Sheffield Utd,54,20.869565,48,47.613368,2.3,2.281474,2.983355,3.688899,0.981790

Below we compile a list sorting players based on a given metric (irrespective of position).

In [9]:
metric = 'adjusted points per game'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
191,Salah,Liverpool,126,28.873239,205,193.116808,7.1,6.688436,5.392535,5.369456,1.884253
618,Fernandes,Manchester Utd,89,8.988764,80,58.156926,8.9,6.469958,6.983216,7.000370,2.168735
215,De Bruyne,Manchester City,108,30.857143,216,194.715174,7.0,6.310214,6.892172,6.747453,1.920137
192,Mané,Liverpool,124,29.850746,200,177.513801,6.7,5.946712,5.699634,5.188991,1.688753
233,Rashford,Manchester Utd,91,25.932203,153,146.953573,5.9,5.666837,5.366839,5.356533,1.878538
214,Sterling,Manchester City,117,28.269231,147,158.291000,5.2,5.599410,5.565203,5.738716,1.637002
166,Vardy,Leicester City,97,30.000000,186,162.080206,6.2,5.402674,5.937950,4.989007,1.734694
182,Alexander-Arnold,Liverpool,78,33.275862,193,176.377267,5.8,5.300457,4.041179,4.493280,1.897868
342,Son,Tottenham,98,24.821429,139,124.687266,5.6,5.023372,4.542235,4.969071,1.604657
11,Aubameyang,Arsenal,109,30.877193,176,153.673470,5.7,4.976925,5.709019,5.399332,1.507467
409,Jiménez,Wolves,83,32.941176,168,163.840206,5.1,4.973721,3.823284,4.223472,1.726404
210,Agüero,Manchester City,117,24.000000,132,117.140206,5.5,4.880842,4.967317,4.281874,1.426927
239,Martial,Manchester Utd,83,27.000000,162,131.750038,6.0,4.879631,6.101347,5.545550,1.693745
431,Pulisic,Chelsea,72,20.000000,98,96.837794,4.9,4.841890,6.176452,6.228629,1.804466
103,Alonso,Chelsea,62,13.965517,81,66.590610,5.8,4.768216,3.283753,4.695172,1.914962
401,Doherty,Wolves,64,31.086957,143,147.630785,4.6,4.748962,5.012376,5.584971,1.877192
187,Firmino,Liverpool,94,32.619048,137,153.606941,4.2,4.709118,2.553267,3.271460,1.535945
217,Mahrez,Manchester City,86,27.777778,150,130.409881,5.4,4.694756,3.737749,4.238360,1.600898
460,Abraham,Chelsea,74,28.958333,139,134.780206,4.8,4.654280,3.103713,3.226058,1.710948
181,Robertson,Liverpool,70,30.816327,151,142.938640,4.9,4.638406,2.277191,3.137790,1.753153
105,Azpilicueta,Chelsea,60,30.810811,114,141.718861,3.7,4.599647,6.042975,5.275862,1.877798
340,Lloris,Tottenham,53,16.086957,74,73.347764,4.6,4.559456,5.028447,5.092690,1.980501
219,David Silva,Manchester City,73,22.826087,105,103.254959,4.6,4.523551,4.565755,4.386340,1.674241
313,Ings,Southampton,73,32.941176,168,148.426735,5.1,4.505812,4.468336,3.978403,1.667676
150,Richarlison,Everton,82,31.276596,147,138.833721,4.7,4.438901,3.230324,4.307586,1.550132
411,Patrício,Wolves,53,32.926829,135,144.224646,4.1,4.380156,3.735636,4.214820,1.902618
344,Alli,Tottenham,83,24.166667,116,105.664259,4.8,4.372314,2.072072,3.489037,1.517652
113,Willian,Chelsea,72,32.173913,148,139.496327,4.6,4.335697,8.182119,6.213671,1.615819
278,Pukki,Norwich City,64,32.195122,132,139.280103,4.1,4.326124,1.638308,2.302100,1.710051
297,Lundstram,Sheffield Utd,46,29.777778,134,128.615324,4.5,4.319171,2.552726,3.345190,2.013824
338,Kane,Tottenham,110,24.000000,120,103.466735,5.0,4.311114,4.061949,4.034364,1.299850
389,Antonio,West Ham,69,19.142857,67,81.385602,3.5,4.251487,6.628707,5.855884,1.618513
183,van Dijk,Liverpool,65,33.265306,163,138.602013,4.9,4.166564,3.825323,3.851604,1.634261
471,Henderson,Sheffield Utd,52,31.111111,140,129.077990,4.5,4.148935,4.200136,4.393053,1.819429
171,Maddison,Leicester City,74,31.250000,125,128.793940,4.0,4.121406,3.110589,3.098760,1.515059
168,Schmeichel,Leicester City,54,33.255814,143,137.054436,4.3,4.121217,5.467374,5.539427,1.773490
93,Pope,Burnley,50,33.111111,149,136.345638,4.5,4.117821,4.576530,4.612115,1.841546
211,Jesus,Manchester City,96,28.648649,106,116.900206,3.7,4.080479,3.155952,2.971678,1.316969
159,Pereira,Leicester City,62,27.954545,123,113.116439,4.4,4.046442,4.579843,4.315085,1.625090
626,Bowen,West Ham,64,7.948718,31,31.882186,3.9,4.010985,5.059721,NaN,1.585481

In [10]:
metric = 'form 10'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
618,Fernandes,Manchester Utd,89,8.988764,80,58.156926,8.9,6.469958,6.983216,7.000370,2.168735
215,De Bruyne,Manchester City,108,30.857143,216,194.715174,7.0,6.310214,6.892172,6.747453,1.920137
257,Lejeune,Newcastle Utd,43,6.000000,24,17.774597,4.0,2.962433,NaN,6.335912,1.428612
431,Pulisic,Chelsea,72,20.000000,98,96.837794,4.9,4.841890,6.176452,6.228629,1.804466
113,Willian,Chelsea,72,32.173913,148,139.496327,4.6,4.335697,8.182119,6.213671,1.615819
389,Antonio,West Ham,69,19.142857,67,81.385602,3.5,4.251487,6.628707,5.855884,1.618513
214,Sterling,Manchester City,117,28.269231,147,158.291000,5.2,5.599410,5.565203,5.738716,1.637002
401,Doherty,Wolves,64,31.086957,143,147.630785,4.6,4.748962,5.012376,5.584971,1.877192
239,Martial,Manchester Utd,83,27.000000,162,131.750038,6.0,4.879631,6.101347,5.545550,1.693745
168,Schmeichel,Leicester City,54,33.255814,143,137.054436,4.3,4.121217,5.467374,5.539427,1.773490
11,Aubameyang,Arsenal,109,30.877193,176,153.673470,5.7,4.976925,5.709019,5.399332,1.507467
191,Salah,Liverpool,126,28.873239,205,193.116808,7.1,6.688436,5.392535,5.369456,1.884253
233,Rashford,Manchester Utd,91,25.932203,153,146.953573,5.9,5.666837,5.366839,5.356533,1.878538
105,Azpilicueta,Chelsea,60,30.810811,114,141.718861,3.7,4.599647,6.042975,5.275862,1.877798
192,Mané,Liverpool,124,29.850746,200,177.513801,6.7,5.946712,5.699634,5.188991,1.688753
340,Lloris,Tottenham,53,16.086957,74,73.347764,4.6,4.559456,5.028447,5.092690,1.980501
166,Vardy,Leicester City,97,30.000000,186,162.080206,6.2,5.402674,5.937950,4.989007,1.734694
342,Son,Tottenham,98,24.821429,139,124.687266,5.6,5.023372,4.542235,4.969071,1.604657
269,Shelvey,Newcastle Utd,49,20.909091,92,79.208661,4.4,3.788240,5.812572,4.955977,1.711353
122,Wan-Bissaka,Manchester Utd,55,30.277778,109,121.138608,3.6,4.000908,5.122194,4.938767,1.705993
500,Saint-Maximin,Newcastle Utd,55,22.105263,84,80.125020,3.8,3.624703,5.411853,4.903788,1.545579
402,Jonny,Wolves,54,29.705882,101,109.458242,3.4,3.684733,4.936471,4.893127,1.585657
103,Alonso,Chelsea,62,13.965517,81,66.590610,5.8,4.768216,3.283753,4.695172,1.914962
318,McCarthy,Southampton,45,22.820513,89,86.379639,3.9,3.785175,4.857483,4.692896,1.784349
93,Pope,Burnley,50,33.111111,149,136.345638,4.5,4.117821,4.576530,4.612115,1.841546
42,Dunk,Brighton,48,31.081081,115,116.610857,3.7,3.751828,4.801510,4.582227,1.712467
457,Haller,West Ham,68,26.944444,97,95.840103,3.6,3.556952,3.673690,4.557947,1.364029
220,Foden,Manchester City,54,18.000000,54,48.014631,3.0,2.667480,4.826759,4.523562,1.147900
182,Alexander-Arnold,Liverpool,78,33.275862,193,176.377267,5.8,5.300457,4.041179,4.493280,1.897868
471,Henderson,Sheffield Utd,52,31.111111,140,129.077990,4.5,4.148935,4.200136,4.393053,1.819429
219,David Silva,Manchester City,73,22.826087,105,103.254959,4.6,4.523551,4.565755,4.386340,1.674241
519,Krafth,Newcastle Utd,43,13.181818,29,32.701498,2.2,2.480803,4.570564,4.350881,1.196350
162,Evans,Leicester City,53,32.894737,125,123.640849,3.8,3.758682,4.808469,4.334850,1.632667
159,Pereira,Leicester City,62,27.954545,123,113.116439,4.4,4.046442,4.579843,4.315085,1.625090
150,Richarlison,Everton,82,31.276596,147,138.833721,4.7,4.438901,3.230324,4.307586,1.550132
114,Pedro,Chelsea,68,10.000000,31,38.505530,3.1,3.850553,3.393473,4.306136,1.476620
210,Agüero,Manchester City,117,24.000000,132,117.140206,5.5,4.880842,4.967317,4.281874,1.426927
117,Barkley,Chelsea,56,17.187500,55,57.889766,3.2,3.368132,4.392609,4.280285,1.423295
217,Mahrez,Manchester City,86,27.777778,150,130.409881,5.4,4.694756,3.737749,4.238360,1.600898
14,Leno,Arsenal,48,30.000000,114,114.708370,3.8,3.823612,4.693690,4.227914,1.745232

In [11]:
metric = 'valuePoints metric'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
618,Fernandes,Manchester Utd,89,8.988764,80,58.156926,8.9,6.469958,6.983216,7.000370,2.168735
297,Lundstram,Sheffield Utd,46,29.777778,134,128.615324,4.5,4.319171,2.552726,3.345190,2.013824
340,Lloris,Tottenham,53,16.086957,74,73.347764,4.6,4.559456,5.028447,5.092690,1.980501
215,De Bruyne,Manchester City,108,30.857143,216,194.715174,7.0,6.310214,6.892172,6.747453,1.920137
103,Alonso,Chelsea,62,13.965517,81,66.590610,5.8,4.768216,3.283753,4.695172,1.914962
411,Patrício,Wolves,53,32.926829,135,144.224646,4.1,4.380156,3.735636,4.214820,1.902618
182,Alexander-Arnold,Liverpool,78,33.275862,193,176.377267,5.8,5.300457,4.041179,4.493280,1.897868
191,Salah,Liverpool,126,28.873239,205,193.116808,7.1,6.688436,5.392535,5.369456,1.884253
233,Rashford,Manchester Utd,91,25.932203,153,146.953573,5.9,5.666837,5.366839,5.356533,1.878538
105,Azpilicueta,Chelsea,60,30.810811,114,141.718861,3.7,4.599647,6.042975,5.275862,1.877798
401,Doherty,Wolves,64,31.086957,143,147.630785,4.6,4.748962,5.012376,5.584971,1.877192
341,Gazzaniga,Tottenham,42,18.125000,58,68.492160,3.2,3.778878,NaN,1.653034,1.843904
93,Pope,Burnley,50,33.111111,149,136.345638,4.5,4.117821,4.576530,4.612115,1.841546
471,Henderson,Sheffield Utd,52,31.111111,140,129.077990,4.5,4.148935,4.200136,4.393053,1.819429
405,Boly,Wolves,48,17.021277,80,67.327448,4.7,3.955488,4.076499,3.965854,1.805425
431,Pulisic,Chelsea,72,20.000000,98,96.837794,4.9,4.841890,6.176452,6.228629,1.804466
318,McCarthy,Southampton,45,22.820513,89,86.379639,3.9,3.785175,4.857483,4.692896,1.784349
168,Schmeichel,Leicester City,54,33.255814,143,137.054436,4.3,4.121217,5.467374,5.539427,1.773490
131,Guaita,Crystal Palace,49,30.000000,126,117.345399,4.2,3.911513,3.231023,4.118845,1.767042
181,Robertson,Liverpool,70,30.816327,151,142.938640,4.9,4.638406,2.277191,3.137790,1.753153
208,Otamendi,Manchester City,48,21.764706,74,83.427375,3.4,3.833150,2.075722,2.726193,1.749585
185,Matip,Liverpool,52,9.069767,39,36.153254,4.3,3.986128,4.391973,3.824326,1.748033
14,Leno,Arsenal,48,30.000000,114,114.708370,3.8,3.823612,4.693690,4.227914,1.745232
440,Angeliño,Manchester City,46,6.111111,11,22.867301,1.8,3.741922,NaN,NaN,1.744680
359,Janmaat,Watford,40,8.000000,36,27.810390,4.5,3.476299,NaN,NaN,1.738149
166,Vardy,Leicester City,97,30.000000,186,162.080206,6.2,5.402674,5.937950,4.989007,1.734694
409,Jiménez,Wolves,83,32.941176,168,163.840206,5.1,4.973721,3.823284,4.223472,1.726404
603,Reina,Aston Villa,42,6.896552,20,24.344154,2.9,3.529902,1.671783,2.878137,1.722416
42,Dunk,Brighton,48,31.081081,115,116.610857,3.7,3.751828,4.801510,4.582227,1.712467
269,Shelvey,Newcastle Utd,49,20.909091,92,79.208661,4.4,3.788240,5.812572,4.955977,1.711353
460,Abraham,Chelsea,74,28.958333,139,134.780206,4.8,4.654280,3.103713,3.226058,1.710948
278,Pukki,Norwich City,64,32.195122,132,139.280103,4.1,4.326124,1.638308,2.302100,1.710051
47,Ryan,Brighton,47,33.333333,120,123.359940,3.6,3.700798,4.204595,3.846012,1.707051
122,Wan-Bissaka,Manchester Utd,55,30.277778,109,121.138608,3.6,4.000908,5.122194,4.938767,1.705993
235,de Gea,Manchester Utd,53,32.777778,118,128.323360,3.6,3.914950,3.908139,4.044068,1.700546
529,Tomori,Chelsea,42,15.000000,48,52.272766,3.2,3.484851,NaN,1.966214,1.700433
239,Martial,Manchester Utd,83,27.000000,162,131.750038,6.0,4.879631,6.101347,5.545550,1.693745
192,Mané,Liverpool,124,29.850746,200,177.513801,6.7,5.946712,5.699634,5.188991,1.688753
164,Söyüncü,Leicester City,49,31.842105,121,118.843830,3.8,3.732286,4.438909,4.181679,1.686075
219,David Silva,Manchester City,73,22.826087,105,103.254959,4.6,4.523551,4.565755,4.386340,1.674241