# Player evaluation

Here we compare players based on their adjusted points. Also, we calculate some useful metrics using the adjusted points to further evaluate player performance in FPL.

In [1]:
# recent gameweek
gameweek = 26

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch FPL data
filepath = '../data/data_week' + str(gameweek) + '.csv'
df = pd.read_csv(filepath, index_col=0)#, encoding='latin-1')

# fetch team data
filepath = '../data/fbref/team_stats_week' + str(gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col=0)#, encoding='latin-1')

# fetch player stats data
filepath = '../data/fbref/player_stats_week' + str(gameweek) + '.csv'
playerStats = pd.read_csv(filepath, index_col=0, skiprows=1)#, encoding='latin-1')

## Value and value points

Here we calculate two interesting metrics: 'value' and 'value points'. 

Value is simply adjusted points per game divided by the cost of the player. Essentially, this measures how many 'points per pound(/euro/whatever)' has the player gained on an average game week. 

The value points is calculated as the geometric mean of a players adjusted points per game and value. Essentially, in FPL we want to gain the maximum possible amount of points. However, we are restrained by a limited budget, so that in practice we cannot just pick all the best players. Then, we would like to have a squad of players that give the most points given our budget. Thus, we would like to pick players that have high value ('bang for buck'). However, often the players with highest value are very cheap players who somewhat overperform relative to their price. Picking a squad full of these players might leave a part of our budget unused. Calculating the geometric mean of adjusted points and value allows us to weigh both aspects equally, i.e. we want players that both gain a lot of points but also have good value. For example, this metric values equally two players, where one has twice the points per game of the other who in turn has twice the value of the other.

In [4]:
# value = expected points / cost
df['value'] = df['adjusted points per game'] / (df['now_cost'] / 10.0)
# geometric mean of 'adjusted points per game' and 'value'
df['valuePoints metric'] = np.sqrt(df['adjusted points per game'] * df['value'])

In [5]:
# assign proper team names for each player
team_names = np.sort(teamStats['Squad'])
df['team_name'] = team_names[df['team']-1]

In [6]:
# save data
filepath = '../data/data_week' + str(gameweek) + str('.csv')
df.to_csv(filepath)

In [7]:
goalkeepers = df['element_type'] == 1
defenders = df['element_type'] == 2
midfielders = df['element_type'] == 3
forwards = df['element_type'] == 4

minGames = df['games played'] >= 3

## Player evaluation

Below we compile lists for each position sorting players based on a given metric.

In [8]:
metric = 'valuePoints metric'
#metric = 'adjusted points per game'
#metric = 'form 5'

numberToShow = 40

print('GOALKEEPERS')
display(df[goalkeepers & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('DEFENDERS')
display(df[defenders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('MIDFIELDERS')
display(df[midfielders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('FORWARDS')
display(df[forwards & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

GOALKEEPERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
603,Reina,Aston Villa,45,4.000000,16,18.190494,4.0,4.547624,5.864714,5.500076,2.143770
411,Patrício,Wolves,51,25.897436,101,115.550797,3.9,4.461862,5.541906,4.880387,1.975746
341,Gazzaniga,Tottenham,43,16.764706,57,66.928413,3.4,3.992221,8.251391,5.114037,1.925220
340,Lloris,Tottenham,53,10.000000,42,43.978352,4.2,4.397835,5.706884,5.717816,1.910298
471,Henderson,Sheffield Utd,51,25.111111,113,104.732037,4.5,4.170745,5.824877,5.232335,1.846837
93,Pope,Burnley,47,26.097561,107,103.289031,4.1,3.957804,5.181989,4.919760,1.825599
494,Ramsdale,Bournemouth,46,24.722222,89,92.355396,3.6,3.735724,3.550591,3.575423,1.741790
47,Ryan,Brighton,48,26.000000,91,97.144051,3.5,3.736310,3.308505,3.469520,1.705384
14,Leno,Arsenal,50,25.675676,95,95.843786,3.7,3.732863,3.245389,3.618090,1.669387
131,Guaita,Crystal Palace,51,24.054054,89,89.751983,3.7,3.731262,2.741954,3.293898,1.652231
235,de Gea,Manchester Utd,54,25.757576,85,98.757231,3.3,3.834104,3.126656,3.188425,1.649936
189,Alisson,Liverpool,61,18.125000,87,73.521237,4.8,4.056344,5.368511,5.140849,1.642366
280,Krul,Norwich City,45,23.939394,79,82.482411,3.3,3.445468,4.001591,3.336271,1.624209
526,Adrián,Liverpool,40,10.000000,25,32.233468,2.5,3.223347,NaN,NaN,1.611673
366,Foster,Watford,49,25.897436,101,91.334478,3.9,3.526777,3.236535,3.650845,1.593235
388,Fabianski,West Ham,49,12.926829,53,45.130312,4.1,3.491213,2.370129,2.959121,1.577169
168,Schmeichel,Leicester City,53,26.052632,99,94.508417,3.8,3.627596,3.372767,3.197226,1.575727
213,Bravo,Manchester City,47,3.928571,11,13.339995,2.8,3.395635,NaN,3.390345,1.566290
262,Dubravka,Newcastle Utd,50,26.315789,100,91.830729,3.8,3.489568,3.175981,3.511573,1.560582
318,McCarthy,Southampton,44,16.206897,47,51.677140,2.9,3.188589,2.681182,3.242390,1.520100
319,Gunn,Southampton,43,10.000000,29,31.290150,2.9,3.129015,NaN,NaN,1.508945
553,Martin,West Ham,41,5.000000,20,15.144743,4.0,3.028949,2.676469,2.427329,1.495891
111,Kepa,Chelsea,55,24.230769,63,79.911864,2.6,3.297950,3.891023,3.949856,1.406251
148,Pickford,Everton,53,26.000000,78,83.796499,3.0,3.222942,2.958248,3.183884,1.399957
212,Ederson,Manchester City,60,22.812500,73,77.815196,3.2,3.411077,3.810003,3.270381,1.392566
450,Roberto,West Ham,44,8.181818,18,23.145944,2.2,2.828949,NaN,1.476035,1.348648
94,Heaton,Aston Villa,44,19.666667,59,53.769930,3.0,2.734064,NaN,2.984948,1.303414
27,Nyland,Aston Villa,43,3.000000,3,4.642871,1.0,1.547624,0.518398,0.986734,0.746330

DEFENDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
297,Lundstram,Sheffield Utd,50,25.000000,115,112.620353,4.6,4.504814,2.827409,3.058741,2.014614
182,Alexander-Arnold,Liverpool,77,25.932203,153,144.130662,5.9,5.557980,5.388696,5.343795,2.002957
181,Robertson,Liverpool,70,25.882353,132,129.891261,5.1,5.018526,5.231315,5.054216,1.896825
208,Otamendi,Manchester City,50,16.842105,64,71.290649,3.8,4.232882,5.110846,4.464545,1.893003
185,Matip,Liverpool,52,6.956522,32,29.797195,4.6,4.283347,NaN,NaN,1.878372
105,Azpilicueta,Chelsea,58,23.939394,79,105.499730,3.3,4.406951,4.612068,5.708263,1.829887
405,Boly,Wolves,47,10.000000,46,39.496528,4.6,3.949653,3.557037,3.556140,1.821839
103,Alonso,Chelsea,60,7.966102,47,35.066866,5.9,4.402011,NaN,6.851449,1.797113
440,Angeliño,Manchester City,47,6.111111,11,23.372791,1.8,3.824638,NaN,NaN,1.764174
401,Doherty,Wolves,61,24.054054,89,104.538479,3.7,4.345982,3.851835,4.095609,1.759637
529,Tomori,Chelsea,44,13.823529,47,50.258029,3.4,3.635687,NaN,3.447766,1.733246
359,Janmaat,Watford,40,8.000000,36,27.424594,4.5,3.428074,NaN,NaN,1.714037
183,van Dijk,Liverpool,65,26.078431,133,113.026495,5.1,4.334099,5.105847,4.878898,1.699973
478,Holgate,Everton,45,18.928571,53,68.234814,2.8,3.604858,4.126752,4.218300,1.699346
506,James,Chelsea,50,14.137931,41,53.158126,2.9,3.759965,3.757462,4.171376,1.681507
293,O'Connell,Sheffield Utd,47,25.882353,88,92.654092,3.4,3.579817,3.341160,3.429011,1.651247
160,Maguire,Manchester Utd,52,25.666667,77,96.323970,3.0,3.752882,4.103907,3.920391,1.645748
122,Wan-Bissaka,Manchester Utd,53,23.333333,70,88.324763,3.0,3.785347,5.383925,4.780487,1.644250
291,Stevens,Sheffield Utd,51,26.216216,97,97.063817,3.7,3.702434,4.027326,3.812952,1.639465
518,Cancelo,Manchester City,52,10.000000,25,37.338168,2.5,3.733817,3.104524,3.381085,1.637387
162,Evans,Leicester City,52,26.052632,99,95.929570,3.8,3.682145,4.219043,3.328635,1.614727
164,Söyüncü,Leicester City,50,25.135135,93,90.530491,3.7,3.601751,3.335147,2.887159,1.610752
42,Dunk,Brighton,48,23.823529,81,83.787253,3.4,3.516996,3.417913,3.894272,1.605282
141,Digne,Everton,58,25.151515,83,96.777004,3.3,3.847760,5.028707,5.043992,1.597696
159,Pereira,Leicester City,63,25.111111,113,100.112566,4.5,3.986784,4.727939,3.627536,1.588373
204,Mendy,Manchester City,55,12.000000,42,44.686955,3.5,3.723913,4.570574,4.200280,1.587882
295,Egan,Sheffield Utd,46,25.294118,86,86.050830,3.4,3.402010,4.381176,3.913704,1.586195
163,Fuchs,Leicester City,43,7.096774,22,23.319497,3.1,3.285929,2.247344,3.504946,1.584616
186,Lovren,Liverpool,53,8.000000,16,28.897351,2.0,3.612169,NaN,NaN,1.569026
59,Aké,Bournemouth,48,20.967742,65,72.068270,3.1,3.437102,4.162162,4.018527,1.568815
203,Walker,Manchester City,57,19.705882,67,73.522838,3.4,3.731010,4.281215,4.052963,1.562748
511,Sidibé,Everton,53,18.235294,62,64.940305,3.4,3.561243,3.120841,3.378733,1.546905
128,Kelly,Crystal Palace,43,18.823529,64,60.380271,3.4,3.207702,2.002543,2.629405,1.546891
161,Chilwell,Leicester City,56,20.930233,90,76.563017,4.3,3.658011,3.301549,2.678362,1.545792
6,Monreal,Arsenal,50,3.030303,10,10.432121,3.3,3.442600,NaN,NaN,1.539578
336,Aurier,Tottenham,50,21.111111,76,72.628871,3.6,3.440315,3.052433,3.085367,1.538556
407,Saïss,Wolves,44,22.083333,53,70.283720,2.4,3.182659,3.996860,3.694686,1.517273
184,Gomez,Liverpool,53,16.976744,73,59.161469,4.3,3.484854,4.297367,4.009845,1.513724
294,Baldock,Sheffield Utd,51,26.097561,107,88.843113,4.1,3.404269,2.512784,2.593294,1.507436
549,Williams,Manchester Utd,41,10.000000,32,30.269266,3.2,3.026927,2.989852,3.486130,1.494893

MIDFIELDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
191,Salah,Liverpool,128,23.013699,168,162.287922,7.3,7.051797,7.683430,7.778164,1.971037
215,De Bruyne,Manchester City,108,25.000000,175,156.276740,7.0,6.251070,6.943261,6.144492,1.902140
431,Pulisic,Chelsea,69,15.909091,70,72.990496,4.4,4.587974,NaN,2.665095,1.746612
192,Mané,Liverpool,122,23.030303,152,139.255400,6.6,6.046616,2.571443,4.236628,1.731141
29,Grealish,Aston Villa,67,23.958333,115,104.674075,4.8,4.369005,5.057142,4.733735,1.687894
417,Traoré,Wolves,58,24.761905,104,100.389151,4.2,4.054177,3.584061,3.986890,1.683405
287,Cantwell,Norwich City,49,26.111111,94,94.933604,3.6,3.635755,2.444315,3.176994,1.642467
301,Fleck,Sheffield Utd,51,22.820513,89,84.441891,3.9,3.700263,3.000201,3.648562,1.638504
219,David Silva,Manchester City,74,19.148936,90,85.320911,4.7,4.455648,4.546005,4.061553,1.637929
239,Martial,Manchester Utd,79,20.000000,104,91.981076,5.2,4.599054,3.568234,3.831860,1.636270
265,Pérez,Leicester City,62,22.765957,107,92.525175,4.7,4.064190,4.605587,5.043698,1.632218
214,Sterling,Manchester City,117,23.200000,116,128.701291,5.0,5.547469,4.819243,4.496669,1.621818
342,Son,Tottenham,100,21.034483,122,107.862429,5.8,5.127886,6.934087,5.706116,1.621580
463,Mount,Chelsea,61,25.897436,101,103.615579,3.9,4.000998,4.287069,3.813807,1.619957
344,Alli,Tottenham,84,18.846154,98,88.143646,5.2,4.677010,5.208045,4.795473,1.613722
171,Maddison,Leicester City,75,24.888889,112,109.234827,4.5,4.388899,2.802992,3.011359,1.602599
172,Barnes,Leicester City,60,23.684211,90,91.798679,3.8,3.875944,5.233938,4.790340,1.582348
269,Shelvey,Newcastle Utd,49,14.883721,64,52.003973,4.3,3.494017,2.740770,2.761262,1.578436
150,Richarlison,Everton,82,24.117647,123,107.662706,5.1,4.464063,6.781432,5.981568,1.558919
601,Duda,Norwich City,49,4.062500,13,13.937115,3.2,3.430674,3.199215,3.185039,1.549821
217,Mahrez,Manchester City,86,21.132075,112,95.721017,5.3,4.529655,3.781908,4.415265,1.544600
283,Buendía,Norwich City,60,25.000000,75,91.560427,3.0,3.662417,2.236890,3.721371,1.495176
516,Mooy,Brighton,48,19.000000,57,61.186894,3.0,3.220363,4.270321,4.071870,1.469888
371,Cleverley,Watford,48,8.888889,24,28.565005,2.7,3.213563,NaN,NaN,1.466784
113,Willian,Chelsea,71,25.128205,98,97.642627,3.9,3.885778,2.481129,3.214146,1.458307
118,Jorginho,Chelsea,49,24.375000,78,78.474625,3.2,3.219472,3.678558,3.768745,1.454409
421,Trossard,Brighton,58,19.714286,69,68.808762,3.5,3.490300,3.699295,3.483873,1.449268
30,El Ghazi,Aston Villa,55,23.333333,77,79.267355,3.3,3.397172,3.211749,3.172554,1.448559
415,Moutinho,Wolves,54,26.060606,86,87.572461,3.3,3.360339,2.362808,2.974741,1.446060
196,Keita,Liverpool,58,8.000000,24,27.857270,3.0,3.482159,3.732933,3.404604,1.445888
31,McGinn,Aston Villa,54,17.941176,61,60.077407,3.4,3.348577,NaN,0.185830,1.440998
321,Ward-Prowse,Southampton,57,25.937500,83,88.844250,3.2,3.425320,2.064669,2.347909,1.434709
320,Redmond,Southampton,62,23.000000,69,81.227413,3.0,3.531627,3.879294,3.951979,1.418335
248,McTominay,Manchester Utd,49,17.187500,55,53.819809,3.2,3.131334,NaN,2.440558,1.414593
101,Westwood,Burnley,54,22.702703,84,74.494191,3.7,3.281292,4.168605,3.892633,1.412043
198,Henderson,Liverpool,55,24.750000,99,81.878593,4.0,3.308226,4.987232,4.334569,1.410632
393,Snodgrass,West Ham,52,21.052632,80,67.052564,3.8,3.184997,3.954058,3.602545,1.396713
246,Pereira,Manchester Utd,49,23.200000,58,70.933771,2.5,3.057490,2.851181,3.181241,1.381233
368,Doucouré,Watford,57,24.705882,84,81.304770,3.4,3.290907,3.862975,4.090273,1.378409
243,James,Manchester Utd,59,25.151515,83,84.180668,3.3,3.346942,2.659843,2.666486,1.377914

FORWARDS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
233,Rashford,Manchester Utd,89,21.967213,134,125.692885,6.1,5.721840,8.443553,5.228147,1.917965
278,Pukki,Norwich City,65,25.208333,121,123.171731,4.8,4.886151,5.387560,5.223087,1.916506
409,Jiménez,Wolves,78,26.078431,133,131.623462,5.1,5.047215,4.534930,4.825163,1.807193
460,Abraham,Chelsea,77,24.074074,130,120.252885,5.4,4.995120,4.096681,3.962885,1.800116
166,Vardy,Leicester City,97,24.062500,154,131.743462,6.4,5.475053,2.555138,3.102193,1.757934
313,Ings,Southampton,71,25.961538,135,120.910577,5.2,4.657296,3.184266,4.194475,1.747852
187,Firmino,Liverpool,97,25.833333,124,131.684615,4.8,5.097469,6.279391,6.031155,1.636699
362,Deeney,Watford,63,14.864865,55,60.470577,3.7,4.068021,4.046070,4.389703,1.620738
502,Maupay,Brighton,58,25.142857,88,95.741154,3.5,3.807887,3.067335,2.869537,1.581139
468,Ayew,Crystal Palace,50,25.000000,90,88.110577,3.6,3.524423,2.350933,2.850044,1.576170
91,Wood,Burnley,63,24.146341,99,93.910577,4.1,3.889226,3.895300,3.962637,1.549505
147,Calvert-Lewin,Everton,62,24.000000,96,92.410577,4.0,3.850441,5.763526,4.914922,1.546374
167,Iheanacho,Leicester City,57,9.090909,40,33.142308,4.4,3.645654,2.031206,2.358908,1.526996
210,Agüero,Manchester City,121,19.838710,123,104.182308,6.2,5.251466,5.022605,5.091143,1.509690
11,Aubameyang,Arsenal,108,24.035088,137,117.851731,5.7,4.903320,4.400067,3.811992,1.492033
68,King,Bournemouth,61,16.857143,59,60.951731,3.5,3.615781,1.026240,1.562598,1.463987
363,Deulofeu,Watford,61,25.757576,85,90.972885,3.3,3.531888,3.423502,3.836788,1.430020
211,Jesus,Manchester City,95,22.195122,91,97.672885,4.1,4.400646,3.971867,4.663288,1.427758
303,McGoldrick,Sheffield Utd,54,19.047619,40,61.721154,2.1,3.240361,1.417421,2.370666,1.394429
428,Wesley,Aston Villa,55,20.937500,67,67.730577,3.2,3.234893,NaN,2.421452,1.379363
315,Long,Southampton,46,16.000000,40,47.031731,2.5,2.939483,3.287672,3.493100,1.370541
410,Jota,Wolves,61,22.307692,58,75.210577,2.6,3.371509,2.874813,2.817025,1.365084
338,Kane,Tottenham,108,20.000000,104,87.461154,5.2,4.373058,NaN,4.007189,1.330679
130,Wickham,Crystal Palace,44,6.000000,15,16.110577,2.5,2.685096,1.418087,3.034019,1.280069
67,Callum Wilson,Bournemouth,74,24.857143,87,86.331731,3.5,3.473116,4.992799,3.820341,1.276743
457,Haller,West Ham,69,24.285714,85,81.231731,3.5,3.344836,2.871106,3.004991,1.273357
70,Mousset,Sheffield Utd,46,22.903226,71,62.242308,3.1,2.717622,1.736324,1.816866,1.267098
90,Barnes,Burnley,61,19.062500,61,59.620000,3.2,3.127607,NaN,1.578571,1.266331
504,Martinelli,Arsenal,46,13.928571,39,34.910577,2.8,2.506400,4.412026,4.077676,1.168615
466,Joelinton,Newcastle Utd,55,26.363636,58,71.221154,2.2,2.701492,2.681866,2.809334,1.151920
534,Connolly,Brighton,43,16.000000,40,37.621154,2.5,2.351322,1.516174,1.702065,1.133908
12,Lacazette,Arsenal,93,19.189189,71,64.142308,3.7,3.342627,3.531198,3.257389,1.096091
501,McBurnie,Sheffield Utd,57,24.545455,54,64.000000,2.2,2.607407,3.700000,3.990741,1.092123
13,Nketiah,Arsenal,43,3.076923,4,6.300000,1.3,2.047500,NaN,NaN,0.987392
69,Solanke,Bournemouth,52,21.666667,39,45.821154,1.8,2.114822,2.119707,2.062661,0.927411
146,Tosun,Crystal Palace,57,7.857143,22,17.200000,2.8,2.189091,2.916667,2.179167,0.916909
364,Gray,Watford,55,19.444444,35,41.010577,1.8,2.109115,1.491180,1.583933,0.899330
188,Origi,Liverpool,52,20.000000,50,39.431731,2.5,1.971587,2.560491,1.986279,0.864598
92,Vydra,Burnley,53,6.923077,18,13.710577,2.6,1.980417,5.342074,4.258733,0.860238
451,Rodriguez,Burnley,57,24.761905,52,50.800000,2.1,2.051538,3.000000,2.929167,0.859295

Below we compile a list sorting players based on a given metric (irrespective of position).

In [9]:
metric = 'adjusted points per game'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
191,Salah,Liverpool,128,23.013699,168,162.287922,7.3,7.051797,7.683430,7.778164,1.971037
215,De Bruyne,Manchester City,108,25.000000,175,156.276740,7.0,6.251070,6.943261,6.144492,1.902140
192,Mané,Liverpool,122,23.030303,152,139.255400,6.6,6.046616,2.571443,4.236628,1.731141
233,Rashford,Manchester Utd,89,21.967213,134,125.692885,6.1,5.721840,8.443553,5.228147,1.917965
182,Alexander-Arnold,Liverpool,77,25.932203,153,144.130662,5.9,5.557980,5.388696,5.343795,2.002957
214,Sterling,Manchester City,117,23.200000,116,128.701291,5.0,5.547469,4.819243,4.496669,1.621818
166,Vardy,Leicester City,97,24.062500,154,131.743462,6.4,5.475053,2.555138,3.102193,1.757934
210,Agüero,Manchester City,121,19.838710,123,104.182308,6.2,5.251466,5.022605,5.091143,1.509690
342,Son,Tottenham,100,21.034483,122,107.862429,5.8,5.127886,6.934087,5.706116,1.621580
187,Firmino,Liverpool,97,25.833333,124,131.684615,4.8,5.097469,6.279391,6.031155,1.636699
409,Jiménez,Wolves,78,26.078431,133,131.623462,5.1,5.047215,4.534930,4.825163,1.807193
181,Robertson,Liverpool,70,25.882353,132,129.891261,5.1,5.018526,5.231315,5.054216,1.896825
460,Abraham,Chelsea,77,24.074074,130,120.252885,5.4,4.995120,4.096681,3.962885,1.800116
11,Aubameyang,Arsenal,108,24.035088,137,117.851731,5.7,4.903320,4.400067,3.811992,1.492033
278,Pukki,Norwich City,65,25.208333,121,123.171731,4.8,4.886151,5.387560,5.223087,1.916506
344,Alli,Tottenham,84,18.846154,98,88.143646,5.2,4.677010,5.208045,4.795473,1.613722
313,Ings,Southampton,71,25.961538,135,120.910577,5.2,4.657296,3.184266,4.194475,1.747852
239,Martial,Manchester Utd,79,20.000000,104,91.981076,5.2,4.599054,3.568234,3.831860,1.636270
431,Pulisic,Chelsea,69,15.909091,70,72.990496,4.4,4.587974,NaN,2.665095,1.746612
603,Reina,Aston Villa,45,4.000000,16,18.190494,4.0,4.547624,5.864714,5.500076,2.143770
217,Mahrez,Manchester City,86,21.132075,112,95.721017,5.3,4.529655,3.781908,4.415265,1.544600
297,Lundstram,Sheffield Utd,50,25.000000,115,112.620353,4.6,4.504814,2.827409,3.058741,2.014614
150,Richarlison,Everton,82,24.117647,123,107.662706,5.1,4.464063,6.781432,5.981568,1.558919
411,Patrício,Wolves,51,25.897436,101,115.550797,3.9,4.461862,5.541906,4.880387,1.975746
219,David Silva,Manchester City,74,19.148936,90,85.320911,4.7,4.455648,4.546005,4.061553,1.637929
105,Azpilicueta,Chelsea,58,23.939394,79,105.499730,3.3,4.406951,4.612068,5.708263,1.829887
103,Alonso,Chelsea,60,7.966102,47,35.066866,5.9,4.402011,NaN,6.851449,1.797113
211,Jesus,Manchester City,95,22.195122,91,97.672885,4.1,4.400646,3.971867,4.663288,1.427758
340,Lloris,Tottenham,53,10.000000,42,43.978352,4.2,4.397835,5.706884,5.717816,1.910298
171,Maddison,Leicester City,75,24.888889,112,109.234827,4.5,4.388899,2.802992,3.011359,1.602599
338,Kane,Tottenham,108,20.000000,104,87.461154,5.2,4.373058,NaN,4.007189,1.330679
29,Grealish,Aston Villa,67,23.958333,115,104.674075,4.8,4.369005,5.057142,4.733735,1.687894
401,Doherty,Wolves,61,24.054054,89,104.538479,3.7,4.345982,3.851835,4.095609,1.759637
183,van Dijk,Liverpool,65,26.078431,133,113.026495,5.1,4.334099,5.105847,4.878898,1.699973
185,Matip,Liverpool,52,6.956522,32,29.797195,4.6,4.283347,NaN,NaN,1.878372
208,Otamendi,Manchester City,50,16.842105,64,71.290649,3.8,4.232882,5.110846,4.464545,1.893003
471,Henderson,Sheffield Utd,51,25.111111,113,104.732037,4.5,4.170745,5.824877,5.232335,1.846837
362,Deeney,Watford,63,14.864865,55,60.470577,3.7,4.068021,4.046070,4.389703,1.620738
265,Pérez,Leicester City,62,22.765957,107,92.525175,4.7,4.064190,4.605587,5.043698,1.632218
189,Alisson,Liverpool,61,18.125000,87,73.521237,4.8,4.056344,5.368511,5.140849,1.642366

In [10]:
metric = 'form 10'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
191,Salah,Liverpool,128,23.013699,168,162.287922,7.3,7.051797,7.683430,7.778164,1.971037
103,Alonso,Chelsea,60,7.966102,47,35.066866,5.9,4.402011,NaN,6.851449,1.797113
215,De Bruyne,Manchester City,108,25.000000,175,156.276740,7.0,6.251070,6.943261,6.144492,1.902140
187,Firmino,Liverpool,97,25.833333,124,131.684615,4.8,5.097469,6.279391,6.031155,1.636699
150,Richarlison,Everton,82,24.117647,123,107.662706,5.1,4.464063,6.781432,5.981568,1.558919
340,Lloris,Tottenham,53,10.000000,42,43.978352,4.2,4.397835,5.706884,5.717816,1.910298
105,Azpilicueta,Chelsea,58,23.939394,79,105.499730,3.3,4.406951,4.612068,5.708263,1.829887
342,Son,Tottenham,100,21.034483,122,107.862429,5.8,5.127886,6.934087,5.706116,1.621580
447,Pieters,Burnley,42,15.000000,42,44.855800,2.8,2.990387,NaN,5.522582,1.459159
603,Reina,Aston Villa,45,4.000000,16,18.190494,4.0,4.547624,5.864714,5.500076,2.143770
182,Alexander-Arnold,Liverpool,77,25.932203,153,144.130662,5.9,5.557980,5.388696,5.343795,2.002957
471,Henderson,Sheffield Utd,51,25.111111,113,104.732037,4.5,4.170745,5.824877,5.232335,1.846837
233,Rashford,Manchester Utd,89,21.967213,134,125.692885,6.1,5.721840,8.443553,5.228147,1.917965
278,Pukki,Norwich City,65,25.208333,121,123.171731,4.8,4.886151,5.387560,5.223087,1.916506
189,Alisson,Liverpool,61,18.125000,87,73.521237,4.8,4.056344,5.368511,5.140849,1.642366
341,Gazzaniga,Tottenham,43,16.764706,57,66.928413,3.4,3.992221,8.251391,5.114037,1.925220
210,Agüero,Manchester City,121,19.838710,123,104.182308,6.2,5.251466,5.022605,5.091143,1.509690
181,Robertson,Liverpool,70,25.882353,132,129.891261,5.1,5.018526,5.231315,5.054216,1.896825
141,Digne,Everton,58,25.151515,83,96.777004,3.3,3.847760,5.028707,5.043992,1.597696
265,Pérez,Leicester City,62,22.765957,107,92.525175,4.7,4.064190,4.605587,5.043698,1.632218
93,Pope,Burnley,47,26.097561,107,103.289031,4.1,3.957804,5.181989,4.919760,1.825599
147,Calvert-Lewin,Everton,62,24.000000,96,92.410577,4.0,3.850441,5.763526,4.914922,1.546374
488,Pépé,Arsenal,91,22.222222,80,81.048441,3.6,3.647180,6.273824,4.884087,1.209028
411,Patrício,Wolves,51,25.897436,101,115.550797,3.9,4.461862,5.541906,4.880387,1.975746
183,van Dijk,Liverpool,65,26.078431,133,113.026495,5.1,4.334099,5.105847,4.878898,1.699973
5,Sokratis,Arsenal,49,17.931034,52,51.350071,2.9,2.863754,3.483819,4.878022,1.293712
409,Jiménez,Wolves,78,26.078431,133,131.623462,5.1,5.047215,4.534930,4.825163,1.807193
344,Alli,Tottenham,84,18.846154,98,88.143646,5.2,4.677010,5.208045,4.795473,1.613722
172,Barnes,Leicester City,60,23.684211,90,91.798679,3.8,3.875944,5.233938,4.790340,1.582348
122,Wan-Bissaka,Manchester Utd,53,23.333333,70,88.324763,3.0,3.785347,5.383925,4.780487,1.644250
29,Grealish,Aston Villa,67,23.958333,115,104.674075,4.8,4.369005,5.057142,4.733735,1.687894
211,Jesus,Manchester City,95,22.195122,91,97.672885,4.1,4.400646,3.971867,4.663288,1.427758
214,Sterling,Manchester City,117,23.200000,116,128.701291,5.0,5.547469,4.819243,4.496669,1.621818
208,Otamendi,Manchester City,50,16.842105,64,71.290649,3.8,4.232882,5.110846,4.464545,1.893003
129,Benteke,Crystal Palace,57,17.333333,26,35.100000,1.5,2.025000,4.855556,4.454167,0.848179
525,Sarr,Watford,62,16.000000,56,53.088739,3.5,3.318046,4.082939,4.441625,1.332559
217,Mahrez,Manchester City,86,21.132075,112,95.721017,5.3,4.529655,3.781908,4.415265,1.544600
362,Deeney,Watford,63,14.864865,55,60.470577,3.7,4.068021,4.046070,4.389703,1.620738
142,Mina,Everton,53,23.793103,69,80.467353,2.9,3.381961,5.029652,4.373865,1.469030
198,Henderson,Liverpool,55,24.750000,99,81.878593,4.0,3.308226,4.987232,4.334569,1.410632