# Tableau and player form

Here we create a csv file that is used for making further Tableau visualizations.

In [1]:
# recent gameweek
gameweek = 16

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch player stats data
all_df = pd.read_csv('../data/fpl/data_week1.csv', index_col=0)
all_df['gameweek'] = 1
all_df['xPoints'] = all_df['adjusted points']

for week in range(2,gameweek+1):
    filepath = '../data/fpl/data_week' + str(week) + '.csv'
    df = pd.read_csv(filepath, index_col=0)
    df['gameweek'] = week
    column_name = 'xPoints week ' + str(week)
    df['xPoints'] = df[column_name]
    all_df = all_df.append(df,sort='False')

all_df.shape

(9797, 241)

In [4]:
# calculate player form
for i in [5,10,15,20]:
    gameweeks = np.arange(gameweek-i+1,gameweek+1)
    column_name = 'form ' + str(i)
    all_df.loc[all_df['gameweek']==gameweek, column_name] = all_df[all_df['gameweek'].isin(gameweeks)].groupby(['id'])['xPoints'].sum() / all_df[all_df['gameweek'].isin(gameweeks)].groupby(['id'])['xPoints'].count()
    
    #    all_df.loc[all_df['gameweek']==gameweek, column_name] = all_df[all_df['gameweek'].isin(gameweeks)].groupby(['id'])['xPoints'].sum() / all_df.loc[(all_df['gameweek']==gameweek),'games played']
    #else:    
    #    all_df.loc[all_df['gameweek']==gameweek, column_name] = all_df[all_df['gameweek'].isin(gameweeks)].groupby(['id'])['xPoints'].sum() / (all_df.loc[(all_df['gameweek']==gameweek),'games played'] - all_df.loc[(all_df['gameweek']==gameweek-i),'games played'] )
    
    # dirty fix in case there are inf results
    #all_df.loc[(all_df['gameweek']==gameweek) & np.isinf(all_df[column_name]), column_name] = np.nan

In [5]:
# top form players
all_df[all_df['gameweek']==gameweek][['web_name', 'games played','total_points', 'points_per_game','adjusted points','adjusted points per game',\
                                'form 5', 'form 10', 'form 15', 'form 20']].sort_values(by=['form 5'], ascending=False).head(20)

,web_name,games played,total_points,points_per_game,adjusted points,adjusted points per game,form 5,form 10,form 15,form 20
id,,,,,,,,,,
210,Tielemans,12.0,67,5.6,60.715233,5.059603,11.048812,5.862816,5.421808,5.189396
135,Chilwell,6.0,54,9.0,36.122161,6.020360,9.352280,6.764222,6.764222,6.764222
237,Alexander-Arnold,14.0,108,7.7,100.341980,7.167284,8.908240,7.567205,7.624531,7.378949
233,Salah,16.0,160,10.0,132.834280,8.302143,8.524810,8.404233,8.205861,8.404782
16,Tierney,10.0,48,4.8,36.992607,3.699261,7.904382,5.548117,4.024961,4.071477
240,Jota,15.0,80,5.3,88.556263,5.903751,7.708246,5.859568,5.840098,5.833864
255,Sterling,14.0,53,3.8,62.945463,4.496104,7.486069,5.362278,4.497581,4.338648
364,Davies,6.0,29,4.8,27.374669,4.562445,7.314781,5.708873,4.757394,4.757394
370,Reguilón,13.0,62,4.8,59.000449,4.538496,7.255252,5.633556,4.778833,4.711097
488,Andersen,12.0,40,3.3,38.830356,3.235863,7.073484,3.612129,3.681701,3.593749
123,Jorginho,14.0,60,4.3,54.980844,3.927203,6.849046,5.497590,4.236001,4.129202
261,Bernardo,15.0,90,6.0,72.992782,4.866185,6.546069,5.404817,4.872298,4.872298
256,Cancelo,16.0,91,5.7,95.775402,5.985963,6.461678,5.653767,6.217349,6.171898
579,Ronaldo,13.0,67,5.2,66.882000,5.144769,6.374200,4.804200,5.218615,5.218615
234,Robertson,12.0,58,4.8,53.236840,4.436403,6.369482,4.692340,4.565648,4.565648
212,Maddison,16.0,69,4.3,63.054977,3.940936,6.289017,4.822538,3.963397,3.898990
250,Gündogan,11.0,55,5.0,62.720507,5.701864,6.244012,6.436538,6.024855,5.729190
130,Kanté,8.0,25,3.1,18.817054,2.352132,6.170320,3.200537,2.250268,2.250268
265,Foden,10.0,49,4.9,59.666188,5.966619,6.022528,6.432051,5.749722,5.749722
450,Dennis,15.0,84,5.6,63.326000,4.221733,6.002600,4.717222,3.861071,4.221733

In [6]:
# save data
filepath = '../data/fpl/all_data.csv'
all_df.to_csv(filepath)

filepath = '../data/fpl/data_week' + str(gameweek) + '.csv'
all_df[all_df['gameweek']==gameweek].to_csv(filepath)